<template>
  <b-container>
    <b-row class="text-left mb-3">
      <b-col>
        <h2>Detalles del Indicador</h2>
      </b-col>
    </b-row>
    <b-card class="mb-3 text-left">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-form-group label="Nombre:" label-for="input-1">
          <b-form-input
            id="input-1"
            type="text"
            v-model="form.name"
            required
            :state="indicatorNameValidation"
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber(form.name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.name, 1, 100)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 1 y máximo 100 caracteres
          </small>
        </b-form-group>

        <b-form-group label="Descripción:" label-for="input-2">
          <b-form-textarea
            id="input-2"
            type="text"
            name="description"
            v-model.trim="form.description"
            required
            :state="indicatorDescriptionValidation"
          ></b-form-textarea>
          <small class="msg" v-if="!onlyTextAndNumber(form.description)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.description, 5, 32)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 1 y máximo 100 caracteres
          </small>
        </b-form-group>

        <b-button type="submit" variant="success" block>Editar</b-button>
        <b-button type="reset" variant="danger" block>Reiniciar</b-button>
        <b-alert
          :show="dismissCountDown"
          dismissible
          fade
          variant="danger"
          @dismiss-count-down="countDownChanged"
          >Datos incorrectos</b-alert
        >
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
export default {
  data() {
    return {
      criteriaId: this.$route.params.criteriaId,
      form: {
        name: "",
        description: "",
        status: true,
        id_phase: "",
      },
      validation: {
        onlyText: /^[a-zA-Z ]*$/,
        onlyTextAndNumber: /^[a-zA-Z0-9 ]*$/,
      },
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      if (this.indicatorNameValidation && this.indicatorDescriptionValidation) {
        this.editIndicator();
      }
    },
    onReset(evt) {
      evt.preventDefault();
      this.form.name = "";
      this.form.description = "";
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    textEmpty(text) {
      return text == "";
    },
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
  },
  created() {
    this.getIndicator();
  },
  computed: {
    indicatorNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.name, 1, 100) &&
        this.onlyTextAndNumber(this.form.name)
      );
    },
    indicatorDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.description, 1, 100) &&
        this.onlyTextAndNumber(this.form.description)
      );
    },
  },
};
</script>
