<template lang="html">
  <b-container class="text-left">
    
    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="indicators"
      :fields="fields"
      :filter="filter"
      :filter-included-fields="filterOn"
      
    >

      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="primary"
            :to="{
              name: 'DetailIndicator',
              params: { indicatorId: data.item.id }
            }"
            >Ver Mas</b-button
          >
        </b-container>
      </template>
    </b-table>
  </b-container>
</template>

<script>
//import axios from "axios";
//const url = xprocess.env.VUE_APP_RUTA_API;
export default {
  props: ["CriteriaID"],
  data() {
    return {
      indicators: [],
      fields: [
        {
          key: "name",
          label: "Nombre",
          class: "text-center",
          sortable: true,
          sortDirection: "desc"
        },
        {
          key: "status",
          label: "Estado",
          formatter: value => {
            return value ? "Activo" : "Inactivo";
          },
          class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        {
          key: "id_criteria",
          label: "Fase",
          class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true
        },
        { key: "actions", label: "Acción", class: "text-center" }
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["id_criteria"]
    };
  },

  methods: {
    getIndicators() {
      /*const path = url + `/process/criteria/`;
      axios
        .get(path)
        .then((response) => {
          this.criterias = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
        */
    }
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter(f => f.sortable)
        .map(f => {
          return { text: f.label, value: f.key };
        });
    }
  },
  created() {
    this.getIndicators();
  },
  beforeUpdate() {
    this.filter = (""+this.CriteriaID).toString();
  }
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
