<template lang="html">
  <b-container>
    <b-modal
      id="delete-training-modal"
      ref="modal"
      :title="'Eliminar '+dataTraining.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataTraining} from "@/components/CriteriaSix/Training/DataTraining.js";

export default {
  props: ["getTrainingList", "itemTraining"],
  data() {
    return {
      dataTraining: DataTraining,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteTraining();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-training-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteTraining() {
      const path = url + `process/criteria_six/professor_training/${this.itemTraining.id}`;
      axios.delete(path);
      swal(DataTraining.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$bvModal.hide('detail-training-modal');
        this.getTrainingList();
      });
      
    },
  },
};
</script>

<style></style>
