<template lang="html">
  <b-container>
    <b-modal
      id="edit-training-modal"
      ref="modal"
      :title="'Editar '+dataTraining.data_name_two"
      size="lg"
      @show="openModal"
      @hidden="closeModal"
      scrollable
    
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Aceptar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Professor</strong> </h6>
        <b-form-group label="Name:">
          <b-form-select 
            v-model="form.id_user" 
            required 
            id="id_training"
            :state="inputSelectStateValidation(form.id_user)"  
          >
            <b-form-select-option :value="null" disabled>
              Select a professor
            </b-form-select-option>
            <b-form-select-option
              
              v-for="(id_user, indexOpt) in user_list"
              :key="indexOpt"
              :value="id_user.id"
            >
              {{ id_user.first_name }} {{ id_user.last_name }}
            </b-form-select-option>
          </b-form-select>
          <small class="msg" v-if="!inputSelectValidation(form.id_user)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Debe seleccionar una opción
          </small>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group label="School">
              <b-form-select
                id="school"
                v-model="form.school"
                required 
                :state="inputSelectStateValidation(form.school)"  
              >
                <b-form-select-option :value="null" disabled>
                  Select a School
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataTraining.schools"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>

              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.school)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Category">
              <b-form-select
                id="category"
                v-model="form.teacher_category"
                required 
                :state="inputSelectStateValidation(form.teacher_category)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Category
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataTraining.categories"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.teacher_category)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Register">
              <b-form-select
                id="reg"
                v-model="form.teacher_regimen"
                required  
                :state="inputSelectStateValidation(form.teacher_regimen)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Register
                </b-form-select-option>
                <b-form-select-option
                  v-for="(register, indexOpt) in dataTraining.registers"
                  :key="indexOpt"
                  :value="register.value"
                >
                  {{ register.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.teacher_regimen)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>

        <h6><strong>Training</strong> </h6>
        <b-row>
          <b-col>
          <b-form-group label="Title">
            <b-input-group>
              <b-form-select
              
                id="school"
                v-model="form.id_training_program"
                required 
                :state="inputSelectStateValidation(form.id_training_program)"  
              >
                <b-form-select-option :value="null" disabled>
                  Select a Training
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in training_only_list"
                  :key="indexOpt"
                  :value="opt.id"
                >
                  {{ opt.training_title }}
                </b-form-select-option>

              </b-form-select>
              <b-input-group-append>
              <b-button v-b-modal.add-training-only-modal>
                <b-icon icon="plus" ></b-icon>
              </b-button>
              </b-input-group-append>
              </b-input-group>
              
              <small class="msg" v-if="!inputSelectValidation(form.id_training_program)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            
          
         
          </b-form-group>
        </b-col>
        </b-row>

        <h6><strong>Date</strong> </h6>
        <b-row>
          <b-col>
            <b-form-group label="Start:"
              > 
              <b-form-datepicker
               
                id="startdate"
                v-model="form.date_start"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="startDateStateValidation(form.date_start)"
                @context="contextDate"
                >
                </b-form-datepicker>
                <small class="msg" v-if="textEmpty(form.date_start)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
                </small>
            </b-form-group>
            
          </b-col>
          <b-col>
          <b-form-group label="Finish:">
              <b-form-datepicker
                id="finishdate"
                v-model="form.date_finish"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="finishDateStateValidation(form.date_start,form.date_finish)"
                @context="contextDate"
              >
              </b-form-datepicker>
              <small class="msg" v-if="textEmpty(form.date_finish)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
              </small>
            </b-form-group>
            
          </b-col>
        </b-row>

        <h6><strong>Hours</strong> </h6>
        <b-row> 
          <b-col>          
            <b-form-group label="Theory:">
              <b-form-input
                id="hours"
                v-model="form.theory_hours"
                type="number"
                :state="inputNumberStateValidation(form.theory_hours,1,5)"
                required
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(form.theory_hours)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(form.theory_hours, 1, 5)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; Solo se acepta numeros del 1 al 5
              </small>
            </b-form-group>
          </b-col>
          
          <b-col>
            <b-form-group label="Practical:">
              <b-form-input
                id="hours"
                v-model="form.practical_hours"
                type="number"
                :state="inputNumberStateValidation(form.practical_hours,1,5)"
                required
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(form.practical_hours)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(form.practical_hours, 1, 5)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; Solo se acepta numeros del 1 al 5
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Credits:">
              <b-form-input
                id="credits"
                v-model="form.credits"
                type="number"
                :state="inputNumberStateValidation(form.credits,1,5)"
                required
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(form.credits)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(form.credits, 1, 5)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; Solo se acepta numeros del 1 al 5
              </small>
            </b-form-group>
          </b-col>
        </b-row>
     
        <b-row>
          <b-col cols="4">
            <b-form-group label="Note:">
              <b-form-input
                id="hours"
                v-model="form.note"
                type="number"
                :state="inputNumberStateValidation(form.note,1,5)"
                required
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(form.note)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(form.note, 1, 5)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; Solo se acepta numeros del 1 al 5
              </small>
            </b-form-group>
          </b-col>
          
          <b-col>
            <b-form-group label="Evidence?">
              <b-form-checkbox
                id="art"
                v-model="form.evidence" 
              >
              </b-form-checkbox>
            </b-form-group>
          </b-col>
        </b-row>  
        <div v-if="form.evidence">
          <h6><strong>Evidencia</strong></h6>
          <b-form-group label="Cargar Evidencia:">
            <b-form-file
              multiple
              id="evidence"
              v-model="form.doc_evidence"
              accept=".pdf"
              placeholder="Seleccione uno o más archivos o arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
              :file-name-formatter="formatNames"
            >
            </b-form-file>
            <small>No es obligatorio</small>
          </b-form-group>
          
          
          <div v-if="form.doc_evidence.length>1">
            <h6><strong>Documentos</strong></h6>
            <b-list-group flush>
              <b-list-group-item  
                class="py-1"
                v-for="(doc, indexOpt) in form.doc_evidence"
                :key="indexOpt"
                :value="indexOpt"
              >
                {{ doc ? doc.name : "" }}
                <b-button size="sm" class="float-right">
                  <b-icon icon="trash" @click="form.doc_evidence.splice(indexOpt,1)"></b-icon>
                </b-button>
                
              </b-list-group-item>
            </b-list-group>
   
          </div>
        </div>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataTraining, ModelTraining} from "@/components/CriteriaSix/Training/DataTraining.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: [
    "getTrainingList", 
    "itemTraining", 
    "user_list", 
    "training_only_list"
  ],
  watch: {
    itemTraining: function () {
      this.form= Object.assign({},this.itemTraining);
    },
  },
  data() {
    return {
      //permision
      isCreator: false,
      isResponsableCriteria: true,


      isArticle: false,
     
      dataTraining: DataTraining,
      form: Object.assign({},ModelTraining),
      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },


    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    startDateStateValidation(value) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.startDateValidation(value);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    startDateValidation(value) {
      return !this.textEmpty(value);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    finishDateStateValidation(start, finish) {
      if (this.textEmpty(start)) {
        return new Boolean(null);
      }
      return this.finishDateValidation(start, finish);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin
     * @return {boolean}
     */
    finishDateValidation(start, finish) {
      return (
        !this.textEmpty(finish) && finish > start
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input number
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputNumberStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputNumberValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input number
     * @return {boolean}
     */
    inputNumberValidation(value, min, max) {
      return (
        this.numberSize(value, min, max) &&
        this.onlyNumber(value)
      );
    },
    inputSelectStateValidation(value){
      if (value==null) {
        return new Boolean(null);
      }
      return true;
    },
    inputSelectValidation(value){
      if (value==null) {
        return false
      }
      return true;
    },
    

     //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    openModal() {
      this.$bvModal.hide('detail-training-modal');
    },
    closeModal() {
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      
      if (this.editTrainingValidation()) {
        this.editTraining();
      }else{
        swal(DataTraining.data_name+" no se ha editado", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    editTrainingValidation() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid
      );
    },

    /**
     * @description Crea un entrnemiento
     */
    editTraining() {
      let datos = this.form;
      const path = url + `process/criteria_six/professor_training/${this.itemTraining.id}/`;
      
      axios
        .put(path, datos)
        .then(() => {
          swal(DataTraining.data_name+" se ha editado exitosamente", DataTraining.data_name+" sera enviado para su revisión", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('edit-training-modal');
            this.getTrainingList();
          });
        })
        .catch(() => {
          swal(DataTraining.data_name+" no se ha editado", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    

  },

  created() {
   
  },
};
</script>

<style lang="css" scoped></style>
