<template lang="html">

<div>
  
  <AddTraining 
    :getTrainingList="getTrainingList"
  >
  </AddTraining>
  <DetailTraining 
    :getTrainingList="getTrainingList" 
    :itemTraining="TrainingSelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </DetailTraining>
  <EditTraining 
    :getTrainingList="getTrainingList" 
    :itemTraining="TrainingSelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </EditTraining>
  <DeleteTraining 
    :getTrainingList="getTrainingList" 
    :itemTraining="TrainingSelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </DeleteTraining>

  <div class="text-left" >
    <b-row class=" mt-4 mb-3">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap">Listado de registros</h5>
      </b-col>
      <b-col>
            <b-input-group>
              <b-form-select v-model="selected" :options="start_date"></b-form-select>
              <b-form-select v-model="selected" :options="finish_date"></b-form-select>
              <b-input-group-append>
                <b-button><b-icon icon="filter"></b-icon> Filtar</b-button>
              </b-input-group-append>
            </b-input-group>
      </b-col>
      <b-col cols="auto" class="pl-1">
        <b-button
          class="float-right"
          v-b-modal.add-training-modal
          variant="primary"
        >
          <b-icon icon="download"></b-icon>
          Descargar
        </b-button>
      </b-col>
      <b-col class="pl-1" cols="auto">
        <b-button v-b-toggle.collapse-2 class="float-right" >
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>
      </b-col>
      
          
          
    </b-row>
    <b-collapse id="collapse-2" class="mb-3 mt-0">
      <b-row class="">
        <b-col lg="5" class="" offset="7"  >
          <div class="border px-3 py-2 rounded">
          <b-form-group
            label="Buscar:"
            label-for="filterInput"
            label-size="sm"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
          <b-form-group
            label="Buscar por:"
            label-size="sm"
            
          >
            <b-form-checkbox-group v-model="filterOn"  size="sm">
              <b-form-checkbox size="sm" label-size="sm" value="id_user">Professor</b-form-checkbox>
              <b-form-checkbox size="sm" value="training_title">Training</b-form-checkbox>
              <b-form-checkbox size="sm" value="date_start">Start</b-form-checkbox>
              <b-form-checkbox size="sm" value="date_finish">Finished</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
          </div>
        </b-col>
        
      </b-row>
    </b-collapse>


    
    <div class="mt-4">
    <b-table 
      outlined

      responsive
      :busy.sync="isLoading"
      hover
      :show-empty="emptyTable"
      small
      sticky-header
      :items="training_list"
      :fields="fields"
    
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay registros para mostrar"
      empty-filtered-text="No hay registros para mostrar que coincidan con su solicitud"
    >
      <template #table-busy>
        <div class="mx-auto " style="width: 100px">
          <bounce-loader :color="'#2F3D57'" :size="100" class="my-2"/>
        </div>
      </template>
      <template #thead-top>
        <b-tr>
          <b-th colspan="4" class="border"><span class="sr-only" >Name and ID</span></b-th>
          <b-th colspan="6" class="border">Training</b-th>
          <b-th colspan="1" class="border"><span class="sr-only">Name and ID</span></b-th>
          <b-th  colspan="2" class="border">Date (YY-MM-DD)</b-th>
          <b-th  colspan="2" class="border">Hours</b-th>
          <b-th colspan="1" class="border"><span class="sr-only">Name and ID</span></b-th>
          <b-th  colspan="2" class="border">Aprobal</b-th>
          <b-th colspan="1" class="border"></b-th>
        </b-tr>
      </template>
    </b-table>

    

    </div>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import {DataTraining} from "@/components/CriteriaSix/Training/DataTraining.js";

import AddTraining from "@/components/CriteriaSix/Training/AddTraining";
import DetailTraining from "@/components/CriteriaSix/Training//DetailTraining";
import EditTraining from "@/components/CriteriaSix/Training//EditTraining";
import DeleteTraining from "@/components/CriteriaSix/Training//DeleteTraining";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components:{
    AddTraining,
    DetailTraining,
    EditTraining,
    DeleteTraining
  },
  props: ["isResponsableCriteria"],
  data() {
    return {
      TrainingSelected:{},
      start_date:["Desde",2017,2018,2019,2020],
      finish_date:["Hasta",2017,2018,2019,2020],
      isLoading: true,
      dataTraining: DataTraining,
      emptyTable: false,
      userPermissions: this.$store.getters.getPermisos,

      status: this.$route.params.status,
      currentUser: "",

      training_list: [],
      user_list: [],
    
      fields: [
       {
          key: "id_user",
          label: "Professor",
          formatter: (value) => {
            return this.getUserName(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
       {
          key: "school",
          label: "School",
          formatter: (value) => {
            return DataTraining.schools[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "teacher_category",
          label: "Cat",
          formatter: (value) => {
            return DataTraining.categories[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        
        {
          key: "register",
          label: "Reg",
          formatter: (value) => {
            return DataTraining.registers[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "organization_name",
          label: "Organization",
          
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "kind",
          label: "Kind",
          formatter: (value) => {
            return DataTraining.kinds[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "training_title",
          label: "Training",
          sortable: true,
          //class: "text-center",
        },
        {
          key: "sub_type",
          label: "SubType",
          formatter: (value) => {
            return DataTraining.subTypes[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "country",
          label: "Country",
          sortable: true,
          //class: "text-center",
        },
        {
          key: "city",
          label: "City",
          sortable: true,
          //class: "text-center",
        },
        {
          key: "category",
          label: "Category",
          formatter: (value) => {
            return DataTraining.subTypes[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "date_start",
          label: "Start",
          // class: "text-center",
          /*formatter: (value) => {
            return new Date(value).toLocaleDateString();
          },*/
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "date_finish",
          label: "Finished",
          /*formatter: (value) => {
            return new Date(value).toLocaleDateString();
          },*/
          // class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "theory_hours",
          label: "Teory",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "practical_hours",
          label: "Practical",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "credits",
          label: "Credits",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "approval",
          label: "S/N",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "note",
          label: "Note",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "evidence",
          label: "Evidence",
          sortable: true,
          sortDirection: "desc",
        },
       
        
      ],
     
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "id_user",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["id_user"],
    };
  },
  computed: {

    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  methods: {
    /**
     * @description Abre el modal de detalle
     */
    detailTraining(training, button) {
      this.TrainingSelected = training;
      this.$root.$emit("bv::show::modal", "detail-training-modal", button);
    },
    /**
     * @description Obtiene el nombre de un objeto usuario
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
    /**
     * @description Obtiene la lista de usuarios registrados en la BD
     */
    getUserList() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.user_list = response.data;
      });
    },
    /**
     * @description Obtiene la lista de entrenamientos registrados en la BD
     */
    getTrainingList() {
      this.emptyTable=false;
      this.isLoading=true;
      var path = url + `process/criteria_six/professor_training?status=1`;

      axios
        .get(path)
        .then((response) => {
          this.training_list = response.data;
          this.emptyTable=true;
          this.isLoading=false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description filtro de la tabla
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    /**
     * @description Revisa los permisos del usuario
     */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        this.getUsersxProcess(this.$store.getters.idProceso);
        return true;
      }
      this.getUsersxProcess(this.$store.getters.idProceso);
      this.$router.push("/");
    },

  },
  async created() {
    await PermissionService.setUserActive();
    this.viewPermission();
    
    this.currentUser= this.$store.getters.getId,
  
    await this.getUserList();
    await this.getTrainingList();
    this.isLoading=false;
  },
  beforeUpdate() {
    this.totalRows = this.training_list.length;
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 150px;
  max-height: 505px;
  
}
.table.b-table.table-sm>tfoot>tr>[aria-sort]:not(.b-table-sort-icon-left), .table.b-table.table-sm>thead>tr>[aria-sort]:not(.b-table-sort-icon-left) {
    
    padding-right: 8rem!important;
}
</style>
