<template>
  <b-container id="custom-css" class='p-4'>
    <AddTrainingOnly
      :getTrainingOnlyList="getTrainingOnlyList"
      :organization_list="organization_list"
    >
    </AddTrainingOnly>
    <b-row>
      <b-col>
        <h2 class="text-left" >
          <b-button class="mr-4" :to="{ name: 'CriteriaSix', params: { criteriaId: criteriaId }}">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
      <b-col >
        
        <h2  class="float-right ">
          <b-button  >
            <b-icon icon="pen" scale="0.8"></b-icon>&nbsp;Training list 
          </b-button>
          <b-button class="ml-2" >
            <b-icon icon="building" scale="0.8"></b-icon>&nbsp;Organization list 
          </b-button>
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12 my-3" >
        <h3 class="text-left py-2">Criterion 6: Faculty Training in Research, Speciality, Teaching</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{ name: 'ListTraining', params: { status: 0} }"
                exact
                exact-active-class="active"
                v-if="listPermission()"
              ><b-icon icon="list" class="align-middle"></b-icon> Lista
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListTraining', params: { status: 1} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              ><b-icon icon="check-circle" class="align-middle"></b-icon> Aprobados
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListTraining', params: { status: 2} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              ><b-icon icon="exclamation-circle" class="align-middle"></b-icon> Pendientes
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListTraining', params: { status: 3} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              ><b-icon icon="x-circle" class="align-middle"></b-icon> Rechazados
              </b-nav-item>

              <b-nav-item
                :to="{ name: 'FullListTraining', params: { status: 3} }"
                exact
                exact-active-class="active"
                
                
                v-if="isResponsableCriteria"
              ><b-icon icon="arrows-angle-expand" scale="0.8" class="align-middle"></b-icon> Ver completo
              </b-nav-item>
            </b-nav>
          </div>
          
          <div>
            <router-view 
              :key="$route.fullPath"
              :isResponsableCriteria="isResponsableCriteria"

              :user_list="user_list"
              :training_list="training_list"
              :training_only_list="training_only_list"
              :organization_list="organization_list"

              :getTrainingList="getTrainingList"

              :getTrainingOnlyName="getTrainingOnlyName"
              :getOrganizationName="getOrganizationName"
              :getUserName="getUserName"
              
              :isLoading="isLoadingTraining"
            >
            </router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import AddTrainingOnly from "@/components/CriteriaSix/TrainingOnly/AddTrainingOnly";
const url = process.env.VUE_APP_RUTA_API;


export default {
  components:{
    AddTrainingOnly,
  },
  
  data() {
    return {
      //permision
      criteriaId: "",
      isCreator: false,
      isResponsableCriteria: false,

      isLoadingTraining: true,
      numtotalEntities: 2,
      numCurrentEntities: 0,

      training_list: [],
      user_list: [],
      training_only_list: [],
      organization_list: [],

      userPermissions: this.$store.getters.getPermisos,
      form: {
        name: "",
        description: "",
        status: true,
        collaborator:[],
        id_process:""
      },
    };
  },
  methods: {
    //---------------------------------------PERMISIONS-----------------------------------------------
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
    isResponsable() {
      const id_user=this.$store.getters.getId;
      const listResp = this.form.collaborator.filter(tmp => tmp  == id_user);
      console.log("responsables:")
      console.log(this.form.collaborator)
      if(listResp.length > 0){
        this.isResponsableCriteria=true;
      }else{
        this.isResponsableCriteria=false;
      }
    },

    //---------------------------------------GETTERS-----------------------------------------------
    getCriterio() {
      this.criteriaId=this.$route.params.criteriaId;
      const path = url + `process/criteria/${this.criteriaId}/`;
      axios.get(path).then((response) => {
        this.form= response.data;
        console.log("responsables in get c:")
        console.log(this.form.collaborator);
        this.isResponsable();
      });
    },
    /**
     * @description Obtiene el nombre de un objeto usuario
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
    /**
     * @description Obtiene la lista de usuarios registrados en la BD
     */
    getUserList() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.user_list = response.data;
        this.numCurrentEntities++;
        if(this.numtotalEntities<this.numCurrentEntities){
          this.isLoadingTraining=false;
        }
      });
    },
    /**
     * @description Obtiene la lista de entrenamientos registrados en la BD
     */
    getTrainingList() {
   
      this.isLoadingTraining=true;
      var path = url + `process/criteria_six/professor_training`;

      if(this.isResponsableCriteria){
        if (this.status!=0&&this.status!=undefined){
          path = url + `process/criteria_six/professor_training?status=`+this.status;
        }
      }else{
        path = url + `process/criteria_six/professor_training?id_user=`+this.$store.getters.getId;
      }

      axios
        .get(path)
        .then((response) => {
          this.training_list = response.data;
          this.numCurrentEntities++;
          if(this.numtotalEntities<this.numCurrentEntities){
            this.isLoadingTraining=false;
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getOrganizationList() {
      const path = url + 'process/criteria_six/organization/';
      axios.get(path).then((response) => {
        this.organization_list = response.data;
      });
    },
    getOrganizationName(idOrg) {
      for (var i = 0; i < this.organization_list.length; i++) {
        if (this.organization_list[i].id == idOrg) {
          ///this.counter++;
          return this.organization_list[i].name;
        }
      }
    },

    getTrainingOnlyList() {
      const path = url + 'process/criteria_six/training_program/';
      axios.get(path).then((response) => {
        this.training_only_list = response.data;
        this.numCurrentEntities++;
        if(this.numtotalEntities<this.numCurrentEntities){
          this.isLoadingTraining=false;
        }
      });
    },
    getTrainingOnlyName(idOrg) {
      for (var i = 0; i < this.training_only_list.length; i++) {
        if (this.training_only_list[i].id == idOrg) {
          ///this.counter++;
          return this.training_only_list[i].training_title;
        }
      }
    },
  },

  async created() {
    await this.getCriterio();
    PermissionService.setUserActive();
    this.viewPermission();

    this.getTrainingOnlyList();
    this.getUserList();
    this.getOrganizationList();

  },
};
</script>

<style lang="css" scoped></style>
