<template lang="html">
  <b-container>
    <b-modal
      id="activate-studentResult-modal"
      ref="modal"
      title="Activar Resultado del Estudiante"
      @ok="ok"
    >
      ¿Está seguro que quiere eliminar el Resultado del Estudiante
      {{ this.StudentResultInfo.name }} ?
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" variant="success" @click="ok()">
          Confirmar
        </b-button>
        <b-button size="sm" variant="danger" @click="cancel()">
          Cancelar
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["StudentResultInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.activateStudentResult();
      this.$nextTick(() => {
        this.$bvModal.hide("activate-studentResult-modal");
      });
    },

    /**
     * @description Activa un resultado del estudiante en especifico
     */
    activateStudentResult() {
      const path =
        url + `process/portfolio/student_result/${this.StudentResultInfo.id}/`;
      const datos = {
        status: true,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal(
            "Resultado del Estudiante Activado Exitosamente!",
            "",
            "success",
            {
              button: "Aceptar",
            }
          ).then(() => {
            this.$router.push({
              name: "DetailStudentResult",
            });
            location.reload();
          });
        })
        .catch(() => {
          swal("Error al Activar Resultado del Estudiante!", "", "error", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "DetailStudentResult",
            });
          });
        });
    },
  },
};
</script>

<style></style>
