<template lang="html">
<b-container>
  <b-modal
    id="create-studentResultCriteria-modal"
    ref="modal"
    title="Crear Criterios"
    @ok="handleOk"
    ok-title="Agregar"
    cancel-title="Cancelar">
    <b-form ref="form" @submit="handleSubmit">
      <b-form-group label="Nombre:">
        <b-form-input
          type="text"
          id="name-criterio"
          v-model="form.name"
          required
          :state="studentResulCriteriaStateNameValidation()"></b-form-input>
        <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small class="msg" v-if="!textSize(form.name, 2, 32)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 2 y máximo 32 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Descripcion:">
        <b-form-input
          type="text"
          id="description-criterio"
          v-model="form.description"
          :state="studentResultCriteriaStateDescriptionValidation()">
        </b-form-input>
        <small>No es obligatorio</small>
        <small class="msg" v-if="!onlyTextAndNumber2(form.description)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="!textEmpty(form.description) && !textSize(form.description, 0, 256)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 0 caracteres y Máximo 256 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Nivel 1 = Insatifactorio (25%):">
        <b-form-input
          type="text"
          id="level1-criterio"
          v-model="form.level1"
          :state="studentResultCriteriaStateLevel1Validation()">
        </b-form-input>
        <small>No es obligatorio</small>
        <small class="msg" v-if="!onlyTextAndNumber2(form.level1)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="!textEmpty(form.level1) && !textSize(form.level1, 0, 156)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 0 caracteres y Máximo 156 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Nivel 2 = En proceso (50%):">
        <b-form-input
          type="text"
          id="level2-criterio"
          v-model="form.level2"
          :state="studentResultCriteriaStateLevel2Validation()">
        </b-form-input>
        <small>No es obligatorio</small>
        <small class="msg" v-if="!onlyTextAndNumber2(form.level2)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="!textEmpty(form.level2) && !textSize(form.level2, 0, 156)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 0 caracteres y Máximo 156 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Nivel 3 = Satisfactorio (75%):">
        <b-form-input
          type="text"
          id="level3-criterio"
          v-model="form.level3"
          :state="studentResultCriteriaStateLevel3Validation()">
        </b-form-input>
        <small>No es obligatorio</small>
        <small class="msg" v-if="!onlyTextAndNumber2(form.level3)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="!textEmpty(form.level3) && !textSize(form.level3, 0, 156)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 0 caracteres y Máximo 156 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Nivel 4 = Sobresaliente (100%):">
        <b-form-input
          type="text"
          id="level4-criterio"
          v-model="form.level4"
          :state="studentResultCriteriaStateLevel4Validation()">
        </b-form-input>
        <small>No es obligatorio</small>
        <small class="msg" v-if="!onlyTextAndNumber2(form.level4)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          No es un caracter válido
          <br />
        </small>
        <small
          class="msg"
          v-if="!textEmpty(form.level4) && !textSize(form.level4, 0, 156)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Mínimo 0 caracteres y Máximo 156 caracteres
        </small>
      </b-form-group>
      <b-form-group label="Niveles sugeridos:">
        <b-form-checkbox-group
          id="checkbox-group-level"
          v-model="form.level_suggested"
          :state="studentResultCriteriaStateLevelSuggestedValidation()"
          :options="options">
        </b-form-checkbox-group>
        <small
          class="msg"
          v-if="!textSize(form.level_suggested, 1,4)">
          <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
          Seleccione mínimo 1 nivel sugerido
        </small>
      </b-form-group>
    </b-form>
  </b-modal>
</b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["formationAreaID"],
  data() {
    return {
      options: [{
          text: "0",
          value: "0",
        },
        {
          text: "1",
          value: "1",
        },
        {
          text: "2",
          value: "2",
        },
        {
          text: "3",
          value: "3",
        },
      ],
      studentResultId: this.$route.params.studentResultId,
      form: {
        name: "",
        description: "",
        level1: "",
        level2: "",
        level3: "",
        level4: "",
        level_suggested: [],
        status: true,
        id_student_result: this.$route.params.studentResultId,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9.,;:]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
    };
  },
  methods: {

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones del los campos de criterio de resultado del estudiante
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.studentResultCriteriaNameValidation() &&
        this.studentResultCriteriaDescriptionValidation() &&
        this.studentResultCriteriaLevel1Validation() &&
        this.studentResultCriteriaLevel2Validation() &&
        this.studentResultCriteriaLevel3Validation() &&
        this.studentResultCriteriaLevel4Validation() &&
        this.studentResultCriteriaLevelSuggestedValidation()
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo de crear criterios del resultado del estudiante y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createStudentResultCriteria();
      this.$nextTick(() => {
        this.$bvModal.hide("create-studentResultCriteria-modal");
      });
    },

    /**
     * @description Crea una criterio con los datos ingresados en el formulario
     */
    createStudentResultCriteria() {
      const path = url + `process/portfolio/criteria/`;

      console.log(path);
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          this.form.level1 = response.data.level1;
          this.form.level2 = response.data.level2;
          this.form.level3 = response.data.level3;
          this.form.level4 = response.data.level4;
          this.form.level_suggested = response.data.level_suggested;
          swal("Criterio Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_student_result, name deben formar un conjunto único.",
              "Ya existe una criterio con ese nombre."
            )
          );
          swal("No se creó el criterio", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResulCriteriaStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentResultCriteriaNameValidation() {
      return (
        this.textSize(this.form.name, 2, 32) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    studentResultCriteriaDescriptionValidation() {
      return (
        this.textSize(this.form.description, 0, 256) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level1
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel1Validation() {
      if (this.textEmpty(this.form.level1)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel1Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level1
     * @return {boolean}
     */
    studentResultCriteriaLevel1Validation() {
      return (
        this.textSize(this.form.level1, 0, 156) &&
        this.onlyTextAndNumber2(this.form.level1)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level2
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel2Validation() {
      if (this.textEmpty(this.form.level2)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel2Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level2
     * @return {boolean}
     */
    studentResultCriteriaLevel2Validation() {
      return (
        this.textSize(this.form.level2, 0, 156) &&
        this.onlyTextAndNumber2(this.form.level2)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level3
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel3Validation() {
      if (this.textEmpty(this.form.level3)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel3Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level3
     * @return {boolean}
     */
    studentResultCriteriaLevel3Validation() {
      return (
        this.textSize(this.form.level3, 0, 156) &&
        this.onlyTextAndNumber2(this.form.level3)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de level4
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentResultCriteriaStateLevel4Validation() {
      if (this.textEmpty(this.form.level4)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevel4Validation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de level4
     * @return {boolean}
     */
    studentResultCriteriaLevel4Validation() {
      return (
        this.textSize(this.form.level4, 0, 156) &&
        this.onlyTextAndNumber2(this.form.level4)
      );
    },

    studentResultCriteriaStateLevelSuggestedValidation() {
      if (this.textEmpty(this.form.level_suggested)) {
        return new Boolean(null);
      }
      return this.studentResultCriteriaLevelSuggestedValidation();
    },

    studentResultCriteriaLevelSuggestedValidation() {
      return this.textSize(this.form.level_suggested, 1, 4);
    },
  },
};
</script>

<style lang="css" scoped></style>
