<template lang="html">
  <b-container>
    <b-modal
      id="delete-process-modal"
      ref="modal"
      title="Eliminar Desarrollo Académico"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["idaw"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteProcess();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-process-modal");
      });
    },
    /**
     * @description Metodo para eliminar un desarrollo academico
     */
    deleteProcess() {
      const path = url + `process/portfolio/academic_development/${this.idaw}`;
      axios.delete(path);
      swal("Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$router.push("./../");
        //location.reload();
      });
    },
  },
};
</script>

<style></style>
