<template lang="html">
  <b-container class="container">
    <b-row>
      <b-col>
        <h3 class="text-left my-4">Nuevo desarrollo académico</h3>
        <br />
      </b-col>
    </b-row>
    <b-card class="mb-3 text-left">
      <b-form @submit="onSubmit" @reset="onReset">
      <b-row class="text-left mb-1">
        <b-col sm="3">Tipo de Actividad:</b-col>
        <b-col sm="9">
            <b-form-group>
              <b-form-textarea
                id="input-1"
                type="text"
                v-model="form.activity"
                :formatter="forceLowerCase"
                required
                :state="validateStatei(form.activity)"
              ></b-form-textarea>

              <small class="msg" v-if="!validateState(form.activity)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
                Mínimo 8 y máximo 30 caracteres
              </small>
             </b-form-group>
        </b-col>
        </b-row>
        <b-row class="text-left mb-1">
          <b-col sm="3">Tema:</b-col>
              <b-col sm="9">
        <b-form-group>
          <b-form-textarea
            id="input-1"
            type="text"
            v-model="form.theme"
            :formatter="forceLowerCase"
            required
            :state="validateStatei(form.theme)"
          ></b-form-textarea>
          <small class="msg" v-if="!validateState(form.theme)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 8 y máximo 100 caracteres
          </small>
        </b-form-group>
        </b-col>
        </b-row>
        <b-row>
          <b-col>
        <b-button type="submit" variant="secondary" class="float-right ml-3">
          <b-icon icon="wallet2"></b-icon>&nbsp;Guardar</b-button>
        <b-button type="reset" variant="danger" class="btn-large-space float-right">
          <b-icon icon="x"></b-icon>Reiniciar</b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";
export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      users: [],
      owner: "",
      roles: "",
      form: {
        id: "",
        activity: "",
        theme: "",
        id_course_active: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },

      errors: {
        name: "",
      },
    };
  },
  methods: {
        /**
     * @description listener pa validar si el formulario tiene los parametros correspondiente y ejecutar el metodo de crear el desarrollo academico
     */
    onSubmit(evt) {
      evt.preventDefault();

      if (this.validateStateall()) this.createAcademicDevelopment();
    },
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    getUsers() {
      const path = url + `user/user/`;
      axios
        .get(path)
        .then((response) => {
          this.users = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getOwner() {
      const token = this.$store.getters.isLoggedIn;
      axios.defaults.headers.common["Authorization"] = `Bearer ${token}`;
      this.owner = await AuthService.getUser();
    },
    createAcademicDevelopment() {
      this.form.id_course_active = this.courseId;

      console.log(this.form);
      ///const path = url + `process/process/`;
      const path = url + `process/portfolio/academic_development/`;
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.id = response.data.id;
          this.form.activity = response.data.activity.toLowerCase();
          this.form.theme = response.data.theme.toLowerCase();
          this.form.id_course_active = response.data.id_course_active;

          swal("Proceso Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          });
          this.$router.push("./");
        })
        .catch((error) => {
          this.errors.name = error.response.data.id;
          //this.showAlert();
          swal("No se creó el proceso", this.errors.name, "error", {
            button: "Aceptar",
          });
        });
    },

    textEmpty(text) {
      return text == "";
    },
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    getRoles() {
      const path = url + `user/role/`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    getNameOfRole(id) {
      for (var i = 0; i < this.roles.length; i++) {
        if (this.roles[i].id == id) {
          return this.roles[i].name;
        }
      }
      return "";
    },
    validateStatei(name) {
      if (this.textEmpty(name)) {
        return new Boolean(null);
      }
      return this.validateState(name);
    },

    validateState(name) {
      return (
        this.textSize(name, 8, 100) &&
        this.onlyTextAndNumber1(name) &&
        !this.textEmpty(name)
      );
    },

    validateStateall() {
      return (
        this.validateState(this.form.activity) &&
        this.validateState(this.form.theme)
      );
    },

    forceLowerCase(value) {
      return value.toLowerCase();
    },

    clear() {
      this.form.activity = "";
      this.form.theme = "";
    },
  },


  /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if ( PermissionService.findPermission(Permission.Create,Module.Portafolio  )
      ) {
       
        return true
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },
  created() {
    this.viewPermission();

    this.getUsers();
    this.getOwner();
    this.getRoles();
  },
  computed: {},
};
</script>

<style lang="css" scoped></style>
