<template>
  <b-container id="custom-css">
    <b-row>
        <b-col cols="12" class="py-3">
            <h3 class="text-left" py-2>Informe Final</h3>
        </b-col>
        <div>
            <b-button class="float-left ml-3 mt-1 mb-4" :to="{name: 'Reports'}">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
            </b-button>
        </div>
    </b-row>

    <b-row class='mb-4 text-left p-3'>
                <b-col class="col-lg-6">
                    <p><strong>Nombre del curso:</strong> {{course.name}}</p>
                      
                </b-col>
                <b-col class="col-lg-6">
                   
                     <p><strong>Codigo:</strong> {{course.code}}</p>
                </b-col>
    </b-row >  


    <b-card title="Card Title" no-body>
      <b-card-header header-tag="nav">
        <b-nav card-header tabs>
          <b-nav-item :to="{ name: 'ListAcademicDevelopment' }" exact exact-active-class="active"
            v-if="listPermission()" >Lista</b-nav-item>
          <b-nav-item :to="{ name: 'NewAcademicDevelopment'}"  exact exact-active-class="active"
             v-if="createPermission()">Agregar</b-nav-item>
        </b-nav>
      </b-card-header>
      <b-card-body>
        <router-view></router-view>
      </b-card-body>
    </b-card>
  </b-container>
</template>

<script>
import axios from 'axios';
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService, CourseDatesService } from "@/services";
export default {
  data() {
    return {

      courseId: this.$route.params.courseId,
      academicdevelopment: [],
      responsable: [],
      course_active: [],
      course: "",
    };
  },
  methods: {
    
   /**
     * @description Obtiene la informacion de un responsable especifico de la BD
     * @return {responsable}
     */
    getResponsable() {
      const path =
        url +
        `process/portfolio/course_active_user/?id_course_active=${this.courseId}&id_user=`;
      axios
        .get(path)
        .then((response) => {
          this.responsable = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene toda la informacion de un curso activo de la BD
     * Se ejecutara el siguiente metodo: getCourse
     * @return {course_active}
     */
    getCourseActive() {
      const path = url + `process/portfolio/course_active/${this.courseId}`;

      axios
        .get(path)
        .then((response) => {
          this.course_active = response.data;
          this.getCourse(this.course_active.id_course);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene la informacion de un curso especifico de la BD
     * @return {course}
     */
    getCourse(id_course) {
      const path = url + `process/portfolio/course/${id_course}`;
      axios
        .get(path)
        .then((response) => {
          this.course = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if ( PermissionService.findPermission(Permission.View,Module.Portafolio  )
      ) {
       
        return true
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if (PermissionService.findPermission(
        Permission.Create,
        Module.Portafolio
      )){
        return true;
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      return false
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
        Permission.View,
        Module.Portafolio
      ) ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }

      return false;

    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    viewDates(){
      if(CourseDatesService.isUserSeeEveything()){
        return;
      } 
      if(!(CourseDatesService.isUserColab() && CourseDatesService.isFourthPhase())) {
        this.$router.push("/");
      }
    }
  },
  created() {
    this.viewPermission();

    //this.viewDates();
    //CourseDatesService.getPortfolioDates(this.portfolioId);
  

    this.getCourseActive();
    this.getResponsable();
    
    console.log(this.course_active);
    
  },

};
</script>

<style lang="css" scoped></style>
