<template lang="html">
  <div class="container">
    <h3 class="text-center mt-5 mb-3">Perfil de usuario</h3>

    <b-card class="mb-3">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-row class="text-center mb-3">
          <b-col sm="6" md="4">
            <b-row class="mb-3">
              <b-col>Foto del perfil</b-col>
            </b-row>
            <b-row class="mb-3">
              <b-col>
                <b-img
                  thumbnail
                  fluid
                  :src="this.form.photo"
                  alt="Image 1"
                  class="f-perfil"
                ></b-img>
              </b-col>
            </b-row>
            <b-form-group>
              <b-form-file
                v-model="form.changephoto"
                placeholder="Cambiar foto"
                drop-placeholder="Mueva su foto aqui"
                accept="image/*"
                @change="onFileChange"
              ></b-form-file>
            </b-form-group>
            <b-row class="mb-3"> </b-row>
          </b-col>
          <b-col sm="12" md="8">
            <b-row class="text-left mb-1">
              <b-col sm="3">Nombre:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-input
                    id="id_FirstName"
                    type="text"
                    placeholder="Nombres"
                    v-model="form.first_name"
                    :formatter="forceLowerCase"
                    required
                    :state="firstNameValidation"
                  ></b-form-input>
                  <small class="msg" v-if="!onlyText(form.first_name)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!textSize(form.first_name, 2, 32)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; Mínimo 2 y máximo 32 caracteres
                  </small>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row class="text-left mb-1">
              <b-col sm="3">Apellido:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-input
                    id="id_LastName"
                    type="text"
                    placeholder="Apellidos"
                    v-model="form.last_name"
                    :formatter="forceLowerCase"
                    required
                    :state="lastNameValidation"
                  ></b-form-input>
                  <small class="msg" v-if="!onlyText(form.last_name)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!textSize(form.last_name, 2, 32)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; Mínimo 2 y máximo 32 caracteres
                  </small>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row class="text-left mb-1">
              <b-col sm="3">Email:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-input
                    id="id_Email"
                    type="email"
                    placeholder="Email"
                    v-model="form.email"
                    required
                    :state="emailValidation"
                  ></b-form-input>
                  <small class="msg" v-if="!onlyEmail(form.email)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; No es un correo válido
                  </small>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row v-if="this.user.superadmin" class="text-left mb-1">
              <b-col sm="3">Proceso:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-select
                    id="id_Process"
                    required
                    @change="getRoles"
                    v-model="processSelected"
                  >
                    <b-form-select-option :value="null" disabled>
                      Seleccione un proceso
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(processSelected, indexOpt) in process"
                      :key="indexOpt"
                      :value="processSelected.id"
                      >{{ processSelected.name }}</b-form-select-option
                    >
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
            <b-row class="text-left mb-1">
              <b-col sm="3">Rol:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-select v-model="role" id="id_Role">
                    <b-form-select-option :value="null" disabled>
                      Seleccione un rol
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(role, indexOpt) in roles"
                      :key="indexOpt"
                      :value="role"
                      >{{ role.name }}</b-form-select-option
                    >
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>
        <b-row class="py-4">
          <div class="col-12">
            <div class="text-right float-right ml-3">
              <b-button type="submit" variant="secondary" class="float-left">
                <b-icon icon="wallet2"></b-icon>&nbsp;Guardar
              </b-button>
            </div>
            <div class="text-right float-right ml-3">
              <b-button
                type="submit"
                variant="danger"
                class="float-right"
                :to="{ name: 'ListUser' }"
              >
                <b-icon icon="x"></b-icon>
                Cancelar
              </b-button>
            </div>
          </div>
        </b-row>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      //userPermissions: this.$store.getters.getPermisos,
      userId: this.$route.params.userId,
      roles: [],
      role: "null",
      process: [],
      processSelected: [],
      url: "",
      user: [],
      form: {
        email: "",
        first_name: "",
        last_name: "",
        id_role: "",
        status: "",
        photo: "",
        changephoto: null,
        permissions: [],
      },

      users: [
        { value: true, text: "Si" },
        { value: false, text: "No" },
      ],
      state: [
        { value: true, text: "Activo" },
        { value: false, text: "Inactivo" },
      ],

      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9,._/\- ]*$/,
        email: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
      },

      errorsList: [],

      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  methods: {
    /**
     * @description Metodo para obtener un url de la foto cargada
     */
    onFileChange(e) {
      const file = e.target.files[0];
      this.form.photo = URL.createObjectURL(file);
    },

    /**
     * @description Verifica si se cumplio las validaciones para luego editar el usuario
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editUserValidation()) {
        this.editWithoutPhoto();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar y reinicar los valores del formulario
     */
    onReset(evt) {
      evt.preventDefault();
      this.form.email = "";
      this.form.first_name = "";
      this.form.last_name = "";
      this.form.password = "";
      this.form.password_repeat = "";
    },
    /**
     * @description Obtiene datos de un usuario en especifico
     * @return {user}
     */
    getUser() {
      const path = url + `user/user/${this.userId}/`;
      axios
        .get(path)
        .then((response) => {
          this.form.email = response.data.email;
          this.form.first_name = response.data.first_name;
          this.form.last_name = response.data.last_name;
          this.form.id_role = response.data.id_role;
          this.form.photo = response.data.photo;
          this.form.status = response.data.status;
          this.getUserRole();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getUserRole() {
      const path = url + `user/role/${this.form.id_role}`;
      axios.get(path).then((response) => {
        this.processSelected = response.data.id_process;
        this.role = response.data;
        this.getRoles();
      });
    },
    /**
     * @description Obtiene todos los permisos registrados en la BD
     * @return {permissions}
     */
    // getPermisos() {
    //   const path = url + `user/permission/`;
    //   axios.get(path).then((response) => {
    //     this.form.permissions = response.data.id;
    //   });
    // },
    /**
     * @description Obtiene todos los procesos rtegistrados en la BD
     * @return {process}
     */
    getProcess() {
      const path = url + `process/process/`;
      axios.get(path).then((response) => {
        this.process = response.data;
      });
    },
    /**
     * @description Obtiene todos los roles del procesos seleccionado
     * @return {roles}
     */
    getRoles() {
      const path = url + `user/role/?id_process=${this.processSelected}`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    getRolesFiltrados() {
      const path = url + `user/role/?id_process=${this.user.role.id_process}`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    /**
     * @description Edita datos de un usuario en especifico sin foto de perfil
     */
    editWithoutPhoto() {
      const path = url + `user/user/${this.userId}/`;

      let userData = new FormData();
      userData.append("email", this.form.email);
      userData.append("first_name", this.form.first_name);
      userData.append("last_name", this.form.last_name);
      userData.append("id_role", this.role.id);
      userData.append("status", this.form.status);
      axios
        .put(path, userData)
        .then(() => {
          swal("Usario Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/users/list");
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.email.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Ya existe usurario con este correo electrónico.",
              "Ya existe una usuario con ese correo electrónico."
            )
          );

          swal(
            "No se registro el usuario",
            this.errorsList.join("\n"),
            "error",
            {
              button: "Aceptar",
            }
          );
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable email
     * @return {boolean}
     */
    onlyEmail(text) {
      return this.validation.email.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre, apellido y correo
     */
    editUserValidation() {
      return (
        this.firstNameValidation &&
        this.lastNameValidation &&
        this.emailValidation
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Usuarios)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },
  },
  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.user = await AuthService.getUser();
    if (this.user.superadmin) {
      this.getUser();
      //this.getPermisos();
      this.getProcess();
    } else {
      this.getUser();
      //this.getPermisos();
      this.getRolesFiltrados();
    }
  },

  computed: {
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    firstNameValidation() {
      if (this.textEmpty(this.form.first_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.first_name, 2, 32) &&
        this.onlyText(this.form.first_name)
      );
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del apellido
     * @return {boolean}
     */
    lastNameValidation() {
      if (this.textEmpty(this.form.last_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.last_name, 2, 32) &&
        this.onlyText(this.form.last_name)
      );
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del correo
     * @return {boolean}
     */
    emailValidation() {
      if (this.textEmpty(this.form.email)) {
        return new Boolean(null);
      }
      return this.onlyEmail(this.form.email);
    },
  },
};
</script>

<style lang="css" scoped>
.f-perfil {
  max-height: 180px;
  max-width: 280px;
  scale: "scale";
}
</style>
