<template lang="html">
  <div class="container ">
    <b-row class="py-4">
      <div class="text-left">
        <b-button class="mr-4" :to="{ name: 'ListUser' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <br />

      <div class="col-12">
        <h3 class="text-center my-0 ">Perfil de usuario</h3>
      </div>
    </b-row>
    <b-card class="mb-3">
      <b-row class="text-center mb-3">
        <b-col sm="6" md="4">
          <b-row class="mb-3">
            <b-col>
              <b-img
                thumbnail
                fluid
                :src= "this.user.photo? this.user.photo: 'https://clubdeescritura.com/wp-content/uploads/users-56/user-55640/2017/05/photo-300x300.png'"
                alt="Image 1"
                class="f-perfil"
              ></b-img>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="12" md="8">
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ this.user.first_name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Apellido:</b-col>
            <b-col sm="9">{{ this.user.last_name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Email:</b-col>
            <b-col sm="9">{{ this.user.email }}</b-col>
          </b-row>
          <b-row v-if="this.role.name" class="text-left mb-3">
            <b-col sm="3">Rol:</b-col>
            <b-col sm="9"
              >{{ this.role.name }} de {{ this.process.name }}</b-col
            >
          </b-row>
          <b-row class="text-left mb-3" v-if="disabledPermission()">
            <b-col sm="3">Estado:</b-col>
            <b-col sm="9">{{ this.formatterState() }}</b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3" v-if="editPermission()">
          <b-button
            variant="secondary"
            :to="{ name: 'EditUser', params: { userId } }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar cuenta
          </b-button>
        </div>
        <div
          v-if="this.user.status && this.disabledPermission()"
          class="text-center float-right ml-3"
        >
          <b-button v-b-modal.deactivate-user-modal variant="warning">
            <b-icon icon="x-circle"></b-icon>
            Desactivar Usuario
          </b-button>
          <DeactivateUser :UserId="userId"></DeactivateUser>
        </div>
        <div
          v-if="!this.user.status && disabledPermission()"
          class="text-center float-right ml-3"
        >
          <b-button v-b-modal.activate-user-modal variant="success">
            <b-icon icon="check-circle"></b-icon>
            Activar Usuario
          </b-button>
          <ActivateUser :UserId="userId"></ActivateUser>
        </div>
        <div class="text-center float-right ml-3" v-if="deletePermission()">
          <b-button v-b-modal.delete-user-modal variant="danger">
            <b-icon icon="trash"></b-icon>
            Borrar usuario
          </b-button>
          <DeleteUser :UserInfo="user"></DeleteUser>
        </div>
      </div>
    </b-row>
  </div>
</template>
<script>
import axios from "axios";
import DeleteUser from "@/components/User/DeleteUser";
import DeactivateUser from "@/components/User/DeactivateUser";
import ActivateUser from "@/components/User/ActivateUser";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";
export default {
  components: {
    DeactivateUser,
    ActivateUser,
    DeleteUser,
  },
  data() {
    return {
      userPermissions: this.$store.getters.getPermisos,
      userId: this.$route.params.userId,
      user: "",
      role: "",
      process: "",
      permitsProcess: [
        { text: "Crear", value: "pcrear" },
        { text: "Ver", value: "pver" },
        { text: "Editar", value: "peditar" },
        { text: "Eliminar", value: "peliminar" },
      ],
      permitsPhases: [
        { text: "Crear", value: "fcrear" },
        { text: "Ver", value: "fver" },
        { text: "Editar", value: "feditar" },
        { text: "Eliminar", value: "feliminar" },
      ],
      permitsCriterios: [
        { text: "Crear", value: "ccrear" },
        { text: "Ver", value: "cver" },
        { text: "Editar", value: "ceditar" },
        { text: "Eliminar", value: "celiminar" },
      ],
      permitsTask: [
        { text: "Crear", value: "tcrear" },
        { text: "Ver", value: "tver" },
        { text: "Editar", value: "teditar" },
        { text: "Eliminar", value: "teliminar" },
      ],
    };
  },
  methods: {
    formatterState() {
      return this.user.status ? "Activo" : "Inactivo";
    },
    /**
     * @description Obtiene los datos de un usuario en especifico
     * @return {user}
     */
    getUser() {
      const path = url + `user/user/${this.userId}/`;

      axios
        .get(path)
        .then((response) => {
          this.user = response.data;
          this.getRole();
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },
    /**
     * @description Obtiene datos del rol perteneciente a un usuario especefico
     * @return {role}
     */
    getRole() {
      const path = url + `user/role/${this.user.id_role}/`;

      axios
        .get(path)
        .then((response) => {
          this.role = response.data;
          this.getProcess();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Obtiene datos del proceso perteneciente a un rol
     * @return {proess}
     */
    getProcess() {
      const path = url + `process/process/${this.role.id_process}/`;
      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    validateUserLoged() {
      if (this.userId == this.$store.getters.getId) {
        this.$router.push("/");
      }
    },

    /**
     * @param {number} a Permiso ingresado
     * @param {number} b Modulo ingresado
     * @description Verifica si existe el permiso ingresado en los argumentos en la variable userPermissions
     * @return {boolean}
     */
    findPermission(a, b) {
      //return this.userPermissions.some(x => (x.permission == a && x.module == b));
      return this.$store.getters.getPermisos.some(
        (x) => x.permission == a && x.module == b
      );
    },

    /**
     * @description Obtiene los permisos del usuario logueado
     */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.Edit, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
    disabledPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();
    this.validateUserLoged();
    this.getUser();
  },
};
</script>
<style lang="css" scoped>
.f-perfil {
  max-height: 180px;
  max-width: 280px;
  scale: "scale";
}
</style>
