<template lang="html">
  <div class="container">
    <h3 class=" text-left my-4 ">Registrar usuario</h3>

    <b-card class="mb-3 ">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-row class="text-center mb-3">
          <b-col>
            <b-row class="text-left mb-1">
              <b-col sm="6">
                <p class="mb-2">Nombre:</p>
                <b-form-group>
                  <b-form-input
                    id="id_FirstName"
                    type="text"
                    placeholder="Nombres"
                    v-model="form.first_name"
                    :formatter="forceLowerCase"
                    required
                    :state="firstNameValidation"
                  ></b-form-input>
                  <small class="msg" v-if="!onlyText(form.first_name)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!textSize(form.first_name, 2, 32)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; Mínimo 2 y máximo 32 caracteres
                  </small>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <p class="mb-2">Apellido:</p>
                <b-form-group>
                  <b-form-input
                    id="id_LastName"
                    type="text"
                    placeholder="Apellidos"
                    v-model="form.last_name"
                    :formatter="forceLowerCase"
                    required
                    :state="lastNameValidation"
                  ></b-form-input>
                  <small class="msg" v-if="!onlyText(form.last_name)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; No es un caracter válido
                    <br />
                  </small>
                  <small class="msg" v-if="!textSize(form.last_name, 2, 32)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; Mínimo 2 y máximo 32 caracteres
                  </small>
                </b-form-group>
              </b-col>
              <b-col sm="6">
                <p class="mb-2">Email:</p>
                <b-form-group>
                  <b-form-input
                    id="id_Email"
                    type="email"
                    placeholder="Email"
                    v-model="form.email"
                    required
                    :state="emailValidation"
                  ></b-form-input>
                  <small class="msg" v-if="!onlyEmail(form.email)">
                    <b-icon icon="exclamation-circle" variant="warning"></b-icon
                    >&nbsp; No es un correo válido
                  </small>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row v-if="this.user.superadmin" class="text-left mb-1">
              <b-col sm="3">Proceso:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-select
                    id="id_Process"
                    @change="getRoles"
                    v-model="processSelected"
                  >
                    <b-form-select-option :value="null" disabled>
                      Seleccione un proceso
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(processSelected, indexOpt) in process"
                      :key="indexOpt"
                      :value="processSelected.id"
                      >{{ processSelected.name }}</b-form-select-option
                    >
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row v-if="this.user.superadmin" class="text-left mb-1">
              <b-col sm="3">Rol:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-select v-model="form.role" id="id_role">
                    <b-form-select-option :value="null" disabled>
                      Seleccione un rol
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(role, indexOpt) in roles"
                      :key="indexOpt"
                      :value="role"
                      >{{ role.name }}</b-form-select-option
                    >
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>

            <b-row v-if="!this.user.superadmin" class="text-left mb-1">
              <b-col sm="3">Rol:</b-col>
              <b-col sm="9">
                <b-form-group>
                  <b-form-select required v-model="form.role" id="id_role">
                    <b-form-select-option :value="null" disabled>
                      Seleccione un rol
                    </b-form-select-option>
                    <b-form-select-option
                      v-for="(role, indexOpt) in roles"
                      :key="indexOpt"
                      :value="role"
                      >{{ role.name }}</b-form-select-option
                    >
                  </b-form-select>
                </b-form-group>
              </b-col>
            </b-row>
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <b-button :disabled="estaCargando" type="submit" variant="secondary" class="float-right ml-3"
              >Guardar</b-button
            >
            <b-button
              type="reset"
              variant="danger"
              class="btn-large-space float-right"
              >Reiniciar</b-button
            >
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import AuthService from "@/services/AuthService.js";
import swal from "sweetalert";

const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      userPermissions: this.$store.getters.getPermisos,

      form: {
        email: "",
        first_name: "",
        last_name: "",
        status: true,
        role: null,
        permissions: [],
        user: [],
      },
      isLoading : false,
      users: [
        { value: true, text: "Si" },
        { value: false, text: "No" },
      ],

      roles: [],
      process: [],
      processSelected: {},

      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9,._/\- ]*$/,
        email: /^([a-zA-Z0-9]+)@unsa\.edu.pe$/,
      },

      errorsList: [],
      user: [],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego crear el usuario
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.registerValidation()) {
        this.registerMethod();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    /**
     * @description Obtiene los permisos registrados en la BD
     * @return {permissions}
     */
    getPermisos() {
      const path = url + `user/role/permissions`;
      axios.get(path).then((response) => {
        this.form.permissions = response.data.id;
      });
    },
    /**
     * @description Obtiene los roles de un proceso especifico
     * @return {roles}
     */
    getRoles() {
      const path = url + `user/role/?id_process=${this.processSelected}`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    getRolesFiltrados() {
      console.log(this.user.role.id_process)
      const path = url + `user/role/?id_process=${this.user.role.id_process}`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    /**
     * @description Obtiene todos los procesos registrados en la Bd
     * @return {process}
     */
    getProcess() {
      const path = url + `process/process/`;
      axios.get(path).then((response) => {
        this.process = response.data;
      });
    },
    /**
     * @description Realiza el registro de un nuevo usuario al sistema con sus datos correspondientes
     * incluyendo su foto de perfil
     */
    async register() {
      try {
        let credentials = new FormData();
        credentials.append("email", this.form.email);
        credentials.append("first_name", this.form.first_name);
        credentials.append("last_name", this.form.last_name);
        credentials.append("permissions", this.form.permissions);
        if (this.form.role != null) {
          credentials.append("id_role", this.form.role.id);
        }
        credentials.append("status", this.form.status);
        await AuthService.register(credentials);
        swal("Usuario Creado Exitosamente!", "", "success", {
          button: "Aceptar",
        }).then(() => {
          this.clear();
          this.$router.push("/users/list");
        });
      } catch (error) {
        this.errorsList = [];
        this.errorsList.push(error.response.data.email.toString());
        this.errorsList = this.errorsList.map((x) =>
          x.replace(
            "Ya existe usurario con este correo electrónico.",
            "Ya existe una usuario con ese correo electrónico."
          )
        );

        swal("No se registro el usuario", this.errorsList.join("\n"), "error", {
          button: "Aceptar",
        });
      }
    },
    /**
     * @description Realiza el registro de un nuevo usuario al sistema con sus datos correspondientes
     * incluyendo su foto de perfil
     */
    async registerWithoutPhoto() {
      try {
        console.log("antes del true")
        
        this.isLoading = true;
        console.log("despues del true")
        let credentials = new FormData();
        credentials.append("email", this.form.email);
        credentials.append("first_name", this.form.first_name);
        credentials.append("last_name", this.form.last_name);
        credentials.append("permissions", this.form.permissions);
        if (this.form.role != null) {
          credentials.append("id_role", this.form.role.id);
        }
        credentials.append("status", this.form.status);
        
        await AuthService.register(credentials)
          this.isLoading = false;
          swal("Usuario Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.clear();
            this.$router.push("/users/list");
          });
        
      } catch (error) {
/*
.then(() => {
          swal("Usario Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/users/list");
          });
        })
        .catch((error) => {
*/
        this.errorsList = [];
        this.isLoading = false;
        this.errorsList.push(error.response.data.email.toString());
        this.errorsList = this.errorsList.map((x) =>
          x.replace(
            "Ya existe usurario con este correo electrónico.",
            "Ya existe una usuario con ese correo electrónico."
          )
        );

        swal("No se registro el usuario", this.errorsList.join("\n"), "error", {
          button: "Aceptar",
        });
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable email
     * @return {boolean}
     */
    onlyEmail(text) {
      return this.validation.email.test(text);
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.email = "";
      this.form.first_name = "";
      this.form.last_name = "";
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre, apellido y correo
     */
    registerValidation() {
      return (
        this.firstNameValidation &&
        this.lastNameValidation &&
        this.emailValidation
      );
    },

    registerMethod() {
      if (this.form.photo == null) {
        this.registerWithoutPhoto();
      } else {
        this.register();
      }
    },

    /**
     * @param {number} a Permiso ingresado
     * @param {number} b Modulo ingresado
     * @description Verifica si existe el permiso ingresado en los argumentos en la variable userPermissions
     * @return {boolean}
     */
    findPermission(a, b) {
      //return this.userPermissions.some(x => (x.permission == a && x.module == b));
      return this.$store.getters.getPermisos.some(
        (x) => x.permission == a && x.module == b
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },
  },
  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.user = await AuthService.getUser();
    if (this.user.superadmin) {
      this.getPermisos();
      this.getProcess();
    } else {
      this.getPermisos();
      this.getRolesFiltrados();
    }
  },

  computed: {

    estaCargando(){
      return this.isLoading;
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    firstNameValidation() {
      if (this.textEmpty(this.form.first_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.first_name, 2, 32) &&
        this.onlyText(this.form.first_name)
      );
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del apellido
     * @return {boolean}
     */
    lastNameValidation() {
      if (this.textEmpty(this.form.last_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.form.last_name, 2, 32) &&
        this.onlyText(this.form.last_name)
      );
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del correo
     * @return {boolean}
     */
    emailValidation() {
      if (this.textEmpty(this.form.email)) {
        return new Boolean(null);
      }
      return this.onlyEmail(this.form.email);
    },
  },
};
</script>

<style lang="css" scoped></style>
