<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
<b-container id="custom-css" v-if="!isLoading">
  <b-row>
    <b-col cols="12" class="px-4">
      <h3 class="text-left py-4">Plan de Estudio</h3>
    </b-col>
  </b-row>
  <b-row>
    <b-col cols="12 " class="px-4">
      <div title="Card Title" no-body>
        <div header-tag="nav">
          <b-nav card-header tabs>
          </b-nav>
        </div>
      </div>
    </b-col>
  </b-row>

  <div class="container">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button :to="{ name:'DetailStudyPlan' }">
          <b-icon icon="arrow-left"></b-icon>
          &nbsp;Atras
        </b-button>
      </div>
      <br />

      <div class="col-12">
        <h4 class="text-center my-0">Cursos vs Resultados del Estudiante</h4>
      </div>
    </b-row>

    <div class="text-left">
      <b-row class="my-3 mt-4 pt-2">
        <b-col class="my-1">
          <b-button
            variant="secondary"
            class="float-leff bedit"
            v-on:click="editarMatch"
            v-if="editPermission()"
            v-bind:class="{ 'd-none': !isActive }">
            <b-icon icon="pencil-square"></b-icon>&nbsp;Editar
          </b-button>
          <div v-bind:class="{ 'd-none': isActive }">
            <b-button class="float-left" v-on:click="cancelarMatch" variant="danger">
              <b-icon icon="x"></b-icon>Cancelar
            </b-button>
            <b-button class="float-right" v-on:click="guardarMatch">
              <b-icon icon="wallet2"></b-icon>&nbsp;Guardar
            </b-button>
          </div>
        </b-col>
        <b-col class="my-1">
          <b-button v-b-toggle.collapse-2 class="bsearch">
            <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
          </b-button>
        </b-col>
      </b-row>

      <b-collapse id="collapse-2">
        <b-row>
          <b-col lg="6" class="my-1"></b-col>
          <b-col lg="6" class="my-1">
            <b-form-group
              label="Buscar"
              label-cols-sm="3"
              label-align-sm="right"
              label-size="sm"
              label-for="filterInput"
              class="mb-0">
              <b-input-group size="sm">
                <b-form-input
                  v-model="filter"
                  type="search"
                  id="filterInput"
                  placeholder="Escribe para buscar"></b-form-input>
                <b-input-group-append>
                  <b-button :disabled="!filter" @click="filter = ''">Limpiar</b-button>
                </b-input-group-append>
              </b-input-group>
            </b-form-group>
          </b-col>
        </b-row>
      </b-collapse>
    </div>

    <b-card class="scroll">
      <div>
        <b-table striped hover :items="lista_cursos"
          :filter="filter"
          :filter-included-fields="filterOn">
          <template v-for="check in lista_resultados" v-slot:[gomycell(check)]="row">
            <b-container :key="check.id"
              size="sm"
              variant="dark"
              class="align-items-center">
              <b-form-input
                required
                v-model="row.item[check.name]"
                v-bind:disabled="isDisabled"
                type="text"
                :formatter="forceInput"
                style="transform: scale(1.5);"
                class="input-result">
              </b-form-input>
            </b-container>
          </template>
        </b-table>
      </div>
    </b-card>

  </div>
</b-container>
</div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService } from "@/services";
export default {
  data() {
    return {
      isLoading: true,
      counter:0,
      studyPlanID: this.$route.params.studyPlanId,
      lista_cursos: [],
      cursos: [],
      lista_resultados: [],
      lista_match_curso_resultados: [],
      isDisabled: true,
      totalRows: 1,
      isActive: true,
      filter: null,
      filterOn: ["cursos"],
    };
  },
  computed: {},
   watch: {
    counter(){
      if(this.counter>=3)
        this.isLoading=false
    }
  },
  methods: {
    /**
     * @param {String} value Texto ingresado
     * @description Fuerza a que el texto ingresado solo sean los siguientes : -, 0, 1, 2 ,3
     * @return {String}
     */
    forceInput(value) {
      var aux = "";
      value = value.charAt(0);
      if (
        value == "0" ||
        value == "1" ||
        value == "2" ||
        value == "3" ||
        value == "-"
      ) {
        aux = value;
      } else {
        aux = "";
      }
      return aux;
    },

    /**
     * @description Método auxiliar para hacer la concatenación de la informacion de las columnas en el v-slot
     */
    gomycell(key) {
      var data = key.name;
      return `cell(${data})`; // simple string interpolation
    },

    /**
     * @description Obtiene la informacion de resultados del estudiante de un plan en especifico
     */
    getStudentResult() {
      const path =
        url +
        `process/portfolio/student_result/?id_resource=${this.studyPlanID}`;
      axios
        .get(path)
        .then((response) => {
          this.lista_resultados = response.data;
          this.getMatchCourseResult();
        })
        .catch((error) => {
          console.log(error);
        }).finally(()=>this.counter++);
    },

    /**
     * @description Obtiene la informacion de los match de un curso con resultados del estudiante
     */
    getMatchCourseResult() {
      const path = url + `process/portfolio/course_student_results/`;
      axios
        .get(path)
        .then((response) => {
          this.lista_match_curso_resultados = response.data;
          this.getCourseTable();
        })
        .catch((error) => {
          console.log(error);
        }).finally(()=>this.counter++);
    },

    /**
     * @description Llena la tabla con los valores del match que tenga un curso con su resultado de la BD
     */
    getCourseTable() {
      const path =
        url + `process/portfolio/course/?id_resource=${this.studyPlanID}`;
      axios
        .get(path)
        .then((response) => {
          this.lista_cursos = [];
          this.cursos = response.data;
          for (let item of response.data) {
            var hlp = {
              cursos: item.name,
            };
            for (let resultado of this.lista_resultados) {
              let match = this.lista_match_curso_resultados
                .find((i) => i.id == item.id)
                .course_student_result.find(
                  (o) => o.id_student_result == resultado.id
                );
              hlp[resultado.name] = match ? match.level : "-";
            }
            this.lista_cursos.push(hlp);
          }
        })
        .catch((error) => {
          console.log(error);
        }).finally(()=>this.counter++);
    },

    /**
     * @description Cancela la funcion de editar el match y no guarda los cambios
     */
    cancelarMatch: function () {
      this.getStudentResult();
      this.isDisabled = true;
      this.toggleActive();
    },

    /**
     * @description Guarda el match con todos los cambios realizados
     */
    guardarMatch: function () {
      this.lista_cursos.forEach((curso) => {
        var courseEdit = "";
        var studentResult = [];
        courseEdit = this.cursos.find((c) => c.name == curso.cursos);
        this.lista_resultados.forEach((result) => {
          if (curso[result.name] != "-" && curso[result.name].length != 0) {
            let i = {
              id_student_result: result.id,
              level: curso[result.name],
            };
            studentResult.push(i);
          }
        });
        var match = {
          course_student_result: studentResult,
        };
        if (studentResult.length == 0) {
          var vacioMatch = {
            course_student_result: [],
          };
          this.putMatch(vacioMatch, courseEdit.id);
        } else {
          //console.log(studentResult);
          this.putMatch(match, courseEdit.id);
        }
        match = "";
      });
      swal("Match Guardado Exitosamente!", "", "success", {
        button: "Aceptar",
      });
      this.isDisabled = true;
      this.toggleActive();
    },

    /**
     * @description Guarda el match de un curso con los resultados del estudiante
     */
    putMatch(match, idCourse) {
      const path =
        url + `process/portfolio/course_student_results/${idCourse}/`;
      axios
        .put(path, match)
        .then((response) => {
          console.log("Match creado: ", response);
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Habilita la funcion de poder editar el match
     */
    editarMatch: function () {
      this.isDisabled = false;
      this.toggleActive();
    },

    /**
     * @description Habilita o desabilita los input del match
     */
    toggleActive: function () {
      this.isActive = !this.isActive;
    },


    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getStudentResult();
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}

.bedit {
  margin-top: -0.5vh;
}

.forder {
  float: left;
  width: 55vh;
}

.ltable {
  min-height: 200px;
}

.check {
  transform: scale(1);
}

.input-result {
  width: 35px;
  height: 15px;
  font-size: 8px;
}

.scroll {
  overflow-x: scroll;
}
</style>
