<template>
  <b-row class="mt-4">
    <p class="ml-4"><strong>{{title}}</strong></p>
    <b-col cols="12" class="px-4 ">
      <div title="" no-body>
        <div header-tag="nav">
          <b-nav card-header tabs>
            <b-nav-item
              :to="{ name: 'DeterminarCriterios' }"
              exact
              exact-active-class="active"
              >Determinar Resultados</b-nav-item
            >
            <b-nav-item
              :to="{ name: 'DeterminarCompetencias' }"
              exact
              exact-active-class="active"
              >Competencias</b-nav-item
            >
            <b-nav-item
              :to="{ name: 'DeterminarRubricasEvaluacion' }"
              exact
              exact-active-class="active"
              >Rúbrica de Evaluación</b-nav-item
            >
          </b-nav>
        </div>
        <div>
          <router-view></router-view>
        </div>
      </div>
    </b-col>
  </b-row>
</template>

<script>

import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      academicPeriodId: this.$route.params.academicPeriodId,
      title: ""
    };
  },
  methods: {
    /**
       * @description Se obtiene todos los periodos académico del curso activo
    */
    getAcademicPeriod() {
      this.academicPeriodId =  this.$route.params.academicPeriodId

      const path =  
        url + `process/portfolio/period_academic/${this.academicPeriodId}/`;
      axios
        .get(path)
        .then((response) => {
          let element = response.data

          // se determina un título
          if (element.period == 1 && element.modality == 1) {
            this.title = "Examen 1"
          } else if (element.period == 1 && element.modality == 2) {
            this.title = "Continua 1"
          } else if (element.period == 2 && element.modality == 1) {
            this.title = "Examen 2"
          } else if (element.period == 2 && element.modality == 2) {
            this.title = "Continua 2"
          } else if (element.period == 3 && element.modality == 1) {
            this.title = "Examen 3"
          } else if (element.period == 3 && element.modality == 2) {
            this.title = "Continua 3"
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  beforeUpdate() {
    this.getAcademicPeriod()
  },
};
</script>

<style lang="css" scoped></style>
