<template>
  <b-container class="py-5">
    <b-row class="header-page">
        <b-col cols="12">
            <h2 class="text-left" py-2>Reporte</h2>
        </b-col>
        <div v-if="itemsR.length>=7" style="width: 100%;">
          <b-button variant="primary" @click="exportPDF('exp')" >
            <b-icon icon="download"></b-icon>
            Descargar pdf
          </b-button>
        

           
           <b-button variant="primary" @click="exportPDF('pre')">
          <b-icon icon="eye"></b-icon>
        </b-button>
          
           
        </div>
         <div  v-else style="width: 100%;">
            <b-icon  icon="hourglass-split"> Cargando</b-icon>   
         </div>
    </b-row>

    <div class="container-report">
        <vue-html2pdf
            :show-layout="false"
            :float-layout="false"
            :enable-download="true"
            :preview-modal="false"
            filename="InformeDesempeñoFinal"
            :paginate-elements-by-height="1500"
            :pdf-quality="2"
            pdf-format="a4"
            pdf-orientation="portrait"
            pdf-content-width="780px"
            :manual-pagination="false"
        
            ref="html2Pdf"
        >
            <section slot="pdf-content" class="pdf-content">
                <!-- PDF Content Here -->
                
                  
                   <section class="pdf-item">
                    <b-row class='mb-2 text-left p-3 mx-2 mt-3'>
                    <b-col cols="4" class="col-lg-4">
                      <b-img left width="200%" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/LOGO_UNSA.png">
                      </b-img> 
                       </b-col>
                      <b-col cols="8" class="col-lg-8"  >
                         <li>UNIVERSIDAD NACIONAL DE SAN AGUSTIN </li>
                         <li> DE PRODUCCION Y SERVICIOS</li>
                        <li> ESCUELA PROFESIONAL DE INGENIERIA DE SISTEMAS </li>
                      </b-col>
                    </b-row>
                    

                     <h4 >ANEXO DEL SILABO DUFA</h4>
                       <div class='mb-2 text-left p-3 mx-2 mt-3'>
                                    
                                    <div><strong>Asignatura:</strong> {{ course.name }}</div>
                                    <div><strong>Semestre:</strong> {{semester}}-{{ courseActive.portfolio }}</div>
                                    <div><strong>Docente(s):</strong></div>
                                    <li v-for="(item, index) in nameDocentes" :key="index">
                                    {{ item }}
                                    </li>
                                </div>
                          </section>       
                      <section class="pdf-item">
                        <b-row class='mb-2 text-left p-3 mx-2 mt-3'>
                      <b-table id="competencias" small bordered border-collapse
              :items="lista_competencias"
              :fields="fieldsTableCompetences" >
             <template v-slot:cell(name)="item" >
              
              
                <tr >
                  <th class="text-middle" >
                  
                  {{item.item.name}}
                  </th>
                </tr>
             </template>
            <template v-slot:cell(description)="item" >
              <b-container>
                <tr  class="text-left">
                 <p>  <span v-if="item.item.description"><p>{{item.item.description}}</p></span>
                        <span class="text-danger"  v-else><p >No hay descripción</p></span></p>
                </tr>
                <tr class="text-left"> 
                <th>
                 <br><br> <strong>Resultados del estudiante </strong>
                </th>
                <br>
                </tr>
                <tr class="text-left">
                  <div v-for="(i,index) in item.item['results']" v-bind:key="index">
                        <p><strong>{{i.name}}</strong> <br>
                        
                        <span v-if="i.description">{{i.description}}</span>
                        <span class="text-danger"  v-else><p >No hay descripción</p></span>
                        </p>
                        <br>
                  </div>
                  </tr>
                
              </b-container>
            </template>
        
      </b-table>
        
                        </b-row>
 
                      </section>       
                    
                    <div v-for="(periodo,index) in periodosT" v-bind:key="periodo.id"> 
                   <b-row>
                      
    <div class="my-4 text-left">

           
            <b-row class='mb-2 text-left p-3 mx-2 mt-3'>
              
          <h6><strong> RUBRICAS DE EVALUACION DE: {{periodo}}</strong></h6> </b-row>
         <b-row v-for="competencia in competences_Results[index]" v-bind:key="competencia.id" class='mb-1 px-3 text-left mx-2 mt-3 texto'>
            <strong>Competencia {{competencia.competence}}: </strong> {{competencia.description}}
          <b-col v-for="resultado in competencia.results" v-bind:key="resultado.id" class="col-12">
           <strong> Resultado {{resultado.name}}</strong>
         
          </b-col>
         </b-row>
         
     </div>  
         
          </b-row>
          <b-row class='mb-1 px-3 text-left mx-2 mt-3 texto'>
           <b-table :id="'rubricas' + index" small  :items="itemsR[index+1]" :fields="fieldsR" empty-text="No hay rúbricas para mostrar">
           {{ index}}
          </b-table>
          </b-row>
                    
                    </div>
                <hr>
         
                      <section class="pdf-item">
                    <b-row align-h="center">
                      <h6>UNIVERIDAD NACIONAL DE SAN AGUSTIN</h6>
                      <h6>ESCUELA PROFESIONAL DE INGENIERIA DE SISTEMAS</h6>
                     <h5 style="align-h:center">PLAN DE MEDICIÓN DE RESULTADOS DEL ESTUDIANTE {{courseActive.portfolio}} </h5>
                      </b-row>
                      <b-row class='mb-2 text-left p-3 mx-2 mt-3'>
                          <b-table id="medicion"  small striped hover  :items="itemsaux" :fields="fields">
            
              <template v-slot:cell(review_week)="item"

              >
               <!-- las semanas se muestran de manera dinamica, mientras el boton editar no se presione(26/08/2021)-->   
               <div v-if="item.item.isDisabled">
                <span v-if="item.item.review_week[0]">{{item.item.review_week[0]}}</span>
                <span v-else>—</span>,
                <span v-if="item.item.review_week[1]">{{" "+ item.item.review_week[1]}}</span> 
                <span v-else>—</span>,
                <span v-if="item.item.review_week[2]">{{" "+ item.item.review_week[2]}}</span>
                <span v-else>—</span>
               </div>
                <!--Al presionar el boton editar se activan y muestran los inputs(26/08/2021)-->   
               
              </template> 
              
             
            </b-table>

                      </b-row>
                      </section>       
                     
                  
                </section>
            
        </vue-html2pdf>
    </div>

  </b-container>
</template>


<script>

import Vue from 'vue'
//import JSCharting2 from 'jscharting-vue';
import VueHtml2pdf from 'vue-html2pdf'
import jsPDF from "jspdf";
import "jspdf-autotable";
Vue.use(VueHtml2pdf)
import axios from "axios";
//import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
    components: {
    
    
      
    },
  data() {
    return {
      courseId: this.$route.params.courseId,
    
      academicPeriodId: this.$route.params.academicPeriodId,
      title: "",
      courseActive: [],
      course: [],
      semester: "",
      nameDocentes: [],
      docentes: [],
      lista_competencias: [],
      listaCourseCompetences:[],
      all_student_results: [],
      all_periods: [
     { periodID: ""},
      {periodID: ""},
      {periodID: ""},
      {periodID: ""},
      {periodID: ""},
      {periodID: ""}
      ] , 
      competences_Results: [],
      lista_evidencias: [],
      lista_criterios: [],
      course_student_result: [], // Matchs
      lista_rubricas: [],
      itemsR: [[]],
      periodosT: ["EXAMEN 1", "CONTINUA 1", "EXAMEN 2", "CONTINUA 2", "EXAMEN 3", "CONTINUA 3"
        
      ],
      fieldsR: [
        {
          key: "evidenciaDescription",
          label: "Evidencia",
        },
        {
          key: "aspectosEvaluar",
          label: "Aspectos a Evaluar",
        },
        {
          key: "criterioName",
          label: "Criterio General",
        },
        {
          key: "criteriaDescription",
          label: "Descripción del criterio",
        },
        {
          key: "nivel25",
          label: "Nivel de desempeño insatisfactorio 25%",
        },
        {
          key: "nivel50",
          label: "Nivel de desempeño en proceso 50%",
        },
        {
          key: "nivel75",
          label: "Nivel de desempeño satisfactorio 75%",
        },
        {
          key: "nivel100",
          label: "Nivel de desempeño sobresaliente 100%",
        },
       
      ],
      
       fieldsTableCompetences: [
        {
          key: "name",
          label: "Código",
          //  class: "text-center",
        
        },
        {
          key: "description",
          label: "Competencia",
          // class: "text-center",
        
        },
      ],

      fieldsTableStudentResult: [
        {
          key: "name",
          label: "Resultado del estudiante",
          //  class: "text-center",
        
        },
        {
          key: "description",
          label: "Descripcion",
          // class: "text-center",
        
        },
      ],

      optionsMethods: [
        {value: "0", text: "Rúbrica"},
        {value: "1", text: "Lista de cotejos"},
        {value: "2", text: "Otros"}
      ],
       fieldsC: [
        {
          key: "competence",
          label: "Competencia",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripción",
        },
        {
          key: "accion",
          label: "Acción",
        },
      ],
      itemsC: [],
      items: [],
      itemsaux: [],//arreglo para almacenar los items filtrados(26/08/2021)
      //itemsEdit: [],
      aux: [],
      indexs: [],
      fields: [
        {
          key: "result",
          label: "Resultado",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "criteria",
          label: "Criterio",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "method",
          label: "Método de medición",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "review_week",
          label: "Instante de medición (semana)",
        },
        {
          key: "percentage",
          label: "Porcentaje esperado",
          sortable: true,
          sortDirection: "desc",
        }
      ],
    };
  },

  methods: {

    
    /**
     * @description Genera un pdf segun el formato de mejora continua
     */
    exportPDF(a) {
      var doc = new jsPDF();
      //se simplificaron la cantidad de lineas de la data de la imagen del logo
      
      var logo = 'https://upload.wikimedia.org/wikipedia/commons/3/3a/LOGO_UNSA.png';
      //img.src = 'https://upload.wikimedia.org/wikipedia/commons/3/3a/LOGO_UNSA.png';
     /**   var imgData =
        "data:image/";*/
      let pdfName = "INFORME DE EXAMEN DE ENTRADA - " + this.course.name;
      //var doc = new jsPDF('p','in','letter');

      //var logo_url = "../../assets/logo1.jpeg";
      doc.addImage(logo, 20, 5, 50, 17,undefined,'FAST');
      doc.setFont("times");
      doc.setFontSize(11);
      doc.text("UNIVERSIDAD NACIONAL DE SAN AGUSTÍN DE AREQUIPA", 82.2, 20);
      doc.text("FACULTAD DE INGENIERÍA DE PRODUCCIÓN Y SERVICIOS", 82.02, 25);
      doc.text("ESCUELA PROFESIONAL DE INGENIERIA DE SISTEMAS", 85.53, 30);
      doc.setFontSize(14);
      doc.text("INFORME DE EXAMEN DE ENTRADA – "+this.courseActive.portfolio, 65, 43);
      doc.setFontSize(12);
      doc.setFont("bold");
      doc.text("Asignatura: ", 10, 56);
      doc.text("Academic Semester: ", 10, 61);
      
      doc.text("Docente(s): ", 10, 66);
      doc.setFont("times");
      doc.text( this.course.name, 32, 56);
      doc.text(this.courseActive.portfolio, 46, 61);
      doc.text(this.nameDocentes[0], 32, 66);
      var esp=66;
      if(this.nameDocentes.length>1){  
       for(let i=1; i<this.nameDocentes.length; i++ ){
       esp=esp+5;
        doc.text(this.nameDocentes[i], 32, esp);
       
       }
      }
    
  doc.autoTable({
        
        theme: "grid",
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, font: "times", positiony: 70 },
        margin: { top: 70 },
      

      })
      
      doc.autoTable({
        html: "#competencias",
        
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, font: "times", positiony: 70 },
        margin: { top: 10 },
      
        

      })

    /**  var competencias=[];
      
     
       for(let i=0;i<this.lista_competencias.length;i++){ 
         var resultados=[];
          for(let j=0;j<this.lista_competencias[i]['results'].length;j++){ 
            resultados.push([this.lista_competencias[i]['results'][j].name+"\n"+this.lista_competencias[i]['results'][j].description]);
      }
      competencias.push([{content:this.lista_competencias[i].name, valign:"center"},
      [[{ content:this.lista_competencias[i].description   }],resultados]]);
       }

   doc.autoTable({
       
        theme: "grid",
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, font: "times" },
        margin: { top: 15 },
        head:[ "Codigo","Competencia"],
        body:[
          [""]
          [
           {  content:"PRIMERA"},[[]]
          ] 


        ],
        columnStyles:{
          1:{
            
          }

        }


        
      });

      */
      
       

      for(let i=0;i<6;i++){ 
        
           doc.autoTable({
        
        theme: "plain",
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, fontStyle: "bold", fontSize: 11 },
        margin: { top: 15,bottom: 20 },
        body:[
            ["RUBRICAS DE EVALUACIÓN "+ this.periodosT[i]]

        ]
        

        });
     
      doc.autoTable({
        html: "#rubricas"+i,
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, font: "bold", fontSize:10 },
        margin: { top: 15 ,buttom:20},
      
      })
      }
      doc.addPage();
         
   doc.autoTable({
        
        theme: "plain",
       
        bodyStyles: { valign: "top", halign: "center" },
        styles: { cellPadding: { left: 4 },  },
        margin: { top: 20,bottom:15 },
        body:[
        [{content:"UNIVERSIDAD NACIONAL DE SAN AGUSTÍN"}],
        ["FACULTAD DE INGENIERÍA DE PRODUCCIÓN Y SERVICIOS"],
        ['ESCUELA PROFESIONAL DE INGENIERIA DE SISTEMAS'],
        [""],
        [{content:"Medición de Resultados", styles: { fontStyle: "bold", fontSize:13 },}],
        [""],
        ],
         columnStyles: {
          
             
        },
        showHead: false,

        });

       doc.autoTable({
        html: "#medicion",
        theme: "striped",
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 5 }, font: "times" },
        margin: { top: 15, bottom: 20 },
      
        

      })
       //FIRMAS Y FECHAS
       let fecha= doc.getCreationDate().toString();
      let formatfecha=fecha.substring(8,10)+"/"+ fecha.substring(6,8)+"/"+fecha.substring(2,6);
      var bfirmas = [];
      var aux=this.docentes;
      this.firmas(bfirmas);
      let i=0;

      doc.autoTable({
        theme: "plain",
        rowPageBreak: "avoid",
        margin: { top: 30  },
         styles: { cellPadding: { left: 20 }, font: "times" , fontSize:12},
        body: [ 
        [""],
        [
          {content: "Fecha:  " + formatfecha }
        ]]
      });

     doc.autoTable({
        theme: "plain",
        rowPageBreak: "avoid",
        bodyStyles: { valign: "top", halign: "center" },
        styles: { cellPadding: { left: 8 }, font: "times", },
        margin: { top: 15 , bottom:10 },
     
        didDrawCell: function(data) {
       //if (data.column.dataKey === i && data.column.index ===  i) {
         console.log(data.rows)
          if(i<aux.length){
            if(aux[i].signature){
          doc.addImage(aux[i].signature, data.cell.x + data.column.width/2-8 , data.cell.y+9, 23, 18,undefined,"FAST");}
          i++;
          }
          
        },
        body: bfirmas,
        showHead: false,
      });

       if(a=="pre")
     window.open(doc.output('bloburl')).settitle(pdfName);
      
      else if(a=="exp")
      doc.save(pdfName + ".pdf");
    },
    firmas(body) {
      let f = [];
      for (let val = 0 ; val <this.nameDocentes.length;val++) {
        if(val === 3 || val === 6 || val === 9 ){
          body.push(f);
          f = [];    
        }
        let nomFirma =
          this.nameDocentes[val]
         
        f.push("\n\n\n\n\n_____________________\n" + "Firm\n" + nomFirma);
      }
      body.push(f);
    },
    
    /**
     * @description Se obtiene todos los datos del curso activo
     */
    getCourseActive() {
      if (!this.courseId) {
 
        return;
      }
      const path = url + `process/portfolio/course_active/${this.courseId}/`;

      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
         
        
          if (this.courseActive.id_course) {
            this.getCourseActiveReviewPlan()
            this.getCourse()
            
            // Obtener los nombres de los docentes
            for (const docenteId of this.courseActive.users) {
              this.getDocente(docenteId)
            }
            
          }
          
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.docentes.push(response.data);
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Se obtiene todos los datos del curso normal
     */
    async getCourse() {
      const path =
        url + `process/portfolio/course/${this.courseActive.id_course}/`;
      axios
        .get(path)
        .then(async(response) => {
          this.course = response.data;
          console.log("curso -> ", this.course);

          if (this.course.semester % 2 == 1) {
            this.semester = "A"
          } else {
            this.semester = "B"
          }
          await this.getCourseCompetences();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene un resultado del estudiante del curso normal y lo agrega al arreglo lista_student_results
     * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    async getStudentResult(idStudentResult) {
      const path = url + `process/portfolio/student_result/${idStudentResult}/`;
      let res = null;
      await axios
        .get(path)
        .then((response) => {
          res = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      return res;
    },

     /**
     * @description Obtiene los criterios de un resultado del estudiante
     * @param {idStudentResult} idStudentResult es el identificador para el resultado del estudiante
     */
    async getCriterias(idStudentResult) {
      const path = url + `process/portfolio/criteria/?id_student_result=${idStudentResult}`;

      let res = [];
      await axios
        .get(path)
        .then((response) => {
          res = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
      return res;
    },


  async getEvidences() {
      for (const period of this.all_periods) {
        
      const path = url + `process/portfolio/evidence/?id_period_academic=${period.periodID}`;
       await axios
        .get(path)
        .then(async(response) => {
           //console.log("ALLP:", this. all_periods)
             this.lista_rubricas=[]
          this.lista_evidencias=response.data;
         
          for (const ite of this.lista_evidencias) {
            
            // Obtengo las rúbricas por cada evidencia
            
              await this.getRubricas(ite.id);
             
          }
          // Cuando ya se tengan todas las rúbricas se colocan en la tabla
          let auxgroup=[];


        
       
         for (const item of this.lista_rubricas) {
          
            let evidenceDescription = this.lista_evidencias.find(e => e.id == item.id_evidence).description
            let auxCriteria = this.lista_criterios.find(e => e.id == item.id_criteria)

            let aux = {
              id: item.id,
              evidencia: item.id_evidence,
              evidenciaDescription: evidenceDescription, // Solo para mostrar en la tabla
              aspectosEvaluar: item.aspect,
              criteriogeneral: item.id_criteria,
              criterioName: auxCriteria ? auxCriteria.name : "", // Sólo para mostrar en la tabla
              criteriaDescription: item.criteria,
              nivel25: item.level1,
              nivel50: item.level2,
              nivel75: item.level3,
              nivel100: item.level4,
            }
             
            auxgroup.push(aux)
         
          }
          
        //console.log("auxgropu: ",auxgroup)
        
          this.itemsR.push(auxgroup);
        
        
         // console.log("periodos: ", this.all_periods)
         
          // console.log("listarubi",this.lista_rubricas)
         
        })
        .catch((error) => {
          console.log(error);
        });
        //i++;
      }
     
    },

     /**
 
       * @description Se obtiene las rúbricas a partir del id de una evidencia
    */
     async getRubricas(idEvidence) {
      const path = url + `process/portfolio/evaluation/?id_evidence=${idEvidence}`;
      //console.log("rubricasllena",path)
       await axios
        .get(path)
        .then((response) => {
     
           
          this.lista_rubricas.push(...response.data)
           //console.log("rubricasllena", this.lista_rubricas)
        })
        .catch((error) => {
          console.log(error);
        });
        //console.log("rubricasllena", this.lista_rubricas)
    },


         /**
     * @description Se obtiene todas las competencias del curso normal
     */
    async getCourseCompetences() {
      const path =
        url +
        `process/portfolio/course_competence/?id_course=${this.course.id}`;
      await axios
        .get(path)
        .then(async (response) => {
          this.listaCourseCompetences = response.data

          for (let element of response.data) {
            
            await this.getCompetence(element.id_competence);
          }

          await this.getAllStudentResults();

          // Preparando datos para la tabla competencias vs resultados
          this.lista_competencias.forEach((item) => {

            let aux = [];

            for (let resultado of this.all_student_results) {
              // Llenar los cards de resultados de cada competencia
              // item.student_results sólo tiene ids
              item.student_results.forEach((e) => {
                if (e == resultado.id) {
                  let auxResult = {
                    name: resultado.name,
                    description: resultado.description,
                  };
                  aux.push(auxResult);
                }
              });
            }
            item["results"] = aux; 


          });
          this.lista_competencias = [...this.lista_competencias];
          this.getAcademicPeriods();  
            
          
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene una competencia del curso normal y lo agrega al arreglo lista_competencias
     * @param {idCompetence} idCompetence es el identificador para la competencia
     */
    async getCompetence(idCompetence) {
      const path = url + `process/portfolio/competence/${idCompetence}`;
      let res = null
      await axios
        .get(path)
        .then((response) => {
          res = response.data;
          this.lista_competencias.push(response.data);
        })
        .catch((error) => {
          console.log(error);
        });
        return res;
    },
  
    /**
     * @description Se obtiene todas los resultados del estudiante del recurso
     */
    async getAllStudentResults() {
      const path =
        url +
        `process/portfolio/student_result/?id_resource=${this.course.id_resource}`;
      await axios
        .get(path)
        .then((response) => {
          this.all_student_results = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
    * @description se obtiene los match entre curso activo vs competencias
    */
    async getPeriodAcademicCompetences() {
      
      
      for(const ele of  this.all_periods){
      
      const path = url + `process/portfolio/period_academic_competences/${ele.periodID}/`;
       
      await axios
        .get(path)
        .then(async (response) => {
          let matchs = response.data.period_academic_competences
          let results = await this.getResultsOfCompetences(ele.periodID);
          let auxCompetences=[] 
          for(const item of matchs) {
       
            let encontrado = this.listaCourseCompetences.find(e => e.id == item.id_course_competence)
      
            if(encontrado) {
              let competencia = this.lista_competencias.find(e => e.id == encontrado.id_competence)
      
         
              
             
              let aux = {
                id: item.id_course_competence,
                competence: competencia.name,
                description: item.description != "" ? item.description : competencia.description,
                results: results? results: [],
                isDisabled: true,
              }
               auxCompetences.push(aux)
                 
            }
           
          }
           this.competences_Results.push(auxCompetences)
           
        })
        .catch((error) => {
          console.log(error);
        });
      
        }
    },

    
    /**
     * @description Se obtiene todas mediciones de resultados de un curso activo
     */
    getCourseActiveReviewPlan() {
      const path =
        url + `process/portfolio/course_active_review_plan/${this.courseId}/`;
      axios
        .get(path)
        .then((response) => {

          let evaluations = response.data.evaluations
         let i=0;
          // se carga los datos a la tabla
          for (const item of evaluations) {
            if(item.id) {
              let aux = {
                id: item.id, // id de la evidencia
                result: item.student_result ? item.student_result : "", 
                criteria: item.criteria ? item.criteria : "", 
                method: item.method ? item.method : "", 
                review_week: item.review_week ? item.review_week : [], 
                percentage: response.data.percent_due ? response.data.percent_due : "", 
                isDisabled: true
              }
              //ontener los indices de las evaluaciones sin repetir criterios(26/08/2021)
              if(!this.aux.includes(aux.criteria)){
                  this.aux.push(
                aux.criteria
              )
  
              this.indexs.push(i);
              
              }
             
              i++;
              this.items.push(aux)

            }
          }
          //colocar los registros de evaluacion filtrados por criterio(26/08/2021)
          for(const index of this.indexs){
              this.itemsaux.push(this.items[index])
          }
          //ordenar la tabla que se mostrara en la vista(26/08/2021)
          this.itemsaux.sort((a,b) => (a.criteria<b.criteria)?-1:((a.criteria > b.criteria)? 1:0));
          //this.itemsEdit=this.itemsaux;

        })
        .catch((error) => {
          console.log(error);
        });
    },

      /**
       * @description Se obtiene todos los periodos académico del curso activo
    */
    getAcademicPeriods() {
      
      const path =
        url + `process/portfolio/period_academic/?id_course_active=${this.courseActive.id}`;
        
      axios
        .get(path)
        .then(async(response) => {
          
          for(const element of response.data) {

            // se toman los periodos académicos para ser enviados por la url
           
            if (element.period == 1 && element.modality == 1) {
              this.all_periods[0].periodID = element.id
            } else if (element.period == 1 && element.modality == 2) {
              this.all_periods[1].periodID = element.id
            } else if (element.period == 2 && element.modality == 1) {
              this.all_periods[2].periodID = element.id
            } else if (element.period == 2 && element.modality == 2) {
              this.all_periods[3].periodID = element.id
            } else if (element.period == 3 && element.modality == 1) {
              this.all_periods[4].periodID = element.id
            } else if (element.period == 3 && element.modality == 2) {
              this.all_periods[5].periodID = element.id
            }
             //console.log("aqui es: ",response)
            
          }
           await this.getPeriodAcademicCompetences()
            
            this.getEvidences()
           
           //this.getPeriodAcademicStudentResults()
        })
        .catch((error) => {
          console.log(error);
        });
       
             
    },
    /**
     * @description Se obtiene todos los match del presente curso con sus resultados del estudiante
     */
    async getCourseStudentResults() {
      const path =
        url +
        `process/portfolio/course_student_results/${this.courseActive.id_course}/`;

      await axios
        .get(path)
        .then((response) => {
          this.course_student_result = response.data.course_student_result;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getResultsOfCompetences(periodId){
      let auxResults=[];
      const path = url + `process/portfolio/period_academic_student_results/${periodId}/`;
     
      
      await axios
        .get(path)
        .then(async (response) => {
          await this.getCourseStudentResults();
          response.data.period_academic_student_results.forEach(async(element) => {
           for (const item of this.course_student_result) {
              if (element.id_course_student_result == item.id) {
                 
                let studentResult = await this.getStudentResult(item.id_student_result)
                console.log("studentResult", studentResult)
                let criterias = await this.getCriterias(studentResult.id)
               
                let studentResultaux={
                  id: studentResult.id,
                  name: studentResult.name,
                  description: studentResult.description,
                  criterias: [],
                  optionscriterias: [],
                }
                // Obtengo los criterios según los matchs
                
                for (const criteria of criterias) {
                  studentResultaux.criterias.push(criteria)
                  if(!this.lista_criterios.includes(criteria))
                  this.lista_criterios.push(criteria);
                  let aux = {
                    value: criteria.id, // id del criterio
                    text: criteria.name
                  };
                  studentResultaux.optionscriterias.push(aux);
                }
             
                auxResults.push(studentResultaux)
     
              }
            }
          });
        })
        .catch((error) => {
          console.log(error);
        });
        return auxResults
    },
    /** async getPeriodAcademicStudentResults() {
      const path = url + `process/portfolio/period_academic_student_results/181/`;

      await axios
        .get(path)
        .then(async (response) => {
          this.lista_criterios = []
          this.optionsCriteria = [{value: null, text: "Seleccione un criterio"}]

          await this.getCourseStudentResults();
          
          response.data.period_academic_student_results.forEach(async(element) => {
            for (const item of this.course_student_result) {
              if (element.id_course_student_result == item.id) {

                let studentResult = await this.getStudentResult(item.id_student_result)

                let criterias = await this.getCriterias(studentResult.id)

                // Obtengo los criterios según los matchs
                for (const criteria of criterias) {
                  this.lista_criterios.push(criteria)

                  let aux = {
                    value: criteria.id, // id del criterio
                    text: criteria.name
                  };
                  this.optionsCriteria.push(aux);
                }
              }
            }
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
 */
    /**
     * @param {String} value Texto ingresado
     * @description Fuerza a que el texto ingresado solo sean los siguientes : -, 0, 1, 2 ,3
     * @return {String}
     */
    forceInput(value) {
      var aux = "";
      if (value >= 1 && value <= 17) {
        aux = value;
      } else {
        aux = "";
      }
      return aux;
    },


    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
  },
  created() {
    
    this.getCourseActive();

     
  },
};
</script>

<style lang="css" scoped>
 #contenidoTabla {
  font-size: 11px;
}
.firma {
  font-size: 10px;
  text-align: center;
}
.texto {
  font-size: 12px;
}
.small {
  max-width: 600px;
  margin: 150px auto;
}

.header-page {
  z-index: -9999;
}
.container-report {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pdf-content {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: 100%;
  background: white;
  align-content: center;
}
.content {
        font-size: 10px;
}
.pdf-item {
  
  margin-top: 0px;
  padding-top: 0px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  padding-bottom: 0px;
  width: 100%;
}
.columnChart {
  height: 200px;
  width: 70%;
  font-size: 10px;
  align-content: center;
  margin-left: 25%;
 
}
    .keep-together {
    page-break-inside: avoid;
}

  .break-before {
    page-break-before: always;
}

  .break-after {
    page-break-after: always;
}
img.cover{
  object-fit: cover;
}
li{

list-style: none;
font-size: 12px;
}
th{
  border-right: 0px;
   border-left: 0px;
   
}

</style>
