<template lang="html">
  <b-container>
    <b-modal
      id="delete-sommeliers-modal"
      ref="modal"
      title="Eliminar Sumilla"
      @ok="ok"
    >
      ¿Está seguro que quiere eliminar {{ sumilla.description }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["idcourse"],
  data() {
    return {
      sumilla: {},
      id: "",
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteSumilla();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-studyPlan-modal");
      });
    },
    /**
     * @description Filtra la sumilla a travez del id del curso obteniendo este id para luego obtener
     * la sumilla correspondiente
     * @return {id de curso}
     */
    filtrarSumilla() {
      const path =
        url + `process/portfolio/sommelier/?id_course=${this.idcourse}`;
      axios.get(path).then((response) => {
        this.id = response.data.map((item) => {
          return item.id;
        });
        this.getSumilla();
      });
    },
    /**
     * @description Obtiene la sumilla correspiendo al curso especifico
     * @return {sumilla}
     */
    getSumilla() {
      const path = url + `process/portfolio/sommelier/${this.id}`;
      axios.get(path).then((response) => {
        this.sumilla = response.data;
      });
    },
    /**
     * @description Elimina de manera fisica la sumilla seleccionada
     */
    deleteSumilla() {
      const path = url + `process/portfolio/sommelier/${this.sumilla.id}`;
      axios.delete(path);
      swal("Sumilla Eliminada Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        location.reload();
      });
    },
  },
  created() {
    this.filtrarSumilla();
  },
};
</script>

<style></style>
