<template lang="html">
  <b-container>
    <b-modal
      id="edit-sommeliers-modal"
      ref="modal"
      title="Editar Sumilla"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
    >
      <b-form ref="form" @submit.stop.prevent="handleSubmit">
        <b-form-group
          :state="roleNameValidation()"
          label="Descripcion:"
          label-for="name-role"
        >
          <b-form-input
            id="name-role"
            v-model="description"
            :state="roleNameValidation()"
            required
            >{{ this.description }}</b-form-input
          >
        </b-form-group>

        <b-form-group
          :state="roleNameValidation()"
          label="Contenido:"
          label-for="name-role"
        >
          <template>
            <div>
              <b-form-textarea
                id="textarea"
                v-model="content"
                placeholder="Enter something..."
                rows="3"
                max-rows="6"
                >{{ this.content }}</b-form-textarea
              >

              <pre class="mt-3 mb-0"></pre>
            </div>
          </template>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";

const url = process.env.VUE_APP_RUTA_API;

import swal from "sweetalert";

export default {
  props: ["idcourse"],
  data() {
    return {
      id: "",
      content: "",
      description: "",
      validation: {
        onlyText: /^[a-zA-Z ]*$/,
      },
    };
  },
  methods: {
    resetModal() {
      this.description = "";
    },
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid &&
        this.textSize(this.description, 1, 100) &&
        this.onlyText(this.description)
      );
    },
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.editarSumilla();
      this.$nextTick(() => {
        this.$bvModal.hide("add-role-modal");
      });
    },
    getSumilla() {
      const path = url + `process/portfolio/course/${this.idcourse}`;
      axios.get(path).then((response) => {
        this.content = response.data.content;
        this.description = response.data.description;
      });
    },
    editarSumilla() {
      const path = url + `process/portfolio/course/${this.idcourse}`;
      const datos = {
        description: this.description,
        content: this.content,
        id_course: this.idcourse,
      };
      axios.put(path, datos).then(() => {
        swal("Sumilla Creada Exitosamente", "", "success", {
          button: "Aceptar",
        });
        location.reload();
      });
    },

    textEmpty(text) {
      return text == "";
    },
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },
    roleNameValidation() {
      if (this.textEmpty(this.description)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.description, 1, 100) &&
        this.onlyText(this.description)
      );
    },
  },
};
</script>

<style lang="css" scoped></style>
