<template>
  <b-container id="custom-css">
    <b-row>
      <b-col cols="12" class="px-4">
        <h3 class="text-left py-4">Sumilla</h3>
      </b-col>
    </b-row>

    <b-card-body>
      <router-view></router-view>
    </b-card-body>
  </b-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="css" scoped></style>
