<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <div class="container" v-if="!isLoading">
    <h3 class=" text-left my-4 ">Nueva Evidencia</h3>

    <b-card class="mb-3 text-left">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-row class="mb-3">
          <b-col sm="3">Año:</b-col>
          <b-col>
            <b-form-group label="Evidencia:">
              <b-form-file
                id="evidence"
                v-model="form.evidence"
                accept=".pdf"
                placeholder="Seleccione un archivo or  arrastrelo aquí..."
                drop-placeholder="Arrastrelo aquí...">
              </b-form-file>
              <small>No es obligatorio</small><br />
            </b-form-group>
          </b-col>
        </b-row>
        <b-row class="mb-3">
          <b-col sm="3">Año:</b-col>
          <b-col>
            <b-form-group>
              <b-form-input
                id="input-1"
                type="text"
                v-model="form.name"
                :formatter="forceLowerCase"
                required
                :state="processStateNameValidation()"
              ></b-form-input>
              <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!textSize(form.name, 2, 30)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Recuerde Colocar años desde 2015 en adelante
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button type="submit" variant="secondary" class="float-right ml-3"
              ><b-icon icon="wallet2"></b-icon>&nbsp;Guardar</b-button>
            <b-button
              type="reset"
              variant="danger"
              class="btn-large-space float-right">
                <b-icon icon="x"></b-icon>
                Reiniciar
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";

export default {
  data() {
    return {
      isLoading: false,
      permisos: this.$store.getters.getPermisos,
      users: [],
      responsible: "null",
      owner: "",
      roles: "",
      form: {
        id: "",
        name: "",
        description: "",
        percentage: 0,
        started: "",
        startDate: "",
        startTime: "",
        finished: "",
        status: true,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },

      errorsList: [],

      context: {
        start: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego dar el formato
     * correspondiente a los inputs y finalmente crear el proceso
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.createProcessValidation()) {
        this.setProcessInputs();
        this.createProcess();
      }
    },
    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    /**
     * @description Obtiene todos los usuarios registrados en la BD
     * @return {users}
     */
    getUsers() {
      const path = url + `user/user/`;
      axios
        .get(path)
        .then((response) => {
          this.users = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Obtiene el usuario creador
     * @return {owner}
     */
    async getOwner() {
      const token = this.$store.getters.isLoggedIn;
      axios.defaults.headers.common["Authorization"] = `Bearer ${token}`;
      this.owner = await AuthService.getUser();
    },
    /**
     * @description Crea un proceso con los datos necesarios
     * @return {users}
     */
    createProcess() {
      this.isLoading=true
      const path = url + `process/process/`;
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.id = response.data.id;
          this.form.name = response.data.name.toLowerCase();
          this.form.description = response.data.description.toLowerCase();
          this.owner.id = response.data.id_owner;
          this.form.status = response.data.status;
          this.form.started = response.data.started;
          this.form.finished = response.data.finished;
          this.isLoading= false,
          swal("Proceso Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          });
          this.$router.push("/process/list");
        })
        .catch((error) => {
          
          this.errorsList = [];
          this.errorsList.push(error.response.data.name.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Ya existe proceso con este nombre.",
              "Ya existe un proceso con ese nombre."
            )
          );
          this.isLoading= false,
          swal("No se creó el proceso", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @description Guarda los datos obtenidos del input time en la variable form.started
     * ademas establece un objeto date a la variable form.finished
     */
    setDatesAndTimes() {
      this.form.started = this.context.start.date.selectedDate;
      this.form.started.setHours(this.context.start.time.hours);
      this.form.started.setMinutes(this.context.start.time.minutes);
      this.form.started.setSeconds(this.context.start.time.hours);
      this.form.finished = new Date(0, 0, 0, 0, 0, 0, 0);
    },

    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextStartDate(ctx) {
      this.context.start.date = ctx;
    },

    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextStartTime(ctx) {
      this.context.start.time = ctx;
    },

    getRoles() {
      const path = url + `user/role/`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    getNameOfRole(id) {
      for (var i = 0; i < this.roles.length; i++) {
        if (this.roles[i].id == id) {
          return this.roles[i].name;
        }
      }
      return "";
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre, descripcion, fecha y hora
     */
    createProcessValidation() {
      return (
        this.processNameValidation() &&
        this.processStateDescriptionValidation() &&
        this.processStartDateValidation() &&
        this.processStartTimeValidation()
      );
    },

    /**
     * @description Metodo que establece las fechas y horas y guarda los IDs del usuario responsable y
     * del usuario que creo el proceso
     */
    setProcessInputs() {
      this.setDatesAndTimes();
      this.form.id_user = this.responsible.id;
      this.form.id_owner = this.owner.id;
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.name = "";
      this.form.description = "";
      this.form.startDate = "";
      this.form.startTime = "";
      this.responsible = "";
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.processNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    processNameValidation() {
      return (
        this.textSize(this.form.name, 2, 30) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.processDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    processDescriptionValidation() {
      return (
        this.textSize(this.form.description, 8, 100) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la fecha de inicio
     * Verifica si la fecha esta vacio
     * @return {boolean}
     */
    processStateStartDateValidation() {
      if (this.textEmpty(this.form.startDate)) {
        return new Boolean(null);
      }
      return this.processStartDateValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fecha de inicio
     * @return {boolean}
     */
    processStartDateValidation() {
      return !this.textEmpty(this.form.startDate);
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la hora de inicio
     * Verifica si la fecha esta vacio
     * @return {boolean}
     */
    processStateStartTimeValidation() {
      if (this.textEmpty(this.form.startTime)) {
        return new Boolean(null);
      }
      return this.processStartTimeValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de hora de inicio
     * @return {boolean}
     */
    processStartTimeValidation() {
      return !this.textEmpty(this.form.startTime);
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador o responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      //if( PermissionService.findPermission(Permission.View, Module.Portafolio) ){
      //return true;
      //}

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  async created() {
    this.viewPermission();

    this.getUsers();
    this.getOwner();
    this.getRoles();
  },
};
</script>

<style lang="css" scoped></style>
