<template>
<div>
    <div class="mx-auto" style="width: 200px;">
        <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
      </div>
  <b-container class="py-5" v-if="!isLoading">
    <b-row class="header-page">
        <b-col cols="12">
            <h2 class="text-left" py-2>Informe de Desempeño</h2>
        </b-col>
        <div style="width: 100%;">
            <b-button class="float-left ml-3 mt-1 mb-4" :to="{name: 'Performance'}">
                <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
            </b-button>
            <b-button class="float-right mb-3 mt-1" variant="primary" @click="generateReport()">
                <b-icon icon="download"></b-icon>
                Descargar
            </b-button>
        </div>
    </b-row>

    <div class="container-report">
        <vue-html2pdf
            :show-layout="false"
            :float-layout="false"
            :enable-download="true"
            :preview-modal="true"
            filename="InformeDesempeñoFinal"
            :paginate-elements-by-height="1500"
            :pdf-quality="2"
            pdf-format="a4"
            pdf-orientation="portrait"
            pdf-content-width="780px"
            :manual-pagination="false"
        
            ref="html2Pdf"
        >
            <section slot="pdf-content" class="pdf-content">
                <!-- PDF Content Here -->
                <section class="pdf-item">
                    <b-row class='mb-2 text-left border p-3 mx-2 mt-3'>
                        <h3 class="mb-4">Informe de Desempeño</h3>
                        <b-col class="col-lg-12">
                            <p><strong>Escuela profesional:</strong> INGENIERÍA DE SISTEMAS</p>
                            
                            <div class="row">
                                <b-col class="col-4">
                                    <p><strong>Docentes Responsables:</strong></p>  
                                </b-col>
                                <b-col class="col-4">
                                    <li v-for="(item, index) in nameDocentes" :key="index">
                                        {{ item }}
                                    </li>
                                </b-col> 
                            </div>
                            
                            <b-row class='mb-4 '>
                                <b-col class="col-lg-12">
                                    <p><strong>Periodo de Evaluación: </strong>PROMEDIO - FINAL</p>    
                                </b-col>  
                                <b-col class="col-lg-12">
                                    <p>En el desarrollo del curso de {{course_normal.name}}, se observa:</p>
                                </b-col> 
                            </b-row> 
                        </b-col>

                        <b-col class="col-lg-12 border p-3">
                            <div class="row">
                                <div class="col-6">
                                    <h5 class="float-left">Reporte</h5>
                                </div>
                                <div class="col-6">
                                </div>
                            </div>

                            <b-table id="contenidoTabla" small bordered :items="report" :fields="reportfields" ></b-table>

                            <b-row>
                                <b-col>
                                    <JSCharting2 height="100%" width="100%" :options="optionsGraph2" class="columnChart" />
                                </b-col>
                            </b-row>
                            <br>

                            <b-table id="contenidoTabla" stacked small bordered  :items="grade" :fields="gradefields" ></b-table>

                        </b-col>

                    </b-row >
                </section>
            </section>
        </vue-html2pdf>
    </div>

  </b-container>
  </div>
</template>


<script>

import Vue from 'vue'
import JSCharting2 from 'jscharting-vue';
import axios from 'axios';
import VueHtml2pdf from 'vue-html2pdf'
Vue.use(VueHtml2pdf)
import {
  
  CourseDatesService
} from '@/services';
const url = process.env.VUE_APP_RUTA_API;


export default {
   
    components: {
    JSCharting2,
    VueHtml2pdf
      
    },
  data() {
    return {
        isLoading:true,
        idCourseActive: this.$route.params.courseId,
        course_active: null,
        course_normal: {
            name: '',
        },
        nameDocentes: [],
        students_course_active: [],
        periodAcademic: null,

        selected: 3,
        archivoSubido: false,
        file2: null,
        name: 'columnChart',    
        
        report: [
            {notaobtenida: 'AB', calificativo: 'Abandono', cantidad: 0, porcentajeeval:'', porcentajeglobal: 0 },
            {notaobtenida: 'De 1 a 7', calificativo: 'Insatisfactorio', cantidad: 0, porcentajeeval:0,porcentajeglobal: 0 },
            {notaobtenida: 'De 8 a 10', calificativo: 'En proceso', cantidad: 0, porcentajeeval:0, porcentajeglobal: 0 },
            {notaobtenida: 'De 11 a 14', calificativo: 'Satisfactorio', cantidad: 0 , porcentajeeval:0, porcentajeglobal: 0 },
            {notaobtenida: 'De 15 a 20', calificativo: 'Sobresaliente', cantidad: 0 , porcentajeeval:0, porcentajeglobal: 0 },
            {notaobtenida: '', calificativo: '', cantidad: 0 , porcentajeeval:100 ,porcentajeglobal: 100 },
            ],
        reportfields: [
            {
                key: "notaobtenida",
                label: "Nota Obtenida",
                },
             {
                key :"cantidad",
                label: "Cantidad Alumnos ",
            },           
           
            {
                key :"porcentajeglobal",
                label: "Porcentaje Global %",
            },
             {
                key :"porcentajeeval",
                label: "Porcentaje Evaluados %",
            },
            {
                key :"calificativo",
                label: "Calificativo",
            },
            
        ],
        grade: [
            {maxima: 0, minima: 0, promedio: 0 },       
            
            ],
        gradefields: [
            {
                key: "maxima",
                label: "Nota máxima",
                },
             {
                key :"minima",
                label: "Nota mínima",
            },           
           
            {
                key :"promedio",
                label: "Nota promedio",
            },
            
            
        ],

        options: [
          { value: null, text: 'Seleccione' },
          { value: '1', text: 'Examen' },
          { value: '2', text: 'Continua' },
          { value: '3', text: 'Promedio' },

        ],

        optionsGraph2: null, 
    };
  },

    methods: {
        mounted () {
             this.optionsGraph1={
                type: 'vertical column',
                series: [
                    {   
                        name: 'Porcentaje evaluados',
                        points: [
                            { x: 'Insatisfactorio', y:this.report[1].porcentajeeval  },
                            { x: 'En proceso', y: this.report[2].porcentajeeval  },
                            { x: 'Satisfactorio', y:this.report[3].porcentajeeval  },
                            { x: 'Sobresaliente', y: this.report[4].porcentajeeval  }
                        ]
                    }
                ]
            }

            this.optionsGraph2={
                type: 'vertical column',
                series: [
                    {   
                        name: 'Porcentaje evaluados',
                        points: [
                            { x: 'Insatisfactorio', y:this.report[1].porcentajeeval  },
                            { x: 'En proceso', y: this.report[2].porcentajeeval  },
                            { x: 'Satisfactorio', y:this.report[3].porcentajeeval  },
                            { x: 'Sobresaliente', y: this.report[4].porcentajeeval  }
                        ]
                    }
                ]
            }
        },

        /**
        * @description Método para generar reporte
        */
        generateReport () {
            this.$refs.html2Pdf.generatePdf()
        },
        
        /**
        * @description Obtener los datos del curso activo con el método get
        */
        getCourseActive() {
            const path = url + `process/portfolio/course_active/${this.idCourseActive}/`;

            axios.get(path).then(respuesta => {
                this.course_active = respuesta.data

                this.getDataFromBD()
                this.getCourse()

                // Obtener los nombres de los docentes
                for (const docenteId of this.course_active.users) {
                    this.getDocente(docenteId)
                }
            })
        },

        /**
        * @description Obtener los datos del curso asociado al curso activo con el método get
        */
        getCourse() {
            const path = url + `process/portfolio/course/${this.course_active.id_course}/`;

            axios.get(path).then(respuesta => {
               this.course_normal = respuesta.data
            })
        },

        /**
        * @description Se obtiene el nombre completo de un docente en específico
        */
        getDocente(docenteId) {
        const path = url + `user/user/${docenteId}`;

        axios
            .get(path)
            .then((response) => {
            this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
            })
            .catch((error) => {
            console.log(error);
            });
        },

        /**
        * @description Obtener los datos de los estudiantes de un curso activo con el método get
        * y los procesa para que esten en un formato tabla.
        */
        async getStudents() {
            const path = url + `process/portfolio/student/?id_course_active=${this.idCourseActive}`;
            await axios.get(path).then((response) => {
                this.students_course_active = response.data
            })  
        },

        /**
        * @description Obtener los datos del periodo académico, si no existe lo crea
        */
        async getPeriodAcademic() {
            const path = url + `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;
            
            await axios.get(path).then(async (response) => {
                let encontrado = response.data.find(e => e.period == 4 && e.modality == this.selected) // Periodo 4 es el FINAL
                
                this.periodAcademic = encontrado
            })
            await this.getStudents()
        },

        /**
        * @description Realiza las acciones cuando el select de tipo de evaluación cambia
        */
        async getDataFromBD() {

            //trae el periodo académico considerando periodo 1 y modalidad
            if (this.selected) {
                await this.getPeriodAcademic()

                // Tranformar las notas de los estudiantes al formato tabla
                this.arregloExcel = []  

                this.students_course_active.forEach(student => {
                    let nota = student.grades_period.find(g => g.id_period_academic == this.periodAcademic.id)
                    
                    let aux = {
                        cui: student.cui,
                        nota: null,
                    }
                    if(nota) {
                        aux.nota = nota.grade
                    } else {
                        aux.nota = 'AB'
                    }
                    this.arregloExcel.push(aux)
                })

                //Si todos los AB es porque no se ha subido el archivo
                let prueba = this.arregloExcel.filter(e => e.nota != 'AB')
                if(prueba.length == 0) {
                    this.arregloExcel = []
                }
                
                let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel))

                // Se envia la data al método que procesará los datos a las tablas y gráficos
                this.chargeDataToTables(arregloExcelJSON)
            }
        },

        /**
         * @description Se carga los datos a las tablas y grpaficas
         * @param {data} data son los datos que van a las tablas
        */
        chargeDataToTables(data) {
            if(data.length > 0) {
                this.archivoSubido = true
                
                // Subida de datos a la tabla 1: notas de los alumnos
                let abandonos = 0
                let notamax = 0
                let notamin = 20
                let entre1y7 = 0
                let entre8y10 = 0
                let entre11y14 = 0
                let entre15y20 = 0
                let noAbandonos = 0
                let sumatoria = 0

                for (let index = 1; index <= data.length; index++) {
                    let notaPeriodo = data[index-1].nota

                    //conteo de abandonos
                    if(notaPeriodo == 'AB') {
                        abandonos++
                    } else {
                        //nota máxima
                        if(notaPeriodo > notamax) {
                            notamax = notaPeriodo
                        }
                        //nota mínima
                        if(notaPeriodo < notamin) {
                            notamin = notaPeriodo
                        }

                        //cálculos para la tabla 3
                        if(notaPeriodo >= 15) {
                            entre15y20++
                        } else if(notaPeriodo >= 11) {
                            entre11y14++
                        } else if(notaPeriodo >= 8) {
                            entre8y10++
                        } else {
                            entre1y7++
                        }
                        noAbandonos++
                        sumatoria += notaPeriodo
                    }
                }

                if(noAbandonos == 0) {
                    noAbandonos = 1 // para evitar disión entre 0
                }

                // subida de datos a la tabla 5 y la gráfica 2: reporte
                this.report[0].cantidad = abandonos
                this.report[0].porcentajeglobal = Math.round(abandonos/data.length*100)

                let datosTabla5 = [entre1y7, entre8y10, entre11y14, entre15y20]
                for (let i = 1; i <= 4; i++) {
                    this.report[i].cantidad = datosTabla5[i-1]
                    this.report[i].porcentajeglobal = Math.round(datosTabla5[i-1]/data.length*100)
                    this.report[i].porcentajeeval = Math.round(datosTabla5[i-1]/noAbandonos*100)
                }
                this.report[5].cantidad = abandonos+noAbandonos

                this.mounted()

                // Última tabla de nota máxima, mínima y promedio
                this.grade[0].maxima = notamax
                this.grade[0].minima = notamin
                this.grade[0].promedio = (sumatoria/noAbandonos).toFixed(2)
            } else {
                this.archivoSubido = false
            }
            this.isLoading=false
        },

        /**
             * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
             * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
             * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
             * estar en la fecha de la primera fase
            */

        viewDates(){
          if(CourseDatesService.isUserSeeEveything()){
            return;
          } 
          if(!(CourseDatesService.isUserColab() && CourseDatesService.isFourthPhase())) {
            this.$router.push("/");
          }
        },

    },

    /**
     * @description Método que se inicia cuando el componente se crea
    */
    created() {
        //this.viewDates();
        //CourseDatesService.getPortfolioDates(this.portfolioId);
  
        this.getCourseActive()
        this.mounted()
    },
}

</script>

<style lang="css" scoped>
    #contenidoTabla{
        font-size: 12px; 
    }
    .small {
        max-width: 600px;
        margin:  150px auto;
    }
    .header-page {
        z-index: -9999;
    }
    .container-report {
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .pdf-content {
        margin-top: 0px;
        padding-top: 0px;
        width: 100%;
        height: 1020px;
        background: white;
        align-content: center;
    }
    .pdf-item {
        display: flex;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        width: 100%;
    }
    .columnChart {
        height: 300px;
    }
</style>
