<template>
<div>
    <div class="mx-auto" style="width: 200px;">
            <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
          </div>
  <b-container id="custom-css" v-if="!isLoading">
    <b-row>
      <b-col cols="12" class="px-4">
        <h3 class="text-left py-4">Informe de Desempeño</h3>
      </b-col>
      <div>
        <b-button class="float-left ml-3 mt-1 mb-4" :to="{ name: 'Reports' }" variant="secondary">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
    </b-row>
    
    <b-card title="Card Title" no-body>
      <b-card-body>
        <b-container class="py-3">
          <b-row class="mb-4 text-left border p-3">
            <b-col class="col-lg-6">
              <p><strong>Escuela profesional:</strong> Ingeneria de Sistemas</p>
              <p><strong>Nombre del curso:</strong> {{ course_normal.name }}</p>
              <p><strong>Grupo:</strong> A</p>
              <p><strong>Tipo de evaluacion: </strong>Promedio</p>
              </b-col>
            <b-col class="col-lg-6">
              <p><strong>Periodo:</strong> FINAL</p>
              <p><strong>Docentes:</strong></p>
              <li v-for="(item, index) in nameDocentes" :key="index">
                {{ item }}
              </li>
            </b-col>
          </b-row>
          <b-row class="mb-4 text-left border p-3">
            <div class="col-12">
              <h5>Notas del periodo</h5>
            </div>

            <div class="col-12" v-if="editPermission()">
              <div class="row">
                <div class="col-md-6">
                  <b-form-file
                    ref="excelInput"
                    accept=".xlsx"
                    
                   :state="Boolean(files)"
                    :v-bind="files"
                    class="mt-3"
                    plain
                    
                    @change="handleClick"
                  ></b-form-file>
                  <div v-if="!this.document" class="mt-3">
                    No se ha subido archivo
                  </div>
                  <div v-if="this.document[0]"  class="mt-3">
                      Archivo Subido: 
                      
                      <a :href="`${this.document[0].url}`">
                       {{this.document[0].name}}
                      </a>
                   
                  </div>
                  <br />
                </div>
                <div class="col-md-3"></div>
                <div class="col-md-3">
                  <b-button
                    class="mt-2 float-right"
                    variant="primary"
                    v-on:click="handleDownload"
                  ><b-icon icon="download"></b-icon>
                    Descargar formato
                  </b-button>
                </div>
              </div>
            </div>

            <div class="col-12">
              <b-table
                responsive
                id="contenidoTabla"
                bordered
                :items="item"
                :fields="field"
              ></b-table>
            </div>
          </b-row>
          
          <b-row v-if="archivoSubido" class="mb-4 text-left border p-3">
            <b-col class="col-lg-6 border p-3">
              <div>
                <b-table
                  id="contenidoTabla"
                  small
                  stacked
                  bordered
                  :items="items"
                  :fields="fields"
                ></b-table>
              </div>

              <div class=" border p-3">
                <div class=" border p-3">
                  <h5>
                    Resumen estadistico de los estudiantes que llevaron
                    regularmente el curso
                  </h5>
                </div>
                <b-table
                  id="contenidoTabla"
                  small
                  bordered
                  :items="regular"
                  :fields="regularfields"
                ></b-table>
              </div>
              <div class=" border p-3">
                <div class=" border p-3">
                  <h5>Resumen estadistico global</h5>
                </div>
                <b-table
                  id="contenidoTabla"
                  small
                  bordered
                  :items="stadistic"
                  :fields="stadisticfields"
                ></b-table>
              </div>
            </b-col>
            <b-col class="col-lg-6">
              <div class="row mb-3">
                <div class="col-6">
                  <h5 class="float-left"></h5>
                </div>
                <div class="col-6">
                  <b-button
                    class="float-right mb-3"
                    variant="primary"
                    :to="{ name: 'ReportPerformance' }"
                    >Generar reporte</b-button
                  >
                </div>
              </div>

              <div>
                <h5 style="text-align: center;">
                  <strong>DESEMPEÑO ACADÉMICO</strong>
                </h5>
                <template>
                  <JSCharting
                    :options="optionsGraph1"
                    class="columnChart"
                  ></JSCharting>
                </template>
              </div>
            </b-col>
          </b-row>
        </b-container>
      </b-card-body>
    </b-card>
  </b-container>
  </div>
</template>

<script>
//import {LineChart} from 'vue-chartjs'
//import { Bar } from '../../../node_modules/BaseCharts';
//import { Bar } from 'vue-chartjs' ;
import JSCharting from "jscharting-vue";
import axios from "axios";
import XLSX from "xlsx";
import swal from "sweetalert";
import { Module, Permission, PermissionService, CourseDatesService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
    JSCharting,
  },
  data() {
    return {
      isLoading:true,
      idCourseActive: this.$route.params.courseId,
      course_active: null,
      course_normal: {
        name: "",
      },
      nameDocentes: [],
      students_course_active: [],
      periodAcademic: null,

      selected: 3,
      files: "",
      archivoSubido: false,

      //file2: null,
       document: [],
      documents: [],
      labels: [
        {
          key: "name",
          label: "Nombre de documento",
          sortable: true,
        },
        {
          key: "acc",
          label: "Accion",
        },
      ],
      name: "columnChart",

      // Tabla1 de notas
      item: [{}],
      field: [],

      items: [
        { matriculados: 0, abandono: 0, notamax: 0, notamin: 0, error: 0 },
      ],
      fields: [
        {
          key: "matriculados",
          label: "Estudiantes matriculados",
        },
        {
          key: "abandono",
          label: "Estudiantes en abandono",
        },
        {
          key: "notamax",
          label: "Nota maxima",
        },
        {
          key: "notamin",
          label: "Nota minima",
        },
        {
          key: "error",
          label: "Error",
        },
      ],

      regular: [
        { desde: 1, hasta: 7, frecuencia: 0, porcentaje: 0 },
        { desde: 8, hasta: 10, frecuencia: 0, porcentaje: 0 },
        { desde: 11, hasta: 14, frecuencia: 0, porcentaje: 0 },
        { desde: 15, hasta: 20, frecuencia: 0, porcentaje: 0 },
        { desde: "", hasta: "", frecuencia: 0, porcentaje: 100 },
      ],
      regularfields: [
        {
          key: "desde",
          label: "Desde",
        },
        {
          key: "hasta",
          label: "Hasta",
        },
        {
          key: "frecuencia",
          label: "Frecuencia ",
        },
        {
          key: "porcentaje",
          label: "Porcentaje %",
        },
      ],

      stadistic: [
        {
          notaobtenida: "AB",
          calificativo: "Abandono",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 1 a 7",
          calificativo: "Insatisfactorio",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 8 a 10",
          calificativo: "En proceso",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 11 a 14",
          calificativo: "Satisfactorio",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 15 a 20",
          calificativo: "Sobresaliente",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "",
          calificativo: "",
          cantidad: 0,
          porcentajeglobal: 100,
        },
      ],
      stadisticfields: [
        {
          key: "notaobtenida",
          label: "Nota Obtenida",
        },
        {
          key: "calificativo",
          label: "Calificativo",
        },
        {
          key: "cantidad",
          label: "Cantidad Alumnos ",
        },
        {
          key: "porcentajeglobal",
          label: "Porcentaje %",
        },
      ],

      options: [
        { value: null, text: "Seleccione" },
        { value: "1", text: "Examen" },
        { value: "2", text: "Continua" },
        { value: "3", text: "Promedio" },
      ],

      optionsGraph1: null,
    };
  },

  methods: {
    mounted() {
      this.optionsGraph1 = {
        type: "horizontal column",
        options: {
          title: {
            display: true,
            text: "Desempeño académico",
          },
        },
        series: [
          {
            name: "Cantidad",
            points: [
              { x: "Abandono", y: this.stadistic[0].cantidad },
              { x: "Insatisfactorio", y: this.stadistic[1].cantidad },
              { x: "En proceso", y: this.stadistic[2].cantidad },
              { x: "Satisfactorio", y: this.stadistic[3].cantidad },
              { x: "Sobresaliente", y: this.stadistic[4].cantidad },
            ],
          },
          {
            //porcentaj
            name: "Porcentaje",
            points: [
              { x: "Abandono", y: this.stadistic[0].porcentajeglobal },
              { x: "Insatisfactorio", y: this.stadistic[1].porcentajeglobal },
              { x: "En proceso", y: this.stadistic[2].porcentajeglobal },
              { x: "Satisfactorio", y: this.stadistic[3].porcentajeglobal },
              { x: "Sobresaliente", y: this.stadistic[4].porcentajeglobal },
            ],
          },
        ],
      };
    },

    /**
     * @description Obtener los datos del curso activo con el método get
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}/`;

      axios.get(path).then((respuesta) => {
        this.course_active = respuesta.data;

        this.getDataFromBD();
        this.getCourse();
        

        // Obtener los nombres de los docentes
        for (const docenteId of this.course_active.users) {
          this.getDocente(docenteId)
        }
      });
    },

    /**
     * @description Obtener los datos del curso asociado al curso activo con el método get
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.course_active.id_course}/`;

      axios.get(path).then((respuesta) => {
        this.course_normal = respuesta.data;
      });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtener los datos de los estudiantes de un curso activo con el método get
     * y los procesa para que esten en un formato tabla.
     */
    async getStudents() {
      const path =
        url +
        `process/portfolio/student/?id_course_active=${this.idCourseActive}`;
      await axios.get(path).then((response) => {
        this.students_course_active = response.data;
      });
    },

    /**
     * @description Actualiza los datos de un estudiante en la base de datos
     * @param {data} data son los datos del estudiante
     */
    async updateStudent(id, data) {
      const path = url + `process/portfolio/student/${id}/`;
      await axios.put(path, data).then(() => {});
    },

    /**
     * @description Obtener los datos del periodo académico, si no existe lo crea
     */
    async getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 4 && e.modality == this.selected
        ); // Periodo 4 es el FINAL

        this.periodAcademic = encontrado;
        console.log("PERIODO ", this.periodAcademic);
      });
      await this.getStudents();
    },

    /**
     * @description Obtiene las notas de los estudiantes registrados en el curso
     *  de la base de datos
     */
    async getDataFromBD() {
      //trae el periodo académico considerando periodo Final y modalidad
      if (this.selected) {
        await this.getPeriodAcademic();
        this.getCreatedEvidenceDocument()

        // Tranformar las notas de los estudiantes al formato tabla
        this.arregloExcel = [];

        this.students_course_active.forEach((student) => {
          let nota = student.grades_period.find(
            (g) => g.id_period_academic == this.periodAcademic.id
          );

          let aux = {
            cui: student.cui,
            nota: null,
          };
          if (nota) {
            aux.nota = nota.grade;
          } else {
            aux.nota = "AB";
          }
          this.arregloExcel.push(aux);
        });

        //Si todos los AB es porque no se ha subido el archivo
        let prueba = this.arregloExcel.filter((e) => e.nota != "AB");
        if (prueba.length == 0) {
          this.arregloExcel = [];
        }

        let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel));

        // Se envia la data al método que procesará los datos a las tablas y gráficos
        this.chargeDataToTables(arregloExcelJSON);
      }
    },

    /**
     * @description Proporciona una plantilla en excel para colocar las notas de los estudiantes
     * @return {file} retorma el archivo ExamenEntrada.xlsx
     */
    handleDownload() {
      // Se crea un archivo excel
      var wb = XLSX.utils.book_new();

      wb.Props = {
        Title: "Plantilla de alumnos",
        Subject: "Alumnos",
      };
      // Se identifica el tipo de evaluación o modalidad
      let tipoEvaluación = this.options.find((e) => e.value == this.selected)
        .text;

      var ws_data = [
        [],
        ["", "FACULTAD DE INGENIERÍA DE PRODUCCIÓN Y SERVICIOS"],
        ["", "ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS"],
        [],
        ["", "CALCULO DEL DESEMPEÑO ACADÉMICO   "],
        ["", "SEMESTRE 2020A"],
        ["", "", "", "Periodo:", "FINAL"],
        ["", "", "", "Tipo de Evaluación:", `${tipoEvaluación}`],
        [
          "CUI",
          "Notas del Periodo",
          "",
          "Nombre del Curso:",
          `${this.course_normal.name}`,
        ],
      ];

      // Carga de estudiantes al excel
      this.students_course_active.forEach((student) => {
        ws_data.push([student.cui]);
      });

      var ws = XLSX.utils.aoa_to_sheet(ws_data);

      XLSX.utils.book_append_sheet(wb, ws, this.course_active.course);

      XLSX.writeFile(wb, "PlantillaNotasFinal.xlsx");
    },

    /**
     * @description Obtener el archivo .xls cargado por el usuario
     * @param {e} e es el evento que se recibe cuand el usuario carga un archivo
     */
    handleClick(e) {
      this.files = e.target.files;
      const rawFile = this.files[0];
      console.log("espera");
      if (!rawFile) return;
      console.log("archivOS: ",this.files)
      this.submitFiles();
     this.upload(rawFile);
     
    },
/** 
    cleanUpload(){
         this.$refs.excelInput.value = null;
      this.files=null;

    },
    */

    submitFiles() {
      
        let formData = new FormData();
        formData.append("id_period_academic", this.periodAcademic.id);
        formData.append("doc_annexed", this.files[0]);
        formData.append("doc_class",2);
        this.createdEvidenceDocument(formData);
      
    },

  

     /**
     * @description Eliminar archivo de la base de datos  por el id
     * agregado en Correccion 28/06/2021
     */
    deleteCreatedEvidenceDocument(id) {
      const path = url + `process/portfolio/evidence_document/${id}/`;
      axios.delete(path).then(() => {
        console.log("Se elimino");
        
      });
    },

     /**
     * @description Agregar archivos cargados a la base de datos
     */
    createdEvidenceDocument(data) {
      const path = url + `process/portfolio/evidence_document/`;
     //Agregado para que se borre el documento previo almacenado al subir uno nuevo
     //Correccion 28/06/2021
     if(this.documents[0]){
        this.deleteCreatedEvidenceDocument(this.documents[0].id)
      }
      

      axios
        .post(path, data, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
          //this.getCreatedEvidenceDocument();
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });

         this.getCreatedEvidenceDocument()
    },
    
     /**
     * @description Devuelve el archivo cargado en la base de datos
     */
    getCreatedEvidenceDocument() {
      const path =
        url +
        `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademic.id}`;
      axios.get(path).then((response) => {
        console.log("documentos recibidos: ",response.data);
        let responsefilter= response.data.filter((e)=> e.doc_class==2)
        console.log("documentos recibidos: ",responsefilter);
        this.documents = responsefilter;
        this.document = [];
          if(this.documents[0]){
          this.document.push({
            name: this.documents[0].doc_annexed_filename,
            id: this.documents[0].id,
            url: this.documents[0].doc_annexed,
          });console.log("documents: ",this.document);
          }      
      });
    },


    /**
     * @description Obtiene el archivo que ha sido subido por el usuario y lo validad
     * @param {rawfile} rawfile es el archivo subido
     */
    upload(rawFile) {
      console.log("valor de subida: ",  this.$refs.excelInput.value);
     
      /*if (!this.beforeUpload) {
                this.readerData(rawFile)
                return
            }
            const before = this.beforeUpload(rawFile)
            if (before) {
                this.readerData(rawFile)
            }*/
      this.readerData(rawFile);
    },

    /**
     * @description Obtener el archivo y lee los datos que serán procesados en las tablas
     * y luego serán enviados a la base de datos
     * @param {rawfile} rawfile es el archivo .xls
     */
    readerData(rawFile) {
      this.isLoading=true
      return new Promise((resolve) => {
        const reader = new FileReader();
        reader.onload = (e) => {
          const data = e.target.result;
          const workbook = XLSX.read(data, { type: "array" });
          const firstSheetName = workbook.SheetNames[0];
          const worksheet = workbook.Sheets[firstSheetName];
          const results = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

          //Conversión a arreglo
          this.arregloExcel = [];

          for (let index = 8; index < results.length; index++) {
            let auxCui = results[index][0]; // Cui del estudiante

            if (auxCui && auxCui != "") {
              // Comprueba la existencia del cui
              let aux = {
                cui: auxCui,
                nota: results[index][1] ? results[index][1] : 0, // nota del estudiante
              };
              this.arregloExcel.push(aux);
            }
          }

          let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel));

          // Cargar los datos a la bd
          this.chargeDataToBD(arregloExcelJSON);
          
          // Añadido en correccion 28/06/2021 para validar con los alumnos matriculados antes de generar las tablas
          
          // Se envia la data al método que procesará los datos a las tablas y gráficos
         // this.chargeDataToTables(arregloExcelJSON);

          

          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
      });
    },

    /**
     * @description Se carga los datos a las tablas y grpaficas
     * @param {data} data son los datos que van a las tablas
    */
    chargeDataToTables(data) {
      if (data.length > 0) {
        this.archivoSubido = true;

        // vaciar las tablas
        this.item = [{}];
        this.field = [];

        // Subida de datos a la tabla 1: notas de los alumnos
        let abandonos = 0;
        let notamax = 0;
        let notamin = 20;
        let entre1y7 = 0;
        let entre8y10 = 0;
        let entre11y14 = 0;
        let entre15y20 = 0;
        let noAbandonos = 0;
        
        for (let index = 1; index <= data.length; index++) {
          this.field.push({
            key: `nota${index}`,
            label: `${index}`,
          });
          let notaPeriodo = data[index - 1].nota;
          this.item[0][`nota${index}`] = notaPeriodo; // nota

          //conteo de abandonos
          if (notaPeriodo == "AB") {
            abandonos++;
          } else {
            //nota máxima
            if (notaPeriodo > notamax) {
              notamax = notaPeriodo;
            }
            //nota mínima
            if (notaPeriodo < notamin) {
              notamin = notaPeriodo;
            }

            //cálculos para la tabla 3
            if (notaPeriodo >= 15) {
              entre15y20++;
            } else if (notaPeriodo >= 11) {
              entre11y14++;
            } else if (notaPeriodo >= 8) {
              entre8y10++;
            } else {
              entre1y7++;
            }
            noAbandonos++;
          }
          this.isLoading=false
        }

        // Subida de datos a la tabla 2: matriculados, abandono, notas máxima y mínima
        this.items[0].matriculados = data.length;
        this.items[0].abandono = abandonos;
        this.items[0].notamax = notamax;
        this.items[0].notamin = notamin;
        this.items[0].error = 0;

        // subida de datos a la tabla 3: resumen estadístico de alumnos
        if (noAbandonos == 0) {
          noAbandonos = 1; // para evitar disión entre 0
        }
        let datosTabla3 = [entre1y7, entre8y10, entre11y14, entre15y20];
        for (let i = 0; i <= 3; i++) {
          this.regular[i].frecuencia = datosTabla3[i];
          this.regular[i].porcentaje = (
            (datosTabla3[i] / noAbandonos) *
            100
          ).toFixed(2);
        }
        this.regular[4].frecuencia = noAbandonos;

        // subida de datos a la tabla 4 y la gráfica 1: resumen estadístico global
        let datosTabla4 = [
          abandonos,
          entre1y7,
          entre8y10,
          entre11y14,
          entre15y20,
        ];
        for (let i = 0; i <= 4; i++) {
          this.stadistic[i].cantidad = datosTabla4[i];
          this.stadistic[i].porcentajeglobal = Math.round(
            (datosTabla4[i] / data.length) * 100
          );
        }
        this.stadistic[5].cantidad = abandonos + noAbandonos;

        this.mounted();
      } else {
        this.archivoSubido = false;
      }
      this.isLoading=false
    },

    /**
     * @description Carga los datos de las notas del excel en la base de datos
     * @param {data} data son los datos ordenados del excel
     */
    async chargeDataToBD(data) {
      this.isLoading=true
      await this.getPeriodAcademic();

      //cargar notas a la base de datos

      for (const student of data) {
        let auxStudent = this.students_course_active.find(
          (st) => st.cui == student.cui
        );

        let gradeFound = false; // buscar si hay nota del alumno en este periodo académico
        auxStudent.grades_period.forEach((g) => {
          if (g.id_period_academic == this.periodAcademic.id) {
            g.grade = student.nota;
            gradeFound = true;
          }
        });

        if (!gradeFound && student.nota != "AB") {
          //si no es abandono, se registra la nota
          auxStudent.grades_period.push({
            id_period_academic: this.periodAcademic.id,
            grade: student.nota,
          });
        } else if (student.nota == "AB") {
          //si es abandono, se elimina la nota
          auxStudent.grades_period = auxStudent.grades_period.filter(
            (e) => e.id_period_academic != this.periodAcademic.id
          );
        }

        await this.updateStudent(auxStudent.id, auxStudent);
      }
     
      //console.log("estudiantes : " ,data.length, this.students_course_active.length)
      if(this.students_course_active.length < data.length){
      swal("Los datos se han registrado con éxito. algunos alumnos ingresados no estan matriculados", "", "warning", {
       
      }).then(() => {
            location.reload();
          });
      }
      else{
        this.isLoading=false
      swal("Los datos se han registrado con éxito.", "", "success", {
       
      }).then(() => {
            location.reload();
          });
      }
   
    },


    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      //return (PermissionService.findPermission(Permission.Create, Module.Portafolio));
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    viewDates(){
      if(CourseDatesService.isUserSeeEveything()){
        return;
      } 
      if(!(CourseDatesService.isUserColab() && CourseDatesService.isFourthPhase())) {
        this.$router.push("/");
      }
    }

  },

  /**
   * @description Método que se inicia cuando el componente se crea
  */
  created() {

    //this.viewDates();
    //CourseDatesService.getPortfolioDates(this.portfolioId);
  
    this.getCourseActive();
    this.mounted();
  },
};
</script>

<style lang="css" scoped>
#contenidoTabla {
  font-size: 12px;
}
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>
