<template lang="html">
  <b-container>
    <b-modal
      id="delete-workload-modal"
      ref="modal"
      :title="'Eliminar '+dataWorkload.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataWorkload} from "@/components/CriteriaSix/Workload/DataWorkload.js";

export default {
  props: ["getWorkloadList", "itemWorkload"],
  data() {
    return {
      dataWorkload: DataWorkload,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteWorkload();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-workload-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteWorkload() {
      const path = url + `process/criteria_six_workload/${this.itemWorkload.id}`;
      axios.delete(path);
      swal(DataWorkload.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$bvModal.hide('detail-workload-modal');
        this.getWorkloadList();
      });
      
    },
  },
};
</script>

<style></style>
