<template lang="html">
  <b-container>
    <b-modal
      id="detail-workload-modal"
      ref="modal"
      :title="'Detalle '+dataWorkload.data_name_two" 
      scrollable     
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Professor</strong> </h6>
        <b-row>
          <b-col sm="3">Name:</b-col>
          <b-col>{{getUserName(form.id_user)}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">School: </b-col>
          <b-col v-if="form.school!=null">{{dataWorkload.schools[form.school-1].text}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Category:</b-col>
          <b-col v-if="form.school!=null" >{{dataWorkload.categories[form.teacher_category-1].text}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Register:</b-col>
          <b-col v-if="form.school!=null">{{dataWorkload.registers[form.register-1].text}}</b-col>
        </b-row>

        <br/>
        <h6><strong>Workload</strong> </h6>
        <b-row>
          <b-col sm="3">Organization Name:</b-col>
          <b-col>{{form.organization_name}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Kind:</b-col>
          <b-col v-if="form.school!=null">{{dataWorkload.kinds[form.kind-1].text}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Name:</b-col>
          <b-col>{{form.workload_title}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Subtype:</b-col>
          <b-col v-if="form.school!=null">{{dataWorkload.subTypes[form.sub_type-1].text}}</b-col>
        </b-row>
        
        
        
        <b-row>
          <b-col sm="3">Country:</b-col>
          <b-col>{{form.country}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">City:</b-col>
          <b-col>{{form.city}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Category:</b-col>
          <b-col v-if="form.school!=null">{{dataWorkload.eventCategories[form.category-1].text}}</b-col>
        </b-row>
        <br/>
        <h6><strong>Date</strong> </h6>
        <b-row>
          <b-col sm="3">Start:</b-col>
          <b-col>{{form.date_start}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Finish:</b-col>
          <b-col>{{form.date_finish}}</b-col>
        </b-row>
        <br/>
        <h6><strong>Hours</strong> </h6>
        <b-row>
          <b-col sm="3">Theory:</b-col>
          <b-col>{{form.theory_hours}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Practical:</b-col>
          <b-col>{{form.practical_hours}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Credits:</b-col>
          <b-col>{{form.credits}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Note:</b-col>
          <b-col>{{form.note}}</b-col>
        </b-row>
        
        <div v-if="form.evidence">
          <br/>
          <h6><strong>Evidence</strong></h6>
          <b-row>
            <b-col ><b-link :href="form.doc_evidence">Link</b-link></b-col>
            
            
          </b-row>
        </div>
    
        <div v-if="form.status==3">
          <br/>
          <h6><strong>Observation</strong> </h6>
          <b-row>
            <b-col sm="3">Observation:</b-col>
            <b-col>{{form.observation}}</b-col>
          </b-row>
        </div>
      </b-form>
      <template #modal-footer="{ ok, cancel}">
        <b-button  variant="danger" @click="cancel()">
          Cancelar
        </b-button>
        <!----
        <b-button  variant="primary" @click="ok()">
          Aceptar
        </b-button>---->
        <b-button v-if="isCreator&&form.status!=1" variant="primary" v-b-modal.edit-workload-modal>
          Editar
        </b-button>
        <b-button v-if="isCreator" variant="danger" v-b-modal.delete-workload-modal>
          Eliminar
        </b-button>
        
        <b-button v-if="isResponsableCriteria&&form.status!=1" variant="primary" @click="approveWorkload()">
          Aprobar
        </b-button>
        <b-button v-if="isResponsableCriteria&&form.status==2" variant="danger" v-b-modal.observation-workload-modal>
          Rechazar
        </b-button>
      </template>
    </b-modal>

    
    <b-modal
      id="observation-workload-modal"
      ref="modal"
      :title="'Observación '+dataWorkload.data_name_two"
      scrollable
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Enviar"
      cancel-title="Cancelar">
      <b-form ref="form2" @submit="handleSubmit">
        
        <b-form-group >
          <b-form-textarea 
            id="observa"
            v-model="form.observation"
            required
            :state="inputTextStateValidation(form.observation,2,30)"
          >
          </b-form-textarea>
          <small class="msg" v-if="!onlyTextAndNumber2(form.observation)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.observation, 2, 30)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Mínimo 2 y máximo 30 caracteres
          </small>
        </b-form-group>
        
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataWorkload, ModelWorkload} from "@/components/CriteriaSix/Workload/DataWorkload.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["getWorkloadList", "itemWorkload", "isResponsableCriteria"],
  watch: {
    itemWorkload: function () {
      this.form= Object.assign({},this.itemWorkload);    
      if(this.currentUser==this.itemWorkload.id_user){
        this.isCreator=true;
      }else{
        this.isCreator=false;
      }
    },
  },
  data() {
    return {
      //permision
      canEdit:false,
      isCreator: true,
      currentUser: "",
      dataWorkload: DataWorkload,

      user_list: [],
      form: Object.assign({},ModelWorkload),
      

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },


    //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (this.obsertvationWorkloadValidation()) {
        this.denyWorkload();
      }else{
        swal("Obsevacion no enviada", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },

    /**
      * @description Verifica que se cumplan las validaciones
    */
    obsertvationWorkloadValidation() {
      const valid = this.$refs.form2.checkValidity();
      return (
        valid
      );
    },

    approveWorkload(){
      const path = url + `process/criteria_six_workload/${this.itemWorkload.id}/`;
      this.form.status=1;
      delete this.form.doc_evidence;
      let datos = new FormData();
      Object.keys(this.form).forEach(key => {
        datos.append(key, this.form[key]);
      });
      axios
        .put(path, datos)
        .then(() => {
          swal(DataWorkload.data_name_two+" aprobado", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('detail-workload-modal');
            this.getWorkloadList();
          });
        })
        .catch(() => {
          swal(DataWorkload.data_name+" no se pudo Aprobar", "", "error", {
            button: "Aceptar",
          });
        });
    },
    denyWorkload(){
      const path = url + `process/criteria_six_workload/${this.itemWorkload.id}/`;
      this.form.status=3;
     
      delete this.form.doc_evidence;
      let datos = new FormData();
      Object.keys(this.form).forEach(key => {
        datos.append(key, this.form[key]);
      });

      axios
        .put(path, datos)
        .then(() => {
          swal(DataWorkload.data_name_two+" rechazado", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('detail-workload-modal');
            this.$bvModal.hide('observation-workload-modal');
            this.getWorkloadList();
          });
        })
        .catch(() => {
          swal(DataWorkload.data_name+" no se pudo Rechazar", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    /**
     * @description Obtiene informacion de los estudiante de un curso en especifico
     */
    getUserList(idProcess) {
      const path = url + 'user/user/?id_role__id_process='+idProcess;
      axios.get(path).then((response) => {
        this.user_list = response.data;
      });
    },
    /**
     * @description Obtiene el nombre de los estudiantes
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          ///this.counter++;
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
  },

  async created() {
    this.getUserList(this.$store.getters.idProceso);
    
    this.currentUser = this.$store.getters.getId;
    
  },
};
</script>

<style lang="css" scoped></style>
