<template lang="html">
  <b-container>
    <b-modal
      id="delete-participation-modal"
      ref="modal"
      :title="'Eliminar '+dataParticipation.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataParticipation} from "@/components/CriteriaSix/Participation/DataParticipation.js";

export default {
  props: ["getParticipationList", "itemParticipation"],
  data() {
    return {
      dataParticipation: DataParticipation,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteParticipation();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-participation-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteParticipation() {
      const path = url + `process/criteria_six/professor_participation/${this.itemParticipation.id}`;
      axios.delete(path);
      swal(DataParticipation.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$bvModal.hide('detail-participation-modal');
        this.getParticipationList();
      });
      
    },
  },
};
</script>

<style></style>
