<template lang="html">

<div>
  
  <AddParticipation 
    :getParticipationList="getParticipationList"

    :user_list="user_list"
    :article_list="article_list"
    :participation_list="participation_list"
    :event_list="event_list"
  >
  </AddParticipation>
  <DetailParticipation 
    :getParticipationList="getParticipationList" 
    :itemParticipation="ParticipationSelected"
    :isResponsableCriteria="isResponsableCriteria"

    :user_list="user_list"
    :article_list="article_list"
    :participation_list="participation_list"
    :event_list="event_list"

    :getArticleName="getArticleName"
    :getEventName="getEventName"
    :getUserName="getUserName"
  >
  </DetailParticipation>
  <EditParticipation 
    :getParticipationList="getParticipationList" 
    :itemParticipation="ParticipationSelected"
    :isResponsableCriteria="isResponsableCriteria"

    :user_list="user_list"
    :article_list="article_list"
    :participation_list="participation_list"
    :event_list="event_list"
  >
  </EditParticipation>
  <DeleteParticipation 
    :getParticipationList="getParticipationList" 
    :itemParticipation="ParticipationSelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </DeleteParticipation>

  <div class="text-left" >
    <b-row class=" my-4">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap">Listado de registros</h5>
      </b-col>

      <b-col cols="auto">
        <b-dropdown text="Buscar" right menu-class="py-0 mt-2" no-caret>
          <template #button-content>
            <b-icon scale="0.9" icon="search" aria-hidden="true"></b-icon> Buscar
          </template>
          <b-row style="min-width:300px" >
            <b-col   >
              <div class="px-3 py-2 ">
                
                <b-form-group
                  label="Buscar:"
                  label-for="filterInput"
                  label-class="mb-1 mt-0"
                  label-size="sm"
                  
                  class="mb-2"
                >
                  <b-input-group size="sm">
                    <b-form-input
                   
                      v-model="filter"
                      type="search"
                      id="filterInput"
                      placeholder="Escribe para buscar"
                    ></b-form-input>
                    <b-input-group-append>
                      <b-button  :disabled="!filter" @click="filter = ''"
                        >Limpiar</b-button
                      >
                    </b-input-group-append>
                  </b-input-group>
                </b-form-group>
                <b-form-group
                  label="Ordenar por:"
                  label-class="mb-1 mt-0"
                  label-size="sm"
                  label-for="sortBySelect"
                  
                
                
                >
                    <b-input-group size="sm">
                      <b-form-select
                        v-model="sortBy"
                        id="sortBySelect"
                        :options="sortOptions"
                        class="w-75"
                      >
                        <template v-slot:first>
                          <option value="">-- Ninguno --</option>
                        </template>
                      </b-form-select>
                      <b-form-select
                        v-model="sortDesc"
                        size="sm"
                        :disabled="!sortBy"
                        class="w-25"
                      >
                        <option :value="false">Asc</option>
                        <option :value="true">Desc</option>
                      </b-form-select>
                    </b-input-group>
                  </b-form-group>
                <b-form-group
                  label="Buscar por:"
                  label-size="sm"
                  class="mb-1"
                  
                >
                  <b-form-checkbox-group v-model="filterOn"  size="sm">
                    <b-form-checkbox size="sm" label-size="sm" value="id_user">Professor</b-form-checkbox>
                    <b-form-checkbox size="sm" value="training_title">Training</b-form-checkbox>
                    <b-form-checkbox size="sm" value="date_start">Start</b-form-checkbox>
                    <b-form-checkbox size="sm" value="date_finish">Finished</b-form-checkbox>
                    <b-form-checkbox size="sm" value="status">Status</b-form-checkbox>
                  </b-form-checkbox-group>
                </b-form-group>
                
              </div>
            </b-col>
            
          </b-row>
        </b-dropdown>
        <b-button
          class="float-right ml-2"
          v-b-modal.add-participation-modal
          variant="primary"
          
        >
          <b-icon scale="1.2" icon="plus"></b-icon>
          Agregar
        </b-button>
      </b-col>
          
          
    </b-row>
  

    
    <div >
    <b-table 
     
      :busy.sync="isLoading"
      hover
      :show-empty="!isLoading"
      small
      stacked="md"
      :items="participation_list"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay registros para mostrar"
      empty-filtered-text="No hay registros para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
      
          <b-button
            size="sm"
            
            @click="detailParticipation(data.item, $event.target)"
          >
            Ver más
          </b-button>
      
      </template>
      <template #table-busy>
        <div class="mx-auto " style="width: 100px">
          <bounce-loader :color="'#2F3D57'" :size="100" class="my-2"/>
        </div>
      </template>
    </b-table>

    <b-row class="mb-4">
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
    </div>
  </div>
  </div>
</template>

<script>

import {DataParticipation} from "@/components/CriteriaSix/Participation/DataParticipation.js";

import AddParticipation from "@/components/CriteriaSix/Participation/AddParticipation";
import DetailParticipation from "@/components/CriteriaSix/Participation//DetailParticipation";
import EditParticipation from "@/components/CriteriaSix/Participation//EditParticipation";
import DeleteParticipation from "@/components/CriteriaSix/Participation//DeleteParticipation";



export default {
  components:{
    AddParticipation,
    DetailParticipation,
    EditParticipation,
    DeleteParticipation
  },
  props: [
    "isResponsableCriteria",

    "getParticipationList",

    "getArticleName",
    "getEventName",
    "getUserName",

    "user_list",
    "article_list",
    "participation_list",
    "event_list",

    "isLoading"
  ],
  data() {
    return {
      ParticipationSelected:{},


      dataParticipation: DataParticipation,
 


     
    
      fields: [
       {
          key: "id_user",
          label: "Professor",
          formatter: (value) => {
            return this.getUserName(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
       {
          key: "school",
          label: "School",
          formatter: (value) => {
            return DataParticipation.schools[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "id_event",
          label: "Event",
          sortable: true,
          formatter: (value) => {
            return this.getEventName(value);
          },
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
            
          key: "source",
          label: "Source",
          formatter: (value) => {
            return DataParticipation.source[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,

        },
        {
            
          key: "status",
          label: "Status",
          formatter: (value) => {
            return DataParticipation.status[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,

        },
        {
          key: "actions",
          label: "Acción",
          //   class: "text-center"
        },
      ],
     
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "id_user",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["id_user"],
    };
  },
  computed: {

    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  methods: {
    /**
     * @description Abre el modal de detalle
     */
    detailParticipation(participation, button) {
      this.ParticipationSelected = participation;
      this.$root.$emit("bv::show::modal", "detail-participation-modal", button);
    },
    
    /**
     * @description filtro de la tabla
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    

  },
  async created() {
   
    await this.getParticipationList();
  
  },
  beforeUpdate() {
    this.totalRows = this.participation_list.length;
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 150px;
}
</style>
