<template lang="html">

<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <addAcademicFridays></addAcademicFridays>
  <div class="text-left" v-if="!isLoading">
    <b-row class="my-3 mt-4 pt-2">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap my-0">Listado de Student Evaluation</h5>
      </b-col>

      <b-col class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch ml-3">
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>


        
      </b-col>
          
          
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
      </b-row>
    </b-collapse>
    <br />

  </div>
  </div>
</template>

<script>
import axios from "axios";
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  
  data() {
    return {
      counter:0,
      isLoading: true,
      userPermissions: this.$store.getters.getPermisos,
      events: [],
      user: [],
      roles: "",
      process: "",
      fields: [
        {
          key: "number",
          label: "Nº",
          sortable: true,
          sortDirection: "desc",
        },
       {
          key: "professor",
          label: "Professor",
          sortable: true,
          sortDirection: "desc",
        },
       {
          key: "school",
          label: "School",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "event",
          label: "Event",
          sortable: true,
          //class: "text-center",
        },
        {
          key: "dateStart",
          label: "Date Start",
          // class: "text-center",
          formatter: (value) => {
            return this.getNameOfRole(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
          key: "dateFinished",
          label: "Date Finished",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          // class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
            
          key: "status",
          label: "Status",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,

        },
        {
          key: "actions",
          label: "Acción",
          //   class: "text-center"
        },
      ],
     
      totalRows: 1,
      currentPage: 1,
      perPage: 15,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["first_name"],
    };
  },
  watcher:{
    counter(){
      if(this.counter==4)
        this.isLoading=false
      else
        this.isLoading=true
    }
  },
  computed: {

    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  async created() {
    await PermissionService.setUserActive();
    this.viewPermission();
    console.log(this.isLoading)
    this.isLoading=false
    console.log("created::LisEvents");
    this.counter++
  },
  async mounted() {
    this.user = await AuthService.getUser();
    this.getEvents();
    this.getDocentes();
    this.getProcess();
    console.log("mounted::ListUser");
    this.counter++
  },

  beforeUpdate() {
    this.totalRows = this.events.length;
  },

  methods: {
    getEventxDocente() {
      //api/user/user/?id_role__id_process=1
      const path = url + "criteriaSix/events/?idDocente=" + this.user.id;
      axios
        .get(path)
        .then((response) => {
          this.events = response.data;
         
          console.log(this.events);
        })
        .catch((error) => {
          console.log(error);
        }).finally(()=>this.counter++);
    },

    /**
     * @description Obtiene todos los usuarios registrados en la BD
     */
    getEvents() {
       // const path = url + `criteriaSix/events/`;
         const path =
          url + `criteriaSix/events/?idProcess=${this.user.role.id_process}`;
        axios
          .get(path)
          .then((response) => {
            this.events = response.data;
          
            console.log(this.events);
          })
          .catch((error) => {
            console.log(error);
          }).finally(()=>this.counter++);
      
    },
    /**
     * @description Obtiene todos los roles registrados en la BD
     */
    getRoles() {
      const path = url + `user/role/`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });
    },
    /**
     * @description Metodo para obtener los procesos
     */
    getProcess() {
      const path = url + `process/process/`;
      axios.get(path).then((response) => {
        this.process = response.data;
      });
    },
    /**
     * @description Metodo para obtener el nombre de un rol mediante su id
     */
    getNameOfRole(id) {
      for (var i = 0; i < this.roles.length; i++) {
        if (this.roles[i].id == id) {
          for (var j = 0; j < this.process.length; j++) {
            if (this.process[j].id == this.roles[i].id_process) {
              return this.roles[i].name + " de " + this.process[j].name;
            }
          }
        }
      }
      return;
    },
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    /**
     * @description Obtiene los permisos del usuario logueado
     */

    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        this.getEvents();
        return true;
      }
      
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        this.getUsersxProcess(this.$store.getters.idProceso);
        return true;
      }
      this.getUsersxProcess(this.$store.getters.idProceso);
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disabledPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
