<template>
  <b-container class="py-5">
    <b-button
      class="float-right"
      v-b-modal.add-averageDocument-modal
      variant="outline-primary"
      v-if="createPermission()"
    >
      <b-icon icon="plus"></b-icon>
      Agregar
    </b-button>
    <AddAverageDocument></AddAverageDocument>
    <br />
    <br />
    <br />
    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="averages"
      :fields="fields"
      class="ltable"
      empty-text="No hay documentos para mostrar"
      empty-filtered-text="No hay documentos que considan con la búsqueda"
    >
      <template v-slot:cell(doc_annexed)="data">
        <a :href="`${data.item.doc_annexed}`">
          {{
            data.item.doc_annexed_filename
          }}
        </a>
      </template>
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-row>
            <b-col sm="6">
              <b-button
                size="sm"
                variant="danger"
                class="d-inline-block"
                @click="infoDelete(data.item.id, $event.target)"
                v-if="deletePermission()"
              >
                <b-icon icon="trash"></b-icon>
              </b-button>
            </b-col>
          </b-row>
        </b-container>
      </template>
    </b-table>
    <b-modal
      :id="deleteModal.id"
      :title="deleteModal.title"
      @ok="handleDeleteOk"
      ok-title="Eliminar"
      cancel-title="Cancelar"
    >
      ¿Está seguro que desea eliminar este documento de promedio?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import AddAverageDocument from "@/components/ReportAverage/AddAverageDocument";

import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    AddAverageDocument,
  },

  data() {
    return {
      courseId: this.$route.params.courseId,
      averages: [],
      periodAcademic: [],
      fields: [
        {
          key: "doc_annexed",
          label: "Documento",
          class: "text-left",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
          class: "text-left",
        },
      ],

      deleteModal: {
        id: "delete-modal",
        title: "",
        average_id: "",
      },
    };
  },

  methods: {

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Llama al metodo de addAverageDocument para agregar un documento y minimizar el modal
     */
    handleSubmit() {
      this.addAverageDocument;
      this.$nextTick(() => {
        this.$bvModal.hide("add-academicAdvisory-modal");
      });
    },

    /**
     * @description Obtiene informacion de los periodos academicos de un curso en especifico
     */
    getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.courseId}`;
      axios
        .get(path)
        .then((response) => {
          var periodsAcademics = response.data;
          this.periodAcademic = periodsAcademics.find((i) => i.period === 4);
          this.getAverages();
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtiene informacion de los promedios/documento de un periodo en especifico
     */
    getAverages() {
      const path =
        url +
        `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademic.id}`;
      axios
        .get(path)
        .then((response) => {
          this.averages = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Elimina una archivo en especifico
     * Llama al metodo getPeriodAcademic para actualizar la tabla de archivo
     */
    deleteAverage() {
      const path =
        url +
        `process/portfolio/evidence_document/${this.deleteModal.average_id}`;
      axios.delete(path);
      swal("Archivo Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.getPeriodAcademic();
      });
    },

    /**
     * @description Asigna los valores del parametro del metodo a la variable deleteModal para luegar generar el modal de eliminar
     * @param {Object} itemID Contiene el id del archivo seleccionado
     * @param {event} button Evento del boton presionado
     * @return {boolean}
     */
    infoDelete(itemID, button) {
      this.deleteModal.title = `Eliminar Promedio`;
      this.deleteModal.average_id = itemID;
      this.$root.$emit("bv::show::modal", this.deleteModal.id, button);
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal de eliminar para confirmar la accion de eliminar el archivo seleccionada
     */
    handleDeleteOk() {
      this.deleteAverage();
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      //return (PermissionService.findPermission(Permission.Create, Module.Portafolio));
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {

      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },

  },
  created() {
    this.getPeriodAcademic();
  },
};
</script>
