<template lang="html">
  <b-container>
    <b-modal
      id="delete-competence-modal"
      ref="modal"
      title="Eliminar Competencia"
      @ok="ok"
      cancel-title="Cancelar"
      ok-title="Aceptar"
    >
      ¿Está seguro que quiere eliminar la Competencia
      {{ this.CompetenceInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["CompetenceInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteCompetence();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-competence-modal");
      });
    },

    /**
     * @description Elimina una competencia en especifico
     */
    deleteCompetence() {
      const path =
        url + `process/portfolio/competence/${this.CompetenceInfo.id}`;
      axios.delete(path);
      swal("Competencia Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$router.push({
          name: "ListCompetence",
        });
      });
    },
  },
};
</script>

<style></style>
