<template lang="html">
  <div class="container ">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button class="mr-4" :to="{ name: 'ListCompetence' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <br />
      <div class="col-12">
        <h3>Detalles de la Competencia</h3>
      </div>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ competence.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Descripción:</b-col>
            <b-col sm="9">{{ competence.description }}</b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3" v-if="editPermission()">
          <b-button
            variant="secondary"
            :to="{
              name: 'EditCompetence',
              params: { competenceId: competence.id },
            }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar Competencias
          </b-button>
        </div>
        <div v-if="disablePermission()">
          <div class="text-right float-right ml-3">
            <b-button
              v-if="this.competence.status"
              v-b-modal.deactivate-competence-modal
              variant="warning"
            >
              <b-icon icon="x-circle"></b-icon>
              Desactivar Competencia
            </b-button>
            <DeactivateCompetence
              :CompetenceInfo="competence"
            ></DeactivateCompetence>
          </div>
          <div class="text-right float-right ml-3">
            <b-button
              v-if="!this.competence.status"
              v-b-modal.activate-competence-modal
              variant="success"
            >
              <b-icon icon="check-circle"></b-icon>
              Activar Competencia
            </b-button>
            <ActivateCompetence :CompetenceInfo="competence"></ActivateCompetence>
          </div>
        </div>
        <div class="text-right float-right ml-3" v-if="deletePermission()">
          <b-button v-b-modal.delete-competence-modal variant="danger">
            <b-icon icon="trash"></b-icon>
            Borrar Competencia
          </b-button>
          <DeleteCompetence :CompetenceInfo="competence"></DeleteCompetence>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import DeleteCompetence from "@/components/Competence/DeleteCompetence";
import DeactivateCompetence from "@/components/Competence/DeactivateCompetence";
import ActivateCompetence from "@/components/Competence/ActivateCompetence";
const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    DeleteCompetence,
    DeactivateCompetence,
    ActivateCompetence,
  },
  data() {
    return {
      competenceId: this.$route.params.competenceId,
      competence: [],
    };
  },
  methods: {
    /**
     * @description Obtiene la informacion de una competencias en especifico
     */
    getCompetence() {
      const path = url + `process/portfolio/competence/${this.competenceId}/`;
      axios
        .get(path)
        .then((response) => {
          this.competence = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },	
    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disablePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  computed: {},
  created() {
    PermissionService.setUserActive();

    this.viewPermission();
    this.getCompetence();
  },
};
</script>

<style lang="css" scoped></style>
