<template lang="html">
<div class="container">
  <div class='row'>
    <div class="col-12 text-left mt-4">
      <b-button class="mr-4" :to="{ name: 'DetailCompetence' }">
        <b-icon icon="arrow-left"></b-icon>
        &nbsp;Atrás
      </b-button>
    </div>
  </div>
  <h4 class="text-center mb-4">Editar Competencia</h4>

  <b-card class="mb-3 ">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-row class="text-center mb-3">
        <b-col sm="12">
          <b-row class="text-left mb-1">
            <b-col sm="6">
              <strong class='mb-3 d-block'>Nombre:</strong>
              <b-form-group>
                <b-form-input
                  id="input-1"
                  type="text"
                  v-model="form.name"
                  :formatter="forceLowerCase"
                  required
                  :state="competenceStateNameValidation()"></b-form-input>
                <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
                  <b-icon
                    icon="exclamation-circle"
                    variant="warning"></b-icon>
                  &nbsp; No es un caracter válido
                  <br />
                </small>
                <small class="msg" v-if="!textSize(form.name, 2, 32)">
                  <b-icon
                    icon="exclamation-circle"
                    variant="warning"></b-icon>
                  &nbsp; Mínimo 2 y máximo 32 caracteres
                </small>
              </b-form-group>
            </b-col>

            <b-col sm="6">
              <strong class='mb-3 d-block'>Descripcion:</strong>

              <b-form-group>
                <b-form-textarea
                  id="input-2"
                  type="text"
                  rows='5'
                  name="description"
                  v-model.trim="form.description"
                  :formatter="forceLowerCase"
                  :state="competenceStateDescriptionValidation()"></b-form-textarea>
                <small
                  class="msg"
                  v-if="!onlyTextAndNumber2(form.description)">
                  <b-icon
                    icon="exclamation-circle"
                    variant="warning"></b-icon>
                  &nbsp; No es un caracter válido
                  <br />
                </small>
                <small
                  class="msg"
                  v-if="
                      !textEmpty(form.description) &&
                      !textSize(form.description, 1, 320)
                    ">
                  <b-icon
                    icon="exclamation-circle"
                    variant="warning"></b-icon>
                  &nbsp; Mínimo 1 caracteres y Máximo 320 caracteres
                </small>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row class="py-4">
        <div class="col-12">
          <div class="text-right float-right ml-3">
            <b-button type="submit" variant="secondary">Guardar</b-button>
          </div>
          <div class="text-right float-right ml-3">
            <b-button type="reset" variant="danger">Reiniciar</b-button>
          </div>
        </div>
      </b-row>
    </b-form>
  </b-card>
</div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      competenceId: this.$route.params.competenceId,
      competence: [],

      form: {
        name: "",
        description: "",
        status: true,
        id_resource: this.$route.params.studyPlanId,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 .,;:]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego editar la competencia
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editCompetenceValidation()) {
        this.editCompetence();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },

    /**
     * @description Edita una competencia en especifico
     */
    editCompetence() {
      const path = url + `process/portfolio/competence/${this.competenceId}/`;

      axios
        .put(path, this.form)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
          swal("Competencia Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "DetailCompetence",
            });
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_resource, name deben formar un conjunto único.",
              "Ya existe una competencia con ese nombre."
            )
          );

          swal(
            "No se creó la competencia",
            this.errorsList.join("\n"),
            "error",
            {
              button: "Aceptar",
            }
          );
        });
    },

    /**
     * @description Obtiene la informacion de una competencias en especifico
     * @return {competence}
     */
    getCompetence() {
      const path = url + `process/portfolio/competence/${this.competenceId}/`;
      axios
        .get(path)
        .then((response) => {
          this.form.name = response.data.name;
          this.form.description = response.data.description;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre y descripcion
     */
    editCompetenceValidation() {
      return (
        this.competenceNameValidation() &&
        this.competenceStateDescriptionValidation()
      );
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.name = "";
      this.form.description = "";
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    competenceStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.competenceNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    competenceNameValidation() {
      return (
        this.textSize(this.form.name, 2, 32) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de la descripcion
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    competenceStateDescriptionValidation() {
      if (this.textEmpty(this.form.description)) {
        return new Boolean(null);
      }
      return this.competenceDescriptionValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    competenceDescriptionValidation() {
      return (
        this.textSize(this.form.description, 1, 320) &&
        this.onlyTextAndNumber2(this.form.description)
      );
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();

    this.getCompetence();
  },

  computed: {},
};
</script>
