<template lang="html">
  <b-container id="custom-css">
    <b-row>
      
      <b-col cols="12" class="px-4">
        <h3 class="text-left py-3">Competencias</h3>
      </b-col>
      <b-col class="col-12 my-1 text-left">
        <b-button :to="{ name: 'DetailStudyPlan' }">
          <b-icon icon="arrow-left"></b-icon>
          &nbsp;Atrás
        </b-button>
      </b-col>
      <b-col> 
        <h4 class="text-left py-3">Perfil de Egresado</h4>
      </b-col>
      
    </b-row>
    <b-row>
      <b-col cols="12 " class="px-4">
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{ name: 'ListCompetence' }"
                exact
                exact-active-class="active"
                v-if="listPermission()"
                >Lista</b-nav-item
              >
              <b-nav-item
                :to="{ name: 'NewCompetence' }"
                exact
                exact-active-class="active"
                v-if="createPermission()"
                >Agregar</b-nav-item
              >
            </b-nav>
          </div>
          <div>
            <router-view></router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
    };
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
            Permission.View,
            Module.Portafolio
          ) ||
          PermissionService.findPermission(Permission.Create, Module.Portafolio)  ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }
       
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {


      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
        Permission.Create,
        Module.Portafolio)  ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */

    listPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
        Permission.View,
        Module.Portafolio)  ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }
      return false;
    },
  },

  created() {
    PermissionService.setUserActive();

    this.viewPermission();
  },
};
</script>

<style lang="css" scoped></style>
