<template lang="html">
  <b-container>
    <b-modal
      id="delete-role-modal"
      ref="modal"
      title="Eliminar Rol"
      @ok="ok"
      cancel-title="Cancelar"
      ok-title="Eliminar"
    >
      Estas seguro que quiere eliminar el rol:
      <p class="text-center">
        {{ this.Roleinfo.name }}
      </p>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
export default {
  props: ["Roleinfo"],
  data() {
    return {
      role: {},
    };
  },
  methods: {
    /**
     * @description Llamar al metodo de eliminar rol y minimizar el modal
     */
    ok(evt) {
      evt.preventDefault();
      this.deleteRole();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-role-modal");
      });
    },
    /**
     * @description Elimina de manera fisica el rol seleccionado
     */
    deleteRole() {
      const path = url + `user/role/${this.Roleinfo.id}`;
      axios.delete(path);
      swal("Rol Eliminado de manera exito", "", "success", {
        button: "Aceptar",
      }).then(() => {
        location.reload();
      });
    },
  },
};
</script>

<style lang="css" scoped></style>
