<template lang="html">
  <div class="text-left">
    <b-row class="my-1 py-1">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap my-0">Permisos de roles</h5>
      </b-col>
    </b-row>
    <b-card class="text-left">
      <b-row v-if="this.$store.getters.isSuperadmin">
        <b-col cols="2">
          Proceso:
        </b-col>
        <br /><br />
        <b-col cols="3">
          <b-form-select
            v-model="processSelected"
            required
            @change="getRoles"
            id="input-1"
            ><b-form-select-option :value="null" disabled
              >Seleccione un proceso</b-form-select-option
            >
            <b-form-select-option
              v-for="(processSelected, id) in process"
              :key="id"
              :value="processSelected"
            >
              {{ processSelected.name }}
            </b-form-select-option>
          </b-form-select>
        </b-col>
      </b-row>
      <b-row>
        <b-col cols="2">
          Rol:
        </b-col>
        <b-col cols="3">
          <b-form-select
            v-model="roleSelected"
            @change="getPermissions"
            required
            id="input-1"
            ><b-form-select-option :value="null" disabled
              >Seleccione un rol</b-form-select-option
            >
            <b-form-select-option
              v-for="(roleSelected, id) in roles"
              :key="id"
              :value="roleSelected"
            >
              {{ roleSelected.name }}
            </b-form-select-option>
          </b-form-select>
        </b-col>
        <br />
        <b-col md="auto">
          <b-button
            v-b-modal.edit-role-modal
            variant="secondary"
            v-if="editPermission()"
            :disabled="disabled.edit"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar nombre
          </b-button>
          <EditRole :Roleinfo="roleSelected"></EditRole>
        </b-col>
        <b-col md="auto">
          <b-button
            v-b-modal.add-role-modal
            variant="success"
            v-if="createPermission()"
            :disabled="disabled.add"
          >
            <b-icon icon="plus"></b-icon>
            Agregar rol
          </b-button>
          <CreateRole :process="processSelected"></CreateRole>
        </b-col>
        <b-col md="auto">
          <b-button
            v-b-modal.delete-role-modal
            variant="danger"
            v-if="deletePermission()"
            :disabled="disabled.delete"
          >
            <b-icon icon="trash"></b-icon>
            Eliminar rol</b-button
          >
          <DeleteRole :Roleinfo="roleSelected"></DeleteRole>
        </b-col>
      </b-row>
      <br />
      <b-card>
        <b-row class="py-2">
          <b-col cols="3" class="text-left">Roles:</b-col>
          <b-col cols="8">
            <b-form-checkbox-group
              id="checkbox-group-1"
              btn-variant="secondary"
              v-model="permisoSelected"
              :options="permisosRoles"
              name="flavour-1"
              switches
            ></b-form-checkbox-group>
          </b-col>
        </b-row>
        <b-row class="py-2">
          <b-col cols="3" class="text-left">Usuarios:</b-col>
          <b-col cols="8">
            <b-form-checkbox-group
              id="checkbox-group-2"
              v-model="permisoSelected"
              :options="permisosUsuarios"
              name="flavour-2"
              switches
            ></b-form-checkbox-group>
          </b-col>
        </b-row>
        <b-row class="py-2">
          <b-col cols="3" class="text-left">Fases:</b-col>
          <b-col cols="8">
            <b-form-checkbox-group
              id="checkbox-group-3"
              v-model="permisoSelected"
              :options="permisosFases"
              name="flavour-3"
              switches
            ></b-form-checkbox-group>
          </b-col>
        </b-row>
        <b-row class="py-2">
          <b-col cols="3" class="text-left">Portafolio:</b-col>
          <b-col cols="8">
            <b-form-checkbox-group
              id="checkbox-group-4"
              v-model="permisoSelected"
              :options="permisosPortafolio"
              name="flavour-4"
              switches
            ></b-form-checkbox-group>
          </b-col>
        </b-row>
      </b-card>

      <b-container>
        <b-form @submit="onSubmit" @reset="onReset" v-if="editPermission()">
          <div class="text-right float-right ml-3">
            <b-button
              type="submit"
              variant="secondary"
              :disabled="disabled.edit"
            >
              <b-icon icon="wallet2"></b-icon>&nbsp;Guardar
            </b-button>
          </div>
          <div class="text-right float-right ml-3">
            <b-button type="reset" variant="danger" :disabled="disabled.edit">
              <b-icon icon="x"></b-icon>
              Reiniciar
            </b-button>
          </div>
        </b-form>
      </b-container>
    </b-card>
  </div>
</template>

<script>
import CreateRole from "@/components/Roles/CreateRole";
import EditRole from "@/components/Roles/EditRole";
import DeleteRole from "@/components/Roles/DeleteRole";
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";

export default {
  components: {
    CreateRole,
    EditRole,
    DeleteRole,
  },
  data() {
    return {
      processSelected: "null",
      permisoSelected: [],
      process: [],
      roles: [],
      user: [],
      permissionsSave: [],
      permissions: [],
      roleSelected: "null",
      permisosRoles: [
        { text: "Crear", value: 0, disabled: true },
        { text: "Ver", value: 1, disabled: true },
        { text: "Editar", value: 2, disabled: true },
        { text: "Eliminar", value: 3, disabled: true },
        { text: "Desactivar", value: 4, disabled: true },
      ],
      permisosUsuarios: [
        { text: "Crear", value: 5, disabled: true },
        { text: "Ver", value: 6, disabled: true },
        { text: "Editar", value: 7, disabled: true },
        { text: "Eliminar", value: 8, disabled: true },
        { text: "Desactivar", value: 9, disabled: true },
      ],
      permisosFases: [
        { text: "Crear", value: 10, disabled: true },
        { text: "Ver", value: 11, disabled: true },
        { text: "Editar", value: 12, disabled: true },
        { text: "Eliminar", value: 13, disabled: true },
        { text: "Desactivar", value: 14, disabled: true },
      ],
      permisosPortafolio: [
        { text: "Crear", value: 15, disabled: true },
        { text: "Ver", value: 16, disabled: true },
        { text: "Editar", value: 17, disabled: true },
        { text: "Eliminar", value: 18, disabled: true },
        { text: "Desactivar", value: 19, disabled: true },
      ],

      disabled: {
        edit: true,
        add: true,
        delete: true,
      },
    };
  },
  methods: {
    deshabilitarPermisosRoles() {
      if (this.permisoSelected.includes(1)) {
        this.permisosRoles[0].disabled = false;
        this.permisosRoles[2].disabled = false;
        this.permisosRoles[3].disabled = false;
        this.permisosRoles[4].disabled = false;
      } else {
        this.permisosRoles[0].disabled = true;
        this.permisosRoles[2].disabled = true;
        this.permisosRoles[3].disabled = true;
        this.permisosRoles[4].disabled = true;
        if (this.permisoSelected.includes(0)) {
          var r0 = this.permisoSelected.indexOf(0);
          this.permisoSelected.splice(r0, 1);
        }
        if (this.permisoSelected.includes(2)) {
          var r1 = this.permisoSelected.indexOf(2);
          this.permisoSelected.splice(r1, 1);
        }
        if (this.permisoSelected.includes(3)) {
          var r3 = this.permisoSelected.indexOf(3);
          this.permisoSelected.splice(r3, 1);
        }
        if (this.permisoSelected.includes(4)) {
          var r4 = this.permisoSelected.indexOf(4);
          this.permisoSelected.splice(r4, 1);
        }
      }
    },
    deshabilitarPermisosUsuarios() {
      if (this.permisoSelected.includes(6)) {
        this.permisosUsuarios[0].disabled = false;
        this.permisosUsuarios[2].disabled = false;
        this.permisosUsuarios[3].disabled = false;
        this.permisosUsuarios[4].disabled = false;
      } else {
        this.permisosUsuarios[0].disabled = true;
        this.permisosUsuarios[2].disabled = true;
        this.permisosUsuarios[3].disabled = true;
        this.permisosUsuarios[4].disabled = true;
        if (this.permisoSelected.includes(5)) {
          var r0 = this.permisoSelected.indexOf(5);
          this.permisoSelected.splice(r0, 1);
        }
        if (this.permisoSelected.includes(7)) {
          var r1 = this.permisoSelected.indexOf(7);
          this.permisoSelected.splice(r1, 1);
        }
        if (this.permisoSelected.includes(8)) {
          var r3 = this.permisoSelected.indexOf(8);
          this.permisoSelected.splice(r3, 1);
        }
        if (this.permisoSelected.includes(9)) {
          var r4 = this.permisoSelected.indexOf(9);
          this.permisoSelected.splice(r4, 1);
        }
      }
    },
    deshabilitarPermisosFases() {
      if (this.permisoSelected.includes(11)) {
        this.permisosFases[0].disabled = false;
        this.permisosFases[2].disabled = false;
        this.permisosFases[3].disabled = false;
        this.permisosFases[4].disabled = false;
      } else {
        this.permisosFases[0].disabled = true;
        this.permisosFases[2].disabled = true;
        this.permisosFases[3].disabled = true;
        this.permisosFases[4].disabled = true;
        if (this.permisoSelected.includes(10)) {
          var r0 = this.permisoSelected.indexOf(10);
          this.permisoSelected.splice(r0, 1);
        }
        if (this.permisoSelected.includes(12)) {
          var r1 = this.permisoSelected.indexOf(12);
          this.permisoSelected.splice(r1, 1);
        }
        if (this.permisoSelected.includes(13)) {
          var r3 = this.permisoSelected.indexOf(13);
          this.permisoSelected.splice(r3, 1);
        }
        if (this.permisoSelected.includes(14)) {
          var r4 = this.permisoSelected.indexOf(14);
          this.permisoSelected.splice(r4, 1);
        }
      }
    },
    deshabilitarPermisosPortafolio() {
      if (this.permisoSelected.includes(16)) {
        this.permisosPortafolio[0].disabled = false;
        this.permisosPortafolio[2].disabled = false;
        this.permisosPortafolio[3].disabled = false;
        this.permisosPortafolio[4].disabled = false;
      } else {
        this.permisosPortafolio[0].disabled = true;
        this.permisosPortafolio[2].disabled = true;
        this.permisosPortafolio[3].disabled = true;
        this.permisosPortafolio[4].disabled = true;
        if (this.permisoSelected.includes(15)) {
          var r0 = this.permisoSelected.indexOf(15);
          this.permisoSelected.splice(r0, 1);
        }
        if (this.permisoSelected.includes(17)) {
          var r1 = this.permisoSelected.indexOf(17);
          this.permisoSelected.splice(r1, 1);
        }
        if (this.permisoSelected.includes(18)) {
          var r3 = this.permisoSelected.indexOf(18);
          this.permisoSelected.splice(r3, 1);
        }
        if (this.permisoSelected.includes(19)) {
          var r4 = this.permisoSelected.indexOf(19);
          this.permisoSelected.splice(r4, 1);
        }
      }
    },

    /**
     * @description Obtiene los roles pertenecientes a un proceso seleccionado
     * @return {roles}
     */
    getRoles() {
      this.roleSelected = "null";
      const path = url + `user/role/?id_process=${this.processSelected.id}`;
      axios.get(path).then((response) => {
        this.roles = response.data;
      });

      this.disabled.add = false;
      this.disabled.edit = true;
      this.disabled.delete = true;
    },
    getRol() {
      this.roleSelected = "null";
      console.log(this.user.role.id_process);
      const path = url + `user/role/?id_process=${this.user.role.id_process}`;
      axios.get(path).then((response) => {
        this.roles = response.data;
        console.log(this.roles);
      });

      this.disabled.add = false;
      this.disabled.edit = true;
      this.disabled.delete = true;
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.editRole();
    },
    onReset(evt) {
      evt.preventDefault();
      this.updateSelects();
    },
    /**
     * @description Obtiene todos los procesos cuando se es superadmin
     * @return {process}
     */
    getSuperProcess() {
      const path = url + `process/process/`;
      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Obtiene los permisos de un rol especifico
     * @return {permissions}
     */
    getPermissions() {
      this.habilitarPermisos();
      const path = url + `user/role/${this.roleSelected.id}`;
      axios.get(path).then((response) => {
        this.permissions = response.data.permissions;
        this.updateSelects();
      });
    },
    habilitarPermisos() {
      this.permisosRoles[0].disabled = false;
      this.permisosRoles[1].disabled = false;
      this.permisosRoles[2].disabled = false;
      this.permisosRoles[3].disabled = false;
      this.permisosRoles[4].disabled = false;
      this.permisosUsuarios[0].disabled = false;
      this.permisosUsuarios[1].disabled = false;
      this.permisosUsuarios[2].disabled = false;
      this.permisosUsuarios[3].disabled = false;
      this.permisosUsuarios[4].disabled = false;
      this.permisosFases[0].disabled = false;
      this.permisosFases[1].disabled = false;
      this.permisosFases[2].disabled = false;
      this.permisosFases[3].disabled = false;
      this.permisosFases[4].disabled = false;
      this.permisosPortafolio[0].disabled = false;
      this.permisosPortafolio[1].disabled = false;
      this.permisosPortafolio[2].disabled = false;
      this.permisosPortafolio[3].disabled = false;
      this.permisosPortafolio[4].disabled = false;
    },

    /**
      * @description Metodo que actualiza los selects de los permisos
    */
    updateSelects() {
      this.permisoSelected = [];
      for (var i = 0; i < this.permissions.length; i++) {
        this.permisoSelected.push(
          this.permissions[i].module * 5 + this.permissions[i].permission
        );
      }
      this.deshabilitarPermisosUsuarios();
      this.deshabilitarPermisosRoles();
      this.deshabilitarPermisosFases();
      this.deshabilitarPermisosPortafolio();
    },
    updatePermisos() {
      for (var i = 0; i < this.permisoSelected.length; i++) {
        if (
          this.permisoSelected[i] == 0 ||
          this.permisoSelected[i] == 1 ||
          this.permisoSelected[i] == 2 ||
          this.permisoSelected[i] == 3 ||
          this.permisoSelected[i] == 4
        ) {
          this.permissionsSave.push({
            permission: this.permisoSelected[i],
            module: 0,
          });
        }
        if (
          this.permisoSelected[i] == 5 ||
          this.permisoSelected[i] == 6 ||
          this.permisoSelected[i] == 7 ||
          this.permisoSelected[i] == 8 ||
          this.permisoSelected[i] == 9
        ) {
          this.permissionsSave.push({
            permission: this.permisoSelected[i] % 5,
            module: 1,
          });
        }
        if (
          this.permisoSelected[i] == 10 ||
          this.permisoSelected[i] == 11 ||
          this.permisoSelected[i] == 12 ||
          this.permisoSelected[i] == 13 ||
          this.permisoSelected[i] == 14
        ) {
          this.permissionsSave.push({
            permission: this.permisoSelected[i] % 10,
            module: 2,
          });
        }
        if (
          this.permisoSelected[i] == 15 ||
          this.permisoSelected[i] == 16 ||
          this.permisoSelected[i] == 17 ||
          this.permisoSelected[i] == 18 ||
          this.permisoSelected[i] == 19
        ) {
          this.permissionsSave.push({
            permission: this.permisoSelected[i] % 15,
            module: 3,
          });
        }
      }
    },
    /**
     * @description Metodo para asignarle aun rol los permisos dependiendo del modulo seleccionado
     */
    async editRole() {
      await this.updatePermisos();
      const datos = {
        name: this.roleSelected.name,
        id_process: this.processSelected.id,
        permissions: this.permissionsSave,
      };
      const path = url + `user/role/${this.roleSelected.id}/`;
      axios
        .put(path, datos)
        .then(() => {
          swal("Permisos asignados de manera exitosa", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.detail.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace("No encontrado.", "No se selecciono un rol.")
          );
          swal(
            "Error al asignar permisos",
            this.errorsList.join("\n"),
            "error",
            {
              button: "Aceptar",
            }
          );
        });
    },

    disabledButtonsFromRoleSelected() {
      if (this.roleSelected != "null") {
        this.disabled.edit = false;
        this.disabled.delete = false;
      } else {
        this.disabled.edit = true;
        this.disabled.delete = true;
      }
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Roles)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Roles)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Roles)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Roles)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Roles)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
  },
  /**
   * @description Metdo que se ejecuta al inicar la vista y verifica si el usuario es superadministrdor o no
   * @return {process}
   */
  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.user = await AuthService.getUser();
    console.log(this.user);
    if (this.user.superadmin == true) {
      this.getSuperProcess();
    } else {
      this.getRol();
    }
  },
  updated() {
    this.deshabilitarPermisosRoles();
    this.deshabilitarPermisosUsuarios();
    this.deshabilitarPermisosFases();
    this.deshabilitarPermisosPortafolio();

    this.disabledButtonsFromRoleSelected();
  },
};
</script>

<style lang="css" scoped></style>
