<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <div class="container" v-if="!isLoading">
    <h3 class=" text-left my-4 ">Nueva Evidencia</h3>

    <b-card class="mb-3 text-left">
      <b-form @submit="onSubmit" @reset="onReset">
         <b-row class="text-left mb-3" align-v="center">
          <b-col sm="3">Evidencia:</b-col>
          <b-col sm="9">
            <b-form-file
              id="evidence"
              v-model="form.doc_annexed"
              accept=".pdf"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí...">
            </b-form-file>
            <div class="mt-3">
              Archivo seleccionado: {{ form.doc_annexed ? form.doc_annexed.name : "" }}
            </div>
          </b-col>
        </b-row>
        <b-row class="text-left mb-3" align-v="center">
          <b-col sm="3">Año:</b-col>
          <b-col sm="9">
            <div>
              <b-form-input
                required
                type="number"
                v-model="form.year"
                :state="yearStateValidation()"
                placeholder="Ingrese Año"
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(form.year)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(form.year, 2000, 2050)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; El año tiene que estar dentro del rango de 2000 y 2050
              </small>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button type="submit" variant="secondary" class="float-right ml-3"
              ><b-icon icon="wallet2"></b-icon>&nbsp;Guardar</b-button>
            <b-button
              type="reset"
              variant="danger"
              class="btn-large-space float-right">
                <b-icon icon="x"></b-icon>
                Reiniciar
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
//import AuthService from "@/services/AuthService.js";

export default {
  data() {
    return {
      isLoading: false,
      permisos: this.$store.getters.getPermisos,
      users: [],
      responsible: "null",
      owner: "",
      roles: "",
      form: {
        doc_annexed:null,
        year: "",
        id_criteria:"",
      },
      validation: {
        validationAño: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
        onlyNumber: /^[0-9]*$/,
      },

      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego dar el formato
     * correspondiente a los inputs y finalmente crear el proceso
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.createEvidenceValidation()) {
        this.createEvidence();
      }
    },
    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    /**
     * @description Verifica si se encuentra los datos correctamente
     */
    createEvidenceValidation(){
        return this.yearStateValidation();
    },
    /**
     * 
     */
    createEvidence(){
      const path = url + `process/criteriaone/academic_fridays/`;
      console.log(this.form.doc_annexed);
      var formData = new FormData();
      formData.append("year", this.form.year);
      formData.append("doc_annexed",this.form.doc_annexed);
      formData.append("id_criteria",this.form.id_criteria);
      
      axios
        .post(path, formData)
        .then((response) => {
          console.log(response);
          swal("Evidencia creada correctamente Creado Exitosamente!","", "success", {
            button: "Aceptar",
          });
          this.$router.push("list");
        })
        .catch((error) => {
          
          this.errorsList = [];
          this.errorsList.push(error.response.data.name.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Ya existe proceso con este nombre.",
              "Ya existe un proceso con ese nombre."
            )
          );
          this.isLoading= false,
          swal("No se creó el proceso", this.errorsList.join("\n"), "error", {
            button: "Aceptar",
          });
        });
    },



    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @description Metodo especifico para la propiedad state del input del año
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    yearStateValidation() {
      if (this.textEmpty(this.year)) {
        return new Boolean(null);
      }
      return this.yearValidation();
    },
    textEmpty(){
      return true;
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    yearValidation() {
      return (
        this.numberSize(this.year, 2000, 2050) && this.onlyNumber(this.year)
      );
    },

   

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador o responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      //if( PermissionService.findPermission(Permission.View, Module.Portafolio) ){
      //return true;
      //}

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  async created() {
    this.viewPermission();
    this.form.id_criteria = this.$route.params.criteriaId;
  },
};
</script>

<style lang="css" scoped></style>