<template lang="html">
  <div class="container">
    <div class="row">
      <div class="col text-left">
        <h2>Editar Tarea</h2>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <div class="card">
          <div class="card-body">
            <form @submit="onSubmit">
              <div class="form-group row">
                <label for="last_name" class="col-sm-2 col-form-label"
                  >Nombre</label
                >
                <div class="col-sm-6">
                  <b-form-input
                    type="text"
                    placeholder="Nombre"
                    name="lastname"
                    v-model.trim="form.first_name"
                    :state="validarNombre"
                  ></b-form-input>
                  <small v-if="alertas.nombre.tipo"
                    >No es un caracter valido</small
                  >
                  <small v-if="alertas.nombre.tamaño"
                    >No es un tamaño valido. Minimo 5 y maximo 32
                    caracteres</small
                  >
                </div>
              </div>

              <div class="form-group row">
                <label for="last_name" class="col-sm-2 col-form-label"
                  >Descripción</label
                >
                <div class="col-sm-6">
                  <b-form-input
                    type="text"
                    placeholder="Descripción"
                    name="lastname"
                    v-model.trim="form.last_name"
                    :state="validarApellido"
                  ></b-form-input>
                  <small v-if="alertas.apellido.tipo"
                    >No es un caracter valido</small
                  >
                  <small v-if="alertas.apellido.tamaño"
                    >No es un tamaño valido. Minimo 5 y maximo 32
                    caracteres</small
                  >
                </div>
              </div>
              <div class="form-group row">
                <label for="last_name" class="col-sm-2 col-form-label"
                  >Responsable</label
                >
                <div class="col-sm-6">
                  <b-form-input
                    type="text"
                    placeholder="Responsable"
                    name="lastname"
                  ></b-form-input>
                  >
                </div>
              </div>

              <div class="rows">
                <div class="coll text-left">
                  <b-button type="submit" variant="primary">Editar</b-button>
                  <b-button
                    type="submit"
                    class="btn-large-space"
                    :to="{ name: 'ListUser' }"
                    >Cancelar</b-button
                  >
                </div>
              </div>
            </form>
            <b-alert
              :show="dismissCountDown"
              dismissible
              fade
              variant="danger"
              @dismiss-count-down="countDownChanged"
              >Datos incorrectos</b-alert
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";

export default {
  data() {
    return {
      userId: this.$route.params.userId,
      form: {
        email: "",
        first_name: "",
        last_name: "",
        password: "",
        photo: null,
        is_admin: false,
        status: true,
      },
      validacion: {
        first_name: false,
        last_name: false,
        email: false,
        password: false,
        foto: false,
      },
      alertas: {
        nombre: {
          tipo: false,
          tamaño: false,
        },
        apellido: {
          tipo: false,
          tamaño: false,
        },
        email: {
          tipo: false,
        },
        contraseña: {
          tipo: false,
          tamaño: false,
        },
      },
      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
      reg: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
      validar_solo_texto: /^[a-zA-Z ]*$/,
      validar_solo_texto_numero: /^[a-zA-Z0-9]*$/,
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();

      const path = `https://acreditacionbackend.herokuapp.com/api/1.0/users/${this.userId}/update/`;

      axios
        .put(path, this.form)
        .then((response) => {
          this.form.email = response.data.email;
          this.form.first_name = response.data.first_name;
          this.form.last_name = response.data.last_name;
          this.form.is_admin = response.data.is_admin;
          this.form.status = response.data.status;

          swal("Usario Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          });
        })
        .catch((error) => {
          console.log(error);
          this.showAlert();
        });
    },
    getUsers() {
      const path = `https://acreditacionbackend.herokuapp.com/api/1.0/users/view/${this.userId}/`;

      axios
        .get(path)
        .then((response) => {
          this.form.email = response.data.email;
          this.form.first_name = response.data.first_name;
          this.form.last_name = response.data.last_name;
          this.form.is_admin = response.data.is_admin;
          this.form.status = response.data.status;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
  },
  created() {
    this.getUsers();
  },
  computed: {
    validarCorreo() {
      if (this.form.email == "") {
        //this.validacion.email = false;
        //this.alertas.email.tipo = false;
        return new Boolean(null);
      } else if (!this.reg.test(this.form.email)) {
        //this.validacion.email = false;
        // this.alertas.email.tipo = true;
        return false;
      } else {
        //this.validacion.email = true;
        //this.alertas.email.tipo = false;
        return true;
      }
    },
    validarContraseña() {
      if (this.form.password == "") {
        //this.validacion.password = false;
        //this.alertas.contraseña.tipo = false;
        //this.alertas.contraseña.tamaño = false;
        return new Boolean(null);
      } else {
        if (!this.validar_solo_texto_numero.test(this.form.password)) {
          //this.validacion.password = false;
          //this.alertas.contraseña.tipo = true;
          //this.alertas.contraseña.tamaño = false;
          return false;
        } else {
          if (this.form.password.length < 8 || this.form.password.length > 15) {
            // this.validacion.password = false;
            // this.alertas.contraseña.tipo = false;
            // this.alertas.contraseña.tamaño = true;
            return false;
          } else {
            // this.validacion.password = true;
            //this.alertas.contraseña.tipo = false;
            // this.alertas.contraseña.tamaño = false;
            return true;
          }
        }
      }
    },
    validarNombre() {
      if (this.form.first_name == "") {
        //this.validacion.first_name = false;
        //this.alertas.nombre.tipo = false;
        //this.alertas.nombre.tamaño = false;
        return new Boolean(null);
      } else {
        if (!this.validar_solo_texto.test(this.form.first_name)) {
          // this.validacion.first_name = false;
          // this.alertas.nombre.tipo = true;
          // this.alertas.nombre.tamaño = false;
          return false;
        } else {
          if (
            this.form.first_name.length < 5 ||
            this.form.first_name.length > 32
          ) {
            // this.validacion.first_name = false;
            // this.alertas.nombre.tipo = false;
            // this.alertas.nombre.tamaño = true;
            return false;
          } else {
            //this.validacion.first_name = true;
            // this.alertas.nombre.tipo = false;
            // this.alertas.nombre.tamaño = false;
            return true;
          }
        }
      }
    },
    validarApellido() {
      if (this.form.last_name == "") {
        //this.validacion.last_name = false;
        // this.alertas.apellido.tipo = false;
        // this.alertas.apellido.tamaño = false;
        return new Boolean(null);
      } else {
        if (!this.validar_solo_texto.test(this.form.last_name)) {
          // this.validacion.last_name = false;
          // this.alertas.apellido.tipo = true;
          // this.alertas.apellido.tamaño = false;
          return false;
        } else {
          if (
            this.form.last_name.length < 5 ||
            this.form.last_name.length > 32
          ) {
            // this.validacion.last_name = false;
            // this.alertas.apellido.tipo = false;
            // this.alertas.apellido.tamaño = true;
            return false;
          } else {
            //this.validacion.last_name = true;
            //this.alertas.apellido.tipo = false;
            //this.alertas.apellido.tamaño = false;
            return true;
          }
        }
      }
    },
  },
};
</script>

<style lang="css" scoped></style>
