<template lang="html">
  <b-container>
    <b-modal
      id="delete-curse-modal"
      ref="modal"
      title="Eliminar Curso"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar el curso: {{ this.Curse.name }}?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["Curse"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteCurso();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-curse-modal");
      });
    },

    deleteCurso() {
      const path = url + `process/portfolio/course/${this.Curse.id}`;
      axios
        .delete(path)
        .then(() => {
          swal("Curso Eliminado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListCCurse",
            });
          });
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
};
</script>

<style></style>
