
<template lang="html">
  
  <b-container>
    
    

    <b-modal
      id="add-researcher-modal"
      ref="modal"
      :title="'Agregar '+dataResearcher.data_name_two"
      size="lg"
      scrollable
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Professor</strong> </h6>
        <b-row>
          <b-col cols="4">
            <b-form-group label="RENACYT Code:">
              
              <b-form-input
                type="text"
                id="renacytCode"
                v-model="form.renacyt_code"
                required
                :state="inputTextStateValidationRenacit(form.renacyt_code,8,8)"
              >
              </b-form-input>
              <small class="msg" v-if="!onlyTextAndNumber1(form.renacyt_code)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!textSize(form.renacyt_code, 2, 30)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Mínimo 8 caracteres
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Researcher:">
              <b-form-select
                v-model="form.id_user" 
                required 
                id="id_researcher"
                :state="inputSelectStateValidation(form.id_user)"
              >
                <b-form-select-option :value="null" disabled>
                  Select a professor
                </b-form-select-option>
                <b-form-select-option
                  
                  v-for="(id_user, indexOpt) in user_list"
                  :key="indexOpt"
                  :value="id_user.id"
                >
                  {{ id_user.first_name }} {{ id_user.last_name }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.id_user)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>
     
        <b-row>
          
          <b-col >
            
            <b-form-group label="Current Labor Institution:">
              <b-input-group>
              <b-form-select
                  v-model="form.current_organizations"
                  id="id_responsable"
                  multiple
                  required
                  :select-size="6"
                  :state="inputMultipleSelectStateValidation(form.current_organizations)"
                >
                  <b-form-select-option
                    v-for="(obt, indexOpt) in organization_list"
                    :key="indexOpt"
                    :value="obt.id"
                  >
                    {{ obt.name }}
                  </b-form-select-option>
                </b-form-select>
                <b-input-group-append>
                  <b-button v-b-modal.add-organization-modal class="h-25">
                    <b-icon icon="plus"></b-icon>
                  </b-button>
                  </b-input-group-append>
                  </b-input-group>
                <small class="msg" v-if="!inputMultipleSelectValidation(form.current_organizations)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Debe seleccionar al menos una opción
                </small>
                
            </b-form-group>
            
          </b-col>
        
        </b-row>
        <h6><strong>Validity</strong> </h6>
        <b-row>
          <b-col>
            <b-form-group label="Until:">
              <b-form-datepicker
                id="startdate"
                v-model="form.validity_date_start"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="startDateStateValidation(form.validity_date_start)"
                @context="contextDate"
                >
                </b-form-datepicker>
                <small class="msg" v-if="textEmpty(form.validity_date_start)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
                </small>
            </b-form-group>
            
          </b-col>
          <b-col>
          <b-form-group label="To:">
              <b-form-datepicker
                id="finishdate"
                v-model="form.validity_date_finish"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="finishDateStateValidation(form.validity_date_start, form.validity_date_finish)"
                @context="contextDate"
              >
              </b-form-datepicker>
              <small class="msg" v-if="textEmpty(form.validity_date_finish)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
              </small>
            </b-form-group>
            
          </b-col>
        </b-row>

        <b-row>
          <b-col>
            <b-form-group label="Research Line">
              <b-form-select
                id="group_renacyt"
                v-model="form.renacyt_group"
                required  
                :state="inputSelectStateValidation(form.renacyt_group)"
              >
                <b-form-select-option :value="null" disabled>
                  Select renacyt group
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataResearcher.renacyt_group"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
                
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.renacyt_group)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Debe seleccionar una opción
                </small>
            </b-form-group>
          </b-col>
          <b-col cols="3">
            <b-form-group label="Level">
              <b-form-select
                id="group_level"
                v-model="form.renacyt_group_level"
                required 
                :state="inputSelectStateValidation(form.renacyt_group_level)"
              >
                <b-form-select-option :value="null" disabled>
                  Select level
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataResearcher.renacyt_group_level"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.renacyt_group_level)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>
    
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataResearcher, ModelResearcher} from "@/components/CriteriaSix/Researcher/DataResearcher.js";

const url = process.env.VUE_APP_RUTA_API;
export default {
  
  props: [
    "getResearcherList",
    "user_list", 
    "organization_list"

  ],
  
  data() {
    return {
   
      dataResearcher: DataResearcher,
      form: Object.assign({},ModelResearcher),
      formReset: {
      },

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },


    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidationRenacit(value, min, max) {
      this.form.renacyt_code=this.form.renacyt_code.toUpperCase()
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation1(value, min, max);
    },
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation1(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation1(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation1(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber1(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    startDateStateValidation(value) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.startDateValidation(value);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    startDateValidation(value) {
      return !this.textEmpty(value);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    finishDateStateValidation(start, finish) {
      if (this.textEmpty(start)) {
        return new Boolean(null);
      }
      return this.finishDateValidation(start, finish);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin
     * @return {boolean}
     */
    finishDateValidation(start, finish) {
      return (
        !this.textEmpty(finish) && finish > start
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input number
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputNumberStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputNumberValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input number
     * @return {boolean}
     */
    inputNumberValidation(value, min, max) {
      return (
        this.numberSize(value, min, max) &&
        this.onlyNumber(value)
      );
    },
    inputSelectStateValidation(value){
      if (value==null) {
        return new Boolean(null);
      }
      return true;
    },
    inputSelectValidation(value){
      if (value==null) {
        return false
      }
      return true;
    },
    inputMultipleSelectStateValidation(value){ 
      if (value.length==0) {
        return new Boolean(null);
      }
      return true;
    },
    inputMultipleSelectValidation(value){
      if (value.length==0) {
        return false
      }
      return true;
    },
    

    //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Crea un entrnemiento
     */
    resetModal() {
      this.form=Object.assign({},this.formReset);
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (this.createResearcherValidation()) {
        this.createResearcher();
      }else{
        swal(DataResearcher.data_name+" no se ha creado", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    createResearcherValidation() {
      
      const valid = this.$refs.form.checkValidity();
      console.log(this.$refs.form);
      return (
        valid
      );
    },
    /**
     * @description Crea un entrenamiento
     */
    createResearcher() {
      var datos = this.form;
      const path = url + `process/criteria_six/professor_researcher/`;
      axios
        .post(path, datos)
        .then(() => {
          swal(DataResearcher.data_name+" se ha creado exitosamente", DataResearcher.data_name+" sera enviado para su revisión", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('add-researcher-modal');
            this.resetModal();
            this.getResearcherList();
          });
        })
        .catch(() => {
          swal(DataResearcher.data_name+" no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
   
   
  },

  created() {
    this.formReset=Object.assign({},this.form);
    this.form.id_user=this.$store.getters.getId
  },
};
</script>

<style lang="css" scoped></style>
