<template lang="html">
  <b-container>
    <b-modal
      id="delete-researcher-modal"
      ref="modal"
      :title="'Eliminar '+dataResearcher.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataResearcher} from "@/components/CriteriaSix/Researcher/DataResearcher.js";

export default {
  props: ["getResearcherList", "itemResearcher"],
  data() {
    return {
      dataResearcher: DataResearcher,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteResearcher();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-researcher-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteResearcher() {
      const path = url + `process/criteria_six/professor_researcher/${this.itemResearcher.id}`;
      axios.delete(path);
      swal(DataResearcher.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        //this.$router.push("/criteria/6/researcher/list/0");
        this.$bvModal.hide('detail-researcher-modal');
        this.getResearcherList();
      
      });
      
    },
  },
};
</script>

<style></style>
