<template lang="html">
  <b-container>
    <b-modal
      id="detail-researcher-modal"
      ref="modal"
      :title="'Detalle '+dataResearcher.data_name_two" 
      scrollable
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <b-row>
          <b-col sm="3">RENACYT Code:</b-col>
          <b-col >{{form.renacyt_code}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Name:</b-col>
          <b-col>{{getUserName(form.id_user)}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Current Labor Institution: </b-col>
          <b-col v-if="form.id_user!=null">
            <div v-for="orga in form.current_organizations" :key="orga" >{{ getOrganizationName(orga) }}</div>
          </b-col>
        </b-row>
        <br/>
        <h6><strong>Date</strong> </h6>
        <b-row>
          <b-col sm="3">Start:</b-col>
          <b-col>{{form.validity_date_start}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Finish:</b-col>
          <b-col>{{form.validity_date_finish}}</b-col>
        </b-row>
        <br/>
        <b-row>
          <b-col sm="3">Group:</b-col>
          <b-col v-if="form.id_user!=null">{{dataResearcher.renacyt_group[form.renacyt_group-1].text}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Level:</b-col>
          <b-col v-if="form.id_user!=null">{{dataResearcher.renacyt_group_level[form.renacyt_group_level-1].text}}</b-col>
        </b-row>
        

        
        <div v-if="form.status==3">
          <br/>
          <h6><strong>Observation</strong> </h6>
          <b-row>
            <b-col sm="3">Observation:</b-col>
            <b-col>{{form.observations}}</b-col>
          </b-row>
        </div>
      </b-form>
      <template #modal-footer="{ ok, cancel}">
        <b-button  variant="danger" @click="cancel()">
          Cancelar
        </b-button>
        <!----
        <b-button  variant="primary" @click="ok()">
          Aceptar
        </b-button>---->
        <b-button v-if="isCreator&&form.status!=1" variant="primary" v-b-modal.edit-researcher-modal>
          Editar
        </b-button>
        <b-button v-if="isCreator" variant="danger" v-b-modal.delete-researcher-modal>
          Eliminar
        </b-button>
        
        <b-button v-if="isResponsableCriteria&&form.status!=1" variant="primary" @click="approveResearcher()">
          Aprobar
        </b-button>
        <b-button v-if="isResponsableCriteria&&form.status==2" variant="danger" v-b-modal.observation-researcher-modal>
          Rechazar
        </b-button>
      </template>
    </b-modal>

    
    <b-modal
      id="observation-researcher-modal"
      ref="modal"
      :title="'Observación '+dataResearcher.data_name_two"
      scrollable
      
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Enviar"
      cancel-title="Cancelar">
      <b-form ref="form2" @submit="handleSubmit">
        
        <b-form-group >
          <b-form-textarea 
            id="observa"
            v-model="form.observations"
            required
            :state="inputTextStateValidation(form.observations,2,30)"
          >
          </b-form-textarea>
          <small class="msg" v-if="!onlyTextAndNumber2(form.observations)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.observations, 2, 30)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Mínimo 2 y máximo 30 caracteres
          </small>
        </b-form-group>
        
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataResearcher, ModelResearcher} from "@/components/CriteriaSix/Researcher/DataResearcher.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["getResearcherList", "itemResearcher", "isResponsableCriteria","getUserName","getOrganizationName"],
  watch: {
    itemResearcher: function () {
      this.form= Object.assign({},this.itemResearcher);
      if(this.currentUser==this.itemResearcher.id_user){
        this.isCreator=true;
      }else{
        this.isCreator=false;
      }

    },
  },
  data() {
    return {
      //permision
      organization_list: [],
      canEdit:false,
      isCreator: true,
      currentUser: "",
      dataResearcher: DataResearcher,

      users: [],
      form: Object.assign({},ModelResearcher),
      

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },


    //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (this.obsertvationResearcherValidation()) {
        this.denyResearcher();
      }else{
        swal("Obsevacion no enviada", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },

    /**
      * @description Verifica que se cumplan las validaciones
    */
    obsertvationResearcherValidation() {
      const valid = this.$refs.form2.checkValidity();
      return (
        valid
      );
    },

    approveResearcher(){
      const path = url + `process/criteria_six/professor_researcher/${this.itemResearcher.id}/`;
      this.form.status=1;
      delete this.form.doc_evidence;
      let datos = new FormData();
      Object.keys(this.form).forEach(key => {
        datos.append(key, this.form[key]);
      });
      axios
        .put(path, datos)
        .then(() => {
          swal(DataResearcher.data_name_two+" aprobado", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('detail-researcher-modal');
            this.getResearcherList();
          });
        })
        .catch(() => {
          swal(DataResearcher.data_name+" no se pudo Aprobar", "", "error", {
            button: "Aceptar",
          });
        });
    },
    denyResearcher(){
      const path = url + `process/criteria_six/professor_researcher/${this.itemResearcher.id}/`;
      this.form.status=3;
     
      delete this.form.doc_evidence;
      let datos = new FormData();
      Object.keys(this.form).forEach(key => {
        datos.append(key, this.form[key]);
      });

      axios
        .put(path, datos)
        .then(() => {
          swal(DataResearcher.data_name_two+" rechazado", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('detail-researcher-modal');
            this.$bvModal.hide('observation-researcher-modal');
            this.getResearcherList();
          });
        })
        .catch(() => {
          swal(DataResearcher.data_name+" no se pudo Rechazar", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    
  },

  async created() {
    this.currentUser = this.$store.getters.getId;
    
  },
};
</script>

<style lang="css" scoped></style>
