<template>
  <b-container id="custom-css" class='p-4'>
    <AddOrganization 
      :getOrganizationList="getOrganizationList"
    >
    </AddOrganization>

    <ListOrganization 
      :getOrganizationList="getOrganizationList"
      :organization_list="organization_list"
    >
    </ListOrganization>
    <b-row>
      <b-col>
        <h2 class="text-left" >
          <b-button class="mr-4" :to="{ name: 'CriteriaSix', params: { criteriaId: criteriaId }}">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
      <b-col >
        
        <h2  class="float-right ">
          
          <b-button class="ml-2" v-b-modal.list-organization-modal>
            <b-icon icon="building" scale="0.8"></b-icon>&nbsp;Organization list 
          </b-button>
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12 my-3" >
        <h3 class="text-left py-2">Criterion 6: Professors Researchers Qualified by CONCYTEC</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{ name: 'ListResearcher', params: { status: 0} }"
                exact
                exact-active-class="active"
                v-if="listPermission()"
              ><b-icon icon="list" class="align-middle"></b-icon> Lista
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListResearcher', params: { status: 1} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              ><b-icon icon="check-circle" class="align-middle"></b-icon> Aprobados
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListResearcher', params: { status: 2} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              ><b-icon icon="exclamation-circle" class="align-middle"></b-icon> Pendientes
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListResearcher', params: { status: 3} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              ><b-icon icon="x-circle" class="align-middle"></b-icon> Rechazados
              </b-nav-item>
            </b-nav>
          </div>
          
          <div>
            <router-view 
              :key="$route.fullPath"
              :isResponsableCriteria="isResponsableCriteria"

              :user_list="user_list"
              :researcher_list="researcher_list"
              :organization_list="organization_list"

              :getResearcherList="getResearcherList"

              :getOrganizationName="getOrganizationName"
              :getUserName="getUserName"
              
              :isLoading="isLoadingResearcher"
            >
            </router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import AddOrganization from "@/components/CriteriaSix/Organization/AddOrganization";
import ListOrganization from "@/components/CriteriaSix/Organization/ListOrganization";
const url = process.env.VUE_APP_RUTA_API;


export default {
  components:{
    AddOrganization,
    ListOrganization,
  },
  data() {
    return {
      //permision
      criteriaId: "",
      isCreator: false,
      isResponsableCriteria: false,
      userPermissions: this.$store.getters.getPermisos,

      researcher_list: [],
      user_list: [],
      organization_list: [],

      isLoadingResearcher: true,

      form: {
        name: "",
        description: "",
        status: true,
        collaborator:[],
        id_process:""
      },
    };
  },
  methods: {
    //---------------------------------------PERMISIONS-----------------------------------------------
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
    isResponsable() {
      const id_user=this.$store.getters.getId;
      const listResp = this.form.collaborator.filter(tmp => tmp  == id_user);
      console.log("responsables:")
      console.log(this.form.collaborator)
      if(listResp.length > 0){
        this.isResponsableCriteria=true;
      }else{
        this.isResponsableCriteria=false;
      }
    },
    //---------------------------------------GETTERS-----------------------------------------------
    getCriterio() {
      this.criteriaId=this.$route.params.criteriaId;
      const path = url + `process/criteria/${this.criteriaId}/`;
      axios.get(path).then((response) => {
        this.form= response.data;
        console.log("responsables in get c:")
        console.log(this.form.collaborator);
        this.isResponsable();
      });
    },
    /**
     * @description Obtiene el nombre de un objeto usuario
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
    /**
     * @description Obtiene la lista de usuarios registrados en la BD
     */
    getUserList() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.user_list = response.data;
      });
    },
    /**
     * @description Obtiene la lista de entrenamientos registrados en la BD
     */
    getResearcherList() {
      this.isLoadingResearcher=true;
      var path = url + `process/criteria_six/professor_researcher`;

      if(this.isResponsableCriteria){
        let status=this.$route.params.status;
        if (status!=0&&status!=undefined){
          path = url + `process/criteria_six/professor_researcher?status=`+status;
        }
      }else{
        path = url + `process/criteria_six/professor_researcher?id_user=`+this.$store.getters.getId;
      }

      axios
        .get(path)
        .then((response) => {
          this.researcher_list = response.data;
          this.isLoadingResearcher=false;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    getOrganizationList() {
      const path = url + 'process/criteria_six/organization/';
      axios.get(path).then((response) => {
        this.organization_list = response.data;
      });
    },
    getOrganizationName(idOrg) {
      for (var i = 0; i < this.organization_list.length; i++) {
        if (this.organization_list[i].id == idOrg) {
          ///this.counter++;
          return this.organization_list[i].name;
        }
      }
    },
  },

  async created() {
    await this.getCriterio();
    PermissionService.setUserActive();
    this.viewPermission();

    await this.getOrganizationList();
    await this.getUserList();
    

  },
};
</script>

<style lang="css" scoped></style>
