<template>
  <div id="portada">
    <b-navbar class="menuup" toggleable="md" type="dark" variant="dark">
      <b-container>
        <b-navbar-toggle target="nav_collapse"></b-navbar-toggle>
        <b-navbar-brand href="#">HSPA</b-navbar-brand>
      </b-container>
    </b-navbar>
    <div class="modal-dialog text-center">
      <div class="col-sm-9 main-section">
        <div class="modal-content">
          <div class="col-12 py-4">
            <h2 class="my-1 title"><strong>Sistema de Acreditación</strong></h2>
            <h4 class="my-2 mt-4">Iniciar Sesión</h4>
          </div>
          <div class="col-12 form-input">
            <b-form @submit="onSubmit">
              <b-form-group>
                <b-input-group-append class="line">
                  <img class="icon" src="../../assets/icon/at-solid.svg" />
                  <b-form-input
                    name="email"
                    type="email"
                    placeholder="Ingrese su correo"
                    v-model="email"
                    required
                  ></b-form-input>
                </b-input-group-append>
                <small class="msg" v-if="visible.empty_email">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Debe colocar su correo
                  <br />
                </small>
                <small class="msg" v-if="visible.wrong_email">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Debe colocar un correo válido
                </small>
              </b-form-group>

              <b-form-group>
                <b-input-group-append class="line">
                  <img class="icon" src="../../assets/icon/lock-solid.svg" />
                  <b-form-input
                    name="password"
                    type="password"
                    placeholder="Ingrese su contraseña"
                    v-model="password"
                    required
                  ></b-form-input>
                </b-input-group-append>
                <small class="msg" v-if="visible.empty_password">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Debe colocar su contraseña
                </small>
              </b-form-group>

              <b-alert
                :show="dismissCountDown"
                dismissible
                variant="danger"
                @dismissed="dismissCountDown = 0"
                @dismiss-count-down="countDownChanged"
              >
                Datos incorrectos
              </b-alert>

              <b-alert
                :show="dismissCountDown2"
                dismissible
                variant="danger"
                @dismissed="dismissCountDown2 = 0"
                @dismiss-count-down="countDownChanged2"
              >
                No cuenta con un rol dentro del sistema
              </b-alert>

              <b-button
                type="submit"
                variant="success"
                block
                @click="showValidations"
                >Ingresar</b-button
              >
            </b-form>
          </div>
          <div class="col-12 forgot pt-3">
            <router-link to="/recover" class="redirec"
              >¿Olvidaste tu contraseña? <br />
              Recuperar Cuenta</router-link
            ><br />
            <br /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import AuthService from "@/services/AuthService.js";
import axios from "axios";
export default {
  data() {
    return {
      errortext: [],
      email: "",
      password: "",
      id: "",

      validation: {
        onlyTextAndNumber: /^[a-zA-Z0-9]*$/,
        email: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
        inputEmail: null,
        inputPassword: null,
      },

      visible: {
        empty_email: false,
        wrong_email: false,
        empty_password: false,
      },
      dismissSecs: 5,
      dismissCountDown: 0,
      dismissCountDown2: 0,
    };
  },
  methods: {
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyEmail
     * @return {boolean}
     */
    onlyEmail(text) {
      return this.validation.email.test(text);
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del email
     * @return {boolean}
     */
    emailValidation() {
      if (this.textEmpty(this.email)) {
        return new Boolean(null);
      }
      return this.onlyEmail(this.email);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del password
     * @return {boolean}
     */
    passwordValidation() {
      if (this.textEmpty(this.password)) {
        return new Boolean(null);
      }
    },

    /**
     * @description Metodo de cuenta regresiva para la duracion de la vista de la alerta
     */
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    /**
     * @description Metodo para mostrar la alerta de datos incorrectos
     */
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },
    /**
     * @description Metodo de cuenta regresiva para la duracion de la vista de la alerta
     */
    countDownChanged2(dismissCountDown) {
      this.dismissCountDown2 = dismissCountDown;
    },

    /**
     * @description Metodo para mostrar la alerta de ausencia de rol
     */
    showAlert2() {
      this.dismissCountDown2 = this.dismissSecs;
    },

    onSubmit(evt) {
      this.validation.inputEmail = this.emailValidation();
      this.validation.inputPassword = this.passwordValidation();
      evt.preventDefault();
      if (this.emailValidation() && this.passwordValidation) {
        this.login();
      } else {
        this.showAlert();
      }
    },

    /**
     * @description Metodo para mostrar las alertas de validaciones
     */
    showValidations() {
      if (this.textEmpty(this.email)) {
        this.visible.empty_email = true;
      } else {
        this.visible.empty_email = false;
      }
      if (!this.onlyEmail(this.email)) {
        this.visible.wrong_email = true;
      } else {
        this.visible.wrong_email = false;
      }
      if (this.textEmpty(this.password)) {
        this.visible.empty_password = true;
      } else {
        this.visible.empty_password = false;
      }
    },

    /**
     * @description Metodo para loguear a un usuario y setea el token y el id del usuario logueado
     */
    async login() {
      const credentials = {
        email: this.email,
        password: this.password,
      };
      try {
        //Verifica si un usuario existe en la BD , y si existe guarda su token
        // de manera persistenta para que quede en el sistema durante su
        // tiempo de sesion
        const obtainToken = await AuthService.obtain_token(credentials);
        const token = obtainToken.token;
        axios.defaults.headers.common["Authorization"] = `Bearer ${token}`;
        this.$store.dispatch("login", { token });

        //Obtiene datos del usuario logueado para guardar sus permisos y su id
        // y asi estos datos setearlos de manera persistente y poder ser accedidos
        //desde cualquier parte del sistema
        const user = await AuthService.getUser();
        const id = user.id;
        const superadmin = user.superadmin;
        this.$store.dispatch("userId", { id });

        //Comprueba que tipo de usuario es entre superadministrador, usuario con rol
        // o un usuario sin rol que este ultimo no puede ni ingresar al sistema
        if (superadmin) {
          const superadmin = true;
          this.$store.dispatch("superadmin", { superadmin });
          this.$router.push("/process/list");
        } else if (!superadmin && user.role != null) {
          const p = user.role.permissions;
          const superadmin = false;
          this.$store.dispatch("permisos", { p });
          this.$store.dispatch("superadmin", { superadmin });
          this.$router.push("/profileuser");
        } else {
          this.logout();
          this.showAlert2();
        }
      } catch (e) {
        this.showAlert();
      }
    },
  },
  created() {
    //this.$router.push("/login");
    if (this.$store.getters.isLoggedIn) {
      this.$router.push("/profileuser");
    } else {
      this.logout();
    }
  },
};
</script>
<style scoped>
body {
  font-family: "Quicksand", sans-serif;
  background-size: cover;
}
.main-section {
  margin: 0 auto;
  margin-top: 50px;
  padding: 0;
}
.modal-content {
  /*background-color: #61000b;
  opacity: 0.8;*/
  background-color: #fff;
  color: #333;
  padding: 0 15px;
  border-radius: 10px;
}
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap");
.title {
  color: #ffe8e8;
  color: #64001d;
  font-family: "Quicksand", sans-serif;
}
.icon {
  position: relative;
  width: 29px;
  padding: 9px 10px 10px 0;
  color: red;
  fill: red;
}

.icon svg {
  fill: red;
}
.forgot {
  font-size: 90%;
}

.forgot a {
  color: #ffe8e8;
  color: #64001d;
}
.msg {
  color: #ffeb3b;
  color: #dc3545;
  font-weight: bold;
}
.menuup {
  bottom: 56px;
}

#portada {
  background: url("../../assets/fondo2.jpg");
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  position: relative;
}

#portada::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(128, 0, 0, 0.4);
}

.btn-success {
  color: #fff;
  background-color: #2f3d57;
  border-color: #2f3d57;
}

.btn-success:focus,
.btn-success:active {
  color: #fff !important;
  background-color: #2f3d57 !important;
  border-color: #2f3d57 !important;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25) !important;
}
</style>
