<template>
  <b-container id="custom-css" class='p-4'>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left py-3" >
          <b-button class="mr-4" :to="{ name: 'CriteriaOne' }">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" >
        <h3 class="text-left py-2">Criterio 1:  Student Mobility</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12" >
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{ name: 'listStudentMobility' }"
                exact
                exact-active-class="active"
                v-if="listPermission()"
              >List
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'addStudentMobility' }"
                exact
                exact-active-class="active"
                v-if="createPermission()"
              >Add Regulation
              </b-nav-item>
            </b-nav>
          </div>
          <div>
            <router-view></router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      userPermissions: this.$store.getters.getPermisos,
    };
  },
  methods: {
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
  },

  created() {
    PermissionService.setUserActive();
    this.viewPermission();
    console.log("created::ViewUser");
    //console.log("-->>>>" + this.$store.getters.isSuperadmin);
  },
};
</script>

<style lang="css" scoped></style>
