<template lang="html">
  <b-container>
    <AddResearchOnly
      :getResearchOnlyList="getResearchOnlyList"
    >
    </AddResearchOnly>

    <ListResearchOnly
      :getResearchOnlyList="getResearchOnlyList"
      :research_only_list="research_only_list"
    >
    </ListResearchOnly>

    
    <b-modal
      id="add-research-modal"
      ref="modal"
      :title="'Agregar '+dataResearch.data_name_two"
      size="lg"
      scrollable
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Professor</strong> </h6>
        <b-form-group label="Name:">
          <b-form-select 
            v-model="form.id_user" 
            required 
            id="id_training"
            :state="inputSelectStateValidation(form.id_user)"  
          >
            <b-form-select-option :value="null" disabled>
              Select a professor
            </b-form-select-option>
            <b-form-select-option
              
              v-for="(id_user, indexOpt) in users_list"
              :key="indexOpt"
              :value="id_user.id"
            >
              {{ id_user.first_name }} {{ id_user.last_name }}
            </b-form-select-option>
          </b-form-select>
          <small class="msg" v-if="!inputSelectValidation(form.id_user)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Debe seleccionar una opción
          </small>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group label="School">
              <b-form-select
                id="school"
                v-model="form.school"
                required 
                :state="inputSelectStateValidation(form.school)"  
              >
                <b-form-select-option :value="null" disabled>
                  Select a School
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataResearch.schools"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>

              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.school)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Category">
              <b-form-select
                id="category"
                v-model="form.teacher_category"
                required 
                :state="inputSelectStateValidation(form.teacher_category)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Category
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataResearch.categories"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.teacher_category)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Regimen">
              <b-form-select
                id="reg"
                v-model="form.teacher_regimen"
                required  
                :state="inputSelectStateValidation(form.teacher_regimen)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Regimen
                </b-form-select-option>
                <b-form-select-option
                  v-for="(register, indexOpt) in dataResearch.registers"
                  :key="indexOpt"
                  :value="register.value"
                >
                  {{ register.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.teacher_regimen)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        
        <h6><strong>Research</strong> </h6>
        <b-row>
        <b-col>
        <b-form-group label="Title">
              <b-form-select
              
                id="school"
                v-model="form.id_research"
                required 
                :state="inputSelectStateValidation(form.id_research)"  
              >
                <b-form-select-option :value="null" disabled>
                  Select a Research
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in research_only_list"
                  :key="indexOpt"
                  :value="opt.id"
                >
                  {{ opt.title }}
                </b-form-select-option>

              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.id_research)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
        </b-col>
        <b-col cols="auto">
          <b-form-group label="Options">
          <b-button v-b-modal.add-research-only-modal>
            <b-icon icon="plus" ></b-icon>
          </b-button>
          &nbsp;
          <b-button v-b-modal.list-research-only-modal>
            <b-icon icon="list"></b-icon> 
          </b-button>
          </b-form-group>
        </b-col>
        <b-col cols="4">
        <b-form-group label="Participation">
              <b-form-select
                id="school"
                v-model="form.participation_type"
                required 
                :state="inputSelectStateValidation(form.participation_type)"  
              >
                <b-form-select-option :value="null" disabled>
                  Select a Participation
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataResearch.participation"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>

              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.participation_type)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
        </b-col>
        
        </b-row>
        
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataResearch, ModelResearch} from "@/components/CriteriaSix/Research/DataResearch.js";
import AddResearchOnly from "@/components/CriteriaSix/ResearchOnly/AddResearchOnly";
import ListResearchOnly from "@/components/CriteriaSix/ResearchOnly/ListResearchOnly";
const url = process.env.VUE_APP_RUTA_API;
export default {
  components:{
    AddResearchOnly,
    ListResearchOnly,
  },
  props: ["getResearchList"],
  
  data() {
    return {
      research_only_list: [],
      users_list: [],
      dataResearch: DataResearch,
      form: Object.assign({},ModelResearch),
      formReset: {
      },

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },


    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation1(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation1(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation1(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber1(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    startDateStateValidation(value) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.startDateValidation(value);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    startDateValidation(value) {
      return !this.textEmpty(value);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    finishDateStateValidation(start, finish) {
      if (this.textEmpty(start)) {
        return new Boolean(null);
      }
      return this.finishDateValidation(start, finish);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin
     * @return {boolean}
     */
    finishDateValidation(start, finish) {
      return (
        !this.textEmpty(finish) && finish > start
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input number
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputNumberStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputNumberValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input number
     * @return {boolean}
     */
    inputNumberValidation(value, min, max) {
      return (
        this.numberSize(value, min, max) &&
        this.onlyNumber(value)
      );
    },
    inputSelectStateValidation(value){
      if (value==null) {
        return new Boolean(null);
      }
      return true;
    },
    inputSelectValidation(value){
      if (value==null) {
        return false
      }
      return true;
    },
    inputMultipleSelectStateValidation(value){ 
      if (value.length==0) {
        return new Boolean(null);
      }
      return true;
    },
    inputMultipleSelectValidation(value){
      if (value.length==0) {
        return false
      }
      return true;
    },
    

    //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Crea un entrnemiento
     */
    resetModal() {
      this.form=Object.assign({},this.formReset);
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (this.createResearchValidation()) {
        this.createResearch();
      }else{
        swal(DataResearch.data_name+" no se ha creado", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    createResearchValidation() {
      
      const valid = this.$refs.form.checkValidity();
      console.log(this.$refs.form);
      return (
        valid
      );
    },
    /**
     * @description Crea un entrenamiento
     */
    createResearch() {
      var datos = this.form;
      const path = url + `process/criteria_six/professor_research/`;
      axios
        .post(path, datos)
        .then(() => {
          swal(DataResearch.data_name+" se ha creado exitosamente", DataResearch.data_name+" sera enviado para su revisión", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('add-research-modal');
            this.resetModal();
            this.getResearchList();
          });
        })
        .catch(() => {
          swal(DataResearch.data_name+" no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    /**
     * @description Obtiene informacion de los usuarios
     */
    getUserList(idProcess) {
      const path = url + 'user/user/?id_role__id_process='+idProcess;
      axios.get(path).then((response) => {
        this.users_list = response.data;
      });
    },
    /**
     * @description Obtiene informacion de organizaciones
     */
    getResearchOnlyList() {
      const path = url + 'process/criteria_six/research/';
      axios.get(path).then((response) => {
        this.research_only_list = response.data;
        console.log("get organization");
      });
    },
 
   
  },

  created() {
    this.formReset=Object.assign({},this.form);
    this.getUserList(this.$store.getters.idProceso);
    this.getResearchOnlyList();
    this.form.id_user=this.$store.getters.getId
  },
};
</script>

<style lang="css" scoped></style>
