<template lang="html">
  <b-container>
    <b-modal
      id="delete-research-modal"
      ref="modal"
      :title="'Eliminar '+dataResearch.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataResearch} from "@/components/CriteriaSix/Research/DataResearch.js";

export default {
  props: ["getResearchList", "itemResearch"],
  data() {
    return {
      dataResearch: DataResearch,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteResearch();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-research-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteResearch() {
      const path = url + `process/criteria_six/professor_research/${this.itemResearch.id}`;
      axios.delete(path);
      swal(DataResearch.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        //this.$router.push("/criteria/6/research/list/0");
        this.$bvModal.hide('detail-research-modal');
        this.getResearchList();
      
      });
      
    },
  },
};
</script>

<style></style>
