<template lang="html">

<div>
  
  <AddResearch 
    :getResearchList="getResearchList"
  >
  </AddResearch>
  <DetailResearch 
    :getResearchList="getResearchList" 
    :itemResearch="ResearchSelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </DetailResearch>
  <EditResearch 
    :getResearchList="getResearchList" 
    :itemResearch="ResearchSelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </EditResearch>
  <DeleteResearch 
    :getResearchList="getResearchList" 
    :itemResearch="ResearchSelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </DeleteResearch>

  <div class="text-left" >
    <b-row class=" mt-4">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap">Listado de Entrenanientos</h5>
      </b-col>

      <b-col class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch ml-3">
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>

        <b-form-group
          label="Filtro"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-select
              v-model="sortBy"
              id="sortBySelect"
              :options="sortOptions"
              class="w-75"
            >
              <template v-slot:first>
                <option value="">-- Ninguno --</option>
              </template>
            </b-form-select>
            <b-form-select
              v-model="sortDesc"
              size="sm"
              :disabled="!sortBy"
              class="w-25"
            >
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
        
      </b-col>
      <b-col cols="auto" class="pl-1">
        <b-button

          class="float-right"
          v-b-modal.add-research-modal
          variant="primary"
        >
          <b-icon icon="plus"></b-icon>
          Agregar
        </b-button>
      </b-col>
          
          
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar por:"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            description="Deje todo sin marcar para filtrar todos los datos"
            class="mb-0"
          >
            <b-form-checkbox-group v-model="filterOn" class="mt-1">
              <b-form-checkbox value="id">Nº</b-form-checkbox>
              <b-form-checkbox value="id_user">Profesor</b-form-checkbox>
              <b-form-checkbox value="researchs">Entrenamiento</b-form-checkbox>
              <b-form-checkbox value="date_start">Fecha Inicio</b-form-checkbox>
              <b-form-checkbox value="date_finish">Fecha Fin</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>
      </b-row>
    </b-collapse>
    <br />

    
    <div >
    <b-table 
      :busy.sync="isLoading"
      hover
      :show-empty="emptyTable"
      small
      stacked="md"
      :items="research_list"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay registros para mostrar"
      empty-filtered-text="No hay registros para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            @click="detailResearch(data.item, $event.target)"
          >
            Ver más
          </b-button>
        </b-container>
      </template>
      <template #table-busy>
        <div class="mx-auto " style="width: 100px">
          <bounce-loader :color="'#2F3D57'" :size="100" class="my-2"/>
        </div>
      </template>
    </b-table>

    <b-row class="mb-4">
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
    </div>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";
import {DataResearch} from "@/components/CriteriaSix/Research/DataResearch.js";

import AddResearch from "@/components/CriteriaSix/Research/AddResearch";
import DetailResearch from "@/components/CriteriaSix/Research//DetailResearch";
import EditResearch from "@/components/CriteriaSix/Research//EditResearch";
import DeleteResearch from "@/components/CriteriaSix/Research//DeleteResearch";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components:{
    AddResearch,
    DetailResearch,
    EditResearch,
    DeleteResearch
  },
  props: ["isResponsableCriteria"],
  data() {
    return {
      ResearchSelected:{},
      counter:0,
      isLoading: true,
      dataResearch: DataResearch,
      emptyTable: false,
      userPermissions: this.$store.getters.getPermisos,

      status: this.$route.params.status,
      currentUser: "",
      research_only_list: [],
      research_list: [],
      user: [],
      user_list: [],
      roles: "",
      process: "",
      fields: [
        {
          key: "id_user",
          label: "Professor",
          formatter: (value) => {
            return this.getUserName(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
       {
          key: "school",
          label: "School",
          formatter: (value) => {
            return DataResearch.schools[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "id_research",
          label: "Reserach",
          sortable: true,
          formatter: (value) => {
            console.log("value : "+this.getResearchOnlyName(value));
            return this.getResearchOnlyName(value);
          },
          sortByFormatted: true,
          filterByFormatted: true,
        },
        {
            
          key: "status",
          label: "Status",
          formatter: (value) => {
            return DataResearch.status[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,

        },
        {
          key: "actions",
          label: "Acción",
          //   class: "text-center"
        },
      ],
     
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["first_name"],
    };
  },
  computed: {

    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  methods: {
    /**
     * @description Abre el modal de detalle
     */
    detailResearch(research, button) {
      this.ResearchSelected = research;
      this.$root.$emit("bv::show::modal", "detail-research-modal", button);
    },
    /**
     * @description Obtiene el nombre de un objeto usuario
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
    /**
     * @description Obtiene la lista de usuarios registrados en la BD
     */
    getUsers() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.user_list = response.data;
      });
    },
    /**
     * @description Obtiene la lista de entrenamientos registrados en la BD
     */
    getResearchList() {
      this.emptyTable=false;
      this.isLoading=true;
      var path = url + `process/criteria_six/professor_research`;

      if(this.isResponsableCriteria){
        if (this.status!=0&&this.status!=undefined){
          path = url + `process/criteria_six/professor_research?status=`+this.status;
        }
      }else{
        path = url + `process/criteria_six/professor_research?id_user=`+this.currentUser;
      }
      axios
        .get(path)
        .then((response) => {
          this.research_list = response.data;
          this.emptyTable=true;
          this.isLoading=false;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Obtiene informacion de organizaciones
     */
    getResearchOnlyList() {
      const path = url + 'process/criteria_six/research/';
      axios.get(path).then((response) => {
        this.research_only_list = response.data;
        console.log("get organization");
      });
    },
   
    getResearchOnlyName(idRes) {
      for (var i = 0; i < this.research_only_list.length; i++) {
        if (this.research_only_list[i].id == idRes) {
          ///this.counter++;
          return this.research_only_list[i].title;
        }
      }
    },
    /**
     * @description filtro de la tabla
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    /**
     * @description Revisa los permisos del usuario
     */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        this.getUsersxProcess(this.$store.getters.idProceso);
        return true;
      }
      this.getUsersxProcess(this.$store.getters.idProceso);
      this.$router.push("/");
    },

  },
  async created() {
    await PermissionService.setUserActive();
    this.viewPermission();
    this.user = await AuthService.getUser();
    
    this.currentUser= this.$store.getters.getId,
  
    await this.getUsers();
    await this.getResearchList();
    await this.getResearchOnlyList();
    this.isLoading=false;
  },
  beforeUpdate() {
    this.totalRows = this.research_list.length;
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 150px;
}
</style>
