<template>
  <b-container id="custom-css" class='p-4'>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left" >
          <b-button class="mr-4" :to="{ name: 'CriteriaSix', params: { criteriaId: criteriaId }}">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12 my-2" >
        <h3 class="text-left py-2">Criterion 6: Faculty Research Proyects</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{ name: 'ListResearch', params: { status: 0} }"
                exact
                exact-active-class="active"
                v-if="listPermission()"
              >Lista
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListResearch', params: { status: 1} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              >Aprobados
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListResearch', params: { status: 2} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              >Pendientes
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListResearch', params: { status: 3} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              >Rechazados
              </b-nav-item>
            </b-nav>
          </div>
          
          <div>
            <router-view 
              :key="$route.fullPath"
              :isResponsableCriteria="isResponsableCriteria"
            >
            </router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;


export default {
  
  data() {
    return {
      //permision
      criteriaId: "",
      isCreator: false,
      isResponsableCriteria: false,

      userPermissions: this.$store.getters.getPermisos,
      form: {
        name: "",
        description: "",
        status: true,
        collaborator:[],
        id_process:""
      },
    };
  },
  methods: {
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
    isResponsable() {
      const id_user=this.$store.getters.getId;
      const listResp = this.form.collaborator.filter(tmp => tmp  == id_user);
      console.log("responsables:")
      console.log(this.form.collaborator)
      if(listResp.length > 0){
        this.isResponsableCriteria=true;
      }else{
        this.isResponsableCriteria=false;
      }
    },
    getCriterio() {
      this.criteriaId=this.$route.params.criteriaId;
      const path = url + `process/criteria/${this.criteriaId}/`;
      axios.get(path).then((response) => {
        this.form= response.data;
        console.log("responsables in get c:")
        console.log(this.form.collaborator);
        this.isResponsable();
      });
    },
  },

  async created() {
    await this.getCriterio();
    

    
    

    PermissionService.setUserActive();
    this.viewPermission();

  },
};
</script>

<style lang="css" scoped></style>
