<template lang="html">
  <b-container>
    <b-modal
      id="create-one-student-modal"
      ref="modal"
      title="Agregar estudiante"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" @submit="handleSubmit">
        <b-form-group
          label="CUI:"
          label-for="cui-student"
          :state="studentStateCuiValidation()"
        >
          <b-form-input
            type="text"
            id="cui-student"
            v-model="form.cui"
            :state="studentStateCuiValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyNumber(form.cui)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.cui, 8, 8)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Debe contener 8 caracteres
          </small>
        </b-form-group>
        <b-form-group
          :state="studentStateNameValidation()"
          label="Apellidos y nombres:"
          label-for="name-student"
        >
          <b-form-input
            type="text"
            id="name-student"
            v-model="form.name"
            :formatter="forceLowerCase"
            :state="studentStateNameValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyText(form.name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.name, 8, 100)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Minimo 8 y máximo 100 caracteres
          </small>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["CourseID"],
  data() {
    return {
      form: {
        id_course: this.CourseID,
        name: "",
        cui: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      errors: {
        name: "",
      },
    };
  },
  methods: {
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    resetModal() {
      this.form.name = "";
      this.form.cui = "";
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre y cui
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid && this.studentNameValidation() && this.studentCuiValidation()
      );
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo de crear estudiante y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.addOneStudent();
      this.$nextTick(() => {
        this.$bvModal.hide("create-one-student-modal");
      });
    },

    /**
     * @description Crea un estudiante con los datos necesarios
     * @return {users}
     */
    addOneStudent() {
      const datos = {
        id_course_active: parseInt(this.form.id_course),
        full_name: this.form.name,
        cui: parseInt(this.form.cui),
      };
      const path = url + `process/portfolio/student/`;
      axios
        .post(path, datos)
        .then(() => {
          swal("Estudiante creado exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("El estudiante no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @param {String} text Numero ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.studentNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentNameValidation() {
      return (
        this.textSize(this.form.name, 8, 100) && this.onlyText(this.form.name)
      );
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    studentStateCuiValidation() {
      if (this.textEmpty(this.form.cui)) {
        return new Boolean(null);
      }
      return this.studentCuiValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    studentCuiValidation() {
      return (
        this.textSize(this.form.cui, 8, 8) && this.onlyNumber(this.form.cui)
      );
    },
  },
  beforeUpdate() {
    this.form.id_course = this.CourseID;
  },
};
</script>

<style lang="css" scoped></style>
