<template>
  <b-card>
  <div class="mt-3">
    <h1>Pagina no encontrada</h1>
    
    <div>
        <b-link :to="{ name: 'PerfilUser' }">Inicio</b-link>
    </div>
  </div>
  </b-card>
</template>

<script>
export default {};
</script>