<template>
<div>
    <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <b-container v-if="!isLoading" class="py-3">
 
    <b-row class="mb-4 text-left border p-3">
      <b-col cols="12">
        <p><strong>Escuela profesional:</strong> INGENIERIA DE SISTEMAS</p>
        <p><strong>Nombre del curso:</strong> {{ curso.name }}</p>
        <p><strong>Semestre:</strong> {{ curso.semester }}</p>
        <p><strong>Docente(s):</strong></p>
      </b-col>
      <b-col cols="4">
        <li v-for="(item, index) in nameDocentes" :key="index">
          {{ item }}
        </li>
      </b-col>
    </b-row>
    <b-row class="mb-4 text-left border p-3">
    
    </b-row>
    <br>
    <br>
    <b-row class="mb-4 text-left border p-3">
      <b-col cols="6">
        <p><strong>Conocimiento previos y/o habilidades</strong></p>
      </b-col>
      <b-col cols="6">
        <b-button
          :disabled="numTemas >= 5"
          class="mb-4 float-right"
          v-b-modal.create-knowledge-modal
          variant="outline-primary"
          v-if="editPermission()"
        >
          <b-icon icon="plus"></b-icon> Agregar conocimiento
        </b-button>
      </b-col>
      

      <b-col cols="12">
        <div>
          <b-table
            id="contenidoTabla"
            striped
            hover
            :items="items"
            :fields="fields"
          >
            <template v-slot:cell(actions)="item">
              <b-container>
                <!---Editar-->
                <b-button
                  size="sm"
                  variant="outline-primary"
                  @click="
                    infoEdit(
                      item.item.tema,
                      item.item.conocimiento,
                      $event.target
                    )
                  "
                  v-if="editPermission()"
                >
                  <b-icon icon="pencil-square"></b-icon>Editar</b-button
                >&nbsp;
                <b-button
                  size="sm"
                  variant="outline-danger"
                  @click="
                    info(item.item.tema, item.item.conocimiento, $event.target)
                  "
                  v-if="deletePermission()"
                >
                  <b-icon icon="pencil-square"></b-icon>Eliminar</b-button
                >&nbsp;
              </b-container>
            </template>
          </b-table>
        </div>
      </b-col>
    </b-row>

    <b-row class="mb-4 text-left border p-3" v-if="editPermission()">
      <b-col cols="6">
        <p><strong>Subir reporte de notas</strong></p>
        <input
          ref="excel-upload-input"
          class="excel-upload-input"
          type="file"
          accept=".xlsx, .xls"
          @change="handleClick"
        />
        <b-button
          v-if="numTemas >= 3 && numTemas <= 5"
          class="m-1"
          variant="primary"
          type="file"
          @click="handleUpload"
          >Subir</b-button
        >
        <b-button
          v-if="numTemas < 3 || numTemas > 5"
          class="m-1"
          variant="primary"
          v-b-modal.errorNumTemas
          >Subir</b-button
        >
        <span v-if="hayRegistros">Ya se ha subido un archivo.</span>
      </b-col>
      <b-col cols="6">
        <b-button
          class="mt-5 float-right"
          @click="canDownload($event.target)"
          variant="outline-primary"
        >
          Descargar formato
        </b-button>
      </b-col>
    </b-row>

    <b-modal
      size="lg"
      id="temas"
      ref="modal"
      title="Numero de temas"
      ok-title="Descargar"
      @ok="handleDownload"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <b-row class="mb-4">
          <b-col cols="3">
            <p>Numero de temas (conocimientos)</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              type="number"
              id="name-phase"
              v-model="numTemas"
              required
              readonly
            ></b-form-input>
            <small class="msg">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; De 3 a 5 temas o conocimientos
            </small>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <b-modal
      id="errorNumTemas"
      title="Número incorrecto de temas"
      ok-title="Aceptar"
      ok-only
    >
      <span style="color: red;" v-if="numTemas < 3"
        >Ingrese de 3 a 5 temas o conocimientos.</span
      >
      <br />
    </b-modal>

    <!-- Modal para añadir nuevo conocimiento -->
    <b-modal
      size="lg"
      id="create-knowledge-modal"
      ref="modal"
      title="Crear Conocimiento"
      @show="resetCreateModal"
      @ok="handleOkCreateModal('conocimiento')"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <b-row class="mb-4">
          <b-col cols="3">
            <p>Conocimiento</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              type="text"
              v-model="createModal.conocimiento"
              required
            ></b-form-input>
            <small class="msg">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; De 5 a 300 caracteres
            </small>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>
  <b-modal
      size="lg"
      id="create-measure-corrective"
      ref="modal"
      title="Añadir Medida Correctiva"
      @show="resetCreateModal"
      @ok="handleOkCreateModal('medida')"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <b-row class="mb-4">
          <b-col cols="3">
            <p>Medida Correctiva</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              type="text"
              v-model="createModalM.medida"
              required
            ></b-form-input>
            <small class="msg">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; De 5 a 300 caracteres
            </small>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!-- Editar modal -->
    <b-modal
      size="lg"
      :id="'editModal'"
      :title="editModal.title"
      :evidencia="editModal.evidencia" 
      @ok="handleEditOk('conocimiento')"
      @show="showEditModal('conocimiento')"
      @hide="resetEditModal"
      ok-title="Editar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <b-row class="mb-4">
          <b-col cols="3">
            <p>Conocimiento</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              type="text"
              id="name-phase"
              v-model="editModal.conocimiento"
              required
            ></b-form-input>
            <small class="msg">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; De 5 a 300 caracteres
            </small>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!-- Modal para eliminar -->

    <b-modal
      :id="'infoModal'"
      :title="infoModal.title"
      @hide="resetEditModal"
      @ok="handleDeleteOk('conocimiento')"
      ok-title="Eliminar"
      cancel-title="Cancelar"
    >
      Conocimiento: {{ infoModal.conocimiento }} <br />
    </b-modal>

   <!-- Editar modal -->
    <b-modal
      size="lg"
      :id="'editModalM'"
      :title="editModalM.title"
      @ok="handleEditOk('medida')"
      @show="showEditModal('medida')"
      @hide="resetEditModalM"
      ok-title="Editar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" class="mt-3">
        <b-row class="mb-4">
          <b-col cols="3">
            <p>Medida Correctiva</p>
          </b-col>
          <b-col cols="9">
            <b-form-input
              type="text"
              id="name-phase"
              v-model="editModalM.medida"
              required
            ></b-form-input>
            <small class="msg">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; De 5 a 300 caracteres
            </small>
          </b-col>
        </b-row>
      </b-form>
    </b-modal>

    <!-- Modal para eliminar -->

    <b-modal
      :id="'infoModalM'"
      :title="infoModalM.title"
      @hide="resetEditModalM"
      @ok="handleDeleteOk('medida')"
      ok-title="Eliminar"
      cancel-title="Cancelar"
    >
      Medida: {{ infoModalM.medida }} <br />
    </b-modal>
    <!-- End Info modal -->

    <b-row v-if="hayRegistros" class="mb-4 text-left border p-3">
      <b-col cols="12">
        <p>Resultados visuales</p>
        <div>
          <b-table
            id="contenidoTabla1"
            small
            stacked
            bordered
            :items="itemsTabla1"
            :fields="fieldsTabla1"
          ></b-table>
        </div>
      </b-col>
      <b-col cols="12">
        <p>Informacion para el informe de la prueba de entrada</p>
        <div>
          <b-table
            id="contenidoTabla2"
            small
            stacked
            bordered
            :items="itemsTabla2"
            :fields="fieldsTabla2"
          ></b-table>
        </div>
      </b-col>

      <b-col cols="12">
        <p>Porcentajes</p>
        <div>
          <b-table
            id="contenidoTabla3"
            small
            stacked
            bordered
            :items="itemsTabla3"
            :fields="fieldsTabla3"
          ></b-table>
        </div>
      </b-col>

      <b-col cols="12">
        <template>
          <JSCharting1
            :options="optionsGraph"
            class="columnChart"
          ></JSCharting1>
        </template>
      </b-col>
    </b-row>

    <b-row v-if="hayRegistros" class="mb-4 text-left border p-3">
      <div class="col-12">
        <div class="row">
          <b-col class="col-9">
            <p>Reporte</p>
          </b-col>
          <b-col class="col-3 mb-3">
            <!--<b-button class="float-right" variant="primary">Descargar reporte</b-button>-->
          </b-col>
        </div>
      </div>
      <div class="col-12">
        <b-table
          id="reporte"
          bordered
          responsive
          hover
          :items="itemsdoble"
          :fields="fieldsdoble"
        >
          <template slot="thead-top" slot-scope="">
            <tr>
              <th></th>
              <th colspan="3"></th>
              <th colspan="4" class="text-center">Nivel alcanzado (%)</th>
            </tr>
          </template>
        </b-table>
      </div>
    </b-row>

   <b-row v-if="hayRegistros" class="mb-4 text-left border p-3">
      
       
      
        
        
    
      <b-col cols="6">
        <p><strong>Medidas Correctivas</strong></p>
      </b-col>
      <b-col cols="6">
        <b-button
         
          class="mb-4 float-right"
          v-b-modal.create-measure-corrective
          variant="outline-primary"
          v-if="editPermission()"
        >
          <b-icon icon="plus"></b-icon> Agregar medida
        </b-button>
      </b-col>
      <b-col cols="12">
       
          <b-table
            id="contenidoTablaM"
            striped
            hover
            :items="itemsM"
            :fields="fieldsM"
          >
            <template v-slot:cell(actions)="item">
              <b-container>
                <!---Editar-->
                <b-button
                  size="sm"
                  variant="outline-primary"
                  @click="
                    infoEditM(
                      item.item.tema,
                      item.item.medida,
                      $event.target
                    )
                  "
                  v-if="editPermission()"
                >
                  <b-icon icon="pencil-square"></b-icon>Editar</b-button
                >&nbsp;
                <b-button
                  size="sm"
                  variant="outline-danger"
                  @click="
                    infoME(item.item.tema, item.item.medida, $event.target)
                  "
                  v-if="deletePermission()"
                >
                  <b-icon icon="pencil-square"></b-icon>Eliminar</b-button
                >&nbsp;
              </b-container>
            </template>
          </b-table>
        
      </b-col>
       <b-row v-if="hayRegistros" align-h="center">
             <b-col cols="2.5" class="py-1 ">
       
       
          <b-button variant="primary" @click="exportPDF('exp')" >
            <b-icon icon="download"></b-icon>
            Descargar pdf
          </b-button>
         </b-col>

           <b-col cols="1" class="py-1">
           <b-button variant="primary" @click="exportPDF('pre')">
          <b-icon icon="eye"></b-icon>
        </b-button>
         </b-col>
         </b-row>
   
       
          <!--<b-form-textarea
            id="textarea"
            v-model="text"
            placeholder="Enter something..."
            rows="3"
            max-rows="6"
          ></b-form-textarea>-->
        
      
      
    </b-row>
  </b-container>
  </div>
</template>

<script>
import JSCharting1 from "jscharting-vue";
import axios from "axios";
import XLSX from "xlsx";
import swal from "sweetalert";
import jsPDF from "jspdf";
import "jspdf-autotable";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
    JSCharting1,
  },
  props: {
    beforeUpload: Function,
    onSuccess: Function,
  },
  data() {
    return {
      isLoading: true,
      text: "",
      idCourseActive: this.$route.params.courseId,
      cursoActive: {
        users: [],
      },
      curso: {
        name: "",
        semester: "",
      },
      users_names: [],
      students_course_active: [],
      nameDocentes: [],
      docentes:[],

      entrance_exam: {
        level: 0, // Número de temas
      },

      knowledgeToEdit: null,
      measureToEdit: null,
      hayRegistros: false,

      file1: null,
       responsable: [],
      value1: "",
      value2: "",
      numTemas: 0,
      name: "columnChart",
      arregloExcel: [],

      itemsdoble: [],

      fieldsdoble: [
        {
          key: "tema",
          label: "Tema",
        },
        {
          key: "co",
          label: "Conocimiento o habilidad",
        },
        {
          key: "es0",
          label: "Es 0",
        },
        {
          key: "muybaja",
          label: "Muy baja",
        },
        {
          key: "baja",
          label: "Baja 8 a 10",
        },
        {
          key: "regular",
          label: "Regular 11 a 14",
        },
        {
          key: "bueno",
          label: "Bueno > 14",
        },
        {
          key: "suma",
          label: "Suma %",
        },
      ],

      //tabla de conocimientos
      items: [],
      itemsM: [],
      fields: [
        {
          key: "tema",
          label: "Tema",
        },
        {
          key: "conocimiento",
          label: "Conocimiento",
        },
        {
          key: "actions",
          label: "Acciones",
        },
      ],
      fieldsM: [
        {
          key: "tema",
          label: "Tema",
        },
        {
          key: "medida",
          label: "medida",
        },
        {
          key: "actions",
          label: "Acciones",
        },
      ],

      createModal: {
        conocimiento: "",
      },

      createModalM:{
        medida:"",

      },

      editModal: {
        title: "title-modal",
        id: "edit-modal",
        conocimiento: "",
      },

       editModalM: {
        title: "title-modal",
        id: "edit-modalM",
        medida: "",
      },

      infoModal: {
        title: "title-modal",
        id: "info-modal",
        conocimiento: "",
      },

      
      infoModalM: {
        title: "title-modal",
        id: "info-modalM",
        medida: "",
      },
      itemsTabla1: [
        //Se duplico la primera fila para poder ubicarlo verticalmente
        { tema: "", evaluados: 0, aprobados: 0, desaprobados: 0 },
      ],
      fieldsTabla1: [
        {
          key: "tema",
          label: "Tema",
        },
        {
          key: "evaluados",
          label: "Evaluados",
        },
        {
          key: "aprobados",
          label: "Aprobados",
        },
        {
          key: "desaprobados",
          label: "Desaprobados",
        },
      ],
      itemsTabla2: [
        //Se duplico la primera fila para poder ubicarlo verticalmente
        {
          tema: "",
          escero: 0,
          muyBajo: 0,
          bajo: 0,
          regular: 0,
          bueno: 0,
          total: 0,
        },
      ],
      fieldsTabla2: [
        {
          key: "tema",
          label: "Tema",
        },
        {
          key: "escero",
          label: "Es 0",
        },
        {
          key: "muyBajo",
          label: "Muy bajo < 8",
        },
        {
          key: "bajo",
          label: "Bajo 8 a 10",
        },
        {
          key: "regular",
          label: "Regular 11 a 14",
        },
        {
          key: "bueno",
          label: "Bueno > 14",
        },
        {
          key: "total",
          label: "TOTAL",
        },
      ],
      itemsTabla3: [
        //Se duplico la primera fila para poder ubicarlo verticalmente
        {
          tema: "",
          escero: 0,
          muyBajo: 0,
          bajo: 0,
          regular: 0,
          bueno: 0,
          total: 0,
        },
      ],
      fieldsTabla3: [
        {
          key: "tema",
          label: "Tema",
        },
        {
          key: "escero",
          label: "Es 0",
        },
        {
          key: "muyBajo",
          label: "Muy bajo",
        },
        {
          key: "bajo",
          label: "Bajo ",
        },
        {
          key: "regular",
          label: "Regular ",
        },
        {
          key: "bueno",
          label: "Bueno ",
        },
      ],

      optionsGraph: null,

      porcentajeTotalCero: 0,
      porcentajeTotalMuyBajo: 0,
      porcentajeTotalBajo: 0,
      porcentajeTotalRegular: 0,
      porcentajeTotalBueno: 0,
    };
  },

  methods: {

    /**
     * @description Genera un pdf segun el formato de mejora continua
     */
    exportPDF(a) {
      var doc = new jsPDF();
      //se simplificaron la cantidad de lineas de la data de la imagen del logo
      
      var logo = 'https://upload.wikimedia.org/wikipedia/commons/3/3a/LOGO_UNSA.png';
      //img.src = 'https://upload.wikimedia.org/wikipedia/commons/3/3a/LOGO_UNSA.png';
     /**   var imgData =
        "data:image/";*/
      let pdfName = "INFORME DE EXAMEN DE ENTRADA - " + this.curso.name;
      //var doc = new jsPDF('p','in','letter');

      //var logo_url = "../../assets/logo1.jpeg";
      doc.addImage(logo, 20, 5, 50, 17,undefined,'FAST');
      doc.setFont("times");
      doc.setFontSize(11);
      doc.text("UNIVERSIDAD NACIONAL DE SAN AGUSTÍN DE AREQUIPA", 82.2, 9);
      doc.text("FACULTAD DE INGENIERÍA DE PRODUCCIÓN Y SERVICIOS", 82.02, 14);
      doc.text("ESCUELA PROFESIONAL DE INGENIERIA DE SISTEMAS", 85.53, 19);
      doc.setFontSize(14);
      doc.text("INFORME DE EXAMEN DE ENTRADA – "+this.cursoActive.portfolio, 65, 32);
      doc.setFontSize(12);
     
     
        doc.autoTable({
       
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, font: "times", fontSize: 12 },
        margin: { top: 50 },
        columnStyles: {
          0: { columnWidth:23, halign:"center"  },
          1: { },
          2: {   columnWidth:25, halign:"center"      },
        },
        head:[
        [{content:"ASIGNATURA", colSpan:2, fontSize: 11},""],
        ["Código","Nombre","Semestre"]
        ], 
        body: [
         
          [this.curso.id, this.curso.name,this.curso.semester ],
        
        ],
       

      
      });
      let fecha= doc.getCreationDate().toString();
      let formatfecha=fecha.substring(8,10)+"/"+ fecha.substring(6,8)+"/"+fecha.substring(2,6);
     
     // var datestring = ("0" + d.getDate()).slice(-2) + "-" + ("0"+(d.getMonth()+1)).slice(-2) + "-" +
   // d.getFullYear() + " " + ("0" + d.getHours()).slice(-2) + ":" + ("0" + d.getMinutes()).slice(-2);
      var docentes=[]
      docentes.push([this.nameDocentes[0],{content:formatfecha , rowSpan:this.nameDocentes.length},{content:this.students_course_active.length, rowSpan:this.nameDocentes.length}])
      if(this.nameDocentes.length>1){  
      for(let i=1; i<this.nameDocentes.length; i++ ){
          docentes.push([this.nameDocentes[i],"",""])
      }}
          doc.autoTable({
        //theme:"stacked",
       
        bodyStyles: { valign: "bottom" },
        styles: { cellPadding: { left: 4 }, font: "times", fontSize: 12 },
        margin: { top: 70 },
        columnStyles: {
          0: {halign:"left",   },
          1: {columnWidth:25, halign:"center", valign: "center" },
          2: {columnWidth:50, halign:"center", valign: "center"      },
        },
        head:[
        [{content:"DOCENTES(S)", fontSize: 11},{content:"Evaluación", colSpan:2, halign:"center", fontSize: 11}],
        ["Nombres y Apellidos","Fecha","Número de estudiantes"]
        ], 
        body: docentes
      });
     
    
     
      
       doc.autoTable({
        theme: "plain",
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, font: "times", fontSize: 12 },
        margin: { top: 10 },
        body: [
          [
            "",{
              content: "De acuerdo a su importancia, enumere los conocimientos previos y/o habilidades que el estudiante "+ 
              "debe tener al inicio de la asignatura y el nivel alcanzado de acuerdo a la prueba de entrada. Los "+
              "porcentajes deben sumar 100% para cada conocimiento o habilidad (tema evaluado).",
              
            },
          ],
          
        ],
        columnStyles: {
        },
        showHead: false,
      });

      doc.autoTable({
        html: "#reporte",
        margin: { top: 20 },
        bodyStyles: { valign: "top" },

        rowPageBreak: "auto",
        styles: {  },
       // theme: 'grid',
        columnStyles: {
                0: {columnWidth: 15,
                    fontStyle: 'bold',
                    halign: 'left', 
                    }, 
                1: {
                    
                    fontStyle: 'bold',
                    halign: 'left', 
                },
                  2: {
                    columnWidth: 15, halign: 'center', 
                },
                 3: {
                    columnWidth: 15, halign: 'center', 
                },
                 4: {
                    columnWidth: 15, halign: 'center', 
                },
                 5: {
                    columnWidth: 17, halign: 'center', 
                },
                 6: {
                    columnWidth: 15, halign: 'center', 
                },
                 7: {
                    columnWidth: 15, halign: 'center', 
                },   
            },
            
        
          
        
      });
      
        doc.autoTable({
        theme: "plain",
        rowPageBreak: "auto",
        bodyStyles: { valign: "top" },
        styles: { cellPadding: { left: 4 }, font: "times", fontSize: 12 },
        margin: { top: 10 },
        body: [
          [
            "",{
              content: "Se describe las medidas correctivas que se ha tomado en los casos que el nivel sea insuficiente (<75%)",
              
              
            },
          ],
          
        ],
        columnStyles: {
        },
        showHead: false,
      });
      
        var nmedidas=[]
        for(let i=1; i<=this.itemsM.length;i++){
          nmedidas.push([i+". "+ this.itemsM[i-1].medida])
        }
      doc.autoTable({
        //html: "#contenidoTablaM",
         theme: "plain",
        margin: { top: 10, left:20 },
        styles: {  },
        columnStyles: {
        },
        
        body:nmedidas,
         showHead: false,

      });
       //FIRMAS
      var bfirmas = [];
      var aux=this.docentes;
      this.firmas(bfirmas);
      let i=0;

      doc.autoTable({
        theme: "plain",
        rowPageBreak: "avoid",
        margin: { top: 30  },
         styles: { cellPadding: { left: 20 }, font: "times" , fontSize:12},
        body: [ 
        [""],
        [
          {content: "Fecha:  " + formatfecha }
        ]]
      });

     doc.autoTable({
        theme: "plain",
        rowPageBreak: "avoid",
        bodyStyles: { valign: "top", halign: "center" },
        styles: { cellPadding: { left: 8 }, font: "times", },
        margin: { top: 15 , bottom:10 },
     
        didDrawCell: function(data) {
       //if (data.column.dataKey === i && data.column.index ===  i) {
         console.log(data.rows)
          if(i<aux.length){
            if(aux[i].signature){
          doc.addImage(aux[i].signature, data.cell.x + data.column.width/2-8 , data.cell.y+9, 23, 18,undefined,"FAST");}
          i++;
          }
          
        },
        body: bfirmas,
        showHead: false,
      });

       if(a=="pre")
     window.open(doc.output('bloburl')).settitle(pdfName);
      
      else if(a=="exp")
      doc.save(pdfName + ".pdf");
    },
    firmas(body) {
      let f = [];
      for (let val = 0 ; val <this.nameDocentes.length;val++) {
        if(val === 3 || val === 6 || val === 9 ){
          body.push(f);
          f = [];    
        }
        let nomFirma =
          this.nameDocentes[val]
         
        f.push("\n\n\n\n\n_____________________\n" + "Firm\n" + nomFirma);
      }
      body.push(f);
    },
    mounted() {
      this.optionsGraph = {
        type: "vertical column",
        series: [
          {
            name: "Porcentaje",
            points: [
              { x: "Es 0", y: this.porcentajeTotalCero },
              { x: "Muy bajo < 8", y: this.porcentajeTotalMuyBajo },
              { x: "Bajo 8 a 10", y: this.porcentajeTotalBajo },
              { x: "Regular 11 a 14", y: this.porcentajeTotalRegular },
              { x: "Bueno > 14", y: this.porcentajeTotalBueno },
            ],
          },
        ],
      };
    },

    /**
     * @description Obtener los datos del examen de entrada
     */
    async getEntranceExam() {
      const path =
        url + `process/portfolio/entrance_examination/${this.idCourseActive}/`;
      await axios.get(path).then((response) => {
        this.entrance_exam = response.data;
        this.numTemas = this.entrance_exam.knowledges.length;
      });

      //Poner en la tabla los conocimientos
      this.items = [];
      this.itemsM = [];
      
      for (let i = 1; i <= this.entrance_exam.knowledges.length; i++) {
        this.items.push({
          tema: i,
          conocimiento: this.entrance_exam.knowledges[i - 1],
        });
      }
      for (let i = 1; i <= this.entrance_exam.measures.length; i++) {
          this.itemsM.push({
            tema: i,
            medida: this.entrance_exam.measures[i - 1],
          });
        }
    },

    /**
     * @description Actualiza el examen de entrada asociado a un curso activo
     * @param {exam} exam es un objeto con los datos de un examen de entrada
     */
    updateEntranceExam(exam) {
      const path =
        url + `process/portfolio/entrance_examination/${this.idCourseActive}/`;
      // se excluye los documentos para que no se eliminen
      delete this.entrance_exam.doc_exam;
      delete this.entrance_exam.doc_exam_solution;

      axios.put(path, exam).then((response) => {
        console.log("Se ha actualizado el examen de entrada ", response);
        this.numTemas = response.data.knowledges.length;
        console.log("N° TEMAS", this.numTemas)

        // Colocar los conocimientos en la tabla
        this.items = [];
        this.itemsM = [];
        for (let i = 1; i <= this.entrance_exam.knowledges.length; i++) {
          this.items.push({
            tema: i,
            conocimiento: this.entrance_exam.knowledges[i - 1],
          });
        }
        for (let i = 1; i <= this.entrance_exam.measures.length; i++) {
          this.itemsM.push({
            tema: i,
            medida: this.entrance_exam.measures[i - 1],
          });
        } 

        this.getStudents(); // para que se actualice todas las tablas
      });
    },

     /**
     * @description Invocar metodo registrar mejora
     */
     onSubmit(evt) {
      evt.preventDefault();
      
        this.registermejora();
      
    },

      /**
     * @description Crea una mejora con sus datos correspondientes
     */
    registermejora() {
      const path = url + `process/portfolio/entrance_examination/${this.idCourseActive}/`;

      axios
        .post(path, this.form)
        .then((response) => {
          this.form.description = response.data.description;
          swal("Mejora agregada Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "report",
            });
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_resource, name deben formar un conjunto único.",
              "Ya existe con ese nombre."
            )
          );
          swal(
            "No se creó ",
            this.errorsList.join("\n"),
            "error", {
              button: "Aceptar",
            }
          );
        });
    },

    /**
     * @description Obtener los datos del curso activo con el método get
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}/`;
      axios.get(path).then((response) => {
        this.cursoActive = response.data;

        // Se obtiene los nombres de los usuarios para mostrar en la vista
        this.users_names = this.cursoActive.users;

        this.getCourse();

        // Obtener los nombres de los docentes
        for (const docenteId of this.cursoActive.users) {
          this.getDocente(docenteId)
        }
      });
    },

    /**
     * @description Obtener los datos del curso asociado al curso activo con el método get
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.cursoActive.id_course}`;
      axios.get(path).then((response) => {
        this.curso = response.data;

        this.getStudents();
      });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.docentes.push(response.data);
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtener los datos de los estudiantes de un curso activo con el método get
     * y los procesa para que esten en un formato tabla.
     */
    getStudents() {
      const path =
        url +
        `process/portfolio/student/?id_course_active=${this.idCourseActive}`;
      axios.get(path).then((response) => {
        this.students_course_active = response.data;

        // Tranformar las notas de los estudiantes al formato tabla
        this.arregloExcel = [];

        // verificar si se ha subido el archivo o no
        let prueba = this.students_course_active.filter(
          (st) => st.grades_entrance.length > 0
        );

        if (prueba.length > 0) {
          this.students_course_active.forEach((student) => {
            let aux = {
              cui: student.cui,
              full_name: student.full_name,
            };
            for (let tema = 1; tema <= this.numTemas; tema++) {
              aux[`Tema ${tema}`] = student.grades_entrance[tema - 1];
            }
            this.arregloExcel.push(aux);
          });
        }

        let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel));

        // Se envia la data al método que procesará los datos a las tablas y gráficos
        this.chargeDataToTables(arregloExcelJSON);
      });
    },

    onContext(ctx) {
      // The date formatted in the locale, or the `label-no-date-selected` string
      this.formatted = ctx.selectedFormatted;
      // The following will be an empty string until a valid date is entered
      this.selected = ctx.selectedYMD;
    },

    /**
     * @description Comprueba si se puede descargar o no de acuerdo al número de temas
     * @param {button} button es el componente button
     */
    canDownload(button) {
      if(this.numTemas >= 3 && this.numTemas <=5) {
        this.$root.$emit(
          "bv::show::modal",
          "temas",
          button
        );
      } else {
        this.$root.$emit(
          "bv::show::modal",
          "errorNumTemas",
          button
        );
      }
    },

    /**
     * @description Proporciona una plantilla con los datos del curso, los temas y los estudiantes de un curso activo
     * @return {file} retorma el archivo ExamenEntrada.xlsx
     */
    handleDownload() {
      // Verificar si el número de temas ha sido cambiado, para actualizarlo en la bd
      if (this.entrance_exam.level != this.numTemas) {
        this.entrance_exam.level = this.numTemas;
        this.updateEntranceExam(this.entrance_exam);
      }

      // Se crea un archivo excel
      var wb = XLSX.utils.book_new();

      wb.Props = {
        Title: "Plantilla de alumnos",
        Subject: "Alumnos",
        Author: "Red Stapler",
      };

      var ws_data = [
        ["Universidad Nacional de San Agustín de Arequipa"],
        ["Facultad de Ingeniería de Producción y Servicios"],
        ["Escuela Profesional Ingenieria de Sistemas"],
        [],
        ["", "Evaluacion de Entrada 2020A"],
        [],
        ["", `Curso: ${this.curso.name}`],
        [
          "",
          "Cantidad de Temas Evaluados (minimo 3 maximo 5)",
          `${this.numTemas}`,
        ],
        [],
        ["CUI", "Apellidos y nombres"],
      ];

      // Carga de estudiantes al excel
      this.students_course_active.forEach((student) => {
        ws_data.push([student.cui, student.full_name]);
      });

      // Carga de los temas al excel
      for (let index = 1; index <= this.numTemas; index++) {
        ws_data[9].push(`Tema ${index}`);
      }

      var ws = XLSX.utils.aoa_to_sheet(ws_data);

      XLSX.utils.book_append_sheet(wb, ws, "Tabulación");

      XLSX.writeFile(wb, "ExamenEntrada.xlsx");
    },

    /**
     * @description Activa el input que tiene como ref "excel-upload-input"
     */
    handleUpload() {
      this.$refs["excel-upload-input"].click();
    },

    /**
     * @description Obtener el archivo .xls cargado por el usuario
     * @param {e} e es el evento que se recibe cuand el usuario carga un archivo
     */
    handleClick(e) {
      const files = e.target.files;
      const rawFile = files[0];
      if (!rawFile) return;
      this.upload(rawFile);
    },

    /**
     * @description Obtiene el archivo que ha sido subido por el usuario y lo validad
     * @param {rawfile} rawfile es el archivo subido
     */
    upload(rawFile) {
      this.$refs["excel-upload-input"].value = null;
      if (!this.beforeUpload) {
        this.readerData(rawFile);
        return;
      }
      const before = this.beforeUpload(rawFile);
      if (before) {
        this.readerData(rawFile);
      }
    },

    /**
     * @description Obtener el archivo y lee los datos que serán procesados en las tablas
     * y luego serán enviados a la base de datos
     * @param {rawfile} rawfile es el archivo .xls
     */
    readerData(rawFile) {
      this.isLoading=true
      return new Promise((resolve) => {
        const reader = new FileReader();
        reader.onload = (e) => {
          const data = e.target.result;
          const workbook = XLSX.read(data, { type: "array" });
          const firstSheetName = workbook.SheetNames[0];
          const worksheet = workbook.Sheets[firstSheetName];
          const results = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

          //Conversión a arreglo
          this.arregloExcel = [];

          for (let index = 10; index < results.length; index++) {
            let auxCui = results[index][0]; // Cui del estudiante

            if (auxCui && auxCui != "") {
              // Comprueba la existencia del cui
              let aux = {
                cui: auxCui,
                full_name: results[index][1], // Apellidos y nombres del estudiante
              };
              for (let j = 2; j < results[9].length; j++) {
                aux[results[9][j]] = results[index][j]; // Demás datos de los temas
              }
              this.arregloExcel.push(aux);
            }
          }

          let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel));
          console.log("ARREGLO EXCEL", arregloExcelJSON)

          if (arregloExcelJSON.length == 0) {
            swal("El archivo no contiene registros.", "", "warning");
            return
          }

          // Se envia la data al método que procesará los datos a las tablas y gráficos
          this.chargeDataToTables(arregloExcelJSON);

          // Cargar los datos a la bd
          this.chargeDataToBD(arregloExcelJSON);

          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
      });
    },

    /**
     * @description Carga los datos de las notas del excel en las tablas de la interfaz
     * @param {data} data son los datos ordenados del excel
     */
    chargeDataToTables(data) {
      if (data.length > 0) {
        this.hayRegistros = true;

        let numeroTemas = this.numTemas;

        // Vaciar las tablas
        this.itemsTabla1 = [
          { tema: "", evaluados: 0, aprobados: 0, desaprobados: 0 },
        ];
        this.itemsTabla2 = [
          {
            tema: "",
            escero: 0,
            muyBajo: 0,
            bajo: 0,
            regular: 0,
            bueno: 0,
            total: 0,
          },
        ];
        this.itemsTabla3 = [
          {
            tema: "",
            escero: 0,
            muyBajo: 0,
            bajo: 0,
            regular: 0,
            bueno: 0,
            total: 0,
          },
        ];
        this.itemsdoble = [];

        this.porcentajeTotalCero = 0;
        this.porcentajeTotalMuyBajo = 0;
        this.porcentajeTotalBajo = 0;
        this.porcentajeTotalRegular = 0;
        this.porcentajeTotalBueno = 0;

        // Subida de datos a la tabla 1: Resultados visuales
        for (let tema = 1; tema <= numeroTemas; tema++) {
          let evalu = 0;
          let aprob = 0;
          let desap = 0;

          data.forEach((student) => {
            if (student[`Tema ${tema}`]) {
              evalu++;
              if (student[`Tema ${tema}`] > 10.5) {
                aprob++;
              } else {
                desap++;
              }
            }
          });
          this.itemsTabla1.push({
            tema: `Tema ${tema}`,
            evaluados: evalu,
            aprobados: aprob,
            desaprobados: desap,
          });
          
          this.isLoading=false
        }
        
        // Subida de datos a las tablas 2 y 3: Informacion para el informe de la prueba de entrada y porcentajes
        for (let tema = 1; tema <= numeroTemas; tema++) {
          let total = 0;
          let cero = 0;
          let muybajo = 0;
          let bajo = 0;
          let regular = 0;
          let bueno = 0;

          data.forEach((student) => {
            if (student[`Tema ${tema}`]) {
              total++;
              let nota = student[`Tema ${tema}`];

              if (nota > 14) {
                bueno++;
              } else if (nota >= 11) {
                regular++;
              } else if (nota >= 8) {
                bajo++;
              } else if (nota > 0) {
                muybajo++;
              } else {
                cero++;
              }
            }
          });
          this.itemsTabla2.push({
            tema: `Tema ${tema}`,
            escero: cero,
            muyBajo: muybajo,
            bajo: bajo,
            regular: regular,
            bueno: bueno,
            total: total,
          });

          // PAra evitar división entre 0
          if (total == 0) {
            total = 1;
          }

          this.porcentajeTotalCero += Math.round((cero / total) * 100);
          this.porcentajeTotalMuyBajo += Math.round((muybajo / total) * 100);
          this.porcentajeTotalBajo += Math.round((bajo / total) * 100);
          this.porcentajeTotalRegular += Math.round((regular / total) * 100);
          this.porcentajeTotalBueno += Math.round((bueno / total) * 100);

          this.itemsTabla3.push({
            tema: `Tema ${tema}`,
            escero: Math.round((cero / total) * 100),
            muyBajo: Math.round((muybajo / total) * 100),
            bajo: Math.round((bajo / total) * 100),
            regular: Math.round((regular / total) * 100),
            bueno: Math.round((bueno / total) * 100),
          });

          // Tabla de nivel alcanzado
          this.itemsdoble.push({
            tema: `${tema}`,
            co: this.entrance_exam.knowledges[tema - 1],
            es0: Math.round((cero / total) * 100),
            muybaja: Math.round((muybajo / total) * 100),
            baja: Math.round((bajo / total) * 100),
            regular: Math.round((regular / total) * 100),
            bueno: Math.round((bueno / total) * 100),
            suma:
              Math.round((regular / total) * 100) +
              Math.round((bueno / total) * 100),
          });
        }

        // Promediar los porcentajes para la gráfica
        this.porcentajeTotalCero /= numeroTemas != 0 ? numeroTemas : 1;
        this.porcentajeTotalMuyBajo /= numeroTemas != 0 ? numeroTemas : 1;
        this.porcentajeTotalBajo /= numeroTemas != 0 ? numeroTemas : 1;
        this.porcentajeTotalRegular /= numeroTemas != 0 ? numeroTemas : 1;
        this.porcentajeTotalBueno /= numeroTemas != 0 ? numeroTemas : 1;

        this.mounted();
      } else {
        this.isLoading=false
        this.hayRegistros = false;
      }
    },

    /**
     * @description Carga los datos de las notas del excel en la base de datos
     * @param {data} data son los datos ordenados del excel
     */
    chargeDataToBD(data) {
       this.isLoading=true
      data.forEach((student) => {
        let auxStudent = this.students_course_active.find(
          (st) => st.cui == student.cui
        );
        auxStudent.grades_entrance = [];

        let notasAbandono = 0;
        for (let tema = 1; tema <= this.numTemas; tema++) {
          let nota = student[`Tema ${tema}`];
          if (!nota || nota == "AB") {
            notasAbandono++;
            auxStudent.grades_entrance.push(0); // cuando un campo es vacio se considera 0
          } else {
            auxStudent.grades_entrance.push(nota);
          }
        }

        if (notasAbandono == this.numTemas) {
          // Si no tiene todas las notas se considera abandono
          auxStudent.grades_entrance = [];
        }
        this.updateStudent(auxStudent.id, auxStudent);
      });
       this.isLoading=false
      swal("Los datos se han registrado con éxito.", "", "success", {
        button: "Aceptar",
      });
    },

    /**
     * @description Carga los datos de las notas del excel en la base de datos
     * @param {id} id es el identificador del estudiante a modificar
     * @param {data} data son los datos del estudiante a modificar
     */
    updateStudent(id, data) {
      const path = url + `process/portfolio/student/${id}/`;

      axios.put(path, data).then(() => {});
    },


    infoEdit(itemID, itemConocimiento, button) {
      
      this.editModal.title = `Editar Conocimiento`;

      this.editModal.id = itemID;
      this.editModal.conocimiento = itemConocimiento;
      console.log( this.editModal.title, this.editModal.id)

      //Metodo para obtener el contenido y despcricion
      //Ahi reemplazas en this.editModal.description y this.editModal.content
      //this.getSumille()

      this.$root.$emit(
        "bv::show::modal",
        "editModal",
        button
      );
     
          
        
      },

    info(itemID, itemConocimiento, button) {
      this.infoModal.title = `¿Desea eliminar el conocimiento?`;
      this.infoModal.id = itemID;
      this.infoModal.conocimiento = itemConocimiento;

      //Metodo para obtener el contenido y despcricion
      //Ahi reemplazas en this.infoModal.description y this.infoModal.content
      //this.getSumille()

      this.$root.$emit(
        "bv::show::modal",
        "infoModal",
        button
      );
    },

    /**
     * @description Se agrega un nuevo conocimiento al examen de entrada
     */

    infoEditM(itemID, itemMedida, button) {
      this.editModalM.title = `Editar Medida`;

      this.editModalM.id = itemID;
      this.editModalM.medida = itemMedida;

      //Metodo para obtener el contenido y despcricion
      //Ahi reemplazas en this.editModal.description y this.editModal.content
      //this.getSumille()

      this.$root.$emit(
        "bv::show::modal",
        "editModalM",
        button
      );
    },

    infoME(itemID, itemMedida, button) {
      this.infoModalM.title = `¿Desea eliminar la medida?`;
      this.infoModalM.id = itemID;
      this.infoModalM.medida = itemMedida;

      //Metodo para obtener el contenido y despcricion
      //Ahi reemplazas en this.infoModal.description y this.infoModal.content
      //this.getSumille()

      this.$root.$emit(
        "bv::show::modal",
        "infoModalM",
        button
      );
    },


  handleOkCreateModal(a) {
    if(a=='conocimiento'){
      if (
        this.createModal.conocimiento.length >= 5 &&
        this.createModal.conocimiento.length <= 300
      ) {
        let conocimiento = this.createModal.conocimiento;

        this.entrance_exam.knowledges.push(conocimiento);

        // Se acttualiza en bd
        this.updateEntranceExam(this.entrance_exam);
      }}
      else{
      if(a=='medida'){
         if (
        this.createModalM.medida.length >= 5 &&
        this.createModalM.medida.length <= 300
      ) {
        let medida = this.createModalM.medida;

        this.entrance_exam.measures.push(medida);
        console.log("sd",medida);
        // Se acttualiza en bd
        this.updateEntranceExam(this.entrance_exam);
      }

      }
      }
    },

    /**
     * @description Se elimina un conocimiento al examen de entrada
     */
    handleDeleteOk(a) {
      if(a=='conocimiento'){
      this.entrance_exam.knowledges = this.entrance_exam.knowledges.filter(
        (e) => e != this.infoModal.conocimiento
      );

     
    }
    else{
      if (a=='medida') {
        this.entrance_exam.measures = this.entrance_exam.measures.filter(
        (e) => e != this.infoModalM.medida
      );

   
        
      }
    }
       // Se acttualiza en bd
      this.updateEntranceExam(this.entrance_exam);
        
    },

    showEditModal(a) {
      if(a=='conocimiento'){
        this.knowledgeToEdit = this.editModal.conocimiento;
      }
      else{
       if (a=='medida'){ 
         this.measureToEdit = this.editModalM.medida;
       }
      }
    },

    /**
     * @description Se edita un conocimiento al examen de entrada
     */
    handleEditOk(a) {
     if (a=='conocimiento') {

      if (
        this.editModal.conocimiento.length >= 5 &&
        this.editModal.conocimiento.length <= 300
      ) {
        this.entrance_exam.knowledges = this.entrance_exam.knowledges.map(
          (e) => {
            if (e == this.knowledgeToEdit) {
              e = this.editModal.conocimiento;
            }
            return e;
          }
        );

        // Se acttualiza en bd
        this.updateEntranceExam(this.entrance_exam);
      }
     }
     else{
       if (a=='medida') {
         
      if (
        this.editModalM.medida.length >= 5 &&
        this.editModalM.medida.length <= 300
      ) {
        this.entrance_exam.measures = this.entrance_exam.measures.map(
          (e) => {
            if (e == this.measureToEdit) {
              e = this.editModalM.medida;
            }
            return e;
          }
        );

        // Se acttualiza en bd
        this.updateEntranceExam(this.entrance_exam);
      }
         
       }
     }
    },

    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    resetCreateModal() {
      this.createModal.conocimiento = "";
      this.createModalM.medida = "";

    },

    resetEditModal() {
      this.editModal.title = "";
      this.editModal.id = "";
      this.editModal.conocimiento = "";
     
    },

    resetEditModalM() {
     
      this.editModalM.title = "";
      this.editModalM.id = "";
      this.editModalM.medida = "";
    },
      /**
     * @description Obtiene la informacion de un responsable especifico de la BD
     * @return {responsable}
     */
    getResponsable() {
      const path =
        url +
        `process/portfolio/course_active_user/?id_course_active=${this.courseId}&id_user=`;

      axios
        .get(path)
        .then((response) => {
          this.responsable = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }      
      this.$router.push("/");
    },
    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;
    },
  },

  /**
   * @description Ejecuta los métodos descritos cuando inicie este componente
   */
  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
    this.getEntranceExam();
    this.mounted();
  },
};
</script>

<style lang="css" scoped>
#contenidoTabla1 tbody {
  display: flex;
}
.excel-upload-input {
  display: none;
  z-index: -9999;
}
</style>
