<template lang="html" >

<b-container id="custom-css">
  <DeleteResearchOnly
      :getResearchOnly="getResearchOnly" 
      :itemResearchOnly="ResearchOnlySelected"
    >
    </DeleteResearchOnly>
    <EditResearchOnly
      :getResearchOnly="getResearchOnly" 
      :itemResearchOnly="ResearchOnlySelected"
    >
    </EditResearchOnly>
  <b-modal
  
    id="list-research-only-modal"
    ref="modal"
    :title="'Lista de '+dataResearchOnly.data_name_two"
    size="lg"
    scrollable
    no-close-on-backdrop
    ok-only 
    ok-variant="secondary" 
    ok-title="Cancelar"
    >
    <div class="text-left" >
      <b-row class=" mb-2 text-right">
        <b-col>
          <b-button
            class="float-right"
            v-b-modal.add-research-only-modal
            variant="primary"
          >
            <b-icon icon="plus"></b-icon>
            Agregar
          </b-button>
        </b-col>
      </b-row>
    
    <div >
    <b-table 
      :busy.sync="isLoading"
      hover
      :show-empty="emptyTable"
      small
      stacked="md"
      :items="research_only"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay registros para mostrar"
      empty-filtered-text="No hay registros para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="secondary"
            @click="editResearchOnly(data.item, $event.target)"
          >
            <b-icon icon="pencil-square"></b-icon>
          </b-button>
          <b-button
          class="ml-1"
            size="sm"
            variant="danger"
            @click="deleteResearchOnly(data.item, $event.target)"
          >
            <b-icon icon="trash"></b-icon>
          </b-button>
        </b-container>
      </template>
      <template #table-busy>
        <div class="mx-auto " style="width: 100px">
          <bounce-loader :color="'#2F3D57'" :size="100" class="my-2"/>
        </div>
      </template>
    </b-table>

    </div>
  </div>
  </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import {DataResearchOnly} from "@/components/CriteriaSix/ResearchOnly/DataResearchOnly.js";

//import DetailResearchOnly from "@/components/CriteriaSix/ResearchOnly//DetailResearchOnly";
import EditResearchOnly from "@/components/CriteriaSix/ResearchOnly//EditResearchOnly";
import DeleteResearchOnly from "@/components/CriteriaSix/ResearchOnly//DeleteResearchOnly";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components:{
 
    //etailResearchOnly,
    EditResearchOnly,
    DeleteResearchOnly
  },
  props: ["isResponsableCriteria", "getResearchOnly", "research_only"],
  data() {
    return {
      ResearchOnlySelected:{},
      counter:0,
      isLoading: true,
      dataResearchOnly: DataResearchOnly,
      emptyTable: false,
      userPermissions: this.$store.getters.getPermisos,

      status: this.$route.params.status,
      currentUser: "",

      //research_only: [],
      user: [],
      users: [],
      roles: "",
      process: "",
      fields: [
        {
          key: "title",
          label: "Research",
          sortable: true,
          //class: "text-center",
        },
        {
          key: "actions",
          label: "Acción",
          //   class: "text-center"
        },
      ],
     
      totalRows: 1,
      currentPage: 1,
      perPage: 15,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["first_name"],
    };
  },
  computed: {

    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  methods: {
    /**
     * @description Abre el modal de detalle
     */
    deleteResearchOnly(research_only, button) {
      this.ResearchOnlySelected = research_only;
      this.$root.$emit("bv::show::modal", "delete-research-only-modal", button);
    },
    /**
     * @description Abre el modal de detalle
     */
    editResearchOnly(research_only, button) {
      this.ResearchOnlySelected = research_only;
      this.$root.$emit("bv::show::modal", "edit-research-only-modal", button);
    },
    /**
     * @description Obtiene el nombre de un objeto usuario
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.users.length; i++) {
        if (this.users[i].id == idUserName) {
          return this.users[i].first_name + " " + this.users[i].last_name;
        }
      }
    },
    /**
     * @description Obtiene la lista de usuarios registrados en la BD
     */
    getUsers() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.users = response.data;
      });
    },
    
    /**
     * @description filtro de la tabla
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
    /**
     * @description Revisa los permisos del usuario
     */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        this.getUsersxProcess(this.$store.getters.idProceso);
        return true;
      }
      this.getUsersxProcess(this.$store.getters.idProceso);
      this.$router.push("/");
    },

  },
  async created() {
    this.currentUser= this.$store.getters.getId,
    await this.getResearchOnly();
    this.isLoading=false;
  },
  beforeUpdate() {
    this.totalRows = this.research_only.length;
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 150px;
}
</style>
