<template lang="html">
  <b-container>
    <b-modal
      id="delete-process-modal"
      ref="modal"
      title="Eliminar Proceso"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar el proceso: {{ this.ProcessInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["ProcessInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteProcess();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-process-modal");
      });
    },
    /**
     * @description Elimina un proceso de manera fisica
     */
    deleteProcess() {
      const path = url + `process/process/${this.ProcessInfo.id}`;
      axios.delete(path);
      swal("Proceso Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$router.push("/process/list");
        location.reload();
      });
    },
  },
};
</script>

<style></style>
