<template lang="html">
  <div class="container">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button :to="{ name: 'ListProcess' }" v-if="this.superadmin">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <br />
      <div class="col-12">
        <h3 class="text-center my-0 ">Detalles del proceso</h3>
      </div>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3" v-if="this.superadmin">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ process.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3" v-if="!this.superadmin">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ this.userActive.role.process }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Descripción:</b-col>
            <b-col sm="9">{{ process.description }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Fecha de inicio:</b-col>
            <b-col sm="9">
              {{ new Date(process.started).toLocaleString() }}
            </b-col>
          </b-row>

          <b-row
            class="text-left mb-2 "
            align-v="center"
            v-if="this.superadmin"
          >
            <b-col sm="3">Responsable:</b-col>
            <b-col sm="9">
              {{ this.user.first_name }} {{ this.user.last_name }}
              <b-button
                v-b-modal.responsible-info
                variant="outline-primary"
                size="sm"
              >
                <b-icon icon="person-lines-fill"></b-icon>
              </b-button>

              <b-modal
                id="responsible-info"
                scrollable
                title="Informacion del responsable"
                ok-only
                ok-title="Aceptar"
              >
                <b-row>
                  <b-col sm="3">Nombres: </b-col>
                  <b-col sm="9"
                    >{{ this.user.first_name }} {{ this.user.last_name }}</b-col
                  >
                </b-row>
                <b-row>
                  <b-col sm="3">Correo: </b-col>
                  <b-col sm="9">{{ this.user.email }}</b-col>
                </b-row>
                <b-row>
                  <b-col sm="3">Rol: </b-col>
                  <b-col sm="9">{{ this.role.name }}</b-col>
                </b-row>
              </b-modal>
            </b-col>
          </b-row>

          
          <b-row class="text-left mb-1 py-2" v-if="this.superadmin">
            <b-col sm="3">Estado:</b-col>
            <b-col sm="9">{{ this.formatterState() }}</b-col>
          </b-row>


          
          <b-row
            class="text-left mb-2"
            align-v="center"
            v-if="listPermissionPhase()"
          >
            <b-col sm="3">Portafolio</b-col>
            <b-col sm="7">
              <b-button
                v-if="listPermissionPortfolio()"
                :to="{
                  name: 'ListStudyPlan',
                  params: { processId: processId },
                }"
                variant="outline-primary"
              >
                <b-icon icon="eye-fill"></b-icon>&nbsp;Ver Recursos
              </b-button>

              &nbsp; &nbsp;
              <b-button
                :to="{
                  name: 'listPortfolios',
                }"
                variant="outline-primary"
                v-if="listPermissionPortfolio()"
              >
                <b-icon icon="eye-fill"></b-icon>&nbsp;Ver Portafolios
              </b-button>
            </b-col>
          </b-row>
          <b-row
            class="text-left mb-2"
            align-v="center"
            v-if="listPermissionPhase()"
          >
            <b-col sm="3">Criterios</b-col>
            <b-col sm="7">
              <b-button
                :to="{
                  name: 'ListCriteria', params: { processId: process.id } 
                }"
                variant="outline-primary"
                v-if="listPermissionPhase()"
              >
                <b-icon icon="eye-fill"></b-icon>&nbsp;Ver Criterios
              </b-button>
            </b-col>
            
          </b-row>
          <!---
          <b-row class="text-left mb-3" v-if="listPermissionPhase()">
            <b-col>
              <b-card>
                <ListPhase :ProcessID="processId"></ListPhase>
              </b-card>
            </b-col>
          </b-row>
          ----->
        </b-col>
      </b-row>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3">
          <b-button
            variant="secondary"
            :to="{ name: 'EditProcess', params: { processId: process.id } }"
            v-if="superadmin"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar proceso
          </b-button>
        </div>
        <div class="text-center float-right ml-3">
          <b-button
            v-b-modal.deactivate-process-modal
            variant="warning"
            v-if="superadmin && this.process.status"
          >
            <b-icon icon="x-circle"></b-icon>
            Desactivar proceso
          </b-button>
          <DeactivateProcess :ProcessInfo="process"></DeactivateProcess>
        </div>
        <div class="text-center float-right ml-3">
          <b-button
            v-b-modal.activate-process-modal
            variant="success"
            v-if="superadmin && !this.process.status"
          >
            <b-icon icon="check-circle"></b-icon>
            Activar proceso
          </b-button>
          <ActivateProcess :ProcessInfo="process"></ActivateProcess>
        </div>
        <div class="text-center float-right ml-3">
          <b-button
            v-b-modal.delete-process-modal
            variant="danger"
            v-if="superadmin"
          >
            <b-icon icon="trash"></b-icon>
            Borrar proceso
          </b-button>
          <DeleteProcess :ProcessInfo="process"></DeleteProcess>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
//import ListPhase from "@/components/Phase/ListPhase";
import DeleteProcess from "@/components/Process/DeleteProcess";
import DeactivateProcess from "@/components/Process/DeactivateProcess";
import ActivateProcess from "@/components/Process/ActivateProcess";
//import NewPhase from "@/components/Phase/NewPhase";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";

export default {
  components: {
    //ListPhase,
    //NewPhase,
    DeleteProcess,
    DeactivateProcess,
    ActivateProcess,
  },
  data() {
    return {
      userNormal: this.$route.params.userNormal,
      userPermissions: this.$store.getters.getPermisos,
      processId: this.$route.params.processId,
      idProceso: "",
      process: [],
      superadmin: false,
      user: "",
      userActive: [],
      role: "",
      owner: "",
      phases: [],
    };
  },
  methods: {
    /**
     * @description Obtiene todas la fases registradas en la BD
     */
    getPhases() {
      const path = url + `process/phase/`;

      axios
        .get(path)
        .then((response) => {
          this.phases = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Obtiene un proceso espefico para obtener los usuarios responsables y el creador
     */
    getProcess() {
      PermissionService.processUpdate(this.processId);
      const path = url + `process/process/${this.processId}/`;
      axios
        .get(path)
        .then((response) => {
          this.process = response.data;
          this.getUser();
          this.getOwner();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Obtiene un usuario especifico para verificar si es responsable
     */
    getUser() {
      const path = url + `user/user/${this.process.id_user}`;
      axios.get(path).then((response) => {
        this.user = response.data;
        this.getRole();
      });
    },
    /**
     * @description Obtiene un usuario especifico para ver si es el creador
     */
    getOwner() {
      const path = url + `user/user/${this.process.id_owner}`;
      axios.get(path).then((response) => {
        this.owner = response.data;
      });
    },
    /**
     * @description Obtiene el rol de un usuario en especifico
     * @return {role}
     */
    getRole() {
      const path = url + `user/role/${this.user.id_role}/`;

      axios.get(path).then((response) => {
        this.role = response.data;
      });
    },
    /**
     * @description Convierte el booleano a otro formato
     * @return {string}
     */
    formatterState() {
      return this.process.status ? "Activo" : "Inactivo";
    },


    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermissionPhase() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (PermissionService.findPermission(Permission.View, Module.Fases)) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermissionPortfolio() {
      //return PermissionService.findPermission(Permission.View, Module.Portafolio);
      //Validacion de responsable en caso hubiera

      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      //return PermissionService.findPermission(Permission.Create, Module.Fases);
      //Validacion de responsable en caso hubiera
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (PermissionService.findPermission(Permission.Create, Module.Fases)) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
    //no lo estoy usadno de moemento
    buttonview() {

      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    }

  },
  computed: {
    filter: function() {
      var data = this.phases;
      var filter = this.processId;
      return data.filter(function(x) {
        return x.id_process === filter;
      });
    },
  },
  async created() {
    PermissionService.setUserActive();
    
    this.userActive = await AuthService.getUser();

    if (this.userActive.superadmin == true) {
      this.superadmin = true;
      this.getProcess();
          PermissionService.processUpdate(this.processId);
 
    } else {
      this.superadmin = false;
      if (this.userNormal) {

        this.idProceso = this.userActive.role.id_process;
      } else {
        this.getProcess();
        
      }
    }
  },
};
</script>

<style lang="css" scoped></style>
