<template lang="html">
  <b-container>
    <b-modal
      id="add-event-modal"
      ref="modal"
      :title="'Agregar '+dataEvent.data_name_two"
      
      scrollable
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        
        <b-row>
          <b-col>
            <b-form-group label="Name:">
              <b-form-input
                type="text"
                id="orgname"
                v-model="form.name"
                required
                :state="inputTextStateValidation(form.name,2,200)"
              >
              </b-form-input>
              <small class="msg" v-if="!onlyTextAndNumber2(form.name)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!textSize(form.name, 2, 200)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Mínimo 2 y máximo 200 caracteres
              </small>
            </b-form-group>
          </b-col>
          
          
        </b-row>
        <b-row>
          <b-col>
            <b-form-group label="Kind">
              <b-form-select
                id="role"
                v-model="form.event_kind"
                required  
                :state="inputSelectStateValidation(form.event_kind)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Kind
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataEvent.event_kind"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.event_kind)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col cols="5">
            <b-form-group label="Category">
              <b-form-select
                id="role"
                v-model="form.event_category"
                required  
                :state="inputSelectStateValidation(form.event_category)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Category
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataEvent.event_category"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.event_category)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        
        <b-row>
          <b-col>
            <b-form-group label="Start:"
              > 
              <b-form-datepicker
               
                id="startdate"
                v-model="form.date_start"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="startDateStateValidation(form.date_start)"
                @context="contextDate"
                >
                </b-form-datepicker>
                <small class="msg" v-if="textEmpty(form.date_start)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
                </small>
            </b-form-group>
            
          </b-col>
          <b-col>
          <b-form-group label="Finish:">
              <b-form-datepicker
                id="finishdate"
                v-model="form.date_finish"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="finishDateStateValidation(form.date_start,form.date_finish)"
                @context="contextDate"
              >
              </b-form-datepicker>
              <small class="msg" v-if="textEmpty(form.date_finish)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
              </small>
            </b-form-group>
            
          </b-col>
        </b-row>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataEvent, ModelEvent} from "@/components/CriteriaSix/Event/DataEvent.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["getEventList"],
  
  data() {
    return {
      dataEvent: DataEvent,
      form: Object.assign({},ModelEvent),
      formReset: {
      },

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },


    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    startDateStateValidation(value) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.startDateValidation(value);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    startDateValidation(value) {
      return !this.textEmpty(value);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    finishDateStateValidation(start, finish) {
      if (this.textEmpty(start)) {
        return new Boolean(null);
      }
      return this.finishDateValidation(start, finish);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin
     * @return {boolean}
     */
    finishDateValidation(start, finish) {
      return (
        !this.textEmpty(finish) && finish > start
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input number
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputNumberStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputNumberValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input number
     * @return {boolean}
     */
    inputNumberValidation(value, min, max) {
      return (
        this.numberSize(value, min, max) &&
        this.onlyNumber(value)
      );
    },
    inputSelectStateValidation(value){
      if (value==null) {
        return new Boolean(null);
      }
      return true;
    },
    inputSelectValidation(value){
      if (value==null) {
        return false
      }
      return true;
    },
    

    //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Crea un entrnemiento
     */
    resetModal() {
      this.form=Object.assign({},this.formReset);
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (this.createEventValidation()) {
        this.createEvent();
      }else{
        swal(DataEvent.data_name+" no se ha creado", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    createEventValidation() {
      
      const valid = this.$refs.form.checkValidity();
      console.log(this.$refs.form);
      return (
        valid
      );
    },
    /**
     * @description Crea un entrenamiento
     */
    createEvent() {
      let datos = this.form;
      const path = url + `process/criteria_six/event/`;
      axios
        .post(path, datos)
        .then(() => {
          swal(DataEvent.data_name+" se ha creado exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('add-event-modal');
            this.resetModal();
            this.getEventList();
            console.log("se creo la organioz");
          });
        })
        .catch(() => {
          swal(DataEvent.data_name+" no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    
   
  },

  created() {
    this.formReset=Object.assign({},this.form);
    this.form.id_user=this.$store.getters.getId
  },
};
</script>

<style lang="css" scoped></style>
