<template lang="html">
  <b-container>
    <b-modal
      id="delete-survey-modal"
      ref="modal"
      :title="'Eliminar '+dataSurvey.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataSurvey} from "@/components/CriteriaSix/Survey/DataSurvey.js";

export default {
  props: ["getSurveyList", "itemSurvey"],
  data() {
    return {
      dataSurvey: DataSurvey,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteSurvey();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-survey-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteSurvey() {
      const path = url + `process/criteria_six/professor_survey/${this.itemSurvey.id}`;
      axios.delete(path);
      swal(DataSurvey.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$bvModal.hide('detail-survey-modal');
        this.getSurveyList();
      });
      
    },
  },
};
</script>

<style></style>
