<template lang="html">
  <b-container>
    <b-modal
      id="detail-survey-modal"
      ref="modal"
      :title="'Detalle '+dataSurvey.data_name_two" 
      scrollable     
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Professor</strong> </h6>
        <b-row>
          <b-col sm="3">Name:</b-col>
          <b-col>{{getUserName(form.id_user)}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Portfolio: </b-col>
          <b-col v-if="form.id_user!=null">{{getPortfolioName(form.id_portfolio)}}</b-col>
        </b-row>
        <b-row>
          <b-col sm="3">Note:</b-col>
          <b-col >{{form.evaluation_note}}</b-col>
        </b-row>
       

        
    
        <div v-if="form.status==3">
          <br/>
          <h6><strong>Observation</strong> </h6>
          <b-row>
            <b-col sm="3">Observation:</b-col>
            <b-col>{{form.observation}}</b-col>
          </b-row>
        </div>
      </b-form>
      <template #modal-footer="{ ok, cancel}">
        <b-button  variant="danger" @click="cancel()">
          Cancelar
        </b-button>
        <!----
        <b-button  variant="primary" @click="ok()">
          Aceptar
        </b-button>---->
        <b-button v-if="isCreator&&form.status!=1" variant="primary" v-b-modal.edit-survey-modal>
          Editar
        </b-button>
        <b-button v-if="isCreator" variant="danger" v-b-modal.delete-survey-modal>
          Eliminar
        </b-button>
        
        <b-button v-if="isResponsableCriteria&&form.status!=1" variant="primary" @click="approveSurvey()">
          Aprobar
        </b-button>
        <b-button v-if="isResponsableCriteria&&form.status==2" variant="danger" v-b-modal.observation-survey-modal>
          Rechazar
        </b-button>
      </template>
    </b-modal>

    
    <b-modal
      id="observation-survey-modal"
      ref="modal"
      :title="'Observación '+dataSurvey.data_name_two"
      scrollable
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Enviar"
      cancel-title="Cancelar">
      <b-form ref="form2" @submit="handleSubmit">
        
        <b-form-group >
          <b-form-textarea 
            id="observa"
            v-model="form.observation"
            required
            :state="inputTextStateValidation(form.observation,2,30)"
          >
          </b-form-textarea>
          <small class="msg" v-if="!onlyTextAndNumber2(form.observation)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.observation, 2, 30)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Mínimo 2 y máximo 30 caracteres
          </small>
        </b-form-group>
        
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataSurvey, ModelSurvey} from "@/components/CriteriaSix/Survey/DataSurvey.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["getSurveyList", "itemSurvey", "isResponsableCriteria"],
  watch: {
    itemSurvey: function () {
      this.form= Object.assign({},this.itemSurvey);    
      if(this.currentUser==this.itemSurvey.id_user){
        this.isCreator=true;
      }else{
        this.isCreator=false;
      }
    },
  },
  data() {
    return {
      //permision
      canEdit:false,
      isCreator: true,
      currentUser: "",
      dataSurvey: DataSurvey,

      user_list: [],
      form: Object.assign({},ModelSurvey),
      

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },


    //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (this.obsertvationSurveyValidation()) {
        this.denySurvey();
      }else{
        swal("Obsevacion no enviada", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },

    /**
      * @description Verifica que se cumplan las validaciones
    */
    obsertvationSurveyValidation() {
      const valid = this.$refs.form2.checkValidity();
      return (
        valid
      );
    },

    approveSurvey(){
      const path = url + `process/criteria_six/professor_survey/${this.itemSurvey.id}/`;
      this.form.status=1;
      
      let datos = this.form;
      
      axios
        .put(path, datos)
        .then(() => {
          swal(DataSurvey.data_name_two+" aprobado", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('detail-survey-modal');
            this.getSurveyList();
          });
        })
        .catch(() => {
          swal(DataSurvey.data_name+" no se pudo Aprobar", "", "error", {
            button: "Aceptar",
          });
        });
    },
    denySurvey(){
      const path = url + `process/criteria_six/professor_survey/${this.itemSurvey.id}/`;
      this.form.status=3;
     
      let datos = this.form;

      axios
        .put(path, datos)
        .then(() => {
          swal(DataSurvey.data_name_two+" rechazado", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('detail-survey-modal');
            this.$bvModal.hide('observation-survey-modal');
            this.getSurveyList();
          });
        })
        .catch(() => {
          swal(DataSurvey.data_name+" no se pudo Rechazar", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    /**
     * @description Obtiene informacion de los estudiante de un curso en especifico
     */
    getUserList(idProcess) {
      const path = url + 'user/user/?id_role__id_process='+idProcess;
      axios.get(path).then((response) => {
        this.user_list = response.data;
      });
    },
    /**
     * @description Obtiene el nombre de los estudiantes
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          ///this.counter++;
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
    getPortfolioName(idPortfolio) {
      for (var i = 0; i < this.portfolio_list.length; i++) {
        if (this.portfolio_list[i].id == idPortfolio) {
          return "Portfolio "+this.portfolio_list[i].year + " - " +DataSurvey.portfolios[this.portfolio_list[i].semester-1].text;
        }
      }
    },
    getPortfolioList(idProcess) {
      const path =url + `process/portfolio/portfolio/?id_process=`+idProcess;
    
      axios.get(path).then((response) => {
        this.portfolio_list = response.data;
        console.log("portfolios");
        console.log(this.portfolio_list);
      });
    },
  },

  async created() {
    this.getUserList(this.$store.getters.idProceso);
    this.getPortfolioList(this.$store.getters.idProceso);
    this.currentUser = this.$store.getters.getId;
    
  },
};
</script>

<style lang="css" scoped></style>
