<template lang="html">
  <b-container>
    <b-modal
      id="edit-survey-modal"
      ref="modal"
      :title="'Editar '+dataSurvey.data_name_two"
      size="lg"
      @show="openModal"
      @hidden="closeModal"
      scrollable
    
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Aceptar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Professor</strong> </h6>
        <b-form-group label="Name:">
          <b-form-select 
            v-model="form.id_user" 
            required 
            id="id_survey"
            :state="inputSelectStateValidation(form.id_user)"  
          >
            <b-form-select-option :value="null" disabled>
              Select a professor
            </b-form-select-option>
            <b-form-select-option
              
              v-for="(id_user, indexOpt) in user_list"
              :key="indexOpt"
              :value="id_user.id"
            >
              {{ id_user.first_name }} {{ id_user.last_name }}
            </b-form-select-option>
          </b-form-select>
          <small class="msg" v-if="!inputSelectValidation(form.id_user)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Debe seleccionar una opción
          </small>
        </b-form-group>
        
        
 
        <b-row>
          <b-col>
            <b-form-group label="Portfolio:">
          <b-form-select 
            v-model="form.id_portfolio" 
            required 
            id="id_survey"
            :state="inputSelectStateValidation(form.id_portfolio)"  
          >
            <b-form-select-option :value="null" disabled>
              Select a portfolio
            </b-form-select-option>
            <b-form-select-option
              
              v-for="(opt, indexOpt) in portfolio_list"
              :key="indexOpt"
              :value="opt.id"
            >
              Portfolio {{ opt.year }} - {{ dataSurvey.portfolios[opt.semester-1].text }}
            </b-form-select-option>
          </b-form-select>
          <small class="msg" v-if="!inputSelectValidation(form.id_portfolio)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Debe seleccionar una opción
          </small>
        </b-form-group>
          </b-col>
          <b-col cols="3">          
            <b-form-group label="Note:">
              <b-form-input
                id="evaluation_note"
                v-model="form.evaluation_note"
                type="number"
                :state="inputNumberStateValidation(form.evaluation_note,0,20)"
                required
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(form.evaluation_note)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(form.evaluation_note, 0, 20)">
                <b-icon
                  icon="exclamation-circle"
                  variant="warning"
                ></b-icon>
                &nbsp; Solo se acepta numeros del 0 al 20
              </small>
            </b-form-group>
          </b-col>
          
         </b-row>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataSurvey, ModelSurvey} from "@/components/CriteriaSix/Survey/DataSurvey.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["getSurveyList", "itemSurvey", "portfolio_list", "user_list"],
  watch: {
    itemSurvey: function () {
      this.form= Object.assign({},this.itemSurvey);
    },
  },
  data() {
    return {
      //permision
      isCreator: false,
      isResponsableCriteria: true,


      isArticle: false,

      dataSurvey: DataSurvey,
      form: Object.assign({},ModelSurvey),
      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },


    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    startDateStateValidation(value) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.startDateValidation(value);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    startDateValidation(value) {
      return !this.textEmpty(value);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    finishDateStateValidation(start, finish) {
      if (this.textEmpty(start)) {
        return new Boolean(null);
      }
      return this.finishDateValidation(start, finish);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin
     * @return {boolean}
     */
    finishDateValidation(start, finish) {
      return (
        !this.textEmpty(finish) && finish > start
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input number
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputNumberStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputNumberValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input number
     * @return {boolean}
     */
    inputNumberValidation(value, min, max) {
      return (
        this.numberSize(value, min, max) &&
        this.onlyNumber(value)
      );
    },
    inputSelectStateValidation(value){
      if (value==null) {
        return new Boolean(null);
      }
      return true;
    },
    inputSelectValidation(value){
      if (value==null) {
        return false
      }
      return true;
    },
    

     //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    openModal() {
      this.$bvModal.hide('detail-survey-modal');
    },
    closeModal() {
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      
      if (this.editSurveyValidation()) {
        this.editSurvey();
      }else{
        swal(DataSurvey.data_name+" no se ha editado", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    editSurveyValidation() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid
      );
    },

    /**
     * @description Crea un entrnemiento
     */
    editSurvey() {
      
      this.form.status=2;
      let datos = this.form
      const path = url + `process/criteria_six/professor_survey/${this.itemSurvey.id}/`;
      
      axios
        .put(path, datos)
        .then(() => {
          swal(DataSurvey.data_name+" se ha editado exitosamente", DataSurvey.data_name+" sera enviado para su revisión", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('edit-survey-modal');
            this.getSurveyList();
          });
        })
        .catch(() => {
          swal(DataSurvey.data_name+" no se ha editado", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    

  },

  created() {
    console.log("gggggggg "+this.portfolio_list)
  },
};
</script>

<style lang="css" scoped></style>
