<template lang="html">

<div>
  
  <AddSurvey 
    :getSurveyList="getSurveyList"
    :portfolio_list="portfolio_list"
    :user_list="user_list"

  >
  </AddSurvey>
  <DetailSurvey 
    :getSurveyList="getSurveyList" 
    :itemSurvey="SurveySelected"
    :isResponsableCriteria="isResponsableCriteria"
  >
  </DetailSurvey>
  <EditSurvey 
    :getSurveyList="getSurveyList" 
    :itemSurvey="SurveySelected"
    :isResponsableCriteria="isResponsableCriteria"
    
  >
  </EditSurvey>
  <DeleteSurvey 
    :getSurveyList="getSurveyList" 
    :itemSurvey="SurveySelected"
    :isResponsableCriteria="isResponsableCriteria"
    
  >
  </DeleteSurvey>

  <div class="text-left" >
    <b-row class=" mt-4">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap">Listado de registros</h5>
      </b-col>

      <b-col class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch ml-3">
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>

        <b-form-group
          label="Filtro"
          label-cols-sm="3"
          label-align-sm="right"
          label-size="sm"
          label-for="sortBySelect"
          class="mb-0"
        >
          <b-input-group size="sm">
            <b-form-select
              v-model="sortBy"
              id="sortBySelect"
              :options="sortOptions"
              class="w-75"
            >
              <template v-slot:first>
                <option value="">-- Ninguno --</option>
              </template>
            </b-form-select>
            <b-form-select
              v-model="sortDesc"
              size="sm"
              :disabled="!sortBy"
              class="w-25"
            >
              <option :value="false">Asc</option>
              <option :value="true">Desc</option>
            </b-form-select>
          </b-input-group>
        </b-form-group>
        
      </b-col>
      <b-col cols="auto" class="pl-1">
        <b-button
          class="float-right"
          v-b-modal.add-survey-modal
          variant="primary"
        >
          <b-icon icon="plus"></b-icon>
          Agregar
        </b-button>
      </b-col>
          
          
    </b-row>
    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar por:"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            description="Deje todo sin marcar para filtrar todos los datos"
            class="mb-0"
          >
            <b-form-checkbox-group v-model="filterOn" class="mt-1">
              <b-form-checkbox value="id_user">Professor</b-form-checkbox>
              <b-form-checkbox value="survey_title">Survey</b-form-checkbox>
              <b-form-checkbox value="date_start">Start</b-form-checkbox>
              <b-form-checkbox value="date_finish">Finished</b-form-checkbox>
            </b-form-checkbox-group>
          </b-form-group>
        </b-col>
      </b-row>
    </b-collapse>
    <br />

    
    <div >
    <b-table 
     
      :busy.sync="isLoading"
      hover
      :show-empty="!isLoading"
      small
      stacked="md"
      :items="survey_list"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay registros para mostrar"
      empty-filtered-text="No hay registros para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
      
          <b-button
            size="sm"
            
            @click="detailSurvey(data.item, $event.target)"
          >
            Ver más
          </b-button>
      
      </template>
      <template #table-busy>
        <div class="mx-auto " style="width: 100px">
          <bounce-loader :color="'#2F3D57'" :size="100" class="my-2"/>
        </div>
      </template>
    </b-table>

    <b-row class="mb-4">
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>
 

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
    </div>
  </div>
  </div>
</template>

<script>


import {DataSurvey} from "@/components/CriteriaSix/Survey/DataSurvey.js";

import AddSurvey from "@/components/CriteriaSix/Survey/AddSurvey";
import DetailSurvey from "@/components/CriteriaSix/Survey/DetailSurvey";
import EditSurvey from "@/components/CriteriaSix/Survey/EditSurvey";
import DeleteSurvey from "@/components/CriteriaSix/Survey/DeleteSurvey";



export default {
  components:{
    AddSurvey,
    DetailSurvey,
    EditSurvey,
    DeleteSurvey
  },
  props: [
    "isResponsableCriteria",
    "user_list",
    "portfolio_list",
    "getUserName",
    "getPortfolioName",
    "getSurveyList",
    "survey_list",
    "isLoading"
  ],
  data() {
    return {
      SurveySelected:{},

      dataSurvey: DataSurvey,
      emptyTable: false,
      userPermissions: this.$store.getters.getPermisos,

      status: this.$route.params.status,
      currentUser: "",

      fields: [
       {
          key: "id_user",
          label: "Professor",
          formatter: (value) => {
            return this.getUserName(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
       {
          key: "id_portfolio",
          label: "Portfolio",
          formatter: (value) => {
            return this.getPortfolioName(value);
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
          sortDirection: "desc",
        },
        {
          key: "evaluation_note",
          label: "Note",
          sortable: true,
          //class: "text-center",
        },
        
        {
            
          key: "status",
          label: "Status",
          formatter: (value) => {
            return DataSurvey.status[value-1].text;
          },
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,

        },
        {
          key: "actions",
          label: "Acción",
          //   class: "text-center"
        },
      ],
     
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "id_user",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["id_user"],
    };
  },
  computed: {

    sortOptions() {
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  methods: {
    /**
     * @description Abre el modal de detalle
     */
    detailSurvey(survey, button) {
      this.SurveySelected = survey;
      this.$root.$emit("bv::show::modal", "detail-survey-modal", button);
    },
    
    /**
     * @description Obtiene la lista de entrenamientos registrados en la BD
     */
    
    /**
     * @description filtro de la tabla
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },
   

  },
  async created() {
    console.log("estatus:" +this.status)
    await this.getSurveyList(this.status); 
   

  },
  beforeUpdate() {
    this.totalRows = this.survey_list.length;
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 150px;
}
</style>
