<template>
  <b-container id="custom-css" class='p-4'>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left" >
          <b-button class="mr-4" :to="{ name: 'CriteriaSix', params: { criteriaId: criteriaId }}">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12 my-2" >
        <h3 class="text-left py-2">Criterion 6: Faculty Survey in Research, Speciality, Teaching</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <div title="Card Title" no-body>
          <div header-tag="nav">
            <b-nav card-header tabs>
              <b-nav-item
                :to="{ name: 'ListSurvey', params: { status: 0} }"
                exact
                exact-active-class="active"
                v-if="listPermission()"
              >Lista
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListSurvey', params: { status: 1} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              >Aprobados
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListSurvey', params: { status: 2} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              >Pendientes
              </b-nav-item>
              <b-nav-item
                :to="{ name: 'ListSurvey', params: { status: 3} }"
                exact
                exact-active-class="active"
                
                v-if="isResponsableCriteria"
              >Rechazados
              </b-nav-item>
            </b-nav>
          </div>
          
          <div>
            <router-view 
              :key="$route.fullPath"
              :isResponsableCriteria="isResponsableCriteria"
              :user_list="user_list"
              :portfolio_list="portfolio_list"
              :getPortfolioName="getPortfolioName"
              :getUserName="getUserName"
              :getSurveyList="getSurveyList"
              :survey_list="survey_list"
              :isLoading="isLoadingSurvey"
            >
            </router-view>
          </div>
        </div>
      </b-col>
    </b-row>
  </b-container>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import {DataSurvey} from "@/components/CriteriaSix/Survey/DataSurvey.js";
const url = process.env.VUE_APP_RUTA_API;


export default {
  
  data() {
    return {
      //permision
      criteriaId: "",
      isCreator: false,
      isResponsableCriteria: false,
      userPermissions: this.$store.getters.getPermisos,

      isLoadingSurvey: true,
      numtotalEntities: 2,
      numCurrentEntities: 0,

      user_list: [],
      portfolio_list: [],
      survey_list: [],

      form: {
        name: "",
        description: "",
        status: true,
        collaborator:[],
        id_process:""
      },
    };
  },
  methods: {
    //---------------------------------------PERMISIONS-----------------------------------------------
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Usuarios)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
    isResponsable() {
      const id_user=this.$store.getters.getId;
      const listResp = this.form.collaborator.filter(tmp => tmp  == id_user);
      console.log("responsables:")
      console.log(this.form.collaborator)
      if(listResp.length > 0){
        this.isResponsableCriteria=true;
      }else{
        this.isResponsableCriteria=false;
      }
    },

    //---------------------------------------GETTERS-----------------------------------------------

    getCriterio() {
      this.criteriaId=this.$route.params.criteriaId;
      const path = url + `process/criteria/${this.criteriaId}/`;
      axios.get(path).then((response) => {
        this.form= response.data;
        console.log("responsables in get c:")
        console.log(this.form.collaborator);
        this.isResponsable();
      });
    },
    getPortfolioName(idPortfolio) {
      for (var i = 0; i < this.portfolio_list.length; i++) {
        if (this.portfolio_list[i].id == idPortfolio) {
          return "Portfolio "+this.portfolio_list[i].year + " - " +DataSurvey.portfolios[this.portfolio_list[i].semester-1].text;
        }
      }
    },
    getPortfolioList(idProcess) {
      const path =url + `process/portfolio/portfolio/?id_process=`+idProcess;
    
      axios.get(path).then((response) => {
        this.portfolio_list = response.data;
        this.numCurrentEntities++;
        if(this.numtotalEntities<this.numCurrentEntities){
          this.isLoadingSurvey=false;
        }
      });
    },
    /**
     * @description Obtiene el nombre de un objeto usuario
     */
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
    /**
     * @description Obtiene la lista de usuarios registrados en la BD
     */
    getUserList() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.user_list = response.data;
        this.numCurrentEntities++;
        if(this.numtotalEntities<this.numCurrentEntities){
          this.isLoadingSurvey=false;
        }
      });
    },
    getSurveyList() {
      let status=this.$route.params.status;
      this.isLoadingSurvey=true;
      var path = url + `process/criteria_six/professor_survey`;

      if(this.isResponsableCriteria){
        if (status!=0&&status!=undefined){
          path = url + `process/criteria_six/professor_survey?status=`+status;
        }
      }else{
        path = url + `process/criteria_six/professor_survey?id_user=`+this.$store.getters.getId;
      }

      axios
        .get(path)
        .then((response) => {
          this.survey_list = response.data;

          this.numCurrentEntities++;
          if(this.numtotalEntities<this.numCurrentEntities){
            this.isLoadingSurvey=false;
          }
          
        })
        .catch((error) => {
          console.log(error);
        });
    },
    
  },

  async created() {
    await this.getCriterio();
    PermissionService.setUserActive();
    this.viewPermission();

    await this.getPortfolioList(this.$store.getters.idProceso);
    await this.getUserList();
    
  },
};
</script>

<style lang="css" scoped></style>
