<template lang="html">
  <b-container>
    <b-modal
      id="deactivate-formationArea-modal"
      ref="modal"
      title="Desactivar Area de formacion"
      @ok="ok"
    >
      ¿Está seguro que quiere desactivar el area de formacion
      {{ this.FormationAreaInfo.name }}?
      <template #modal-footer="{ ok, cancel }">
        <b-button size="sm" @click="cancel()">
          Cancelar
        </b-button>
        <b-button size="sm" variant="primary" @click="ok()">
          Aceptar
        </b-button>
      </template>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["FormationAreaInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deactivateFormationArea();
      this.$nextTick(() => {
        this.$bvModal.hide("deactivate-formationArea-modal");
      });
    },

    /**
     * @description Desactiva una area de formacion en especifico
     */
    deactivateFormationArea() {
      const path =
        url + `process/portfolio/formation_area/${this.FormationAreaInfo.id}/`;
      const datos = {
        status: false,
      };
      axios
        .patch(path, datos)
        .then(() => {
          swal("Area de formacion Desactivada Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            location.reload();
          });
        })
        .catch(() => {
          swal("Error al Desactivar Area de Formacion!", "", "error", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("detail");
            location.reload();
          });
        });
    },
  },
};
</script>

<style></style>
