<template lang="html">
  <div class="container">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button class="mr-4" :to="{ name: 'ListFormationArea' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </div>
      <br />

      <div cols="5" class="px-3">
        <h3>Detalles del Área de Formación</h3>
      </div>
    </b-row>

    <b-card class="mb-3">
      <b-row class="text-center mb-3">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ formationArea.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Sub-Area de Formacion</b-col>
            <b-col sm="7" v-if="editPermission()">
              <b-button
                v-b-modal.create-subArea-modal
                variant="outline-primary"
              >
                <b-icon icon="plus"></b-icon>
                Crear Sub-Area de Formacion
              </b-button>
              <NewSubArea :formationAreaID="formationArea.id"></NewSubArea>
            </b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col>
              <b-card>
                <ListSubArea :formationAreaID="formationAreaId"></ListSubArea>
              </b-card>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3" v-if="editPermission()">
          <b-button v-b-modal.delete-formationArea-modal variant="danger">
            <b-icon icon="trash"></b-icon>
            Borrar Area de Formacion
          </b-button>
          <DeleteFormationArea
            :FormationAreaInfo="formationArea"
          ></DeleteFormationArea>
        </div>
        <div v-if="disablePermission()">
          <div class="text-right float-right ml-3">
            <b-button
              v-if="this.formationArea.status"
              v-b-modal.deactivate-formationArea-modal
              variant="warning"
            >
              <b-icon icon="x-circle"></b-icon>
              Desactivar Area de Formacion
            </b-button>
            <DeactivateFormationArea
              :FormationAreaInfo="formationArea"
            ></DeactivateFormationArea>
          </div>
          <div class="text-right float-right ml-3">
            <b-button
              v-if="!this.formationArea.status"
              v-b-modal.activate-formationArea-modal
              variant="success"
            >
              <b-icon icon="check-circle"></b-icon>
              Activar Area de Formacion
            </b-button>
            <ActivateFormationArea
              :FormationAreaInfo="formationArea"
            ></ActivateFormationArea>
          </div>
        </div>
        <div class="text-center float-right ml-3" v-if="editPermission()">
          <b-button
            variant="secondary"
            :to="{
              name: 'EditFormationArea',
              params: { formationAreaId: formationArea.id },
            }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar Area de Formacion
          </b-button>
        </div>
      </div>
    </b-row>
  </div>
</template>
<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
import ListSubArea from "@/components/FormationArea/ListSubArea";
import DeleteFormationArea from "@/components/FormationArea/DeleteFormationArea";
import DeactivateFormationArea from "@/components/FormationArea/DeactivateFormationArea";
import ActivateFormationArea from "@/components/FormationArea/ActivateFormationArea";
import NewSubArea from "@/components/FormationArea/NewSubArea";
const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
    ListSubArea,
    DeleteFormationArea,
    NewSubArea,
    DeactivateFormationArea,
    ActivateFormationArea,
  },
  data() {
    return {
      formationAreaId: this.$route.params.formationAreaId,
      formationArea: [],
      subAreas: [],
    };
  },
  methods: {
    /**
     * @description Obtiene la informacion de una area de formacion en especifico
     */
    getFormationArea() {
      const path =
        url + `process/portfolio/formation_area/${this.formationAreaId}/`;

      axios
        .get(path)
        .then((response) => {
          this.formationArea = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      //return (PermissionService.findPermission(Permission.Edit, Module.Portafolio))
      //Validacion de responsable en caso hubiera
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      //  return (PermissionService.findPermission(Permission.Delete, Module.Portafolio))

      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      //return (PermissionService.findPermission(Permission.Create, Module.Portafolio))

      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disablePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  computed: {},
  created() {
    PermissionService.setUserActive();

    this.viewPermission();

    this.getFormationArea();
  },
};
</script>
<style lang="css" scoped></style>
