<template lang="html">
 <div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <div class="text-left" v-if="!isLoading">
    <b-row class="my-3 mt-4 pt-2">
      <b-col class="col-12 my-1">
        <b-button :to="{ name: 'DetailStudyPlan' }">
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
        </b-button>
      </b-col>
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap my-0">Listado de Áreas de Formación</h5>
      </b-col>

      <b-col class="my-1">
        <b-button v-b-toggle.collapse-2 class="bsearch ml-3">
          <b-icon icon="search" aria-hidden="true"></b-icon> Buscar
        </b-button>
      </b-col>
    </b-row>

    <b-collapse id="collapse-2">
      <b-row>
        <b-col lg="6" class="my-1"></b-col>
        <b-col lg="6" class="my-1">
          <b-form-group
            label="Buscar"
            label-cols-sm="3"
            label-align-sm="right"
            label-size="sm"
            label-for="filterInput"
            class="mb-0"
          >
            <b-input-group size="sm">
              <b-form-input
                v-model="filter"
                type="search"
                id="filterInput"
                placeholder="Escribe para buscar"
              ></b-form-input>
              <b-input-group-append>
                <b-button :disabled="!filter" @click="filter = ''"
                  >Limpiar</b-button
                >
              </b-input-group-append>
            </b-input-group>
          </b-form-group>
        </b-col>
        <b-col lg="6" class="my-1"></b-col>
      </b-row>
    </b-collapse>
    <br />
    <b-table
      v-if="disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="formationArea"
      :fields="fields"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay areas de formación para mostrar"
      empty-filtered-text="No hay areas de formación para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            :to="{
              name: 'DetailFormationArea',
              params: { formationAreaId: data.item.id },
            }"
          >
            Ver más</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>

    <b-table
      v-if="!disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="formationArea"
      :fields="fields2"
      :current-page="currentPage"
      :per-page="perPage"
      :filter="filter"
      :filter-included-fields="filterOn"
      :sort-by.sync="sortBy"
      :sort-desc.sync="sortDesc"
      :sort-direction="sortDirection"
      @filtered="onFiltered"
      class="ltable"
      empty-text="No hay areas de formación para mostrar"
      empty-filtered-text="No hay areas de formación para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            :to="{
              name: 'DetailFormationArea',
              params: { formationAreaId: data.item.id },
            }"
          >
            Ver más</b-button
          >
          &nbsp;
        </b-container>
      </template>
    </b-table>

    <b-row>
      <b-col sm="5" md="6" class="my-1">
        <b-form-group
          label="Por pagina"
          label-cols-sm="6"
          label-cols-md="4"
          label-cols-lg="3"
          label-align-sm="right"
          label-size="sm"
          label-for="perPageSelect"
          class="mb-0"
        >
          <b-form-select
            v-model="perPage"
            id="perPageSelect"
            size="sm"
            :options="pageOptions"
          ></b-form-select>
        </b-form-group>
      </b-col>

      <b-col sm="7" md="6" class="my-1">
        <b-pagination
          v-model="currentPage"
          :total-rows="totalRows"
          :per-page="perPage"
          align="fill"
          size="sm"
          class="my-0"
        ></b-pagination>
      </b-col>
    </b-row>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;
export default {
  data() {
    return {
      isLoading: true,
      formationArea: [],
      studyPlanID: this.$route.params.studyPlanId,
      fields: [
        {
          key: "name",
          label: "Áreas de Formación",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "status",
          label: "Estado",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
        },
      ],

      fields2: [
        {
          key: "name",
          label: "Áreas de Formación",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      filterOn: ["name"],
    };
  },
  computed: {},
  
  /**
   * @description Establece la cantidad de filas de areas de formacion
   */
  beforeUpdate() {
    this.totalRows = this.formationArea.length;
  },
  methods: {
    /**
     * @description Obtiene todas las areas de formacion de un recurso en especifico
     */
    getFormationArea() {
      const path =
        url +
        `process/portfolio/formation_area/?id_resource=${this.studyPlanID}`;

      axios
        .get(path)
        .then((response) => {
          this.formationArea = response.data;
        })
        .catch((error) => {
          console.log(error);
          this.$router.push("/");
        }).finally(()=>this.isLoading=false);
    },

    /**
     * @description Activa la paginación para actualizar el número de botones / páginas debido al filtrado
     */
    onFiltered(filteredItems) {
      this.totalRows = filteredItems.length;
      this.currentPage = 1;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disabledPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      return false;
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getFormationArea();
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
