<template lang="html">
 <div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <b-container class="text-left" v-if="!isLoading">
    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="subAreas"
      :fields="fields"
      empty-text="No hay sub-areas para mostrar"
      empty-filtered-text="No hay sub-areas para mostrar que coincidan con su solicitud"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            variant="danger"
            size="sm"
            @click="infoDelete(data.item.id, data.item.name, $event.target)"
            v-if="deletePermission()"
          >
            <b-icon icon="trash"></b-icon>
            Eliminar
          </b-button>
        </b-container>
      </template>
    </b-table>

    <b-modal
      :id="deleteModal.id"
      :title="deleteModal.title"
      @ok="handleDeleteOk"
      @hide="resetDeleteModal"
      ok-title="Eliminar"
      cancel-title="Cancelar"
    >
      ¿Esta seguro que desea eliminar esta subarea?
    </b-modal>
  </b-container>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  props: ["formationAreaID"],
  components: {},
  data() {
    return {
      isLoading: true,
      formationAreaId: this.$route.params.formationAreaId,
      studyPlanID: this.$route.params.studyPlanId,
      subAreas: [],
      fields: [
        {
          key: "name",
          label: "Sub-Area",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "actions",
          label: "Acción",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",

      deleteModal: {
        id: "delete-modal",
        title: "",
        subArea_id: "",
      },
    };
  },
  computed: {},
  created() {
    this.getSubArea();
  },

  methods: {
    /**
     * @description Obtiene todas las sub areas de una Area de formacion en especifico
     */
    getSubArea() {
      const path =
        url +
        `process/portfolio/subarea/?id_formation_area=${this.formationAreaId}`;
      axios
        .get(path)
        .then((response) => {
          this.subAreas = response.data;
        })
        .catch((error) => {
          console.log(error);
        }).finally(()=>this.isLoading=false);
    },

    /**
     * @description Obtiene informacion de la sub area que se va a eliminar en el modal
     */
    infoDelete(itemID, itemName, button) {
      this.deleteModal.title = `Eliminar subarea ${itemName}`;
      this.deleteModal.subArea_id = itemID;
      this.$root.$emit("bv::show::modal", this.deleteModal.id, button);
    },

    /**
     * @description Metodo que se llama al presionar el boton Eliminar del modal de eliminar
     */
    handleDeleteOk() {
      this.deleteSubArea();
      console.log("Borrar sub area");
    },

    /**
     * @description Elimina una sub area en especifico
     */
    deleteSubArea() {
      const path =
        url + `process/portfolio/subarea/${this.deleteModal.subArea_id}`;
      axios.delete(path);
      swal("Sub-Area de formacion Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        //this.$router.push("detail");
        location.reload();
      });
    },
	
    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      //return (PermissionService.findPermission(Permission.Delete, Module.Portafolio))
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
  },
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}

.forder {
  float: left;
  width: 55vh;
}

.ltable {
  min-height: 200px;
}
</style>
