<template lang="html">
  <div class="container">
    <h3 class="text-left my-4">Nueva Área de Formación</h3>

    <b-card class="mb-3 text-left">
      <b-form @reset="onReset" @submit.stop.prevent="onSubmit">
        <b-form-group label="Nombre:" label-for="input-1">
          <b-form-input
            class="mb-4"
            id="input-1"
            type="text"
            v-model="form.name"
            :formatter="forceLowerCase"
            required
            :state="formationAreaStateNameValidation()"
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
          </small>
          <small class="msg" v-if="!textSize(form.name, 2, 32)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 2 y máximo 32 caracteres
          </small>
        </b-form-group>

        <b-row>
          <b-col>
            <b-button type="submit" variant="secondary" class="float-right ml-3"
              >Crear</b-button
            >
            <b-button
              type="reset"
              variant="danger"
              class="btn-large-space float-right"
              >Reiniciar</b-button
            >
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {},
  data() {
    return {
      form: {
        name: "",
        id_resource: this.$route.params.studyPlanId,
        status: true,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego crear el area de formacion
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.createFormationAreaValidation()) {
        this.createFormationArea();
      }
    },

    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },

    /**
     * @description Crea una area de formacion con los datos ingresados en el formulario
     */
    createFormationArea() {
      const path = url + `process/portfolio/formation_area/`;
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.name = response.data.name;
          swal("Area de formacion Creado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
              name: "ListFormationArea",
            });
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.name.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Ya existe general: área de formación con este nombre.",
              "Ya existe una area de formación con ese nombre."
            )
          );

          swal(
            "No se creó el area de formacion",
            this.errorsList.join("\n"),
            "error",
            {
              button: "Aceptar",
            }
          );
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre
     */
    createFormationAreaValidation() {
      return this.formationAreaNameValidation();
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.name = "";
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    formationAreaStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.formationAreaNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    formationAreaNameValidation() {
      return (
        this.textSize(this.form.name, 2, 32) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  created() {
    PermissionService.setUserActive();

    this.viewPermission();
  },
  computed: {},
};
</script>

<style lang="css" scoped></style>
