<template lang="html">
  <b-container>
    <b-modal
      id="create-subArea-modal"
      ref="modal"
      title="Crear Subarea"
      @show="resetModal"
      @hidden="resetModal"
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar"
    >
      <b-form ref="form" @submit="handleSubmit">
        <b-form-group
          :state="subAreaStateNameValidation()"
          label="Nombre:"
          label-for="name-subArea"
        >
          <b-form-input
            type="text"
            id="name-subArea"
            v-model="form.name"
            :formatter="forceLowerCase"
            :state="subAreaStateNameValidation()"
            required
          ></b-form-input>
          <small class="msg" v-if="!onlyTextAndNumber1(form.name)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            No es un caracter válido
            <br />
          </small>
          <small class="msg" v-if="!textSize(form.name, 2, 32)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp;
            Mínimo 2 y máximo 32 caracteres
          </small>
        </b-form-group>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["formationAreaID"],
  data() {
    return {
      formationAreaId: this.$route.params.formationAreaId,
      form: {
        name: "",
        status: true,
        id_formation_area: this.$route.params.formationAreaId,
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    resetModal() {
      this.form.name = "";
    },

    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },

    /**
     * @description Verifica que se cumplan las validaciones del nombre, descripcion
     * @return {boolean}
     */
    checkFormValidity() {
      const valid = this.$refs.form.checkValidity();
      return valid && this.subAreaNameValidation();
    },

    /**
     * @description Verifica que se cumplan las validaciones
     * para luego llamar al metodo de crear subArea y minimizar el modal
     */
    handleSubmit() {
      if (!this.checkFormValidity()) {
        return;
      }
      this.createSubArea();
      this.$nextTick(() => {
        this.$bvModal.hide("create-subArea-modal");
      });
    },

    /**
     * @description Crea una sub-area de formacion con los datos ingresados en el formulario
     */
    createSubArea() {
      const path = url + `process/portfolio/subarea/`;
      console.log(path);
      axios
        .post(path, this.form)
        .then((response) => {
          this.form.name = response.data.name;
          swal("Sub-Area Creada Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({name: "DetailFormationArea"});
            location.reload();
          });
        })
        .catch((error) => {
          this.errorsList = [];
          this.errorsList.push(error.response.data.non_field_errors.toString());
          this.errorsList = this.errorsList.map((x) =>
            x.replace(
              "Los campos id_formation_area, name deben formar un conjunto único.",
              "Ya existe una sub-area de formación con ese nombre."
            )
          );

          swal(
            "No se creó el sub-area de formación",
            this.errorsList.join("\n"),
            "error",
            {
              button: "Aceptar",
            }
          );
        });
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo especifico para la propiedad state del input de Nombre
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    subAreaStateNameValidation() {
      if (this.textEmpty(this.form.name)) {
        return new Boolean(null);
      }
      return this.subAreaNameValidation();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    subAreaNameValidation() {
      return (
        this.textSize(this.form.name, 2, 32) &&
        this.onlyTextAndNumber1(this.form.name)
      );
    },
  },
};
</script>

<style lang="css" scoped></style>
