<template lang="html">
  <b-container>
    <b-modal
      id="delete-qualification-modal"
      ref="modal"
      :title="'Eliminar '+dataQualification.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataQualification} from "@/components/CriteriaSix/Qualification/DataQualification.js";

export default {
  props: ["getQualificationList", "itemQualification"],
  data() {
    return {
      dataQualification: DataQualification,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteQualification();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-qualification-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteQualification() {
      const path = url + `process/criteria_six_qualification/${this.itemQualification.id}`;
      axios.delete(path);
      swal(DataQualification.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$bvModal.hide('detail-qualification-modal');
        this.getQualificationList();
      });
      
    },
  },
};
</script>

<style></style>
