<template lang="html">
<div>
  <b-container id='custom-css' class='p-4'>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left" >
          <b-button class="mr-4" :to="{
                  name: 'ListCriteria', params: { processId: this.$store.getters.idProceso } 
                }">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12 my-2">
        <h3 class="text-left py-2">Criterion 6</h3>
      </b-col>
    </b-row>

    <b-card class="">
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-2">
            <b-col sm="2">Proceso:</b-col>
            <b-col sm="10" class="text-capitalize">{{ process_name}}</b-col>
          </b-row>
          
          <b-row class="text-left  mb-2">
            <b-col sm="2">Responsable(s):</b-col>
            <b-col sm="10" class="text-capitalize">
              <div v-for="colab in form.collaborator" :key="colab" >{{ getUserName(colab) }}</div>
            </b-col>
          </b-row>
          <b-row class="text-left">
            <b-col sm="2">Descripcion:</b-col>
            <b-col sm="10">{{ form.description }}</b-col>
          </b-row>
        </b-col>
      </b-row>
      
    </b-card>
    <b-row  class="mt-2">
        <b-col>
        <div class="float-right ">
          <b-button
            class="ml-1"
            variant="primary"
            :to="{ 
              name: 'EditCriteria', 
              params: { criteriaId: criteriaId } 
            }"
          >
            <b-icon icon="pencil-square"></b-icon>&nbsp;Editar
          </b-button>
        </div>
        </b-col>
      </b-row>

    <b-row  class="mt-4">
      <b-col cols="4" class="mb-3" v-for="component in component_list" :key="component.id">
        <b-card class="">
          <b-row class="mb-2">
            <b-col  align-self="center">         
                <h5 :title="component.text" style="text-overflow: ellipsis;overflow: hidden; white-space: nowrap;" >
                  {{component.text}}
                </h5>  
            </b-col>
          </b-row>
          <b-row >
            <b-col >
              
              <b-alert :variant="component.variant" show :class="'border border-'+component.variant">
                <b-row>
                  <b-col>
                    Hay {{component.pendient}} documento(s) pendientes 
                    </b-col>
                    <b-col class="d-flex justify-content-between align-items-center" cols="auto">
                    <b-icon :icon="component.icon+'-circle'" scale="2" ></b-icon>
                  </b-col>
                </b-row>
              </b-alert>
            </b-col>
          </b-row>
          <div class="float-right">
            <b-button 
                :to="{
                  name: component.path,
                  params: { status: 0, criteriaId: criteriaId }
                }"
              >
                Ver más
         
            </b-button>
          </div>
     
        </b-card>
      </b-col>
      
    </b-row>
  </b-container>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      //agregado
      criteriaId: "",
      user_list: [],
      component_list: [
        { value: 0, pendient: 0, variant: "primary", icon:"check", text: "Faculty Participation in Conferences, Papers, Others", path: "ListParticipation"},
        { value: 1, pendient: 0, variant: "primary", icon:"check", text: "Faculty Training in Research, Speciality, Teaching", path: "ListTraining"},
        { value: 2, pendient: 0, variant: "primary", icon:"check", text: "Professors Researchers Qualified by CONCYTEC", path: "ListResearcher"},
        { value: 3, pendient: 0, variant: "primary", icon:"check", text: "Faculty Research Proyects", path: "ListResearch"},
        { value: 4, pendient: 0, variant: "primary", icon:"check", text: "Faculty Qualifications", path: "ListQualification"},
        { value: 5, pendient: 0, variant: "primary", icon:"check", text: "Internships Registry of Professors", path: "ListInternship"},
        { value: 6, pendient: 0, variant: "primary", icon:"check", text: "Faculty Workload Sumary", path: "ListWorkload"},
        { value: 7, pendient: 0, variant: "primary", icon:"check", text: "Professors Survey - Student Evaluation", path: "ListSurvey"},
      ], 
      //
      process_name:"",
      form: {
        name: "",
        description: "",
        status: true,
        collaborator:[],
        id_process:""
      },
    };
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene acceso a esta vista verificando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if (
        (
          PermissionService.findPermission(
            Permission.View,
            Module.Portafolio
          ) ||
          PermissionService.findPermission(Permission.Create, Module.Portafolio)
        )
      ) {
       
        return true
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },


    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if (PermissionService.findPermission(
        Permission.Create,
        Module.Portafolio
      )){
        return true;
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}


      return false
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
        Permission.View,
        Module.Portafolio
      ) ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;

    },
    getProcess() {
      const path = url + `process/process/${this.form.id_process}/`;
      axios
        .get(path)
        .then((response) => {
          this.process_name = response.data.name;
    
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getCriterio() {
      const path = url + `process/criteria/${this.criteriaId}/`;
      axios.get(path).then((response) => {
        this.form= response.data;
        this.getProcess();
      });
    },
    getUserName(idUserName) {
      for (var i = 0; i < this.user_list.length; i++) {
        if (this.user_list[i].id == idUserName) {
          ///this.counter++;
          return this.user_list[i].first_name + " " + this.user_list[i].last_name;
        }
      }
    },
    getUsers() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.user_list = response.data;
      });
      this.counter++
    },
    /**
     * @description Obtiene la lista de entrenamientos registrados en la BD
     */
    getTraining() {
      const path = url + `process/criteria_six_training?status=2`;
      axios
        .get(path)
        .then((response) => {
          this.component_list[1].pendient = response.data.length;
          if(response.data.length>0){
            this.component_list[1].icon="exclamation";
            this.component_list[1].variant="warning";
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getResearch() {
      const path = url + `process/criteria_six_research?status=2`;
      axios
        .get(path)
        .then((response) => {
          this.component_list[3].pendient = response.data.length;
          if(response.data.length>0){
            this.component_list[3].icon="exclamation";
            this.component_list[3].variant="warning";
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    getResearcher() {
      const path = url + `process/criteria_six_researcher?status=2`;
        
      axios
        .get(path)
        .then((response) => {
          this.component_list[2].pendient = response.data.length;
          if(response.data.length>0){
            this.component_list[2].icon="exclamation";
            this.component_list[2].variant="warning";
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
  },
  
  async created() {
    this.criteriaId=this.$route.params.criteriaId;
    await this.getCriterio();
    await this.getUsers();
    PermissionService.setUserActive();
    this.viewPermission();
    this.getResearch();
    this.getResearcher();
    this.getTraining();
  },
};
</script>

<style lang="css" scoped>
  .border-primary{
  
  border-color: #2f3d57!important;
}
</style>
