<template>
  <div class="bg-light">
    <div id="mySidenav" class="sidenav">
      <b-icon icon="x-circle" class="closebtn" @click="closeNav"></b-icon>
      <img src="../assets/logounsa3.jpeg" id="logo" width="100px" />
      <b-list-group class="px-2 py-2">
        <b-list-group-item
          href="#"
          variant="primary"
          class="d-flex align-items-center"
          :to="{ name: 'ProfileUser' }"
        >
          <b-icon icon="person-fill" class="im"></b-icon>&nbsp;{{
            this.user.first_name
          }}
          {{ this.user.last_name }}
        </b-list-group-item>

        <b-list-group-item
          href="#"
          variant="primary"
          class="d-flex align-items-center"
          @click="logout"
        >
          <b-icon icon="box-arrow-in-left" class="im"></b-icon>&nbsp;Cerrar
          Sesión
        </b-list-group-item>
      </b-list-group>
      <br />

      <b-list-group class="px-2">
        <b-list-group-item
          href="#"
          variant="primary"
          class="d-flex align-items-center"
          :to="{ name: 'ListUser' }"
          v-if="viewUsuariosPermission()"
        >
          <b-icon icon="people" class="im"></b-icon>&nbsp;Usuarios
        </b-list-group-item>
      </b-list-group>

      <b-list-group class="px-2">
        <b-list-group-item
          href="#"
          variant="primary"
          class="d-flex align-items-center"
          :to="{ name: 'EditPermissions' }"
          v-if="viewRolesPermission()"
        >
          <b-icon icon="person-check-fill" class="im"></b-icon>&nbsp;Roles
        </b-list-group-item>
      </b-list-group>

      <b-list-group horizontal="md" class="px-2">
        <b-list-group-item
          href="#"
          variant="primary"
          class="d-flex align-items-center sin-der"
          :to="{ name: 'ListProcess' }"
        >
          <b-icon h-ref="#" icon="receipt" class="im"></b-icon>&nbsp;Procesos
        </b-list-group-item>
      </b-list-group>
      <b-list-group class="px-2">
        <b-list-group-item
          href="#"
          variant="primary"
          class="d-flex align-items-center"
          :to="{ name: 'listPortfolios' }"
          v-if="viewPortfolioPermission()"
        >
          <b-icon icon="clipboard" class="im"></b-icon>&nbsp;Portafolios
        </b-list-group-item>
      </b-list-group>

      <b-list-group class="px-2">
        <b-list-group-item
          href="#"
          variant="primary"
          class="d-flex align-items-center"
          :to="{ name: 'listCourses', params: { portfolioId: idPort } }"
          v-if="isRespCursoActv()"
        >
          <b-icon icon="clipboard" class="im"></b-icon>&nbsp;Mis Cursos
        </b-list-group-item>
      </b-list-group>
    </div>
    <span class="icon_menu">
      <img @click="openNav" src="../assets/icon/menu-solid.svg" />
    </span>
    <div id="main">
      <router-view></router-view>
    </div>
  </div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      user: [],
      userPermissions: this.$store.getters.getPermisos,
      idPort: 0,
    };
  },
  methods: {
    /**
     * @description Metodo para obtener datos del usuario activo
     */
    getUserActive() {
      const path = url + `user/active/`;
      axios
        .get(path)
        .then((response) => {
          this.user = response.data;
          if (!this.user.superadmin) {
            const p = response.data.role.permissions;
            this.$store.dispatch("permisos", { p });
          }
        })
        .catch((error) => {
          console.log(error);
        });
    },
    /**
     * @description Metodo que usar el store.js para destruir el token y redirecciona a login
     */
    logout() {
      this.$store.dispatch("logout");
      this.$router.push("/");
    },
    openNav() {
      document.getElementById("mySidenav").style.width = "250px";
      document.getElementById("main").style.marginLeft = "250px";
    },
    closeNav() {
      document.getElementById("mySidenav").style.width = "0";
      document.getElementById("main").style.marginLeft = "0";
    },
    /**
     * @description Metodo para verificar si el usuario logueado tiene permiso para ver el modulo de usuarios
     */
    viewUsuariosPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },
      /**
     * @description Metodo para verificar si el user logueado tiene permiso para visualizar el menu de roles
     */
    viewRolesPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Roles)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      return false;
    },

      /**
     * @description Metodo para verificar si el user logueado tiene permiso para visualizar el modulo de portafolio
     */
    viewPortfolioPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      return false;
    },
      /**
     * @description Metodo para verificar si el user logueado es un responsable de curso activo (docente)
     */
    isRespCursoActv() {
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      return false;
    },
  },
  /**
   * @description Metodo que usar el store.js para destruir el token y redirecciona a login
   */
  async created() {
    this.getUserActive();
    let id = await PermissionService.getIDPortafolioRespCA();
    this.idPort = id;
  },
  /**
   * @description Verifica en cada ves que el usuario realice una accion en el sistema si tiene un token
   * valido y a la vez refresca su token, en caso contrario lo desloguea y le cierra sesion
   */
  async updated() {
    const tokenActual = {
      token: this.$store.state.token,
    };
    try {
      if (this.user.status == true) {
        const obtainToken = await AuthService.refresh_token(tokenActual);
        const token = obtainToken.token;
        axios.defaults.headers.common["Authorization"] = `Bearer ${token}`;
        this.$store.dispatch("login", { token });
      } else {
        axios.defaults.headers.common["Authorization"] = null;
        this.logout();
      }
    } catch (e) {
      console.log(e);
      axios.defaults.headers.common["Authorization"] = null;
      this.logout();
    }
  },
};
</script>
<style scoped>
h1,
h2 {
  font-weight: normal;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  background-color: #d5d8dc;
}
a {
  color: #42b983;
}
.sidenav {
  height: 100%; /* 100% Full-height */
  width: 250px; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0; /* Stay at the top */
  left: 0;
  background-color: #2f3d57; /* Black*/

  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 50px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  box-shadow: 0 8px 17px 2px rgba(0, 0, 0, 0.14),
    0 3px 14px 2px rgba(0, 0, 0, 0.12), 0 5px 5px -3px rgba(0, 0, 0, 0.2);
}

.sidenav a {
  padding: 10px 8px 10px 16px;
  text-decoration: none;
  font-size: 17px;
  color: #424949;
  display: block;
  transition: 0.3s;
  font-weight: 100;
  background-color: transparent;
  color: #fff !important;
  border-top: 1px solid rgba(52, 56, 65, 0.6);

  text-transform: capitalize;
  text-align: left;
}

.sidenav a:hover,
.sidenav a:focus {
  color: #f1f1f1;
  background-color: rgb(255 255 255 / 23%);
}

.sidenav .closebtn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 36px;
  margin-left: 50px;
}
.closebtn {
  color: #ffe8e8;
}

#main {
  transition: margin-left 0.5s;
  padding: 20px;
  margin-left: 250px;
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top: 15px;
  }
  .sidenav a {
    font-size: 18px;
  }
}
.icon_menu {
  padding: 20px;
  float: left;
}
.im {
  margin-right: 1.5vh;
}
#logo {
  width: 90%;
}
.left {
  position: relative;
  right: 5px;
}
.nivel2 {
  padding-left: 2em;
  background-color: #d5d8dc;
  color: #5e151d;
}
.corto {
  width: 18%;
  border-top-width: 0px;
  border-left: 0px;
}
.largo {
  width: 80%;
}
.subnivel {
  margin: -8px;
  color: #62031b;
}
.subnivel a {
  color: #d5d8dc;
}
.subnivel a:hover {
  color: #d5d8dc;
}
.padding-8 {
  padding-left: -8px;
}
.list-group-item {
  border: 0px solid rgba(0, 0, 0, 0.125);
}
.list-group-item-primary {
  background-color: #d5d8dc;
}
.list-group-item-primary:hover {
  background-color: #424949;
}
.list-group-horizontal-md > .list-group-item + .list-group-item {
  border-top-width: 0px;
}
.list-group-horizontal-md > .list-group-item:last-child {
  border-top-right-radius: 0;
}
.list-group-horizontal-md > .list-group-item:first-child {
  border-bottom-left-radius: 0;
}
.list-group {
  border-radius: 0;
}
/***/

#main {
  padding: 35px;
  min-height: 100vh;
}

.shadow {
  box-shadow: 0 0.3rem 0.8rem rgba(0, 0, 0, 0.15) !important;
}
</style>
