<template lang="html">
  <b-container>
    <b-row class="text-left mb-3">
      <b-col>
        <h2>Detalles del criterio</h2>
      </b-col>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ criteria.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Descripción:</b-col>
            <b-col sm="9">{{ criteria.description }}</b-col>
          </b-row>

          <b-row class="text-left mb-3">
            <b-col sm="3">Responsable:</b-col>
            <b-col sm="9">
              <b-button
                v-b-modal.responsible-info
                variant="outline-primary"
                size="sm"
              >
                <b-icon icon="person-lines-fill"></b-icon>
              </b-button>
              ID

              <b-modal
                id="responsible-info"
                scrollable
                title="Informacion del responsable"
                ok-only
              >
                <b-row>
                  <b-col sm="3">Nombres: </b-col>
                  <b-col sm="3"> nombre </b-col>
                </b-row>
                <b-row>
                  <b-col sm="3">Correo: </b-col>
                  <b-col sm="3"> correo </b-col>
                </b-row>
                <b-row>
                  <b-col sm="3">Rol: </b-col>
                  <b-col sm="3"> Rol </b-col>
                </b-row>
              </b-modal>
            </b-col>
          </b-row>

          <b-row class="text-left mb-3">
            <b-col sm="3">Estado:</b-col>
            <b-col sm="9">{{ criteria.status }}</b-col>
          </b-row>

          <b-row class="text-left mb-3">
            <b-col sm="3">Criterios</b-col>
            <b-col sm="7">
              <b-button v-b-modal.create-indicator-modal
                >Crear Indicador</b-button
              >
              <NewIndicator :CriteriaID="criteria.id"></NewIndicator>
            </b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col>
              <b-card>
                <ListIndicator :CriteriaID="criteria.id"></ListIndicator>
              </b-card>
            </b-col>
          </b-row>
         
        </b-col>
      </b-row>
      <b-row>
        <b-col align-self="center">
          <b-button
            variant="outline-primary"
            :to="{ name: 'EditCriteria', params: { criteriaId: criteria.id } }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar Criterio
          </b-button>
        </b-col>
        <b-col>
          <b-button v-b-modal.delete-criteria-modal>Eliminar</b-button>
          <DeleteCriteria :CriteriaInfo="criteria"></DeleteCriteria>
        </b-col>
        <b-col>
          <b-button
           :to="{
              name: 'ListPhase',
            }"
            >
            Atras
          </b-button>
        </b-col>
      </b-row>
       <b-row class="text-left mb-3">
         <b-col>
           <b-card>
            <ViewCriteriaSix :CriteriaID="criteria.id"></ViewCriteriaSix>
           </b-card>
            </b-col>
            </b-row>
    </b-card>
  </b-container>
</template>

<script>
import axios from "axios";
import DeleteCriteria from "@/components/Criteria/DeleteCriteria";
import NewIndicator from "@/components/Indicator/NewIndicator";
import ListIndicator from "@/components/Indicator/ListIndicator";
import ViewCriteriaSix from "@/components/CriteriaSix/ViewCriteriaSix";
const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    DeleteCriteria,
    NewIndicator,
    ListIndicator,
    ViewCriteriaSix,
  },
  data() {
    return {
      criteriaId: this.$route.params.criteriaId,
      criteria: [],
    };
  },
  methods: {
    //getIndicadores() {},
    getCriterios() {
      const path = url + `process/criteria/${this.criteriaId}/`;

      axios
        .get(path)
        .then((response) => {
          this.criteria = response.data;
          //this.getUser();
        })
        .catch((error) => {
          console.log(error);
        });
    },
    // getUser() {
    //   const path = url + `/user/user/${this.criteria.id_user}`;
    //   axios.get(path).then(response => {
    //     this.user = response.data;
    //   });
    // }
  },
  created() {
    this.getCriterios();
  },
};
</script>
<style lang="css" scoped></style>
