<template lang="html">
  <b-container class="text-left">
    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="criterias"
      :fields="fields"
      :filter="filter"
      empty-text="No hay criterios para mostrar"
 
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="secondary"
            :to="{
              name: data.item.enlace,
              params: { criteriaId: data.item.id },
            }"
          >Ver Más
          </b-button>
          &nbsp;
          <b-button
            size="sm"
            variant="primary"
            :to="{ 
              name: 'EditCriteria', 
              params: { criteriaId: data.item.id } 
            }"
          >
            <b-icon icon="pencil-square"></b-icon>&nbsp;Editar
          </b-button>
        </b-container>
      </template>
    </b-table>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["PhaseID"],
  data() {
    return {
      processId: this.$route.params.processId,
      criterias: [],
      criteriaInicial:[
        { component:"CriteriaOne", text: "Silabo ABET" },
        { component:"", text: "Silabo ABET" },
        { component:"", text: "Silabo ABET" },
        { component:"", text: "Silabo ABET" },
        { component:"", text: "Silabo ABET" },
        { component:"CriteriaSix", text: "Silabo ABET" },
        { component:"", text: "Silabo ABET" },
        { component:"", text: "Silabo ABET" },
      ],
      fields: [
        {
          key: "id_process",
          label: "ID",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "name",
          label: "Nombre",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "description",
          label: "Descripcion",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "status",
          label: "Estado",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },
        { key: "actions", label: "Acción", class: "text-center" },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",
      filter: null,
      //filterOn: ["id_phase"],
    };
  },

  methods: {
    updateCriteria(){
      this.criterias.sort(function (a, b) {
        if (a.criteriaId > b.criteriaId) {
          return 1;
        }
        if (a.criteriaId < b.criteriaId) {
          return -1;
        }
        return 0;
      });
      var i = 0;
      this.criterias.forEach(element => {
        element.enlace=this.criteriaInicial[i].component;
        i++;
      });
    },
    getCriterias() {
      const path = url + `process/criteria/?id_process=${this.$store.getters.idProceso}`;
      axios
        .get(path)
        .then((response) => {
          console.log(path);
          this.criterias = response.data;
          this.updateCriteria();
          console.log("como es",response.data)
        })
        .catch((error) => {
          console.log(error);
        });
        console.log("como es 2",this.criterias)
    },
    
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  async created(){
    await this.getCriterias();
  },
  /*beforeUpdate() {
    this.filter = ("" + this.PhaseID).toString();
  },*/
};
</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
