<template>
  <b-container id="custom-css" class='p-4'>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left py-3" >
          <b-button  class="mr-4" :to="{ name: 'DetailProcess',
              params: { processId: this.$store.getters.idProceso }}">
            <b-icon icon="arrow-left" ></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
      <b-col cols="12">
        <h2 class="text-left">Criterios</h2>
      </b-col>
      <b-col class="d-flex align-items-center mt-3 mb-2">
        <h5 class="text-nowrap">Listado de criterios</h5>
      </b-col>
    </b-row>

    <b-card title="Card Title" no-body>
      <b-card-body>
        <router-view></router-view>
      </b-card-body>
    </b-card>
  </b-container>
</template>

<script>
export default {
  data() {
    return {};
  },
};
</script>

<style lang="css" scoped></style>
