<template lang="html">
  <div class="container">
    <b-form @submit="onSubmit" @reset="onReset">
      <b-row class="text-center mb-3">
        <b-col sm="6" md="4">
          <b-row class="mb-3">
            <b-col>Foto del perfil</b-col>
          </b-row>
          <b-row class="mb-3">
            <b-col>
              <b-img
                thumbnail
                fluid
                :src="this.form.photo"
                alt="Image 1"
              ></b-img>
            </b-col>
          </b-row>

          <b-row class="mb-3">
            <b-col>
              <b-form-group>
                <b-form-file
                  v-model="form.changephoto"
                  placeholder="Cambiar foto"
                  drop-placeholder="Mueva su foto aqui"
                  accept="image/*"
                  @change="onFileChangePhoto"
                ></b-form-file>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
        <b-col sm="12" md="8">
          <b-row class="text-left mb-1">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">
              <b-form-group>
                <b-form-input
                  type="text"
                  v-model="user.first_name"
                  :formatter="forceLowerCase"
                  required
                  :state="firstNameValidation()"
                  placeholder="Nombres"
                ></b-form-input>
                <small class="msg" v-if="!onlyText(user.first_name)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; No es un caracter válido
                  <br />
                </small>
                <small class="msg" v-if="!textSize(user.first_name, 2, 32)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Mínimo 2 y máximo 32 caracteres
                </small>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="text-left mb-1">
            <b-col sm="3">Apellido:</b-col>
            <b-col sm="9">
              <b-form-group>
                <b-form-input
                  type="text"
                  placeholder="Apellidos"
                  v-model="user.last_name"
                  :formatter="forceLowerCase"
                  required
                  :state="lastNameValidation()"
                ></b-form-input>
                <small class="msg" v-if="!onlyText(user.last_name)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; No es un caracter válido
                  <br />
                </small>
                <small class="msg" v-if="!textSize(user.last_name, 2, 32)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; Mínimo 2 y máximo 32 caracteres
                </small>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="text-left mb-1">
            <b-col sm="3">Email:</b-col>
            <b-col sm="9">
              <b-form-group>
                <b-form-input
                  type="email"
                  v-model="user.email"
                  placeholder="Email"
                  required
                  :state="emailValidation()"
                ></b-form-input>
                <small class="msg" v-if="!onlyEmail(user.email)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon
                  >&nbsp; No es un correo válido
                </small>
              </b-form-group>
            </b-col>
          </b-row>
          <b-row class="text-left mb-1">
            <b-col sm="3">Estado:</b-col>
            <b-col sm="3">{{ this.formatterState() }} </b-col>
          </b-row>
          <br />
          <b-row v-if="this.user.role" class="text-left mb-3">
            <b-col sm="3">Rol:</b-col>
            <b-col sm="9"
              >{{ this.user.role.name }} de {{ this.user.role.process }}</b-col
            >
          </b-row>
          <br />
          <b-row class="text-left mb-1">
            <b-col sm="3">Firma:</b-col>
            <b-col sm="9">
              <b-form-group>
                <b-form-file
                  v-model="form.changesignature"
                  placeholder="Cambiar firma"
                  drop-placeholder="Suelte su firma aqui"
                  accept=".png, .tiff"
                  @change="onFileChangeSignature"
                ></b-form-file>
              </b-form-group>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
      <b-row class="py-4">
        <div class="col-12">
          <b-button type="submit" variant="secondary" class="float-right ml-3">
            <b-icon icon="wallet2"></b-icon>&nbsp; Guardar</b-button
          >
          <b-button
            type="submit"
            variant="danger"
            class="float-right ml3"
            :to="{ name: 'ProfileUser' }"
            ><b-icon icon="x"></b-icon>Cancelar</b-button
          >
        </div>
      </b-row>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
import AuthService from "@/services/AuthService.js";

export default {
  data() {
    return {
      userid: {},
      role: "",
      id_user: "",
      user: {
        first_name: "",
        last_name: "",
      },
      rol: "",
      form: {
        id: "",
        email: "",
        first_name: "",
        last_name: "",
        id_role: "",
        status: "",
        photo: "",
        signature: "",
        selected: "",
        changephoto: null,
        changesignature: null,
      },

      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9,._/\- ]*$/,
        email: /^([a-z0-9_-]+)@unsa\.edu.pe$/,
      },

      dismissSecs: 5,
      dismissCountDown: 0,
      showDismissibleAlert: false,
    };
  },
  methods: {
    onFileChangePhoto(e) {
      const file = e.target.files[0];
      this.form.photo = URL.createObjectURL(file);
    },
    onFileChangeSignature(e) {
      const file = e.target.files[0];
      this.form.signature = URL.createObjectURL(file);
    },
    onSubmit(evt) {
      evt.preventDefault();
      if (this.editValidation()) {
        if (
          this.form.changephoto == null &&
          this.form.changesignature == null
        ) {
          this.editWithoutFiles();
        } else if (
          this.form.changephoto == null &&
          this.form.changesignature != null
        ) {
          this.editWithoutPhoto();
        } else if (
          this.form.changephoto != null &&
          this.form.changesignature == null
        ) {
          this.editWithoutSignature();
        } else {
          this.edit();
        }
      }
    },
    onReset(evt) {
      evt.preventDefault();
    },
    /**
     * @description Edit perdil del usuario logueado permitiendole añadir su foto y su firma
     */
    edit() {
      const path = url + `user/active/`;
      let userData = new FormData();
      userData.append("email", this.user.email);
      userData.append("first_name", this.user.first_name);
      userData.append("last_name", this.user.last_name);
      userData.append("photo", this.form.changephoto);
      userData.append("signature", this.form.changesignature);
      userData.append("status", this.user.status);
      axios
        .put(path, userData)
        .then(() => {
          swal("Usario Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/");
          });
        })
        .catch((error) => {
          console.log(error);
          this.showAlert();
        });
    },
    editWithoutFiles() {
      const path = url + `user/active/`;
      let userData = new FormData();
      userData.append("email", this.user.email);
      userData.append("first_name", this.user.first_name);
      userData.append("last_name", this.user.last_name);
      userData.append("status", this.user.status);
      axios
        .put(path, userData)
        .then(() => {
          swal("Usario Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/");
          });
        })
        .catch((error) => {
          console.log(error);
          this.showAlert();
        });
    },
    editWithoutPhoto() {
      const path = url + `user/active/`;
      let userData = new FormData();
      userData.append("email", this.user.email);
      userData.append("first_name", this.user.first_name);
      userData.append("last_name", this.user.last_name);
      userData.append("signature", this.form.changesignature);
      userData.append("status", this.user.status);
      axios
        .put(path, userData)
        .then(() => {
          swal("Usario Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push("/");
          });
        })
        .catch((error) => {
          console.log(error);
          this.showAlert();
        });
    },
    editWithoutSignature() {
      const path = url + `user/active/`;
      let userData = new FormData();
      userData.append("email", this.user.email);
      userData.append("first_name", this.user.first_name);
      userData.append("last_name", this.user.last_name);
      userData.append("photo", this.form.changephoto);
      userData.append("status", this.user.status);
      axios
        .put(path, userData)
        .then(() => {
          swal("Usario Actualizado Exitosamente!", "", "success", {
            button: "Aceptar",
          });
        })
        .catch((error) => {
          console.log(error);
          this.showAlert();
        })
        .then(() => {
          this.$router.push("/");
        });
    },
    countDownChanged(dismissCountDown) {
      this.dismissCountDown = dismissCountDown;
    },
    showAlert() {
      this.dismissCountDown = this.dismissSecs;
    },

    formatterState() {
      return this.user.status == null
        ? ""
        : this.user.status
        ? "Activo"
        : "Inactivo";
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },

    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      return text.length >= a && text.length <= b;
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyText
     * @return {boolean}
     */
    onlyText(text) {
      return this.validation.onlyText.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable email
     * @return {boolean}
     */
    onlyEmail(text) {
      return this.validation.email.test(text);
    },

    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    clear() {
      this.form.email = "";
      this.form.first_name = "";
      this.form.last_name = "";
    },

    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del nombre
     * @return {boolean}
     */
    firstNameValidation() {
      if (this.textEmpty(this.user.first_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.user.first_name, 2, 32) &&
        this.onlyText(this.user.first_name)
      );
    },

    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del apellido
     * @return {boolean}
     */
    lastNameValidation() {
      if (this.textEmpty(this.user.last_name)) {
        return new Boolean(null);
      }
      return (
        this.textSize(this.user.last_name, 2, 32) &&
        this.onlyText(this.user.last_name)
      );
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input del correo
     * @return {boolean}
     */
    emailValidation() {
      if (this.textEmpty(this.user.email)) {
        return new Boolean(null);
      }
      return this.onlyEmail(this.user.email);
    },

    editValidation() {
      return (
        this.firstNameValidation() &&
        this.lastNameValidation() &&
        this.emailValidation()
      );
    },
  },
  async created() {
    if (!this.$store.getters.isLoggedIn) {
      this.$router.push("/login");
    } else {
      axios.defaults.headers.common[
        "Authorization"
      ] = `Bearer ${this.$store.getters.isLoggedIn}`;
      this.user = await AuthService.getUser();
    }
  },
};
</script>

<style lang="css" scoped></style>
