<template lang="html">
  <b-container>
    <b-modal
      id="delete-internship-modal"
      ref="modal"
      :title="'Eliminar '+dataInternship.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataInternship} from "@/components/CriteriaSix/Internship/DataInternship.js";

export default {
  props: ["getInternshipList", "itemInternship"],
  data() {
    return {
      dataInternship: DataInternship,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteInternship();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-internship-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteInternship() {
      const path = url + `process/criteria_six_internship/${this.itemInternship.id}`;
      axios.delete(path);
      swal(DataInternship.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$bvModal.hide('detail-internship-modal');
        this.getInternshipList();
      });
      
    },
  },
};
</script>

<style></style>
