<template lang="html">
  <b-container>
    <b-modal
      id="edit-internship-modal"
      ref="modal"
      :title="'Editar '+dataInternship.data_name_two"
      size="lg"
      @show="openModal"
      @hidden="closeModal"
      scrollable
    
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Aceptar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Professor</strong> </h6>
        <b-form-group label="Name:">
          <b-form-select 
            v-model="form.id_user" 
            required 
            id="id_internship"
            :state="inputSelectStateValidation(form.id_user)"  
          >
            <b-form-select-option :value="null" disabled>
              Select a professor
            </b-form-select-option>
            <b-form-select-option
              
              v-for="(id_user, indexOpt) in user_list"
              :key="indexOpt"
              :value="id_user.id"
            >
              {{ id_user.first_name }} {{ id_user.last_name }}
            </b-form-select-option>
          </b-form-select>
          <small class="msg" v-if="!inputSelectValidation(form.id_user)">
            <b-icon icon="exclamation-circle" variant="warning"></b-icon
            >&nbsp; Debe seleccionar una opción
          </small>
        </b-form-group>
        <b-row>
          <b-col>
            <b-form-group label="School">
              <b-form-select
                id="school"
                v-model="form.school"
                required 
                :state="inputSelectStateValidation(form.school)"  
              >
                <b-form-select-option :value="null" disabled>
                  Select a School
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataInternship.schools"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>

              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.school)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Category">
              <b-form-select
                id="category"
                v-model="form.teacher_category"
                required 
                :state="inputSelectStateValidation(form.teacher_category)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Category
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataInternship.categories"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.teacher_category)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Regimen">
              <b-form-select
                id="reg"
                v-model="form.teacher_regimen"
                required  
                :state="inputSelectStateValidation(form.teacher_regimen)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Register
                </b-form-select-option>
                <b-form-select-option
                  v-for="(register, indexOpt) in dataInternship.registers"
                  :key="indexOpt"
                  :value="register.value"
                >
                  {{ register.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.teacher_regimen)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        
        <h6><strong>Internship</strong> </h6>
        <b-row>
          <b-col>
          <b-form-group label="Name:">
            <b-form-select 
              v-model="form.id_internship" 
              required 
              id="id_internship"
              :state="inputSelectStateValidation(form.id_internship)"  
            >
              <b-form-select-option :value="null" disabled>
                Select a Internship
              </b-form-select-option>
              <b-form-select-option
                
                v-for="(id_user, indexOpt) in internship_only_list"
                :key="indexOpt"
                :value="id_user.id"
              >
                {{ id_user.title }}
              </b-form-select-option>
            </b-form-select>
            <small class="msg" v-if="!inputSelectValidation(form.id_internship)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon
              >&nbsp; Debe seleccionar una opción
            </small>
          </b-form-group>
          </b-col>
          <b-col cols="auto">
            <b-form-group label="Add">
              <b-button v-b-modal.add-internship-only-modal variant="dark">
                <b-icon icon="plus"></b-icon>
              </b-button>
            </b-form-group>
          </b-col>
        </b-row>
        

      

        <h6><strong>Date</strong> </h6>
        <b-row>
          <b-col>
            <b-form-group label="Start:">
              <b-form-datepicker
                id="startdate"
                v-model="form.date_start"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="startDateStateValidation(form.date_start)"
                @context="contextDate"
                >
                </b-form-datepicker>
                <small class="msg" v-if="textEmpty(form.date_start)">
                  <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
                </small>
            </b-form-group>
            
          </b-col>
          <b-col>
          <b-form-group label="Finish:">
              <b-form-datepicker
                id="finishdate"
                v-model="form.date_finish"
                placeholder="Escoge una fecha"
                required
                local="en"
                :state="finishDateStateValidation(form.date_start,form.date_finish)"
                @context="contextDate"
              >
              </b-form-datepicker>
              <small class="msg" v-if="textEmpty(form.date_finish)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>&nbsp; Debe escoger una fecha
              </small>
            </b-form-group>
            
          </b-col>
        </b-row>

        
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataInternship, ModelInternship} from "@/components/CriteriaSix/Internship/DataInternship.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["getInternshipList", "itemInternship"],
  watch: {
    itemInternship: function () {
      this.form= Object.assign({},this.itemInternship);
    },
  },
  data() {
    return {
      //permision
      isCreator: false,
      isResponsableCriteria: true,

      internship_only_list: [],
      isArticle: false,
      user_list: [],
      dataInternship: DataInternship,
      form: Object.assign({},ModelInternship),
      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },


    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    startDateStateValidation(value) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.startDateValidation(value);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    startDateValidation(value) {
      return !this.textEmpty(value);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    finishDateStateValidation(start, finish) {
      if (this.textEmpty(start)) {
        return new Boolean(null);
      }
      return this.finishDateValidation(start, finish);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin
     * @return {boolean}
     */
    finishDateValidation(start, finish) {
      return (
        !this.textEmpty(finish) && finish > start
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input number
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputNumberStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputNumberValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input number
     * @return {boolean}
     */
    inputNumberValidation(value, min, max) {
      return (
        this.numberSize(value, min, max) &&
        this.onlyNumber(value)
      );
    },
    inputSelectStateValidation(value){
      if (value==null) {
        return new Boolean(null);
      }
      return true;
    },
    inputSelectValidation(value){
      if (value==null) {
        return false
      }
      return true;
    },
    

     //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Reinicia los variables de los inputs del formulario
     */
    openModal() {
      this.$bvModal.hide('detail-internship-modal');
    },
    closeModal() {
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      
      if (this.editInternshipValidation()) {
        this.editInternship();
      }else{
        swal(DataInternship.data_name+" no se ha editado", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    editInternshipValidation() {
      const valid = this.$refs.form.checkValidity();
      return (
        valid
      );
    },

    /**
     * @description Crea un entrnemiento
     */
    editInternship() {
      if(this.form.doc_evidence==null){
        this.form.doc_evidence= "";
        this.form.evidence= false;
      }
      delete this.form.doc_evidence;
      this.form.status=2;
      let datos = new FormData();
      Object.keys(this.form).forEach(key => {
        datos.append(key, this.form[key]);
      });
      const path = url + `process/criteria_six_internship/${this.itemInternship.id}/`;
      
      axios
        .put(path, datos)
        .then(() => {
          swal(DataInternship.data_name+" se ha editado exitosamente", DataInternship.data_name+" sera enviado para su revisión", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('edit-internship-modal');
            this.getInternshipList();
          });
        })
        .catch(() => {
          swal(DataInternship.data_name+" no se ha editado", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    /**
     * @description Obtiene informacion de los usuarios
     */
    getUserList(idProcess) {
      const path = url + 'user/user/?id_role__id_process='+idProcess;
      axios.get(path).then((response) => {
        this.user_list = response.data;
      });
    },
    /**
     * @description Obtiene informacion de organizaciones
     */
    getInternshipOnlyList() {
      const path = url + 'process/criteria_six/internship/';
      axios.get(path).then((response) => {
        this.internship_only_list = response.data;
        console.log("get organization");
      });
    },

  },

  created() {
    this.getUserList(this.$store.getters.idProceso);
    this.getInternshipOnlyList();
  },
};
</script>

<style lang="css" scoped></style>
