<template lang="html">
<div>
  <div class="container">
    <h3 class=" text-left my-4 ">Nueva Evidencia</h3>

    <b-card class="mb-3 text-left">
      <b-form @submit="onSubmit" @reset="onReset">
         <b-row class="text-left mb-3" align-v="center">
          <b-col sm="3">Evidencia:</b-col>
          <b-col sm="9">
            <b-form-file
              id="evidence"
              v-model="form.selectedFiles"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUpload"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí...">
              
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>

              <li v-for="lista of selectedFiles" :key="lista">
                {{ lista.name }}
              </li>
            </div>
          </b-col>
        </b-row>
        <b-row class="text-left mb-3" align-v="center">
          <b-col sm="3">Año:</b-col>
          <b-col sm="9">
            <div>
              <b-form-input
                required
                type="number"
                v-model="form.year"
                :state="yearStateValidation()"
                placeholder="Ingrese Año"
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(form.year)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(form.year, 2000, 2050)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; El año tiene que estar dentro del rango de 2000 y 2050
              </small>
            </div>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-button type="submit" variant="secondary" class="float-right ml-3"
              ><b-icon icon="wallet2"></b-icon>&nbsp;Guardar</b-button>
            <b-button
              type="reset"
              variant="danger"
              class="btn-large-space float-right">
                <b-icon icon="x"></b-icon>
                Reiniciar
            </b-button>
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
  </div>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
const url = process.env.VUE_APP_RUTA_API;
//import AuthService from "@/services/AuthService.js";

export default {
  data() {
    return {
      permisos: this.$store.getters.getPermisos,
      form: {
        selectedFiles:[],
        year: "",
        id_criteria:"",
      },
      validation: {
        validationAño: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
        onlyNumber: /^[0-9]*$/,
      },
      errorsList: [],
    };
  },
  methods: {
    /**
     * @description Verifica si se cumplio las validaciones para luego dar el formato
     * correspondiente a los inputs y finalmente crear el proceso
     */
    async onSubmit(evt) {
      evt.preventDefault();
      await this.submitFiles();
      swal("Evidencia creada correctamente Creado Exitosamente!","", "success", {
        button: "Aceptar",
      });
      this.$router.push("list");
    },
    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },
    /**
     * @description Verifica si se encuentra los datos correctamente
     */
    createEvidenceValidation(){
        return this.yearStateValidation();
    },
    handleFilesUpload(event) {
      //esto es para seleccionar los archivos y tener la información
      this.selectedFiles = event.target.files;

      for (var i = 0; i < this.selectedFiles.length; i++) {
        this.fileInfos.push(this.selectedFiles[i]);
      }
      console.log(this.fileInfos);
    },

    submitFiles() {
      for (var i = 0; i < this.selectedFiles.length; i++) {
        let formData = new FormData();
        formData.append("year", this.form.year);
        formData.append("doc_annexed", this.selectedFiles[i]);
        formData.append("id_criteria",this.form.id_criteria);
        this.createdEvidenceDocument(formData);
      }
    },
    createdEvidenceDocument(formData){
      const path = url + `process/criteriaone/professional_engineer_verification_process/`;
      axios
        .post(path, formData, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });
    },



    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @description Metodo especifico para la propiedad state del input del año
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    yearStateValidation() {
      if (this.textEmpty(this.year)) {
        return new Boolean(null);
      }
      return this.yearValidation();
    },
    textEmpty(){
      return true;
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    yearValidation() {
      return (
        this.numberSize(this.year, 2000, 2050) && this.onlyNumber(this.year)
      );
    },

   

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador o responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      //if( PermissionService.findPermission(Permission.View, Module.Portafolio) ){
      //return true;
      //}

      if (this.$store.getters.isResProceso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  async created() {
    this.viewPermission();
    this.form.id_criteria = this.$route.params.criteriaId;
  },
};
</script>

<style lang="css" scoped></style>