<template lang="html">

<div>
  <!--<div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>-->
  <div class="text-left">
    <b-row class="my-3 mt-4 pt-2">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap my-0">Listado de Graduated Verification Process</h5>
      </b-col>
          
    </b-row>
    <b-row v-for="evidence of ProfessionalEngineerVerificationProcess" :key="evidence.id">
      <b-col lg="4" class="my-1">{{evidence.year}}</b-col>
      <b-col lg="8" class="my-1">
        <b-row>
          <b-col lg="8" class="my-1" > 
            <a :href="evidence.doc_annexed">
                {{ evidence.doc_annexed_filename }}
              </a>
          </b-col>
          <b-col lg="4" class="my-1">
            <b-button
            variant="danger"
            size="sm"
            @click="infoDelete(evidence, $event.target)"
            title="Eliminar"
            ><b-icon icon="trash"></b-icon
            ></b-button>
          </b-col>
        </b-row>
      </b-col>
    </b-row>
    <br />
  <!--Delete modal -->
    <b-container>
    <b-modal
      :id="deleteModal.id"
      :title="deleteModal.title"
      @ok="handleDeleteOk"
      @hide="resetDeleteModal"
      ok-title="Eliminar"
      cancel-title="Cancelar">
        <h5 class="text-center mt-3 mb-3">
          ¿Está seguro que desea eliminar la Evidencia {{ this.deleteModal.evidence.doc_annexed_filename }}?
        </h5>
    </b-modal>
  </b-container>
  </div>
  
  </div>

   
</template>

<script>
import axios from "axios";

import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  
  data() {
    return {
      //counter:0,
      isLoading: true,
      userPermissions: this.$store.getters.getPermisos,
      ProfessionalEngineerVerificationProcess:[],
      year:"",
      deleteModal: {
        id: "delete-modal",
        title: "",
        evidence: "",
      },
    };
  },
  computed: {
  },
  async created() {
    PermissionService.setUserActive();
    this.viewPermission();
    await this.getEvidence();
  },
  methods: {
    async getEvidence(){
       const path =
        url + `process/criteriaone/professional_engineer_verification_process?id_criteria=${this.$route.params.criteriaId}`;
      console.log(path);
      await axios
        .get(path)
        .then((response) => {
          this.ProfessionalEngineerVerificationProcess = response.data;
        })

        this.updateEvidence();
    },
    handleDeleteOk() {
      this.deteleEvidence(this.deleteModal.evidence.id);
    },
    deteleEvidence(id){
      const path = url + `process/criteriaone/professional_engineer_verification_process/${id}`;
      axios.delete(path).then(() => {
        swal("Evidencia eliminado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          this.getEvidence();
        });
      });
    },
    infoDelete(Evidence, button) {
      this.deleteModal.title = `Eliminar Evidencia `;
      this.deleteModal.evidence = Evidence;
      this.$root.$emit("bv::show::modal", this.deleteModal.id, button);
    },
    resetDeleteModal() {
      this.deleteModal.title = "";
      this.deleteModal.evidence = "";
    },

    updateEvidence(){
      this.ProfessionalEngineerVerificationProcess.sort(function (a, b) {
        if (a.year > b.year) {
          return 1;
        }
        if (a.year < b.year) {
          return -1;
        }
        return 0;
      });
      this.year = this.ProfessionalEngineerVerificationProcess[0].year;
    },
    ValidateYear(yearA){
      
      if(this.year == yearA){
        return " ";
      }
      this.year = yearA;
      return this.year+"";
    },


    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      
      if (PermissionService.findPermission(Permission.View, Module.Usuarios)) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      this.$router.push("/");
    },
  },
};

</script>

<style lang="css" scoped>
.bsearch {
  float: right;
  background-color: #007bff;
  margin-top: -0.5vh;
}
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
