<template>
  <div class='container'>
    <div class='row mb-4'>
      <b-button :to="{ name: 'responsableCourses' }">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </div>
    <br />
    <b-form @submit="onSubmit" @reset="onReset" class='row'>
      <b-form-group id="input-group-1" label="Grupo Teoria" label-for="input-1" class='col-6' align='left'>
        <b-form-input
          id="id_grupoTeoria"
          v-model="responsable.group_thery"
          type="text"
          placeholder="Ingrese Grupo Teoria"
        ></b-form-input>
      </b-form-group>

      <b-form-group
        id="input-group-2"
        label="Grupo Laboratorio"
        label-for="input-2"
        class='col-6'
        align='left'
      >
        <b-form-input
          id="id_grupoLaboratorio"
          v-model="responsable.group_laboratory"
          type="text"
          placeholder="Ingrese Grupo Laboratorio"
        ></b-form-input>
      </b-form-group>
      <div class='col-12'>
      <b-button type="submit" variant="primary" class='float-right'>Editar</b-button>
      </div>
    </b-form>
  </div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import {
  Module,
  Permission,
  PermissionService,
} from "@/services";
import swal from "sweetalert";

export default {
  data() {
    return {
      responsableId: this.$route.params.responsableId,
      responsable: {},
    };
  },
  methods: {
    onSubmit(evt) {
      evt.preventDefault();
      this.editResponsable();
    },
    onReset(evt) {
      evt.preventDefault();
    },
    getResponsable() {
      const path =
        url + `process/portfolio/course_active_user/${this.responsableId}`;
      axios.get(path).then((response) => {
        this.responsable = response.data;
      });
    },
    editResponsable() {
      const datos = {
        id_course_active: this.responsable.id_course_active,
        id_user: this.responsable.id_user,
        group_thery: this.responsable.group_thery,
        group_laboratory: this.responsable.group_laboratory,
      };
      const path =
        url + `process/portfolio/course_active_user/${this.responsable.id}/`;
      axios.put(path, datos).then(() => {
        swal("Usuario Actualizado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          location.reload();
        });
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }

      this.$router.push("/");
    },
  },
  created() {
    PermissionService.setUserActive();
    this.viewPermission();
    this.getResponsable();
  },
};
</script>

<style></style>
