<template>
  <b-container>
    <div class='row mb-4'>
      <b-button :to="{ name: 'stages' }">
        <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás
      </b-button>
    </div>
    <b-form @submit="onSubmit" @reset="onReset">
      <div v-for="stage in stages" :key="stage.stage">
        <div v-if="validateDates(stage)">
          <b-row>
            <b-col>
              <b-form-group id="fase" label="Fase:" label-for="input-1"
                ><h2>{{ stage.document }}</h2>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="observacion"
                label="Observacion:"
                label-for="input-2"
              >
                <b-form-textarea
                  id="input-2"
                  v-model="stage.observation"
                  rows="5"
                  placeholder="Ingrese Observacion"
                ></b-form-textarea>
              </b-form-group>
            </b-col>
            <b-col>
              <b-form-group
                id="input-group-3"
                label="Estado:"
                label-for="input-3"
              >
                <b-icon
                  class="h3 mb-2"
                  v-if="stage.status"
                  icon="exclamation-circle-fill"
                  variant="success"
                ></b-icon>
                <b-icon
                  v-if="!stage.status"
                  class="h3 mb-2"
                  icon="exclamation-circle-fill"
                  variant="danger"
                ></b-icon>
                <b-form-checkbox
                  v-model="stage.status"
                  name="checkbox-1"
                >
                  Aprobado
                </b-form-checkbox>
              </b-form-group>
            </b-col>
          </b-row>
        </div>
      </div>
      <b-button type="submit" variant="secondary" class="float-center ml-3">
        <b-icon icon="wallet2"></b-icon>&nbsp;Guardar
      </b-button>&nbsp;
      <b-button
        type="reset"
        variant="danger"
        class="btn-large-space float-center"
      >
        <b-icon icon="x"></b-icon>
        Reiniciar</b-button
      >
    </b-form>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import { Module, Permission, PermissionService, CourseDatesService} from "@/services";

export default {
  data() {
    return {
      courseActiveId: this.$route.params.courseId,
      portfolioId: this.$route.params.portfolioId,
      courseActive: [],
      stages: [],
      stagesEdited: [],
      documents: [
        {value: 0,fase:"Fase 1" ,model:"collaborator_silabet", text: "Silabo ABET",colab:false}, 
        {value: 1,fase:"Fase 1" ,model:"collaborator_siladufa", text: "Silabo DUFA" ,colab:false},
        {value: 2,fase:"Fase 1" ,model:"collaborator_anedufa", text: "Anexo DUFA" ,colab:false},
        {value: 3,fase:"Fase 1" ,model:"collaborator_currivitae", text: "Curriculum Vitae" ,colab:false},
        {value: 4,fase:"Fase 1" ,model:"collaborator_examentrada", text: "Examen de entrada" ,colab:false}, 
        {value: 5,fase:"Fase 2" ,model:"collaborator_eviexamen_priperiodo", text: "Evidencias del Examen - Primer Periodo",colab:false },
        {value: 6,fase:"Fase 2" ,model:"collaborator_evievacontinua_priperiodo", text: "Evidencias de Evaluacion Continua - Primer Periodo" ,colab:false},
        {value: 7,fase:"Fase 2" ,model:"collaborator_evicurso_priperiodo", text: "Evidencia de Curso - Primer Periodo",colab:false },
        {value: 8,fase:"Fase 2" ,model:"collaborator_reportes_priperiodo", text: "Reportes - Primer Periodo",colab:false }, 
        {value: 9,fase:"Fase 3" ,model:"collaborator_eviexamen_segperiodo", text: "Evidencias del Examen - Segundo Periodo" ,colab:false},
        {value: 10,fase:"Fase 3" ,model:"collaborator_evievacontinua_segperiodo", text: "Evidencias de Evaluacion Continua - Segundo Periodo" ,colab:false},
        {value: 11,fase:"Fase 3" ,model:"collaborator_evicurso_segperiodo", text: "Evidencia de Curso - Segundo Periodo" ,colab:false},
        {value: 12,fase:"Fase 3" ,model:"collaborator_reportes_segperiodo", text: "Reportes - Segundo Periodo" ,colab:false}, 
        {value: 13,fase:"Fase 4" ,model:"collaborator_eviexamen_terperiodo", text: "Evidencias del Examen - Tercer Periodo",colab:false },
        {value: 14,fase:"Fase 4" ,model:"collaborator_evievacontinua_terperiodo", text: "Evidencias de Continua - Tercer Periodo",colab:false },
        {value: 15,fase:"Fase 4" ,model:"collaborator_evicurso_terperiodo", text: "Evidencia de Curso - Tercer Periodo",colab:false },
        {value: 16,fase:"Fase 4" ,model:"collaborator_reportes_terperiodo", text: "Reportes - Tercer Periodo",colab:false }, 
        {value: 17,fase:"Fase 4" ,model:"collaborator_infdesempeno", text: "Informe de Desempeño" ,colab:false},
        {value: 18,fase:"Fase 4" ,model:"collaborator_infresestudiante", text: "Informe de Resultado de Estudiante" ,colab:false},
        {value: 19,fase:"Fase 4" ,model:"collaborator_infaseacademica", text: "Informe de Asesoria Academica" ,colab:false},
        {value: 20,fase:"Fase 4" ,model:"collaborator_infmejcontinua", text: "Informe de Mejora Contina" ,colab:false},
        {value: 21,fase:"Fase 4" ,model:"collaborator_inffinal", text: "Informe Final" ,colab:false}
      ],
    };
  },
  methods: {
    validateDates(stage){
      console.log(stage.fase+": "+stage.model+"-> "+stage.colab)
      if(stage.fase=="Fase 1"&& this.validateDatesFirstPhase() && stage.colab){
        return true;
      }else if(stage.fase=="Fase 2"&& this.validateDatesSecondPhase()&& stage.colab){
        return true;
      }else if(stage.fase=="Fase 3"&& this.validateDatesThirdPhase()&& stage.colab){
        return true;
      }if(stage.fase=="Fase 4"&& this.validateDatesFourthPhase()&& stage.colab){
        return true;
      }
      return false;
    },
    onSubmit(evt) {
      evt.preventDefault();
      this.editStages();
    },
    onReset(evt) {
      evt.preventDefault();
      if(this.validateDatesFirstPhase()){
        this.stages[0].observation="";
      }
      if(this.validateDatesSecondPhase()){
        this.stages[1].observation="";
      }
      if(this.validateDatesThirdPhase()){
        this.stages[2].observation="";
      }
      if(this.validateDatesFourthPhase()){
        this.stages[3].observation="";
      }
    },
    getStatus(value) {
      if (value == true) return "Activo";
      else return "Inactivo";
    },
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.courseActiveId}`;
      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          this.getStages();
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },
    updateStage() {
      this.stages.sort(function (a, b) {
        if (a.stages > b.stages) {
          return 1;
        }
        if (a.stages < b.stages) {
          return -1;
        }
        return 0;
      });
      var i = 0;
      this.stages.forEach(element => {
        element.document=this.documents[i].text;// 1   mensaje   true 
        element.fase=this.documents[i].fase;
        element.model=this.documents[i].model;
        element.colab=this.documents[i].colab;
        i++;
      });
      
    },
    async validateUserDocument(){
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      await axios.get(path).then((response) => {
        var id = this.$store.getters.getId;
        this.documents.forEach(element => {
          if(Object.values(response.data[element.model]).indexOf(id)!=-1){
            element.colab=true;
          }
        });
      });
    },
    getStages() {
      const path =
        url + `process/portfolio/course_active_stages/${this.courseActive.id}/`;
      axios
        .get(path)
        .then((response) => {
          this.stages = response.data.stages;
          this.updateStage();
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },
    editStages() {
      for (var i = 0; i < this.stages.length; i++) {
        this.stagesEdited.push({
          stage: this.stages[i].stage,
          observation: this.stages[i].observation,
          status: this.stages[i].status,
        });
      }
      const datos = {
        stages: this.stagesEdited,
      };

      const path =
        url + `process/portfolio/course_active_stages/${this.courseActive.id}/`;
      axios
        .put(path, datos)
        .then(() => {
          swal("Observaciones editadas con exito", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$router.push({
                name: "stages",
              });
          });
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
       if (PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ){
        return true
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if ( this.$store.getters.isRespPortCurso ){
         return true;
      }
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
        this.$router.push("/");

    },
    
    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
    */
    validateDatesFirstPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() &&*/ CourseDatesService.isFirstPhase();
      //}
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la segunda fase
    */
    validateDatesSecondPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() &&*/ CourseDatesService.isSecondPhase();
      //}
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la tercera fase
    */
    validateDatesThirdPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() && */CourseDatesService.isThirdPhase();
      //}
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la cuarta fase
    */
    validateDatesFourthPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() &&*/ CourseDatesService.isFourthPhase();
      //}
    },
  },

  async created() {
    await this.validateUserDocument();
    
    this.getCourseActive();
    PermissionService.setUserActive();
    this.viewPermission();

    
  },
};
</script>

<style></style>
