<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <b-container v-if="!isLoading" >
    <b-row v-for="courseActive in coursesActives" :key="courseActive.id">
      <b-col cols="12" class="mb-4 pb-2">
        <b-card class="shadow">
          <b-row class="mb-1">
            <b-col cols="12" align="left">
              <b-card-text>
                <h2 class="float-left" v-if="courseActive.status">
                  {{ courseActive.course }} {{courseActive.portfolio}}&nbsp;<b-icon
                    variant="success"
                    icon="check-circle"
                  ></b-icon>
                </h2>
                <h2 class="float-left text-danger" v-if="!courseActive.status">
                  {{ courseActive.course }} {{courseActive.portfolio}}&nbsp;
                  <b-icon
                    variant="danger"
                    icon="exclamation-circle"
                  ></b-icon>
                </h2>
                <div class="float-right">
                  <b-button
                    v-if="courseActive.status && disablePermission()"
                    variant="warning"
                    :to="{
                      name: 'deactivateCourse',
                      params: { courseId: courseActive.id },
                    }"
                  >
                    <b-icon icon="x-circle"></b-icon>&nbsp;Desactivar </b-button
                  >&nbsp;
                  <b-button
                    v-if="!courseActive.status && disablePermission()"
                    variant="success"
                    :to="{
                      name: 'activateCourse',
                      params: { courseId: courseActive.id },
                    }"
                  >
                    <b-icon icon="check-circle"></b-icon
                    >&nbsp;Activar </b-button
                  >&nbsp;
                  <b-button
                    variant="danger"
                    :to="{
                      name: 'deleteCourses',
                      params: { courseId: courseActive.id },
                    }"
                    v-if="deletePermission()"
                  >
                    <b-icon icon="trash"></b-icon>&nbsp;Eliminar
                  </b-button>
                </div>
              </b-card-text>
            </b-col>
            <b-col cols="2" align="left"> </b-col>
          </b-row>

          <br />

          <b-row>
            <b-col cols="12" class="d-flex justify-content-end">
              <b-button-group>
                <b-button
                  variant="outline-primary"
                  :disabled="!validateDatesFourthPhase(courseActive.users,$store.getters.isColabInfDes || $store.getters.isColabInfEst || $store.getters.isColabInfAca || $store.getters.isColabInfMejcon || $store.getters.isColabInfFin)"
                    
                  :to="{
                      name: 'Reports',
                      params: { courseId: courseActive.id },
                    }"
                >
                <b-icon icon="file-earmark-post"></b-icon>&nbsp;Reportes
                </b-button>
                <b-button
                  variant="outline-primary"
                  :to="{
                    name: 'stages',
                    params: { courseId: courseActive.id },
                  }"
                  v-if="editPermissionObs()"
                >
                  <b-icon icon="inbox-fill"></b-icon>&nbsp;Observaciones
                </b-button>
                <b-button
                  variant="outline-primary"
                  :to="{
                    name: 'responsableCourses',
                    params: { courseId: courseActive.id },
                  }"
                >
                  <b-icon icon="person-lines-fill"></b-icon>&nbsp;Responsables
                </b-button>
                <b-button
                  variant="outline-primary"
                  :to="{
                    name: 'ListStudents',
                    params: { courseId: courseActive.id },
                  }"
                >
                  <b-icon icon="person-plus-fill"></b-icon>&nbsp;Alumnos
                </b-button>
              </b-button-group>
            </b-col>
          </b-row>

          <b-row class="mt-4">
            <b-col cols="12">
              <div class="d-flex justify-content-between">
                <b-button-group title="Fase 1">
                  <b-link
                    href="#"
                    class="card-link  btn btn-outline-dark"
                    :to="{
                      name: 'listSyllabus',
                      params: { courseId: courseActive.id },
                    }"
                    :disabled="!(validateDatesFirstPhase(courseActive.users,( $store.getters.isColabSilAbet || $store.getters.isColabSilDuf || $store.getters.isColabAneDuf))) "
                    >Sílabo</b-link
                  >
                  <b-link
                    href="#"
                    class="card-link  btn btn-outline-dark"
                    :to="{
                      name: 'CurriculumVitaeList',
                      params: { courseId: courseActive.id },
                    }"
                    :disabled="!(validateDatesFirstPhase(courseActive.users,$store.getters.isColabCurVit)  )"
                    >Curriculum Vitae</b-link
                  >
                  <b-link
                    href="#"
                    class="card-link  btn btn-outline-dark"
                    :to="{
                      name: 'ExamMenu',
                      params: { courseId: courseActive.id },
                    }"
                    :disabled="!(validateDatesFirstPhase(courseActive.users,$store.getters.isColabExamEnt))" 
                    >Examen de Entrada</b-link
                  >
                </b-button-group>

                <b-button-group title="Fase 2">
                  <b-link
                    href="#"
                    class="card-link btn btn-outline-dark"
                    :to="{
                      name: 'Fperiod',
                      params: { courseId: courseActive.id },
                    }"
                    :disabled="!validateDatesSecondPhase(courseActive.users,$store.getters.isColabEviExamPri || $store.getters.isColabEviEvaConPri || $store.getters.isColabEviCursPri || $store.getters.isColabRepPri)"
                    >Primer Periodo</b-link
                  >
                </b-button-group>
                <b-button-group title="Fase 3">
                  <b-link
                    href="#"
                    class="card-link btn btn-outline-dark"
                    :to="{
                      name: 'Speriod',
                      params: { courseId: courseActive.id },
                    }"
                    :disabled="!validateDatesThirdPhase(courseActive.users,$store.getters.isColabEviExamSeg || $store.getters.isColabEviEvaConSeg || $store.getters.isColabEviCursSeg || $store.getters.isColabRepSeg)"
                    >Segundo Periodo</b-link
                  >
                </b-button-group>

                <b-button-group title="Fase 4">
                  <b-link
                    href="#"
                    class="card-link btn btn-outline-dark"
                    :to="{
                      name: 'Tperiod',
                      params: { courseId: courseActive.id },
                    }"
                    :disabled="!validateDatesFourthPhase(courseActive.users,$store.getters.isColabEviExamter || $store.getters.isColabEviEvaConTer || $store.getters.isColabEviCursTer || $store.getters.isColabRepTer)"
                    >Tercer Periodo</b-link
                  >
                </b-button-group>
              </div>
            </b-col>
          </b-row>
        </b-card>
      </b-col>
    </b-row>
  </b-container>
  
</div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import {
  Module,
  Permission,
  PermissionService,
  CourseDatesService,
} from "@/services";

export default {
  data() {
    return {
      isLoading: true,
      portfolioId: this.$route.params.portfolioId,
      superadmin: false,
      user: "",
      coursesActives: [],
    };
  },
  methods: {
    getCourseActiveFilter() {
      const path =
        url +
        `process/portfolio/course_active/?id_portfolio=${this.portfolioId}&users=${this.$store.getters.getId}`;
      //const path =url +`process/portfolio/course_active/?id_portfolio=${this.portfolioId}`;

      axios.get(path).then((response) => {
        this.coursesActives = response.data;
      });
    },
    getResponsableCurso(user){
      const listResp = user.filter(tmp => tmp  == this.$store.getters.getId);
      if(listResp.length > 0){
        return true;
      }else{
        return false;      
      }
    },

    getCourseActive() {
      const path =
        url +
        `process/portfolio/course_active/?id_portfolio=${this.portfolioId}`;
      axios.get(path).then((response) => {
        this.coursesActives = response.data;
      })
      this.isLoading=false;
    },
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        this.getCourseActive();
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      //inplicitame colaborador no tuene permiso
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo siendo colaborador
      * @return {boolean}
    */
    editPermissionObs() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      //inplicitame colaborador no tuene permiso

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disablePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      //inplicitame colaborador no tuene permiso

      return false;
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la primera fase
      *       * Se envia la variable user para que compruebe si es responsable de curso
      * Se envia la variable colab para ver si es colaborador de ese documento
      * @return {boolean}
    */
    validateDatesFirstPhase(user,colab) {
     if (CourseDatesService.isUserSeeEveything() ) {
        return true;
      } else {
        return (
           (this.getResponsableCurso(user) || colab) &&CourseDatesService.isFirstPhase()
        );
      }
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la segunda fase
      *       * Se envia la variable user para que compruebe si es responsable de curso
      * Se envia la variable colab para ver si es colaborador de ese documento
      * @return {boolean}
    */
    validateDatesSecondPhase(user,colab) {
      if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {
        return (
          (this.getResponsableCurso(user) || colab) && CourseDatesService.isSecondPhase()
        );
      }
    },
    
    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la tercera fase
      *       * Se envia la variable user para que compruebe si es responsable de curso
      * Se envia la variable colab para ver si es colaborador de ese documento
      * @return {boolean}
    */
    validateDatesThirdPhase(user,colab) {
      if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {
        return (
          (this.getResponsableCurso(user) || colab) && CourseDatesService.isThirdPhase()
        );
      }
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la cuarta fase
      * Se envia la variable user para que compruebe si es responsable de curso
      * Se envia la variable colab para ver si es colaborador de ese documento
      * @return {boolean}
    */
    validateDatesFourthPhase(user,colab) {
      if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {
        return (
          (this.getResponsableCurso(user) || colab) && CourseDatesService.isFourthPhase()
        );
      }
    },
    //CourseDatesService.findUser()
  },

  async created() {
    PermissionService.setUserActive();
    this.viewPermission();
    CourseDatesService.getPortfolioDates(this.portfolioId);
    /*** */
    if (
      PermissionService.findPermission(Permission.View, Module.Portafolio) ||
      this.$store.getters.isResProceso ||
      this.$store.getters.isRespPortCurso ||
      this.$store.getters.isColabPortCurso
    ) {
      this.getCourseActive();
    } else {
      this.getCourseActiveFilter();

      this.viewPermission(); //
    }

    /*
    this.user = await AuthService.getUser();
    if (this.user.superadmin == true) {
      this.superadmin = true;
      this.getCourseActive();
    } else {
      this.superadmin = false;
      this.getCourseActiveFilter();
    }
    */
  },
};
</script>

<style lang="css" scoped>
.shadow {
  box-shadow: 0 0.2rem 0.7rem rgba(0, 0, 0, 0.15) !important;
}
</style>
