<template>
  <b-container>
    <b-table
      striped
      hover
      show-empty
      small
      stacked="md"
      :items="stagesFilters02"
      :fields="fields"
      empty-text="No hay observaciones para mostrar"
      class="ltable"
    >
    </b-table>
    <b-button
      :to="{
        name: 'editStages',
        params: { 
          courseId: this.courseActive.id,
          portfolioId: this.portfolioId
        
        },
      }"
      variant="primary"
      size="sm"
      >
      <b-icon icon="pencil-square"></b-icon>&nbsp;Editar Observaciones</b-button
    >
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import { Module, Permission, PermissionService,CourseDatesService} from "@/services";

export default {
  data() {
    return {
      courseId: this.$route.params.courseId,
      courseActive: [],
      stages: [],
      portfolioId: this.$route.params.portfolioId,
      stagesFilters: [],
      stagesFilters02: [],
      documents: [
        {value: 0,fase:"Fase 1" ,model:"collaborator_silabet", text: "Silabo ABET" }, 
        {value: 1,fase:"Fase 1" ,model:"collaborator_siladufa", text: "Silabo DUFA" },
        {value: 2,fase:"Fase 1" ,model:"collaborator_anedufa", text: "Anexo DUFA" },
        {value: 3,fase:"Fase 1" ,model:"collaborator_currivitae", text: "Curriculum Vitae" },
        {value: 4,fase:"Fase 1" ,model:"collaborator_examentrada", text: "Examen de entrada" }, 
        {value: 5,fase:"Fase 2" ,model:"collaborator_eviexamen_priperiodo", text: "Evidencias del Examen - Primer Periodo" },
        {value: 6,fase:"Fase 2" ,model:"collaborator_evievacontinua_priperiodo", text: "Evidencias de Evaluacion Continua - Primer Periodo" },
        {value: 7,fase:"Fase 2" ,model:"collaborator_evicurso_priperiodo", text: "Evidencia de Curso - Primer Periodo" },
        {value: 8,fase:"Fase 2" ,model:"collaborator_reportes_priperiodo", text: "Reportes - Primer Periodo" }, 
        {value: 9,fase:"Fase 3" ,model:"collaborator_eviexamen_segperiodo", text: "Evidencias del Examen - Segundo Periodo" },
        {value: 10,fase:"Fase 3" ,model:"collaborator_evievacontinua_segperiodo", text: "Evidencias de Evaluacion Continua - Segundo Periodo" },
        {value: 11,fase:"Fase 3" ,model:"collaborator_evicurso_segperiodo", text: "Evidencia de Curso - Segundo Periodo" },
        {value: 12,fase:"Fase 3" ,model:"collaborator_reportes_segperiodo", text: "Reportes - Segundo Periodo" }, 
        {value: 13,fase:"Fase 4" ,model:"collaborator_eviexamen_terperiodo", text: "Evidencias del Examen - Tercer Periodo" },
        {value: 14,fase:"Fase 4" ,model:"collaborator_evievacontinua_terperiodo", text: "Evidencias de Continua - Tercer Periodo" },
        {value: 15,fase:"Fase 4" ,model:"collaborator_evicurso_terperiodo", text: "Evidencia de Curso - Tercer Periodo" },
        {value: 16,fase:"Fase 4" ,model:"collaborator_reportes_terperiodo", text: "Reportes - Tercer Periodo" }, 
        {value: 17,fase:"Fase 4" ,model:"collaborator_infdesempeno", text: "Informe de Desempeño" },
        {value: 18,fase:"Fase 4" ,model:"collaborator_infresestudiante", text: "Informe de Resultado de Estudiante" },
        {value: 19,fase:"Fase 4" ,model:"collaborator_infaseacademica", text: "Informe de Asesoria Academica" },
        {value: 20,fase:"Fase 4" ,model:"collaborator_infmejcontinua", text: "Informe de Mejora Contina" },
        {value: 21,fase:"Fase 4" ,model:"collaborator_inffinal", text: "Informe Final" }
      ],
      fields: [
        {
          key: "fase",
          label: "Fase",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        /*{
          key: "stage",
          label: "Fase",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },*/
        {
          key: "document",
          label: "Documento",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "document",
          label: "Documento",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "observation",
          label: "Observaciones",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "status",
          label: "Estado",
          class: "text-center",
          sortable: true,
          formatter: (value) => {
            return value ? "Aprobado" : "Desaprobado";
          },
          sortDirection: "desc",
        },
      ],
    };
  },
  methods: {
    getStatus(value) {
      if (value == true) return "Activo";
      else return "Inactivo";
    },
    getCourseActive() {
      const path = url + `process/portfolio/course_active/${this.courseId}`;
      axios
        .get(path)
        .then((response) => {
          this.courseActive = response.data;
          this.getStages();
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },
    getStages() {
      const path =
        url + `process/portfolio/course_active_stages/${this.courseActive.id}/`;
      axios
        .get(path)
        .then((response) => {
          this.stages = response.data.stages;
          this.updateStage();
        })
        .catch((error) => {
          console.log("Error " + error);
        });
    },
    validateDates(fase){
      if(fase=="Fase 1"&& this.validateDatesFirstPhase()){
        return true;
      }else if(fase=="Fase 2"&& this.validateDatesSecondPhase()){
        return true;
      }else if(fase=="Fase 3"&& this.validateDatesThirdPhase()){
        return true;
      }if(fase=="Fase 4"&& this.validateDatesFourthPhase()){
        return true;
      }
      return false;
    },
    updateStage() {
      if(this.$store.getters.isSuperadmin){
        this.stagesFilters02 = this.stages;
      }

      this.stages.sort(function (a, b) {
        if (a.stages > b.stages) {
          return 1;
        }
        if (a.stages < b.stages) {
          return -1;
        }
        return 0;
      });
      
      var i = 0;
      
      this.stages.forEach(element => {
        element.document=this.documents[i].text;
        element.fase=this.documents[i].fase;
        element.model=this.documents[i].model;
        i++;
      });
      i = 0;
      this.stages.forEach(element => {
        if(this.validateDates(element.fase)){
          this.stagesFilters.push(element);
        }
      });
      this.validateUserDocument();
    },
    validateUserDocument(){
      const path = url + `process/portfolio/portfolio/${this.portfolioId}`;
      axios.get(path).then((response) => {
          //console.log(this.$store.getters.getId);
        var id = this.$store.getters.getId;
          //console.log("____________");
        this.stagesFilters.forEach(element => {
          if(Object.values(response.data[element.model]).indexOf(id)!=-1){
            this.stagesFilters02.push(element);
          }
        });
      });
    },
    validateDatesFirstPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() &&*/ CourseDatesService.isFirstPhase();
      //}
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la segunda fase
    */
    validateDatesSecondPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() &&*/ CourseDatesService.isSecondPhase();
      //}
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la tercera fase
    */
    validateDatesThirdPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() && */CourseDatesService.isThirdPhase();
      //}
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista primero preguntando si es
      * algun usuario que puede ver todo sin necesidad de ser bloqueado por las fechas de una fase
      * de un curso activo y segundo si es que es un colaborador o responsable de proceso, ademas de
      * estar en la fecha de la cuarta fase
    */
    validateDatesFourthPhase() {
      /*if (CourseDatesService.isUserSeeEveything()) {
        return true;
      } else {*/
        return /*CourseDatesService.isUserColab() &&*/ CourseDatesService.isFourthPhase();
      //}
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }
       if (PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ){
        return true
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if ( this.$store.getters.isRespPortCurso ){
         return true;
      }
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
        this.$router.push("/");
    },
    
  },
  

  async created() {
    PermissionService.setUserActive();
    this.getCourseActive();
    await this.viewPermission();
    
    
  },
};
</script>

<style></style>
