<template lang="html">
<div>
  <b-container id='custom-css' class='p-4'>
    <b-row>
      <b-col cols="12">
        <h3 class="text-left py-2">Cursos Activos</h3>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left py-2 pb-4" >
          <b-button class="mr-4" :to="{ name: 'listPortfolios' }">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
    </b-row>

    <div title="Card Title" no-body>
      <div header-tag="nav">
        <b-nav card-header tabs>
          <b-nav-item
            :to="{
              name: 'listCourses',
            }"
            exact
            exact-active-class="active"
            v-if="listPermission()"
            >Lista</b-nav-item
          >
          <b-nav-item
            :to="{
              name: 'AddCourses',
            }"
            exact
            exact-active-class="active"
            v-if="createPermission()"
            >Agregar</b-nav-item
          >
        </b-nav>
      </div>
      <div class='mt-4 pt-2'>
        <router-view></router-view>
      </div>
    </div>
  </b-container>
  </div>
</template>

<script>
import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
    };
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene acceso a esta vista verificando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if (
        (
          PermissionService.findPermission(
            Permission.View,
            Module.Portafolio
          ) ||
          PermissionService.findPermission(Permission.Create, Module.Portafolio)
        )
      ) {
       
        return true
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },


    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if (PermissionService.findPermission(
        Permission.Create,
        Module.Portafolio
      )){
        return true;
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}


      return false
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
        Permission.View,
        Module.Portafolio
      ) ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;

    },
  },
  
  created() {
    
    PermissionService.setUserActive();
    this.viewPermission();
  },
};
</script>

<style lang="css" scoped></style>
