<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoadingCourses" :color="'#2F3D57'" :size="100" />
  </div>
  <div class="container" v-if="!isLoading && !isLoadingCourses">
    <h5 class=" text-left my-4">Crear portafolio</h5>

    <b-card class="mb-3">
      <b-form @submit="onSubmit" @reset="onReset">
        <b-row
          v-if="this.user.superadmin"
          class="text-left mb-1"
          align-v="center"
        >
          <b-col sm="3">
            Proceso:
          </b-col>
          <b-col sm="9">
            <b-form-select v-model="processSelected" required @change="getUsers" id="id_Process">
              <b-form-select-option :value="null" disabled>
                Seleccione un proceso
              </b-form-select-option>
              <b-form-select-option
                v-for="(processSelected, indexOpt) in process"
                :key="indexOpt"
                :value="processSelected.id"
              >
                {{ processSelected.name }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        <br />
        <b-row class="text-left mb-1" align-v="center">
          <b-col sm="3">Año:</b-col>
          <b-col sm="9">
            <div>
              <b-form-input
                required
                type="number"
                v-model="year"
                :state="yearStateValidation()"
                placeholder="Ingrese Año"
              ></b-form-input>
              <small class="msg" v-if="!onlyNumber(year)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!numberSize(year, 2000, 2050)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon>
                &nbsp; El año tiene que estar dentro del rango de 2000 y 2050
              </small>
            </div>
          </b-col>
        </b-row>
        <br />
        <b-row class="text-left mb-1" align-v="center">
          <b-col sm="3">Semestre:</b-col>
          <b-col sm="9">
            <b-form-group>
              <b-form-select
                required
                v-model="semester"
                :options="options"
                @change="getCourses"
                id="id_Semester"
              >
              </b-form-select>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row
          v-if="this.mostrarCursos"
          class="text-left mb-1"
          align-v="center"
        >
          <b-col cols="3"> Cursos: </b-col>
          <b-col cols="9">
            <b-form-select
              :select-size="20"
              v-model="coursesSelected"
              required
              id="id_Course"
              multiple
            >
              <b-form-select-option
                v-for="(coursesSelected, indexOpt) in courses"
                :key="indexOpt"
                :value="coursesSelected.id"
              >
                {{ coursesSelected.name }} - {{ coursesSelected.resource }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        <br />
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Responsable:
          </b-col>
          <b-col cols="9">
            <b-form-select v-model="id_user" required id="id_Course">
              <b-form-select-option :value="null" disabled>
                Seleccione un responsable
              </b-form-select-option>
              <b-form-select-option
                v-for="(id_user, indexOpt) in users"
                :key="indexOpt"
                :value="id_user.id"
              >
                {{ id_user.first_name }} {{ id_user.last_name }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        <br />
        <!--- colaboradores antiguo
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Colaboradores:
          </b-col>
          <b-col cols="9">
            <b-form-select
              v-model="usersSelected"
              id="id_Course"
              multiple
              :select-size="20"
            >
              <b-form-select-option
                v-for="(usersSelected, indexOpt) in users"
                :key="indexOpt"
                :value="usersSelected.id"
              >
                {{ usersSelected.first_name }} {{ usersSelected.last_name }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>
        --->

        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Colaboradores:
          </b-col>

          <b-col cols="9">
            <b-form-select v-model="documentSelected" required id="id_document">
              <b-form-select-option :value="null" disabled>
                Seleccione un documento
              </b-form-select-option>
              <b-form-select-option
                v-for="(doc) in documents"
                :key="doc.value"
                :value="doc.value"
              >
                {{ doc.text }}
              </b-form-select-option>
            </b-form-select>
            <small class="msg" v-if="!documentsValidation(0)">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Todos los documentos deben tener un responsable.
            </small>
            <br v-if="this.showMissingDocument"/>
            <small class="msg" v-if="this.showMissingDocument">
              <b-icon icon="x-circle" variant="danger"></b-icon>
              &nbsp; El documento {{this.missingDocument}} no tiene encargados.
            </small>

            <br /><br />

            <b-form-select
              v-model="documents[documentSelected].colab"
              id="id_Course"
              multiple
              required
              v-if="this.documentSelected!=null"
              :select-size="10"

            >
              
              <b-form-select-option
                v-for="(usersSelected, indexOpt) in users"
                :key="indexOpt"
                :value="usersSelected.id"
              >
                {{ usersSelected.first_name }} {{ usersSelected.last_name }}
              </b-form-select-option>
            </b-form-select>
          </b-col>
        </b-row>

        <br />
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Fecha de inicio
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_StartDate"
              v-model="start_date"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateStartDateValidation()"
              @context="contextStartDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la primera etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase1"
              v-model="end_phase1"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateFirstEndDateValidation()"
              @context="contextFirstEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la segunda etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase2"
              v-model="end_phase2"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateSecondEndDateValidation()"
              @context="contextSecondEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la tercera etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase3"
              v-model="end_phase3"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateThirdEndDateValidation()"
              @context="contextThirdEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row class="text-left mb-1" align-v="center">
          <b-col cols="3">
            Cierre de la cuarta etapa
          </b-col>
          <b-col cols="9">
            <b-form-datepicker
              id="id_EndPhase4"
              v-model="end_phase4"
              placeholder="Escoge una fecha"
              required
              local="en"
              :state="processStateFourthEndDateValidation()"
              @context="contextFourthEndDate"
            ></b-form-datepicker>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <small class="msg" v-if="!datesValidation()">
              <b-icon icon="exclamation-circle" variant="warning"></b-icon>
              &nbsp; Las fechas no tienen que ser mayor a una fase siguiente.
            </small>
          </b-col>
        </b-row>
        <b-row>
          <b-col class="py-3">
            <b-button
              type="submit"
              variant="secondary"
              class="float-right ml-3"
            >
              <b-icon icon="wallet2"></b-icon>&nbsp;Crear</b-button
            >
            <b-button
              type="reset"
              variant="danger"
              class="btn-large-space float-right"
            >
              <b-icon icon="x"></b-icon>Reiniciar</b-button
            >
          </b-col>
        </b-row>
      </b-form>
    </b-card>
  </div>
  </div>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import AuthService from "@/services/AuthService.js";

import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      isLoadingCourses: false,
      isLoading: false,
      fields: [
        {
          key: "name",
          label: "Nombre",
          class: "text-center",
          sortable: true,
          sortDirection: "desc",
        },
      ],

      user: [],
      mostrarCursos: false,
      semester: null,
      year: "",
      start_date: "",
      end_phase1: "",
      end_phase2: "",
      end_phase3: "",
      end_phase4: "",
      id_process: null,
      id_user: null,
      resources: [],
      resourceSelected: [],
      users: [],
      usersSelected: [],
      responsable: [],
      courses: [],
      coursesSelected: [],
      process: [],
      processSelected: "null",
      documents: [
        {value: 0, model: "collaborator_silabet", text: "Silabo ABET", colab:[]}, //model:
        {value: 1, model: "collaborator_siladufa", text: "Silabo DUFA", colab:[]},
        {value: 2, model: "collaborator_anedufa", text: "Anexo DUFA", colab:[]},
        {value: 3, model: "collaborator_currivitae", text: "Curriculum Vitae", colab:[]},
        {value: 4, model: "collaborator_examentrada", text: "Examen de entrada", colab:[]}, 
        {value: 5, model: "collaborator_eviexamen_priperiodo", text: "Evidencias del Examen - Primer Periodo", colab:[]},
        {value: 6, model: "collaborator_evievacontinua_priperiodo", text: "Evidencias de Evaluacion Continua - Primer Periodo", colab:[]},
        {value: 7, model: "collaborator_evicurso_priperiodo", text: "Evidencia de Curso - Primer Periodo", colab:[]},
        {value: 8, model: "collaborator_reportes_priperiodo", text: "Reportes - Primer Periodo", colab:[]}, 
        {value: 9, model: "collaborator_eviexamen_segperiodo", text: "Evidencias del Examen - Segundo Periodo", colab:[]},
        {value: 10, model: "collaborator_evievacontinua_segperiodo", text: "Evidencias de Evaluacion Continua - Segundo Periodo", colab:[]},
        {value: 11, model: "collaborator_evicurso_segperiodo", text: "Evidencia de Curso - Segundo Periodo", colab:[]},
        {value: 12, model: "collaborator_reportes_segperiodo", text: "Reportes - Segundo Periodo", colab:[]}, 
        {value: 13, model: "collaborator_eviexamen_terperiodo", text: "Evidencias del Examen - Tercer Periodo", colab:[]},
        {value: 14, model: "collaborator_evievacontinua_terperiodo", text: "Evidencias de Continua - Tercer Periodo", colab:[]},
        {value: 15, model: "collaborator_evicurso_terperiodo", text: "Evidencia de Curso - Tercer Periodo", colab:[]},
        {value: 16, model: "collaborator_reportes_terperiodo", text: "Reportes - Tercer Periodo", colab:[]}, 
        {value: 17, model: "collaborator_infdesempeno", text: "Informe de Desempeño", colab:[]},
        {value: 18, model: "collaborator_infresestudiante", text: "Informe de Resultado de Estudiante", colab:[]},
        {value: 19, model: "collaborator_infaseacademica", text: "Informe de Asesoria Academica", colab:[]},
        {value: 20, model: "collaborator_infmejcontinua", text: "Informe de Mejora Contina", colab:[]},
        {value: 21, model: "collaborator_inffinal", text: "Informe Final", colab:[]}
      ],//creado

      documentSelected: null,//creado
      showMissingDocument: false,
      missingDocument: "", 
      options: [
        { value: 0, text: "A" },
        { value: 1, text: "B" },
        { value: 2, text: "C" },
      ],
      context: {
        start: "",
        firstEnd: "",
        secondEnd: "",
        thirdEnd: "",
        fourthEnd: "",
      },
      validation: {
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-ú0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
      },
    };
  },
  methods: {
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },

    /**
     * @description Verifica si se cumplio las validaciones para luego dar el formato
     * correspondiente a los inputs y finalmente crear el portafolio
     */
    onSubmit(evt) {
      evt.preventDefault();
      if (this.createPortfolioValidation()) {
        this.createdPortafolio();
      }
    },
    /**
     * @description Metodo llamado por evento del boton Reinicar
     */
    onReset(evt) {
      evt.preventDefault();
      this.clear();
    },

    /**
      * @description Metodo que setea los inputs a vacio
    */
    clear() {
      this.start_date = "";
      this.end_phase1 = "";
      this.end_phase2 = "";
      this.end_phase3 = "";
      this.end_phase4 = "";
      this.processSelected = "null";
      this.year = "";
      this.semester = null;
      this.coursesSelected = [];
      this.id_user = null;
      this.usersSelected = [];
      this.courses = [];
      for(var i = 0; i< this.documents.length; i++){
        this.documents[i].colab = [];
      }
    },

    /**
      * @description Verifica que la fecha de una fase siguiente no sea menor a una anterior
    */
    datesValidation() {
      return (
        this.processStartDateValidation() &&
        this.processFirstEndDateValidation() &&
        this.processSecondEndDateValidation() &&
        this.processThirdEndDateValidation() &&
        this.processFourthEndDateValidation()
      );
    },

    /**
      * @description Verifica que se cumplan las validaciones
    */
    createPortfolioValidation() {
      return (
        this.yearValidation() &&
        this.processStartDateValidation() &&
        this.processFirstEndDateValidation() &&
        this.processSecondEndDateValidation() &&
        this.processThirdEndDateValidation() &&
        this.processFourthEndDateValidation() &&
        this.documentsValidation(1)//AGREGADO
      );
    },

    /**
      * @description Verifica que se cumplan las validaciones de colaboradores,
    */
    documentsValidation(option) {
      let count=0;
      if(option==1) 
          this.showMissingDocument=true;
      for (let index = 0; index < this.documents.length; index++) {
        if(this.documents[index].colab.length<=0){
          this.missingDocument=this.documents[index].text;
          return;
        }else{
          count++;
        }
      }
      if(count==this.documents.length){
        this.showMissingDocument=false;
        return true;
      }
      else{
        
        return false;
      } 
    },

    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @description Metodo especifico para la propiedad state del input del año
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    yearStateValidation() {
      if (this.textEmpty(this.year)) {
        return new Boolean(null);
      }
      return this.yearValidation();
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de descripcion
     * @return {boolean}
     */
    yearValidation() {
      return (
        this.numberSize(this.year, 2000, 2050) && this.onlyNumber(this.year)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateStartDateValidation() {
      if (this.textEmpty(this.start_date)) {
        return new Boolean(null);
      }
      return this.processStartDateValidation();
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    processStartDateValidation() {
      return !this.textEmpty(this.start_date);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 1
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateFirstEndDateValidation() {
      if (this.textEmpty(this.end_phase1)) {
        return new Boolean(null);
      }
      return this.processFirstEndDateValidation();
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 1
     * @return {boolean}
     */
    processFirstEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase1) && this.end_phase1 > this.start_date
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 2
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateSecondEndDateValidation() {
      if (this.textEmpty(this.end_phase2)) {
        return new Boolean(null);
      }
      return this.processSecondEndDateValidation();
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 2
     * @return {boolean}
     */
    processSecondEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase2) && this.end_phase2 > this.end_phase1
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 3
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateThirdEndDateValidation() {
      if (this.textEmpty(this.end_phase3)) {
        return new Boolean(null);
      }
      return this.processThirdEndDateValidation();
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 3
     * @return {boolean}
     */
    processThirdEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase3) && this.end_phase3 > this.end_phase2
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fase 4
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    processStateFourthEndDateValidation() {
      if (this.textEmpty(this.end_phase4)) {
        return new Boolean(null);
      }
      return this.processFourthEndDateValidation();
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin de fase 4
     * @return {boolean}
     */
    processFourthEndDateValidation() {
      return (
        !this.textEmpty(this.end_phase4) && this.end_phase4 > this.end_phase3
      );
    },
    /**
     * @description Metodo que obtiene el contexto de un input date de la fecha de inicio
     */
    contextStartDate(ctx) {
      this.context.start = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 1
     */
    contextFirstEndDate(ctx) {
      this.context.firstEnd = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 2
     */
    contextSecondEndDate(ctx) {
      this.context.secondEnd = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 3
     */
    contextThirdEndDate(ctx) {
      this.context.thirdEnd = ctx;
    },
    /**
     * @description Metodo que obtiene el contexto de un input date del fin de la fase 4
     */
    contextFourthEndDate(ctx) {
      this.context.fourthEnd = ctx;
    },
    createdPortafolio() {
      this.isLoading=true
      if (this.user.superadmin == true) {
        const datos = {
          courses: this.coursesSelected,
          semester: this.semester,
          year: this.year,
          start_date: this.start_date,
          end_phase1: this.end_phase1,
          end_phase2: this.end_phase2,
          end_phase3: this.end_phase3,
          end_phase4: this.end_phase4,
          id_process: this.processSelected,
          //id_user: this.id_user,
          id_user: this.$store.getters.getId,
          
        };
        for(var i = 0; i< this.documents.length; i++){
          datos[this.documents[i].model]=this.documents[i].colab;
        }

        const path = url + `process/portfolio/portfolio/`;
        axios
          .post(path, datos)
          .then(() => {
            this.isLoading=false,
            swal("Portafolio creado exitosamente", "", "success", {
              button: "Aceptar",
            }).then(() => {
              this.$router.push({
                name: "listPortfolios",
              });
            });
          })
          .catch(() => {
            this.isLoading=false,
            swal("El portafolio no se ha creado", "", "error", {
              button: "Aceptar",
            });
          });
      } else {
        const datos = {
          courses: this.coursesSelected,
          semester: this.semester,
          year: this.year,
          start_date: this.start_date,
          end_phase1: this.end_phase1,
          end_phase2: this.end_phase2,
          end_phase3: this.end_phase3,
          end_phase4: this.end_phase4,
          id_user: this.id_user,
          users: this.documents[0].colab,
        };
        const path = url + `process/portfolio/portfolio/`;
        axios
          .post(path, datos)
          .then(() => {
            this.isLoading=false,
            swal("Portafolio creado exitosamente", "", "success", {
              button: "Aceptar",
            }).then(() => {
              this.$router.push({
                name: "listPortfolios",
              });
            });
          })
          .catch(() => {
            this.isLoading=false,
            swal("El portafolio no se ha creado", "", "error", {
              button: "Aceptar",
            });
          });
      }
    },
    getProcess() {
      const path = url + `process/process/`;
      axios.get(path).then((response) => {
        this.process = response.data;
      });
    },
    getCourses() {
      this.isLoadingCourses=true 
      console.log("getCourses")
      console.log(this.processSelected)
      console.log(this.$store.getters.idProceso)
      

      if (this.$store.getters.isSuperadmin) {
        this.getCursosXProcesos(this.processSelected);
        
        return true;
      }
      if ( this.$store.getters.isResProceso ||
           this.$store.getters.isRespPortCurso
        
      )
      {
        this.getCursosXProcesos(this.$store.getters.idProceso);
        this.isLoadingCourses=false 
        return ;

      }
    

    },
    getUsers() {

      console.log(this.processSelected);
        this.getUsersColabxProcess(this.processSelected);
      
    },

    getUsersColabxProcess(idProcess){

      //api/user/user/?id_role__id_process=1
      const path = url + 'user/user/?id_role__id_process='+idProcess;
      axios.get(path).then((response) => {
        this.users = response.data;
      });


    },

    getCursosXProcesos(idprocess){
      this.isLoadingCourses=false

        //process/portfolio/resource/?id_process=1
        const path = url + 'process/portfolio/resource/?id_process='+idprocess;
        //const path = url + 'process/portfolio/resource/?id_process='+this.$store.getters.idProceso;
        axios.get(path).then(async (response) => {
          //this.courses = response.data;//muesttra los planes y desaprece al recibir todo
          this.courses = [];  

            let idsRecursos=[];
            for (let item of response.data) {
              idsRecursos.push(item.id);
            }
            let tmpfullcursos=[];

            for(let id of idsRecursos){
              console.log(id)

              const path = url + 'process/portfolio/course/?id_resource='+id;
              await axios.get(path).then((response) => {
                //this.courses = response.data;
                //let tmpcursos = response.data;
                //console.log(tmpcursos);
                for(let item of response.data){
                  tmpfullcursos.push(item);
                }
              });

            }
            //console.log(tmpfullcursos)

            if (this.semester == 0) {
                let listFilter = tmpfullcursos.filter(
                (tmp) => tmp.semester % 2 !== 0 );
                tmpfullcursos = listFilter;
              //return;
            }
            if (this.semester == 1) {
                let listFilter = tmpfullcursos.filter(
                (tmp) => tmp.semester % 2 == 0 );
                tmpfullcursos = listFilter;
                  //return;
            }
            //this.courses = response.data;


            idsRecursos=[];
            //console.log(tmpfullcursos)
            this.courses = tmpfullcursos;
            this.mostrarCursos = true;
          //console.log(idsRecursos);
          
        });
    },
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      console.log("verificamos permisos");
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        this.getUsersColabxProcess(this.$store.getters.idProceso);
        return true;
      }
      if (PermissionService.findPermission(Permission.Create, Module.Portafolio)) {
        this.getUsersColabxProcess(this.$store.getters.idProceso);
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        this.$router.push("/");
      }
      if (this.$store.getters.isColabPortCurso) {
        this.$router.push("/");
      }

      this.$router.push("/");
    },
  },
  async created() {

    PermissionService.setUserActive();

    this.viewPermission();
    this.user = await AuthService.getUser();
    if (this.user.superadmin == true ) {
      this.getProcess();
      //this.getUsers();
    } 
    /*else {
      this.getUsers();
    }*/
  },
};
</script>

<style lang="css" scoped></style>
