<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <div class="text-left" v-if="!isLoading">
    <b-row class="my-3 mt-4 pt-2">
      <b-col class="d-flex align-items-center">
        <h5 class="text-nowrap my-0">Listado de Portafolios</h5>
      </b-col>
    </b-row>

    <b-table
      hover
      show-empty
      small
      stacked="md"
      :items="portfolios"
      :fields="fields"
      empty-text="No hay portafolios para mostrar"
      empty-filtered-text="No hay portafolios para mostrar que coincidan con su solicitud"
      class="ltable"
    >
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            variant="dark"
            size="sm"
            @click="info(data.item, $event.target)"
            title="Ver Detalle"
            ><b-icon icon="eye"></b-icon
          ></b-button>
          &nbsp;
          <b-button
            variant="primary"
            size="sm"
            :to="{
              name: 'listCourses',
              params: { portfolioId: data.item.id },
            }"
            v-if="listPermission()"
            title="Ver Cursos"
            ><b-icon icon="card-checklist"></b-icon
          ></b-button>
          &nbsp;
          <b-button
            variant="secondary"
            size="sm"
            :to="{
              name: 'editPortfolio',
              params: { portfolioId: data.item.id },
            }"
            v-if="editPermission()"
            title="Editar"
            ><b-icon icon="pencil-square"></b-icon
          ></b-button>
          &nbsp;
          <b-button
            variant="warning"
            size="sm"
            @click="infoDisable(data.item, $event.target)"
            v-if="disabledPermission() && data.item.status==true"
            title="Desactivar"
            ><b-icon icon="x-circle"></b-icon
          ></b-button>
          &nbsp;<b-button
            variant="success"
            size="sm"
            @click="infoActivate(data.item, $event.target)"
            v-if="disabledPermission() && data.item.status==false"
            title="Activar"
            ><b-icon icon="check-circle"></b-icon
          ></b-button>
          &nbsp;
          <b-button
            variant="danger"
            size="sm"
            @click="infoDelete(data.item, $event.target)"
            v-if="deletePermission()"
            title="Eliminar"
            ><b-icon icon="trash"></b-icon
          ></b-button>
          &nbsp;
        </b-container>
      </template>
    </b-table>

    <!--Detail modal-->
    <b-modal
      :id="infoModal.id"
      :title="infoModal.title"
      size="lg"
      ok-only
      @hide="resetInfoModal"
      ok-title="Aceptar">
      <b-row>
        <b-col>
          Proceso:
        </b-col>
        <b-col>
          {{getProceso(this.infoModal.portfolio.id_process)}}
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          Semestre:
        </b-col>
        <b-col>
          {{getSemester(this.infoModal.portfolio.semester)}}
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          Año:
        </b-col>
        <b-col>
          {{this.infoModal.portfolio.year}}
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          Responsable:
        </b-col>
        <b-col>
          {{this.getUserName(this.infoModal.portfolio.id_user)}}
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          Colaboradores:
        </b-col>
        <b-col>
          <ul>
            <li v-for="user in this.infoModal.portfolio.users" v-bind:key="user">
              {{ getUserName(user) }}
            </li>
          </ul>
        </b-col>
      </b-row>
      <b-row>
        <b-col>
          Fecha de inicio:
        </b-col>
        <b-col>
          {{this.infoModal.portfolio.start_date}}
        </b-col>
      </b-row>
            <b-row>
        <b-col>
          Fecha de cierre de la primera fase:
        </b-col>
        <b-col>
          {{this.infoModal.portfolio.end_phase1}}
        </b-col>
      </b-row>
            <b-row>
        <b-col>
          Fecha de cierre de la segunda fase:
        </b-col>
        <b-col>
          {{this.infoModal.portfolio.end_phase2}}
        </b-col>
      </b-row>
            <b-row>
        <b-col>
          Fecha de cierre de la tercera fase:
        </b-col>
        <b-col>
          {{this.infoModal.portfolio.end_phase3}}
        </b-col>
      </b-row>
            <b-row>
        <b-col>
          Fecha de cierre de la cuarta fase:
        </b-col>
        <b-col>
          {{this.infoModal.portfolio.end_phase4}}
        </b-col>
      </b-row>
    </b-modal>

    <!--Delete modal-->
    <b-modal
    :id="deleteModal.id"
    :title="deleteModal.title"
    @ok="handleDeleteOk"
    @hide="resetDeleteModal"
    ok-title="Eliminar"
    cancel-title="Cancelar">
      <h5 class="text-center mt-3 mb-3">
        ¿Está seguro que desea eliminar el portafolio {{ this.deleteModal.portfolio.year }}?
      </h5>
    </b-modal>
    <!--Disable modal-->

    <b-modal
    :id="disableModal.id"
    :title="disableModal.title"
    @ok="handleDisableOk"
    @hide="resetDisableModal"
    ok-title="Desabilitar"
    cancel-title="Cancelar">
      <h5 class="text-center mt-3 mb-3">
        ¿Está seguro que desea desabilitar el portafolio {{ this.disableModal.portfolio.year }}?
      </h5>
    </b-modal>

    <!--Activate modal-->

    <b-modal
    :id="activateModal.id"
    :title="activateModal.title"
    @ok="handleActivateOk"
    @hide="resetActivateModal"
    ok-title="Activar"
    cancel-title="Cancelar">
      <h5 class="text-center mt-3 mb-3">
        ¿Está seguro que desea activar el portafolio {{ this.activateModal.portfolio.year }}?
      </h5>
    </b-modal>
  </div>
</div>
</template>
<script>
const url = process.env.VUE_APP_RUTA_API;
import axios from "axios";
import swal from "sweetalert";
import AuthService from "@/services/AuthService.js";

import { Module, Permission, PermissionService } from "@/services";

export default {
  data() {
    return {
      isLoading: true,
      portfolios: [],
      users: [],
      process: [],
      user: [],
      fields: [
        {
          key: "year",
          label: "Año",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "semester",
          label: "Nombre",
          sortable: true,
          formatter: (value) => {
            return this.getSemester(value);
          },
          sortDirection: "desc",
        },
        {
          key: "id_process",
          label: "Proceso",
          sortable: true,
          formatter: (id) => {
            return this.getProceso(id);
          },
          sortDirection: "desc",
        },
        {
          key: "id_user",
          label: "Responsable",
          sortable: true,
          formatter: (idUserName) => {
            return this.getUserName(idUserName);
          },
          sortDirection: "desc",
        },
        {
          key: "status",
          label: "Estado",
          sortable: true,
          formatter: (value) => {
            return this.getStatus(value);
          },
          sortDirection: "desc",
        },
        {
          key: "",
          label: "Responsable",
          sortable: true,
          sortDirection: "desc",
        },
        { key: "actions", label: "Acciones", class: "text-center" },
      ],

      infoModal: {
        id: "info-modal",
        title: "",
        portfolio: "",
      },

      deleteModal: {
        id: "delete-modal",
        title: "",
        portfolio: "",
      },

      disableModal: {
        id: "disable-modal",
        title: "",
        portfolio: "",
      },

      activateModal: {
        id: "activate-modal",
        title: "",
        portfolio: "",
      },
    };
  },
  methods: {
    getSemester(value) {
      if (value == 0) return "Portafolio Semestre A";
      if (value == 1) return "Portafolio Semestre B";
      if (value == 2) return "Portafolio Semestre C";
    },
    getProceso(id) {
      for (var i = 0; i < this.process.length; i++) {
        if (this.process[i].id == id) return this.process[i].name;
      }
    },
    getProcess() {
      const path = url + `process/process/`;
      axios.get(path).then((response) => {
        this.process = response.data;
        this.isLoading=false
      });
    },
    getUsers() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.users = response.data;
      });
    },
    getUserName(idUserName) {
      for (var i = 0; i < this.users.length; i++) {
        if (this.users[i].id == idUserName) {
          return this.users[i].first_name + " " + this.users[i].last_name;
        }
      }
      return;
    },
    getStatus(value) {
      if (value == true) return "Activo";
      if (value == false) return "Inactivo";
    },
    getPortofolios() {
      if (this.user.superadmin) {
        const path = url + `process/portfolio/portfolio/`;
        axios.get(path).then((response) => {
          this.portfolios = response.data;

          if (this.$store.getters.isResProceso) {
            const patha =
              url + "process/process/?id_user=" + this.$store.getters.getId;

            axios
              .get(patha)
              .then((response) => {
                this.procesos = response.data;
                //console.log("aaaaaaaaaa "+this.procesos[0].id)
                const listResp = this.portfolios.filter(
                  (tmp) => tmp.id_process == this.procesos[0].id
                );
                this.portfolios = listResp;
                return;
              })
              .catch((error) => {
                console.log(error);
              }).finally(()=>this.isLoading=false);

            return;
          }

          if (this.$store.getters.isRespPortCurso) {
            const listResp = this.portfolios.filter(
              (tmp) => tmp.id_user == this.$store.getters.getId
            );
            this.portfolios = listResp;
            return;
          }
          if (this.$store.getters.isColabPortCurso) {
            const listRespC = this.portfolios.filter((tmp) =>
              tmp.users.some((x) => x == this.$store.getters.getId)
            );
            this.portfolios = listRespC;
            return;
          }
        });
      } else {
        const path =
          url +
          `process/portfolio/portfolio/?id_process=${this.user.role.id_process}`;
        axios.get(path).then((response) => {
          this.portfolios = response.data;

          if (this.$store.getters.isResProceso) {
            const patha =
              url + "process/process/?id_user=" + this.$store.getters.getId;

            axios
              .get(patha)
              .then((response) => {
                this.procesos = response.data;
                //console.log("aaaaaaaaaa "+this.procesos[0].id)
                const listResp = this.portfolios.filter(
                  (tmp) => tmp.id_process == this.procesos[0].id
                );
                this.portfolios = listResp;
                return;
              })
              .catch((error) => {
                console.log(error);
              }).finally(()=>this.isLoading=false);

            return;
          }

          if (this.$store.getters.isRespPortCurso) {
            const listResp = this.portfolios.filter(
              (tmp) => tmp.id_user == this.$store.getters.getId
            );
            this.portfolios = listResp;
            return;
          }
          if (this.$store.getters.isColabPortCurso) {
            const listRespC = this.portfolios.filter((tmp) =>
              tmp.users.some((x) => x == this.$store.getters.getId)
            );
            this.portfolios = listRespC;
            return;
          }
        });
      }
    },

    info(portfolio, button) {
      this.infoModal.title = `Detalle del portafolio `;
      this.infoModal.portfolio = portfolio;

      this.$root.$emit("bv::show::modal", this.infoModal.id, button);
    },

    resetInfoModal() {
      this.infoModal.title = "";
      this.infoModal.portfolio = "";
    },

    infoDelete(portfolio, button) {
      this.deleteModal.title = `Eliminar portafolio `;
      this.deleteModal.portfolio = portfolio;

      this.$root.$emit("bv::show::modal", this.deleteModal.id, button);
    },

    resetDeleteModal() {
      this.deleteModal.title = "";
      this.deleteModal.portfolio = "";
    },

    handleDeleteOk() {
      this.deletePortfolio(this.deleteModal.portfolio.id);
    },
    infoDisable(portfolio, button) {
      this.disableModal.title = `Desabilitar portafolio `;
      this.disableModal.portfolio = portfolio;

      this.$root.$emit("bv::show::modal", this.disableModal.id, button);
    },

    resetDisableModal() {
      this.disableModal.title = "";
      this.disableModal.portfolio = "";
    },

    handleDisableOk() {
      this.desactivatePortfolio(this.disableModal.portfolio.id);
    },

    infoActivate(portfolio, button) {
      this.activateModal.title = `Desabilitar portafolio `;
      this.activateModal.portfolio = portfolio;

      this.$root.$emit("bv::show::modal", this.activateModal.id, button);
    },

    resetActivateModal() {
      this.activateModal.title = "";
      this.activateModal.portfolio = "";
    },

    handleActivateOk() {
      this.activatePortfolio(this.activateModal.portfolio.id);
    },

    deletePortfolio(id) {
      const path = url + `process/portfolio/portfolio/${id}`;
      axios.delete(path).then(() => {
        swal("Portafolio eliminado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          location.reload();
        });
      });
    },

    desactivatePortfolio(id) {
      const path = url + `process/portfolio/portfolio/${id}/`;
      const datos = {
        id: id,
        status: false,
      };
      axios.patch(path, datos).then(() => {
        swal("Portafolio desactivado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          location.reload();
        });
      });
    },

    activatePortfolio(id) {
      const path = url + `process/portfolio/portfolio/${id}/`;
      const datos = {
        id: id,
        status: true,
      };
      axios.patch(path, datos).then(() => {
        swal("Portafolio activado con exito", "", "success", {
          button: "Aceptar",
        }).then(() => {
          location.reload();
        });
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        console.log("isSuperadmin");
        const path = url + `process/portfolio/portfolio/`;
        axios.get(path).then((response) => {
          this.portfolios = response.data;
          console.log(response.data);
        });

        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        console.log("PermissionService");

        if (this.$store.getters.isRespPortCurso) {
          console.log("isRespPortCurso");
          const path =
            url +
            "process/portfolio/portfolio/?id_process=" +
            this.$store.getters.idProceso;
          axios.get(path).then((response) => {
            this.portfolios = response.data;
          });
          return true;
        }

        const path = url + `process/portfolio/portfolio/`;
        axios.get(path).then((response) => {
          this.portfolios = response.data;
        });

        return true;
      }
      if (this.$store.getters.isResProceso) {
        console.log("isResProceso");

        const path =
          url +
          "process/process/?id_owner=&id_user=" +
          this.$store.getters.getId;
        let filtroP = [];
        axios.get(path).then((response) => {
          //this.portfolios = response.data;
          //console.log(response.data)
          for (let i = 0; i < response.data.length; i++) {
            const pathz =
              url +
              "process/portfolio/portfolio/?id_process=" +
              response.data[i].id;

            axios.get(pathz).then((response) => {
              //this.portfolios = response.data;
              //console.log("zzzzzzzzzzz "+response.data)
              //console.log(response.data)

              if (response.data.length > 0) {
                //filtroP.push(response.data);
                //this.portfolios = response.data;
                for (let i = 0; i < response.data.length; i++) {
                  filtroP.push(response.data[i]);
                }
                this.portfolios = filtroP;

                //console.log("xxxxxxxxxxxxx ")
                //console.log(filtroP)
              }
            });
          }
        });

        return true;
      }

      if (this.$store.getters.isRespPortCurso) {
        console.log("isRespPortCurso");
        const path = url + `process/portfolio/portfolio/`;
        axios.get(path).then((response) => {
          //this.portfolios = response.data;
          const listResp = response.data.filter(
            (tmp) => tmp.id_user == this.$store.getters.getId
          );
          this.portfolios = listResp;
        });
        return true;
      }

      if (this.$store.getters.isColabPortCurso) {
        console.log("isColabPortCurso");
        const path = url + `process/portfolio/portfolio/`;
        axios.get(path).then((response) => {
          //this.portfolios = response.data;

          const listRespC = response.data.filter((tmp) =>
            tmp.users.some((x) => x == this.$store.getters.getId)
          );
          this.portfolios = listRespC;
        });

        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Edit, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return false;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disabledPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Disabled, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isColabPortCurso) {
        return false;
      }
      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return false;
      }
      if (this.$store.getters.isColabPortCurso) {
        return false;
      }
      return false;
    },
  },

  async created() {
    this.user = await AuthService.getUser();
    PermissionService.setUserActive();

    this.viewPermission();
    //PermissionService.isColabPortC();

    //this.getPortofolios();
    this.getUsers();
    this.getProcess();
  },
};
</script>
