<template lang="html">
  <b-container>
    <b-modal
      id="add-training-only-modal"
      ref="modal"
      :title="'Agregar '+dataTrainingOnly.data_name_two"
      
      scrollable
      no-close-on-backdrop
      @ok="handleOk"
      ok-title="Agregar"
      cancel-title="Cancelar">
      <b-form ref="form" @submit="handleSubmit">
        <h6><strong>Training</strong> </h6>
        <b-row>
          <b-col>
            <b-form-group label="Organization:">
            
              <b-form-select

               plaintext
                id="school"
                v-model="form.id_organization"
                required  
                :state="inputSelectStateValidation(form.id_organization)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Organization
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in organization_list"
                  :key="indexOpt"
                  :value="opt.id"
                >
                  {{ opt.name }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.id_organization)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col cols="5">
            <b-form-group label="Kind">
              <b-form-select

               plaintext
                id="school"
                v-model="form.training_kind"
                required  
                :state="inputSelectStateValidation(form.training_kind)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Kind
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataTrainingOnly.kinds"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.training_kind)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>
        <b-row>
          <b-col>
            <b-form-group label="Training title:">
              <b-form-input
                type="text"
                id="traname"
                v-model="form.training_title"
                required
                :state="inputTextStateValidation(form.training_title,2,30)"
              >
              </b-form-input>
              <small class="msg" v-if="!onlyTextAndNumber2(form.training_title)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; No es un caracter válido
                <br />
              </small>
              <small class="msg" v-if="!textSize(form.training_title, 2, 30)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Mínimo 2 y máximo 30 caracteres
              </small>
            </b-form-group>
          </b-col>
          <b-col cols="5">
            <b-form-group label="Subtype">
              <b-form-select
                id="role"
                v-model="form.training_sub_type"
                required  
                :state="inputSelectStateValidation(form.training_sub_type)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Subtype
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataTrainingOnly.subTypes"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.training_sub_type)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
        </b-row>

        <b-row >
          <b-col>
            <b-form-group label="Country">
              <b-form-select
                id="country"
                v-model="form.country"
                required
                :state="inputSelectStateValidation(form.country)"   
              >
                <b-form-select-option :value="null" disabled>
                  Select a Country
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataTrainingOnly.countries"
                  :key="indexOpt"
                  :value="opt.text"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.country)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="City">
              <b-form-select
              
                id="city"
                v-model="form.city"
                :state="inputSelectStateValidation(form.city)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a City
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataTrainingOnly.cities"
                  :key="indexOpt"
                  :value="opt.text"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.city)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>
          <b-col>
            <b-form-group label="Category">
              <b-form-select
                id="trainingCat"
                v-model="form.training_category"
                required  
                :state="inputSelectStateValidation(form.training_category)" 
              >
                <b-form-select-option :value="null" disabled>
                  Select a Category
                </b-form-select-option>
                <b-form-select-option
                  v-for="(opt, indexOpt) in dataTrainingOnly.eventCategories"
                  :key="indexOpt"
                  :value="opt.value"
                >
                  {{ opt.text }}
                </b-form-select-option>
              </b-form-select>
              <small class="msg" v-if="!inputSelectValidation(form.training_category)">
                <b-icon icon="exclamation-circle" variant="warning"></b-icon
                >&nbsp; Debe seleccionar una opción
              </small>
            </b-form-group>
          </b-col>

        </b-row>
      </b-form>
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
import swal from "sweetalert";
import {DataTrainingOnly, ModelTrainingOnly} from "@/components/CriteriaSix/TrainingOnly/DataTrainingOnly.js";
const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["getTrainingOnlyList", "organization_list"],
  
  data() {
    return {
      dataTrainingOnly: DataTrainingOnly,
      form: Object.assign({},ModelTrainingOnly),
      formReset: {
      },

      validation: {
        onlyNumber: /^[0-9]*$/,
        onlyTextAndNumber: /^[a-zá-úÁ-ÚA-Z0-9 _.,:;"#%&~^/(){}!¡¿?/\\/]*$/,
        onlyText: /^[a-zá-úÁ-ÚA-Z ]*$/,
        onlyTextAndNumber1: /^[a-zá-úÁ-ÚA-Z0-9 ]*$/,
        onlyTextAndNumber2: /^[a-zá-úÁ-ÚA-Z0-9/{/},._!"#$%?¿&()\- //+-/*/[\]]*$/,
      },
      context: {
        content: {
          date: "",
          time: "",
        },
      },
    };
  },
  methods: {
    //-------------------------------------METHODS-VALIDATIONS---------------------------------------------
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber1
     * @return {boolean}
     */
    onlyTextAndNumber1(text) {
      return this.validation.onlyTextAndNumber1.test(text);
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber2
     * @return {boolean}
     */
    onlyTextAndNumber2(text) {
      return this.validation.onlyTextAndNumber2.test(text);
    },
    /**
     * @description Guarda el context obtenido al selecionar una fecha
     */
    contextDate(ctx) {
      this.context.content.date = ctx;
    },
    /**
     * @description Guarda el context obtenido al selecionar una hora
     */
    contextTime(ctx) {
      this.context.content.time = ctx;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto esta vacio
     * @return {boolean}
     */
    textEmpty(text) {
      return text == "";
    },
    /**
     * @param {String} text Texto ingresado
     * @param {number} a Tamaño minimo
     * @param {number} b Tamaño maximo
     * @description Verifica si el texto esa dentro de los limites establecidos
     * @return {boolean}
     */
    textSize(text, a, b) {
      try {
        return text.length >= a && text.length <= b;
      } catch (error) {
        return error;
      }
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyNumber
     * @return {boolean}
     */
    onlyNumber(text) {
      return this.validation.onlyNumber.test(text);
    },
    /**
     * @param {number} number Numero ingresado
     * @description Verifica si el numero  esa dentro de los limites establecidos
     * @return {boolean}
     */
    numberSize(number, a, b) {
      return number >= a && number <= b;
    },
    /**
     * @param {String} text Texto ingresado
     * @description Verifica si el texto cumple con la expresion regular de la variable onlyTextAndNumber
     * @return {boolean}
     */
    onlyTextAndNumber(text) {
      return this.validation.onlyTextAndNumber.test(text);
    },
    /**
     * @param {String} value Texto ingresado
     * @description Convierte el texto en minisculas
     * @return {String}
     */
    forceLowerCase(value) {
      return value.toLowerCase();
    },


    //-------------------------------------VALIDATIONS---------------------------------------------
    /**
     * @description Metodo especifico para la propiedad state del input text
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputTextStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputTextValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados del input text
     * @return {boolean}
     */
    inputTextValidation(value, min, max) {
      return (
        this.textSize(value, min, max) &&
        this.onlyTextAndNumber2(value)
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input de inicio de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    startDateStateValidation(value) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.startDateValidation(value);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de inicio de fecha
     * @return {boolean}
     */
    startDateValidation(value) {
      return !this.textEmpty(value);
    },
    /**
     * @description Metodo especifico para la propiedad state del input de fin de fecha
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    finishDateStateValidation(start, finish) {
      if (this.textEmpty(start)) {
        return new Boolean(null);
      }
      return this.finishDateValidation(start, finish);
    },
    /**
     * @description Metodo que verifica el tamaño del texto y los caracteres ingresados
     * del input de fin
     * @return {boolean}
     */
    finishDateValidation(start, finish) {
      return (
        !this.textEmpty(finish) && finish > start
      );
    },
    /**
     * @description Metodo especifico para la propiedad state del input number
     * Verifica si texto esta vacio
     * @return {boolean}
     */
    inputNumberStateValidation(value, min, max) {
      if (this.textEmpty(value)) {
        return new Boolean(null);
      }
      return this.inputNumberValidation(value, min, max);
    },
    /**
     * @description Metodo que verifica el tamaño del numero y los caracteres ingresados
     * del input number
     * @return {boolean}
     */
    inputNumberValidation(value, min, max) {
      return (
        this.numberSize(value, min, max) &&
        this.onlyNumber(value)
      );
    },
    inputSelectStateValidation(value){
      if (value==null) {
        return new Boolean(null);
      }
      return true;
    },
    inputSelectValidation(value){
      if (value==null) {
        return false
      }
      return true;
    },
    

    //---------------------------------------SEND-INFORMATION---------------------------------------------
    /**
     * @description Crea un entrnemiento
     */
    resetModal() {
      this.form=Object.assign({},this.formReset);
    },
    /**
     * @description Metodo que se llama al presionar el boton OK del modal
     */
    handleOk(evt) {
      evt.preventDefault();
      this.handleSubmit();
    },
    /**
     * @description Verifica que se cumplan las validaciones para luego llamar al metodo de crear una incidencia y minimizar el modal
     */
    handleSubmit() {
      if (this.createTrainingOnlyValidation()) {
        this.createTrainingOnly();
      }else{
        swal(DataTrainingOnly.data_name+" no se ha creado", "Se deben completar los datos requeridos", "error", {
          button: "Aceptar",
        });
      }
    },
    /**
      * @description Verifica que se cumplan las validaciones
    */
    createTrainingOnlyValidation() {
      
      const valid = this.$refs.form.checkValidity();
      console.log(this.$refs.form);
      return (
        valid
      );
    },
    /**
     * @description Crea un entrenamiento
     */
    createTrainingOnly() {
      let datos = this.form;
      const path = url + `process/criteria_six/training_program/`;
      axios
        .post(path, datos)
        .then(() => {
          swal(DataTrainingOnly.data_name+" se ha creado exitosamente", "", "success", {
            button: "Aceptar",
          }).then(() => {
            this.$bvModal.hide('add-training-only-modal');
            this.resetModal();
            this.getTrainingOnlyList();
            console.log("se creo la organioz");
          });
        })
        .catch(() => {
          swal(DataTrainingOnly.data_name+" no se ha creado", "", "error", {
            button: "Aceptar",
          });
        });
    },


    //---------------------------------------GETTERS-----------------------------------------------
    
   
  },

  created() {
    this.formReset=Object.assign({},this.form);
    this.form.id_user=this.$store.getters.getId
  },
};
</script>

<style lang="css" scoped></style>
