<template lang="html">
  <b-container>
    <b-modal
      id="delete-organization-modal"
      ref="modal"
      :title="'Eliminar '+dataTrainingOnly.data_name_two"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar el entrenamiento ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";
import {DataTrainingOnly} from "@/components/CriteriaSix/TrainingOnly/DataTrainingOnly.js";

export default {
  props: ["getTrainingOnlyList", "itemTrainingOnly"],
  data() {
    return {
      dataTrainingOnly: DataTrainingOnly,
    };
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deleteTrainingOnly();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-organization-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deleteTrainingOnly() {
      const path = url + `process/criteria_six/organization/${this.itemTrainingOnly.id}`;
      axios.delete(path);
      swal(DataTrainingOnly.data_name_two+" eliminado exitosamente", "", "success", {
        button: "Aceptar",
      }).then(() => {
        //this.$router.push("/criteria/6/organization/list/0");
        this.$bvModal.hide('detail-organization-modal');
        this.getTrainingOnlyList();
      
      });
      
    },
  },
};
</script>

<style></style>
