<template>
  <div id="app">
    <router-view />

  </div>
</template>

<script>
</script>

<style>
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#contenidoTabla1 tbody,
#contenidoTabla2 tbody,
#contenidoTabla3 tbody {
  display: flex;
}

#contenidoTabla1 tbody tr:not(:first-child) td:before,
#contenidoTabla2 tbody tr:not(:first-child) td:before,
#contenidoTabla3 tbody tr:not(:first-child) td:before {
  visibility: hidden;
}
#contenidoTabla1 tbody tr:first-child div,
#contenidoTabla2 tbody tr:first-child div,
#contenidoTabla3 tbody tr:first-child div {
  visibility: hidden;
}

#contenidoTabla1 tbody tr td:before,
#contenidoTabla2 tbody tr td:before,
#contenidoTabla3 tbody tr td:before {
  white-space: nowrap;
}
#contenidoTabla1,
#contenidoTabla2,
#contenidoTabla3 {
  overflow-x: auto;
}

#custom-css {
  background: white;
  box-shadow: 0 0 2rem 0 rgba(136, 152, 170, 0.15) !important;
}

#custom-css .btn-primary {
  background-color: #62031b;
  border-color: #62031b;
}
#custom-css .btn-dark {
  background-color: rgb(19 65 115 / 68%);
  border-color: rgb(19 65 115 / 68%);
}
/*modales*/
.btn-primary{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.modal-footer .btn-secondary{
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}
.modal-footer .btn-primary{
  color: #fff;
  border-color: #2c3e50;
  background-color: #2c3e50;
}
.modal-footer .btn-primary:hover{
  color: #fff;
  border-color: #2c3e50;
  background-color: #2c3e50;
}

#custom-css .btn-secondary {
  background-color: #2f3d57;
  border-color: #2f3d57;
}
#custom-css .btn-outline-primary {
  background-color: #fff;
  color: #62031b;
  border-color: #62031b;
}
#custom-css .btn-light {
  background-color: transparent;
  color: #0c0c0c;
  border-color: #62031b;
}

#custom-css .table-sm td,
.table-sm th {
  padding: 1rem 0.7rem;
  
}

#custom-css thead tr {
  background: #e9ecef;
  /*border: 1px solid #e9ecef;*/
}
#custom-css table {
  font-size: 14px;
}

#custom-css .nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  background: #6d6d72;
  color: #fff;
}

#custom-css .nav-tabs > li > a {
  background: #dedede;
  color: #64001d;
  border-bottom: #6d6d72 solid 1px;
}

#custom-css .nav-tabs > li > a {
  margin-right: 6px;
  /*line-height: 1.42857143;*/
  /*border: 1px solid transparent;*/
  border-radius: 4px 4px 0 0;
}

#custom-css .nav-tabs {
  border-bottom: #6d6d72 solid 1px;
  /* font-weight: 600;*/
  /*letter-spacing: 1.3px;*/
}

#custom-css .card-header-tabs {
  margin: 0;
}

#custom-css .page-item.active .page-link {
  z-index: 3;
  color: #fff;
  background-color: #62031b;
  border-color: #62031b;
}
#custom-css .page-link {
  position: relative;
  display: block;
  padding: 0.5rem 0.75rem;
  margin-left: -1px;
  line-height: 1.25;
  color: #6d6d72;
  background-color: #fff;
  border: 1px solid #dee2e6;
}
/*.modal-verificacion*/
.swal-button {
  background-color: #2c3e50;
}
.swal-button:not([disabled]):hover {
  background-color: #2c3e50;
}
.swal-icon--success__line--tip{
  background-color: #2c3e50;
}
.swal-icon--success__line--long{
  background-color: #2c3e50;
}
/**Check de roles */
.custom-control-input:checked ~ .custom-control-label::before{
  color: #fff;
  border-color: #2c3e50;
  background-color:#2c3e50;
}
</style>
