<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <b-container v-if="!isLoading">
    <b-row class="mb-4 text-left border p-3">
      <b-col cols="12">
        <p><strong>Curso:</strong> {{ curso.name }}</p>
      </b-col>
    </b-row>

  <div v-for= "n in activitiesNumber" :key="n">
      <b-col cols="10">
        <h3 class="text-left mb-4  py-2">Actividad {{n}}</h3>
      </b-col>
      
    <div class="accordion px-4" role="tablist">
  <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1 accordion " role="tab">
      <b-button
        block
        v-b-toggle="'accordion-1'+n"
        variant="light"
        class="text-left color-header border-0"
      ><h4>1. ENUNCIADO </h4>
      </b-button>
            
    </b-card-header>
    <b-collapse
      :id="'accordion-1'+n"
      visible
      accordion="my-accordion"
      role="tabpanel"
    >
      <b-card-body class="text-left">
        <b-row class="mb-4 text-left border p-3">
          <b-col cols="9" v-if="createPermission()">
            <b-form-file
              v-model="selectedFilesEnunciado"
              :state="Boolean(selectedFilesEnunciado)"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUpload"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
            >
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>
              <li v-for="lista of selectedFilesEnunciado" :key="lista">
                {{ lista.name }}
              </li>
            </div>
          </b-col>
          <b-col class="2">
            <b-button
              variant="primary"
              v-on:click="submitFiles(1,n)"
              v-if="createPermission()"
            >Subir</b-button>
          </b-col>
      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document[n-1]"
            :fields="labels"
          >
             
              <template v-slot:cell(name)="data">
                
                  <a :href="`${data.item.url}`">
                    {{ data.item.name }}
                  </a>
                  
              </template>
              
            <template v-slot:cell(acc)="document">
                
              <b-container>
                
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document.item.id)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
                
              </b-container>
               
              </template>
             

            
          </b-table>
        </div>
      </div>
      <br />


      <template>
        <div>
          <b-table hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
              
            </b-card-body>
          </b-collapse>
        </b-card>
        
        <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1 accordion " role="tab">
      <b-button
        block
        v-b-toggle="'accordion-2'+n"
        variant="light"
        class="text-left color-header border-0"
      ><h4>2. MEJOR NOTA</h4>
      </b-button>
            
    </b-card-header>
    <b-collapse
    :id="'accordion-2'+n"
      visible
      accordion="my-accordion"
      role="tabpanel"
    >
      <b-card-body class="text-left">
        <b-row class="mb-4 text-left border p-3">
          <b-col cols="9" v-if="createPermission()">
            <b-form-file
              v-model="selectedFilesMejorNota"
              :state="Boolean(selectedFilesMejorNota)"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUpload2"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
            >
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>
              <li v-for="lista of selectedFilesMejorNota" :key="lista">
                {{ lista.name }}
              </li>
            </div>
          </b-col>
          <b-col class="2">
            <b-button
              variant="primary"
              v-on:click="submitFiles(2,n)"
              v-if="createPermission()"
            >Subir</b-button>
          </b-col>
      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document2[n-1]"
            :fields="labels"
          >
            <template v-slot:cell(name)="data">
              <a :href="`${data.item.url}`">
                {{ data.item.name }}
              </a>
            </template>
            <template v-slot:cell(acc)="document2">
              <b-container>
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document2.item.id)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
              </b-container>
            </template>
          </b-table>
        </div>
      </div>
      <br />


      <template>
        <div>
          <b-table hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
              
            </b-card-body>
          </b-collapse>
        </b-card>





        <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1 accordion " role="tab">
      <b-button
        block
        v-b-toggle="'accordion-3'+n"
        variant="light"
        class="text-left color-header border-0"
      ><h4>3. MINIMA NOTA APROBATORIA</h4>
      </b-button>
            
    </b-card-header>
    <b-collapse
      :id="'accordion-3'+n"
      visible
      accordion="my-accordion"
      role="tabpanel"
    >
      <b-card-body class="text-left">
        <b-row class="mb-4 text-left border p-3">
          <b-col cols="9" v-if="createPermission()">
            <b-form-file
              v-model="selectedFilesMinimaNota"
              :state="Boolean(selectedFilesMinimaNota)"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUpload3"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
            >
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>
              <li v-for="lista of selectedFilesMinimaNota" :key="lista">
                {{ lista.name }}
              </li>
            </div>
          </b-col>
          <b-col class="2">
            <b-button
              variant="primary"
              v-on:click="submitFiles(3,n)"
              v-if="createPermission()"
            >Subir</b-button>
          </b-col>
      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document3[n-1]"
            :fields="labels"
          >
            <template v-slot:cell(name)="data">
              <a :href="`${data.item.url}`">
                {{ data.item.name }}
              </a>
            </template>
            <template v-slot:cell(acc)="document3">
              <b-container>
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document3.item.id)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
              </b-container>
            </template>
          </b-table>
        </div>
      </div>
      <br />


      <template>
        <div>
          <b-table hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
              
            </b-card-body>
          </b-collapse>
        </b-card>



        
        </div>  

        
        </div> 
        <!-- ga-->
        <b-container v-if="activitiesNumber !=0">
          <b-button
            variant="danger"
            class="d-inline-block"
            @click="deleteActivity()"
          >
          <b-icon icon="trash"></b-icon>
            Eliminar ultima actividad
          </b-button>
        </b-container>

        <div class='my-3'>
          <b-button class="float-left ml-3" @click=newActivity()>
            <b-icon icon="plus"></b-icon>&nbsp;Agregar
          </b-button>
        </div>
  </b-container>
  </div>
</template>

<script>
import axios from "axios";
//import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {},
  data() {
    return {
      isLoading:true,
      IDLastActivity: null,
      idCourseActive: this.$route.params.courseId,
      activitiesNumber: 0,
      cursoActive: null,
      curso: { name: "" },
      periodAcademic: null,
      document: [],
      documents: [],
      docu:[],
      document2: [],
      documents2: [],
      docu2:[],
      document3: [],
      documents3: [],
      docu3: [],
      labels: [
        {
          key: "name",
          label: "Nombre de documento",
          sortable: true,
        },
        {
          key: "acc",
          label: "Accion",
        },
      ],

      currentFile: undefined,
      progress: 0,
      message: "",
      fileInfosEnunciado: [],
      fileInfosMejorNota: [],
      fileInfosMinimaNota: [],
      items: [],
      selectedFilesEnunciado: "",
      selectedFilesMejorNota: "",
      selectedFilesMinimaNota: "",
      nombres: [],
    };
  },
  watch: {
    activitiesNumber(){
    this.getNumberOfActivities()

    },
    
  },
  
  methods: {
    /**
     * @description metodo para eliminar la ultima actividad
    */
    deleteActivity(){
      //Primero se elimnar todos los documentos que estan en esta actividad
      var DocumentsIDsToDelete = []
      console.log("Imprimiendo delete")
      //console.log(this.document[this.activitiesNumber-1][0].id)
      //console.log(this.document2[this.activitiesNumber-1])
      //console.log(this.document3[this.activitiesNumber-1])
      //console.log(this.document[this.activitiesNumber-1].length)
      if(this.document[this.activitiesNumber-1]!=undefined){
        for (let i=0; i<this.document[this.activitiesNumber-1].length;i++){
          DocumentsIDsToDelete.push(this.document[this.activitiesNumber-1][i].id)
        }
      }
      if(this.document[this.activitiesNumber-1]!=undefined){
        for (let i=0; i<this.document2[this.activitiesNumber-1].length;i++){
          DocumentsIDsToDelete.push(this.document2[this.activitiesNumber-1][i].id)
        }
      }
      if(this.document[this.activitiesNumber-1]!=undefined){
        for (let i=0; i<this.document3[this.activitiesNumber-1].length;i++){
          DocumentsIDsToDelete.push(this.document3[this.activitiesNumber-1][i].id)
        }  
      }
      for (let i=0;i<DocumentsIDsToDelete.length;i++){
        var path = url + `process/portfolio/evidence_document/${DocumentsIDsToDelete[i]}/`; 
        axios.delete(path).then(() => {
          console.log("Se elimino");
          this.getCreatedEvidenceDocument();
        });
      }
      //Ahora se elimina la ultima actividad
      var path2 = url + `process/portfolio/period_academic_activity/${this.IDLastActivity}/`;
        axios.delete(path2).then(() => {
          console.log("Se elimino");
          this.getNumberOfActivities();
        });
      
      
    },
    /**
     * @description metodo para agregar una nueva actividad
    */
    newActivity(){
      this.isLoading=true
      var cantidad=this.activitiesNumber+1
      const datos1 = {
        numero: cantidad,
        id_period_academic: this.periodAcademic.id,
      };
      const path = url + `process/portfolio/period_academic_activity/`;
      axios
        .post(path, datos1)
        .then(() => {
          console.log("actividad creada");
        this.getNumberOfActivities()
        })
        .catch((e) => {
         console.log(e);
        });
        
        this.isLoading=false
    },
    /**
     * @description esto es para obtener la cantidad de actividades
     */
    async getNumberOfActivities(){
      //this.isLoading=true
      const path = url + `process/portfolio/period_academic_activity/`;
      var contador=0;
      await axios.get(path).then(async (response) => {
        for(var i=0;i<response.data.length;i++){
          if(response.data[i].id_period_academic==this.periodAcademic.id)
            contador++
            this.IDLastActivity=response.data[i].id
        }        
        this.activitiesNumber=contador
        console.log(this.activitiesNumber)
        //this.isLoading=false
      });
    },
    /**
     * @description esto es para seleccionar los archivos y tener la información
     */
    handleFilesUpload(event) {
      this.selectedFilesEnunciado = event.target.files;

      for (var i = 0; i < this.selectedFilesEnunciado.length; i++) {
        this.fileInfos.push(this.selectedFilesEnunciado[i]);
      }
      console.log(this.fileInfos);
    },
    /**
     * @description esto es para seleccionar los archivos y tener la información en emjor nota
     */
    handleFilesUpload2(event) {
      this.selectedFilesMejorNota = event.target.files;

      for (var i = 0; i < this.selectedFilesMejorNota.length; i++) {
        this.fileInfosMejorNota.push(this.selectedFilesMejorNota[i]);
      }
      console.log(this.fileInfosMejorNota);
    },
    /**
     * @description esto es para seleccionar los archivos y tener la información en minima nota aprobatoria
     */
    handleFilesUpload3(event) {
      this.selectedFilesMinimaNota = event.target.files;

      for (var i = 0; i < this.selectedFilesMinimaNota.length; i++) {
        this.fileInfosMinimaNota.push(this.selectedFilesMinimaNota[i]);
      }
      console.log(this.fileInfosMinimaNota);
    },

    submitFiles(tipo, n) {
      if(tipo==1){
        for (var i = 0; i < this.selectedFilesEnunciado.length; i++) {
          let formData = new FormData();
          formData.append("numero", n);
          formData.append("id_period_academic", this.periodAcademic.id);
          formData.append("doc_annexed", this.selectedFilesEnunciado[i]);
          formData.append("tipo", 1);
          this.createdEvidenceDocument(formData);
        }
      }else if(tipo==2){
        for (var j = 0; j < this.selectedFilesMejorNota.length; j++) {
          let formData = new FormData();
          formData.append("numero", n);
          formData.append("id_period_academic", this.periodAcademic.id);
          formData.append("doc_annexed", this.selectedFilesMejorNota[j]);
          formData.append("tipo", 2);
          this.createdEvidenceDocument(formData);
        }
      }else if(tipo==3){
        for (var k = 0; k < this.selectedFilesMinimaNota.length; k++) {
          let formData = new FormData();
          formData.append("numero", n);
          formData.append("id_period_academic", this.periodAcademic.id);
          formData.append("doc_annexed", this.selectedFilesMinimaNota[k]);
          formData.append("tipo", 3);
          this.createdEvidenceDocument(formData);
        }
      }
      
    },
    eliminateFiles(id) {
      console.log(id);
      this.deleteCreatedEvidenceDocument(id);
    },

    /**
     * @description Obtener los datos del periodo académico, si no existe lo crea
     */
    async getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 2 && e.modality == 2 && e.note == 1
        );

        this.periodAcademic = encontrado;

       

      });
      this.getCreatedEvidenceDocument();

    },

    /**
     * @description Agregar archivos cargados a la base de datos
     */
    createdEvidenceDocument(data) {
      const path = url + `process/portfolio/evidence_document/`;

      axios
        .post(path, data, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
          this.getCreatedEvidenceDocument();
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });
    },

    /**
     * @description Listando archivos cargados de la base de datos
     */
    async getCreatedEvidenceDocument() {
      await this.getNumberOfActivities();
      
      this.documents=[]
      this.documents2=[]
      this.documents3=[]
      console.log("se ejecuta getcreatdevidence")
      const path =
      url +
      `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademic.id}`;
      axios.get(path).then((response) => {  
        for(let i=0;i<response.data.length;i++){
          if(response.data[i].tipo==1){
            this.documents.push(response.data[i])
          }
          else if(response.data[i].tipo==2){
            this.documents2.push(response.data[i])
          }
          else if(response.data[i].tipo==3){
            this.documents3.push(response.data[i])
          }
        }
        console.log("impriminendp")
        console.log(this.documents)
        this.document = [];
        this.document2 = [];
        this.document3 = [];
        //Mostrando los documentos ya cargados en una tabla para tipo 1
        for (let a=0;a<this.activitiesNumber;a++){
          this.document[a] = []
          this.document2[a] = [];
          this.document3[a] = [];
        }  
        
        for (let a = 0; a < this.documents.length; a++) {
          console.log("activities number")
          console.log(this.activitiesNumber)
          for(let d=1;d<=this.activitiesNumber;d++){
            
            if(this.documents[a].numero==d){
              console.log("imprimeintod a")
              console.log(this.documents[0])
              this.document[d-1].push({
                name: this.documents[a].doc_annexed_filename,
                id: this.documents[a].id,
                url: this.documents[a].doc_annexed,
                numero: this.documents[a].numero
              });
            }
            console.log("imprimeintod d")
              console.log(this.document)
          }
        }
        //Mostrando los documentos ya cargados en una tabla para tipo 2
        for (var b = 0; b < this.documents2.length; b++) {
          for(var e=1;e<=this.activitiesNumber;e++){
            if(this.documents2[b].numero==e){
              this.document2[e-1].push({
                name: this.documents2[b].doc_annexed_filename,
                id: this.documents2[b].id,
                url: this.documents2[b].doc_annexed,
                numero: this.documents2[b].numero
              });
            }
          }
        }

        //Mostrando los documentos ya cargados en una tabla para tipo 3
        for (var c = 0; c < this.documents3.length; c++) {
          for(var f=1;f<=this.activitiesNumber;f++){
            if(this.documents3[c].numero==f){
              this.document3[f-1].push({
                name: this.documents3[c].doc_annexed_filename,
                id: this.documents3[c].id,
                url: this.documents3[c].doc_annexed,
                numero: this.documents3[c].numero
              });
            }
          }
        }
        this.isLoading=false
      })
    },

    /**
     * @description Eliminar archivo de la base de datos  por el id
     */
    deleteCreatedEvidenceDocument(id) {
      const path = url + `process/portfolio/evidence_document/${id}/`;
      axios.delete(path).then(() => {
        console.log("Se elimino");
        this.getCreatedEvidenceDocument();
      });
    },

    /**
     * @description Se obtiene el curso activo con el método get
     * @return {Object} cursoActive, el curso activo
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}`;
      axios.get(path).then((response) => {
        this.cursoActive = response.data;
        this.getCourse();
      });
    },

    /**
     * @description Se obtiene el curso general con el método get
     * @return {Object} curso, el curso general
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.cursoActive.id_course}`;
      axios.get(path).then((response) => {
        this.curso = response.data;
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }

      return false;
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }

      return false;
    },
  },

  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
    await this.getPeriodAcademic(); 
    await this.getNumberOfActivities();
    
  },
};
</script>

<style lang="css" scoped></style>
