<template>
  <b-container class="py-3">
    <b-row>
      <b-col class="col-10">
     <b-button v-if=" evaluation != null" class="float-left mb-3 mt-1" variant="primary" @click="generateReport()">
                <b-icon icon="download"></b-icon>
                
            </b-button>
    
      </b-col>
       <b-col class="col-2">
     <b-button class="float-center ml-3 mt-1 mb-4" :to="{name: 'EvaluationReportThird'}">
                <b-icon icon="x-circle"></b-icon>
            </b-button>
       </b-col>
    </b-row>
     <vue-html2pdf v-if="evaluation != null && viewPermission()"
            :show-layout="false"
            :float-layout="false"
            :enable-download="true"
            :paginate-elements-by-height="2000"
            :preview-modal="false"
            :filename="'ReportedeEvaluacion' + evaluation +'3'"
            
            :pdf-quality="2"
            pdf-format="a4"
            pdf-orientation="portrait"
            pdf-content-width="780px"
            :manual-pagination="false"
        
            ref="html2Pdf"
        >
         
            <section slot="pdf-content" class="pdf-content">
                <!-- PDF Content Here -->
                <section class="pdf-item">

                 
                    <b-row class='mb-1 text-left p-3 mx-2 mt-3' align-h="center" >
                    <b-col cols="4" class="col-lg-4" align-h="right">
                      <b-img left width="200%" src="https://upload.wikimedia.org/wikipedia/commons/3/3a/LOGO_UNSA.png">
                      </b-img> 
                       </b-col>
                      <b-col cols="7" class="col-lg-7" id="pdfheada" >

                         <li> FACULTAD DE INGENIERÍA DE PRODUCCIÓN Y SERVICIOS</li>
                         <li> ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS</li>
                        <li style="margin-left:35%"> {{course_active.portfolio}} </li>
                      </b-col>
                    </b-row>
                    <b-row center align-h="center">
                    <h6 ><strong>INFORME FINAL/PARCIAL</strong></h6>
                 </b-row>
                    <b-row class='mb-1 text-left p-3 mx-2 texto'>
                       <b-col cols="11" class="col-lg-11"><strong>Escuela Profesional:</strong> INGENIERÍA DE SISTEMAS</b-col>
                                <b-col cols="11" class="col-11 ">
                                    <strong> Docentes Responsables:</strong> {{nameDocentes[0]}} 
                                </b-col>
                               
                  <b-col cols="11" class="col-lg-11"><p><strong>Periodo de evaluacion:</strong> <span>{{evaluation}} - Tercer Periodo </span></p></b-col>
           
            
              
           
            </b-row>

                </section>
        
                <section class="pdf-item">
    <b-row class='mb-1 text-left px-3 mx-2 mt-3 texto' v-if="evaluation != null">
     
        
          <b-col class="col-12">
            <p>En el desarrollo del curso de 
               {{course_normal.name}} se observa:</p>
          </b-col>
       
      
         </b-row>
     </section>
      <section class="pdf-item">
        <b-row class='mb-1 px-3 text-left mx-2 mt-3 texto' >
        <b-table
          id="contenidoTabla"
          class="keep-together"
          small
          
          bordered
          :items="report"
          :fields="reportfields"
        ></b-table>
        </b-row>
      </section>
       <section class="pdf-item">
         
        <div >
          <template>
            <JSCharting2
              :options="optionsGraph2"
              class="columnChart"
            ></JSCharting2>
          </template>
        </div>
        <br />
       </section>
        <section class="pdf-item">
         <b-row class='mb-1 px-3 text-left mx-2 mt-3 texto' align-h="center">
           <b-col class="col-4 text-center" cols="4" >
        <b-table
          id="contenidoTabla"
          small
          stacked
          :items="grade"
          :fields="gradefields"
        ></b-table>
           </b-col>
         </b-row >
        </section>
        <section class="pdf-item">
          <b-row class="mb-2 text-left p-3 mx-2 mt-3">
            <b-col v-for=" (item,index) in nameDocentes" v-bind:key="index" class="col-4 text-center" cols="4">
              
                 <b-img width="160%" height="65%" :src="docentes[index].signature"  alt="firma" bottom>
                    </b-img>
                    
                   <strong> _____________________<br>
                     <span class="firma"> {{item}}</span></strong>
       
               
               
             
            </b-col>
            
          
          </b-row>
        </section>
            </section>
        </vue-html2pdf>
  </b-container>
</template>

<script>
//import {LineChart} from 'vue-chartjs'
//import { Bar } from '../../../node_modules/BaseCharts';
//import { Bar } from 'vue-chartjs' ;
import Vue from 'vue'
import JSCharting2 from "jscharting-vue";
import axios from "axios";
import XLSX from "xlsx";
import swal from "sweetalert";
import VueHtml2pdf from 'vue-html2pdf'
Vue.use(VueHtml2pdf)
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
     JSCharting2,
    VueHtml2pdf
  },
  data() {
    return {
      idCourseActive: this.$route.params.courseId,
      evaluation: this.$route.params.evaluation,
      course_active: null,
      course_normal: {
        name: "",
      },
      nameDocentes: [],
      docentes: [],
      students_course_active: [],
      periodAcademic: null,

      selected: null,
      archivoSubido: false,
      file2: null,
      name: "columnChart",

      // Tabla1 de notas
      item: [{}],
      field: [],

      items: [
        { matriculados: 0, abandono: 0, notamax: 0, notamin: 0, error: 0 },
      ],
      fields: [
        {
          key: "matriculados",
          label: "Estudiantes matriculados",
        },
        {
          key: "abandono",
          label: "Estudiantes en abandono",
        },
        {
          key: "notamax",
          label: "Nota maxima",
        },
        {
          key: "notamin",
          label: "Nota minima",
        },
        /*{
          key: "error",
          label: "Error",
        },*/
      ],

      regular: [
        { desde: 1, hasta: 7, frecuencia: 0, porcentaje: 0 },
        { desde: 8, hasta: 10, frecuencia: 0, porcentaje: 0 },
        { desde: 11, hasta: 14, frecuencia: 0, porcentaje: 0 },
        { desde: 15, hasta: 20, frecuencia: 0, porcentaje: 0 },
        { desde: "", hasta: "", frecuencia: 0, porcentaje: 100 },
      ],
      regularfields: [
        {
          key: "desde",
          label: "Desde",
        },
        {
          key: "hasta",
          label: "Hasta",
        },
        {
          key: "frecuencia",
          label: "Frecuencia ",
        },
        {
          key: "porcentaje",
          label: "Porcentaje %",
        },
      ],

      stadistic: [
        {
          notaobtenida: "AB",
          calificativo: "Abandono",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 1 a 7",
          calificativo: "Insatisfactorio",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 8 a 10",
          calificativo: "En proceso",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 11 a 14",
          calificativo: "Satisfactorio",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 15 a 20",
          calificativo: "Sobresaliente",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "",
          calificativo: "",
          cantidad: 0,
          porcentajeglobal: 100,
        },
      ],
      stadisticfields: [
        {
          key: "notaobtenida",
          label: "Nota Obtenida",
        },
        {
          key: "calificativo",
          label: "Calificativo",
        },
        {
          key: "cantidad",
          label: "Cantidad Alumnos ",
        },
        {
          key: "porcentajeglobal",
          label: "Porcentaje %",
        },
      ],

      report: [
        {
          notaobtenida: "AB",
          calificativo: "Abandono",
          cantidad: 0,
          porcentajeeval: "",
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 1 a 7",
          calificativo: "Insatisfactorio",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 8 a 10",
          calificativo: "En proceso",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 11 a 14",
          calificativo: "Satisfactorio",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 15 a 20",
          calificativo: "Sobresaliente",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "",
          calificativo: "",
          cantidad: 0,
          porcentajeeval: 100,
          porcentajeglobal: 100,
        },
      ],
      reportfields: [
        {
          key: "notaobtenida",
          label: "Nota Obtenida",
        },
        {
          key: "cantidad",
          label: "Cantidad Alumnos ",
        },

        {
          key: "porcentajeglobal",
          label: "Porcentaje Global %",
        },
        {
          key: "porcentajeeval",
          label: "Porcentaje Evaluados %",
        },
        {
          key: "calificativo",
          label: "Calificativo",
        },
      ],
      grade: [{ maxima: 0, minima: 0, promedio: 0 }],
      gradefields: [
        {
          key: "maxima",
          label: "Nota máxima:",
        },
        {
          key: "minima",
          label: "Nota mínima:",
        },

        {
          key: "promedio",
          label: "Nota promedio:",
        },
      ],

      options: [
        { value: null, text: "Seleccione" },
        { value: "1", text: "Examen" },
        { value: "2", text: "Continua" },
        { value: "3", text: "Promedio" },
      ],

      optionsGraph1: null,
      optionsGraph2: null,
    };
  },

  methods: {
    mounted() {
      (this.optionsGraph1 = {
        type: "horizontal column",
        series: [
          {
            name: "Cantidad",
            points: [
              { x: "Abandono", y: this.stadistic[0].cantidad },
              { x: "Insatisfactorio", y: this.stadistic[1].cantidad },
              { x: "En proceso", y: this.stadistic[2].cantidad },
              { x: "Satisfactorio", y: this.stadistic[3].cantidad },
              { x: "Sobresaliente", y: this.stadistic[4].cantidad },
            ],
          },
          {
            //porcentajes
            name: "Porcentaje",
            points: [
              { x: "Abandono", y: this.stadistic[0].porcentajeglobal },
              { x: "Insatisfactorio", y: this.stadistic[1].porcentajeglobal },
              { x: "En proceso", y: this.stadistic[2].porcentajeglobal },
              { x: "Satisfactorio", y: this.stadistic[3].porcentajeglobal },
              { x: "Sobresaliente", y: this.stadistic[4].porcentajeglobal },
            ],
          },
        ],
      }),
        (this.optionsGraph2 = {
          type: "vertical column",
          series: [
            {
              name: "Porcentaje evaluados",
              points: [
                { x: "Insatisfactorio", y: this.report[1].porcentajeeval },
                { x: "En proceso", y: this.report[2].porcentajeeval },
                { x: "Satisfactorio", y: this.report[3].porcentajeeval },
                { x: "Sobresaliente", y: this.report[4].porcentajeeval },
              ],
            },
          ],
        });
    },

    fillData() {
      this.datacollection = {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ],
        datasets: [
          {
            label: "Data One",
            backgroundColor: "#f87979",
            data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11],
          },
        ],
      };
    },

    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    },

    /**
     * @description Obtener los datos del curso activo con el método get
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}/`;

      axios.get(path).then((respuesta) => {
        this.course_active = respuesta.data;

        this.getCourse();

        // Obtener los nombres de los docentes
        for (const docenteId of this.course_active.users) {
          this.getDocente(docenteId)
        }
      });
    },

 /**
        * @description Método para generar reporte
        */
        generateReport () {
            this.$refs.html2Pdf.generatePdf()
        },
        
    /**
     * @description Obtener los datos del curso asociado al curso activo con el método get
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.course_active.id_course}/`;

      axios.get(path).then((respuesta) => {
        this.course_normal = respuesta.data;
        console.log(this.evaluation)
      });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name),
          this.docentes.push(response.data)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtener los datos de los estudiantes de un curso activo con el método get
     * y los procesa para que esten en un formato tabla.
     */
    async getStudents() {
      const path =
        url +
        `process/portfolio/student/?id_course_active=${this.idCourseActive}`;
      await axios.get(path).then((response) => {
        this.students_course_active = response.data;
      });
    },

    /**
     * @description Actualiza los datos de un estudiante en la base de datos
     * @param {data} data son los datos del estudiante
     */
    async updateStudent(id, data) {
      const path = url + `process/portfolio/student/${id}/`;
      await axios.put(path, data).then(() => {});
    },

    /**
     * @description Obtener los datos del periodo académico, si no existe lo crea
     */
    async getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 3 && e.modality == this.selected
        );

        this.periodAcademic = encontrado;
      });
      await this.getStudents();
    },

    /**
     * @description Crea un periodo académico, considerando el periodo y la modalidad
     */
    /*async createPeriodAcademic() {
            let data = {
                id_course_active: this.idCourseActive,
                period: 1, // primer periodo
                modality: this.selected, // Modalidad examen, continua o promedio
            }
            const path = url + `process/portfolio/period_academic/`
            await axios.post(path, data).then(response => {
                this.periodAcademic = response.data
            })
        },*/

    
    /**
     * @description Obtener el archivo y lee los datos que serán procesados en las tablas
     * y luego serán enviados a la base de datos
     * @param {rawfile} rawfile es el archivo .xls
     */
    readerData(rawFile) {
      this.archivoSubido = true;

      return new Promise((resolve) => {
        const reader = new FileReader();
        reader.onload = (e) => {
          const data = e.target.result;
          const workbook = XLSX.read(data, { type: "array" });
          const firstSheetName = workbook.SheetNames[0];
          const worksheet = workbook.Sheets[firstSheetName];
          const results = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

          //Conversión a arreglo
          this.arregloExcel = [];

          for (let index = 8; index < results.length; index++) {
            let auxCui = results[index][0]; // Cui del estudiante

            if (auxCui && auxCui != "") {
              // Comprueba la existencia del cui
              let aux = {
                cui: auxCui,
                nota: results[index][1] ? results[index][1] : 0, // nota del estudiante
              };
              this.arregloExcel.push(aux);
            }
          }

          let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel));

          // Se envia la data al método que procesará los datos a las tablas y gráficos
          this.chargeDataToTables(arregloExcelJSON);

          // Cargar los datos a la bd
          this.chargeDataToBD(arregloExcelJSON);

          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
      });
    },

    /**
     * @description Se carga los datos a las tablas y grpaficas
     * @param {data} data son los datos que van a las tablas
     */
    chargeDataToTables(data) {
      if (data.length > 0) {
        this.archivoSubido = true;

        // vaciar las tablas
        this.item = [{}];
        this.field = [];

        // Subida de datos a la tabla 1: notas de los alumnos
        let abandonos = 0;
        let notamax = 0;
        let notamin = 20;
        let entre1y7 = 0;
        let entre8y10 = 0;
        let entre11y14 = 0;
        let entre15y20 = 0;
        let noAbandonos = 0;
        let sumatoria = 0;

        for (let index = 1; index <= data.length; index++) {
          this.field.push({
            key: `nota${index}`,
            label: `${index}`,
          });
          let notaPeriodo = data[index - 1].nota;
          this.item[0][`nota${index}`] = notaPeriodo; // nota

          //conteo de abandonos
          if (notaPeriodo == "AB") {
            abandonos++;
          } else {
            //nota máxima
            if (notaPeriodo > notamax) {
              notamax = notaPeriodo;
            }
            //nota mínima
            if (notaPeriodo < notamin) {
              notamin = notaPeriodo;
            }

            //cálculos para la tabla 3
            if (notaPeriodo >= 15) {
              entre15y20++;
            } else if (notaPeriodo >= 11) {
              entre11y14++;
            } else if (notaPeriodo >= 8) {
              entre8y10++;
            } else {
              entre1y7++;
            }
            noAbandonos++;
            sumatoria += notaPeriodo;
          }
        }

        // Subida de datos a la tabla 2: matriculados, abandono, notas máxima y mínima
        this.items[0].matriculados = data.length;
        this.items[0].abandono = abandonos;
        this.items[0].notamax = notamax;
        this.items[0].notamin = notamin;
        this.items[0].error = 0;

        // subida de datos a la tabla 3: resumen estadístico de alumnos
        if (noAbandonos == 0) {
          noAbandonos = 1; // para evitar disión entre 0
        }
        let datosTabla3 = [entre1y7, entre8y10, entre11y14, entre15y20];
        for (let i = 0; i <= 3; i++) {
          this.regular[i].frecuencia = datosTabla3[i];
          this.regular[i].porcentaje = (
            (datosTabla3[i] / noAbandonos) *
            100
          ).toFixed(2);
        }
        this.regular[4].frecuencia = noAbandonos;

        // subida de datos a la tabla 4 y la gráfica 1: resumen estadístico global
        let datosTabla4 = [
          abandonos,
          entre1y7,
          entre8y10,
          entre11y14,
          entre15y20,
        ];
        for (let i = 0; i <= 4; i++) {
          this.stadistic[i].cantidad = datosTabla4[i];
          this.stadistic[i].porcentajeglobal = Math.round(
            (datosTabla4[i] / data.length) * 100
          );
        }
        this.stadistic[5].cantidad = abandonos + noAbandonos;

        // subida de datos a la tabla 5 y la gráfica 2: reporte
        this.report[0].cantidad = abandonos;
        this.report[0].porcentajeglobal = Math.round(
          (abandonos / data.length) * 100
        );

        let datosTabla5 = [entre1y7, entre8y10, entre11y14, entre15y20];
        for (let i = 1; i <= 4; i++) {
          this.report[i].cantidad = datosTabla5[i - 1];
          this.report[i].porcentajeglobal = Math.round(
            (datosTabla5[i - 1] / data.length) * 100
          );
          this.report[i].porcentajeeval = Math.round(
            (datosTabla5[i - 1] / noAbandonos) * 100
          );
        }
        this.report[5].cantidad = abandonos + noAbandonos;

        this.mounted();

        // Última tabla de nota máxima, mínima y promedio
        this.grade[0].maxima = notamax;
        this.grade[0].minima = notamin;
        this.grade[0].promedio = (sumatoria / noAbandonos).toFixed(2);
      } else {
        this.archivoSubido = false;
      }
    },

    /**
     * @description Carga los datos de las notas del excel en la base de datos
     * @param {data} data son los datos ordenados del excel
     */
    async chargeDataToBD(data) {
      await this.getPeriodAcademic();

      //cargar notas a la base de datos
      for (const student of data) {
        let auxStudent = this.students_course_active.find(
          (st) => st.cui == student.cui
        );

        let gradeFound = false; // buscar si hay nota del alumno en este periodo académico
        auxStudent.grades_period.forEach((g) => {
          if (g.id_period_academic == this.periodAcademic.id) {
            g.grade = student.nota;
            gradeFound = true;
          }
        });

        if (!gradeFound && student.nota != "AB") {
          //si no es abandono, se registra la nota
          auxStudent.grades_period.push({
            id_period_academic: this.periodAcademic.id,
            grade: student.nota,
          });
        } else if (student.nota == "AB") {
          //si es abandono, se elimina la nota
          auxStudent.grades_period = auxStudent.grades_period.filter(
            (e) => e.id_period_academic != this.periodAcademic.id
          );
        }

        await this.updateStudent(auxStudent.id, auxStudent);
      }
      swal("Los datos se han registrado con éxito.", "", "success", {
        button: "Aceptar",
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if ((PermissionService.findPermission(Permission.View, Module.Portafolio) )) {
          // validacion de responsable en caso hubiera
          return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if( this.$store.getters.isRespPortCurso ){return true;}
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },

  },

  /**
   * @description Método que se inicia cuando el componente se crea
  */
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
    this.mounted();
  },
};
</script>

<style lang="css" scoped>
#contenidoTabla {
  font-size: 10px;
}
.firma {
  font-size: 10px;
  text-align: center;
}
.texto {
  font-size: 12px;
}
.small {
  max-width: 600px;
  margin: 150px auto;
}

.header-page {
  z-index: -9999;
}
.container-report {
  width: 100%;
  display: flex;
  justify-content: center;
}
.pdf-content {
  margin-top: 10px;
  padding-top: 10px;
  margin-left: 2.5px;
  margin-right: 2.5px;
  width: 100%;
  background: white;
  align-content: center;
}
.content {
        font-size: 10px;
}
.pdf-item {
  
  margin-top: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  width: 100%;
}
.columnChart {
  height: 200px;
  width: 70%;
  font-size: 10px;
  align-content: center;
  margin-left: 25%;
 
}
    .keep-together {
    page-break-inside: avoid;
}

  .break-before {
    page-break-before: always;
}

  .break-after {
    page-break-after: always;
}
img.cover{
  object-fit: cover;
}
li{

list-style: none;
font-size: 12px;

}

</style>
