<template>
<div>
  <b-container class="py-3">
    <b-row class="mb-4 text-left border p-3">
      <b-col class="col-lg-6">
        <p><strong>Escuela profesional:</strong> Ingeneria de Sistemas</p>
        <p><strong>Nombre del curso:</strong> {{ course_normal.name }}</p>
        <p><strong>Grupo:</strong> A</p>
        <b-row class="mb-4 ">
          <b-col class="col-lg-4">
            <p><strong>Tipo de evaluacion:</strong></p>
          </b-col>
          <b-col class="col-lg-6">
            <b-form-select
              v-model="selected"
              :options="options"
              @change="onChangeTipoEval"
            ></b-form-select>
          </b-col>
        </b-row>
      </b-col>
      <b-col class="col-lg-6">
        <p><strong>Periodo:</strong> PRIMER PERIODO</p>
        <p><strong>Docentes:</strong></p>

        <li v-for="(item, index) in nameDocentes" :key="index">
          {{ item }}
        </li>
      </b-col>
    </b-row>
    <div>
      <div class="mx-auto" style="width: 200px;">
        <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
      </div>
      <div v-if="!isLoading">
      <b-row
        v-if="selected != null && editPermission()"
        class="mb-4 text-left border p-3"
      >
        <div class="col-12">
          <h5>Notas del periodo</h5>
        </div>

        <div class="col-12">
          <div class="row">
            <div class="col-md-6">
              <b-form-file
                ref="excel-upload-input"
                accept=".xlsx"
                v-model="file2"
                class="mt-3"
                plain
                @change="handleClick"
              ></b-form-file>
              <div v-if="!archivoSubido" class="mt-3">
                Archivo seleccionado: {{ file2 ? file2.name : "" }}
              </div>
              <div v-if="archivoSubido" class="mt-3">
                Ya se ha subido un archivo.
              </div>
              <br />
            </div>
            <div class="col-md-3"></div>
            <div class="col-md-3">
              <b-button
                class="mt-2 float-right"
                variant="outline-primary"
                v-on:click="handleDownload"
              >
                Descargar formato
              </b-button>
            </div>
          </div>
        </div>

        <div v-if="archivoSubido && selected != null" class="col-12">
          <b-table
            responsive
            id="contenidoTabla"
            bordered
            :items="item"
            :fields="field"
          ></b-table>
        </div>
      </b-row>

      <b-row
        v-if="archivoSubido && selected != null"
        class="mb-4 text-left border p-3"
      >

       <div class="col-md-3">
            <b-button
              class="mt-2 float-right"
              :to= "{
                name: 'EvaluationReportPDF',
                params: { evaluation: this.options[selected].text},
                
                }"
              
            >
              Generar Reporte
            </b-button>
          </div>
        <b-col class="col-lg-6 border p-3">
          <div>
            <b-table
              id="contenidoTabla"
              small
              stacked
              bordered
              :items="items"
              :fields="fields"
            ></b-table>
          </div>

          <div class=" border p-3">
            <div class=" border p-3">
              <h5>
                Resumen estadistico de los estudiantes que llevaron regularmente
                el curso
              </h5>
            </div>
            <b-table
              id="contenidoTabla"
              small
              bordered
              :items="regular"
              :fields="regularfields"
            ></b-table>
          </div>
          <div class=" border p-3">
            <div class=" border p-3">
              <h5>Resumen estadistico global</h5>
            </div>
            <b-table
              id="contenidoTabla"
              small
              bordered
              :items="stadistic"
              :fields="stadisticfields"
            ></b-table>
          </div>
        </b-col>
        <b-col class="col-lg-6">
          <h5 style="text-align: center;">
            <strong>DESEMPEÑO ACADÉMICO</strong>
          </h5>
          <template>
            <JSCharting :options="optionsGraph1" class="columnChart"></JSCharting>
          </template>
        </b-col>
      </b-row>

      <b-row v-if="archivoSubido && selected != null">
        <b-col class="col-lg-12 border p-3">
          <div class="row">
            <div class="col-6">
              <h5 class="float-left mb-3">Reporte</h5>
            </div>
            <div class="col-6">
              <!--<b-button class="float-right mb-3" variant="primary">Descargar reporte</b-button>-->
            </div>
          </div>

          <b-table
            id="contenidoTabla"
            small
            bordered
            :items="report"
            :fields="reportfields"
          ></b-table>

          <div>
            <template>
              <JSCharting2
                :options="optionsGraph2"
                class="columnChart"
              ></JSCharting2>
            </template>
          </div>
          <br />

          <b-table
            id="contenidoTabla"
            stacked
            small
            bordered
            :items="grade"
            :fields="gradefields"
          ></b-table>
        </b-col>
      </b-row>
      </div>
    </div>
  </b-container>
  </div>
</template>

<script>
//import {LineChart} from 'vue-chartjs'
//import { Bar } from '../../../node_modules/BaseCharts';
//import { Bar } from 'vue-chartjs' ;
import JSCharting from "jscharting-vue";
import JSCharting2 from "jscharting-vue";
import axios from "axios";
import XLSX from "xlsx";
import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {
    JSCharting,
    JSCharting2,
  },
  data() {
    return {
      isLoading:false,
      idCourseActive: this.$route.params.courseId,
      course_active: null,
      course_normal: {
        name: "",
      },
      nameDocentes: [],
      students_course_active: [],
      periodAcademic: null,

      selected: null,
      archivoSubido: false,
      file2: null,
      name: "columnChart",

      // Tabla1 de notas
      item: [{}],
      field: [],

      items: [
        { matriculados: 0, abandono: 0, notamax: 0, notamin: 0, error: 0 },
      ],
      fields: [
        {
          key: "matriculados",
          label: "Estudiantes matriculados",
        },
        {
          key: "abandono",
          label: "Estudiantes en abandono",
        },
        {
          key: "notamax",
          label: "Nota maxima",
        },
        {
          key: "notamin",
          label: "Nota minima",
        },
        /*{
          key: "error",
          label: "Error",
        },*/
      ],

      regular: [
        { desde: 1, hasta: 7, frecuencia: 0, porcentaje: 0 },
        { desde: 8, hasta: 10, frecuencia: 0, porcentaje: 0 },
        { desde: 11, hasta: 14, frecuencia: 0, porcentaje: 0 },
        { desde: 15, hasta: 20, frecuencia: 0, porcentaje: 0 },
        { desde: "", hasta: "", frecuencia: 0, porcentaje: 100 },
      ],
      regularfields: [
        {
          key: "desde",
          label: "Desde",
        },
        {
          key: "hasta",
          label: "Hasta",
        },
        {
          key: "frecuencia",
          label: "Frecuencia ",
        },
        {
          key: "porcentaje",
          label: "Porcentaje %",
        },
      ],

      stadistic: [
        {
          notaobtenida: "AB",
          calificativo: "Abandono",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 1 a 7",
          calificativo: "Insatisfactorio",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 8 a 10",
          calificativo: "En proceso",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 11 a 14",
          calificativo: "Satisfactorio",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 15 a 20",
          calificativo: "Sobresaliente",
          cantidad: 0,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "",
          calificativo: "",
          cantidad: 0,
          porcentajeglobal: 100,
        },
      ],
      stadisticfields: [
        {
          key: "notaobtenida",
          label: "Nota Obtenida",
        },
        {
          key: "calificativo",
          label: "Calificativo",
        },
        {
          key: "cantidad",
          label: "Cantidad Alumnos ",
        },
        {
          key: "porcentajeglobal",
          label: "Porcentaje %",
        },
      ],

      report: [
        {
          notaobtenida: "AB",
          calificativo: "Abandono",
          cantidad: 0,
          porcentajeeval: "",
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 1 a 7",
          calificativo: "Insatisfactorio",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 8 a 10",
          calificativo: "En proceso",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 11 a 14",
          calificativo: "Satisfactorio",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "De 15 a 20",
          calificativo: "Sobresaliente",
          cantidad: 0,
          porcentajeeval: 10,
          porcentajeglobal: 0,
        },
        {
          notaobtenida: "",
          calificativo: "",
          cantidad: 0,
          porcentajeeval: 100,
          porcentajeglobal: 100,
        },
      ],
      reportfields: [
        {
          key: "notaobtenida",
          label: "Nota Obtenida",
        },
        {
          key: "cantidad",
          label: "Cantidad Alumnos ",
        },

        {
          key: "porcentajeglobal",
          label: "Porcentaje Global %",
        },
        {
          key: "porcentajeeval",
          label: "Porcentaje Evaluados %",
        },
        {
          key: "calificativo",
          label: "Calificativo",
        },
      ],
      grade: [{ maxima: 0, minima: 0, promedio: 0 }],
      gradefields: [
        {
          key: "maxima",
          label: "Nota máxima:",
        },
        {
          key: "minima",
          label: "Nota mínima:",
        },

        {
          key: "promedio",
          label: "Nota promedio:",
        },
      ],

      options: [
        { value: null, text: "Seleccione" },
        { value: "1", text: "Examen" },
        { value: "2", text: "Continua" },
        { value: "3", text: "Promedio" },
      ],

      optionsGraph1: null,
      optionsGraph2: null,
    };
  },

  methods: {
    mounted() {
      (this.optionsGraph1 = {
        type: "horizontal column",
        series: [
          {
            name: "Cantidad",
            points: [
              { x: "Abandono", y: this.stadistic[0].cantidad },
              { x: "Insatisfactorio", y: this.stadistic[1].cantidad },
              { x: "En proceso", y: this.stadistic[2].cantidad },
              { x: "Satisfactorio", y: this.stadistic[3].cantidad },
              { x: "Sobresaliente", y: this.stadistic[4].cantidad },
            ],
          },
          {
            //porcentajes
            name: "Porcentaje",
            points: [
              { x: "Abandono", y: this.stadistic[0].porcentajeglobal },
              { x: "Insatisfactorio", y: this.stadistic[1].porcentajeglobal },
              { x: "En proceso", y: this.stadistic[2].porcentajeglobal },
              { x: "Satisfactorio", y: this.stadistic[3].porcentajeglobal },
              { x: "Sobresaliente", y: this.stadistic[4].porcentajeglobal },
            ],
          },
        ],
      }),
        (this.optionsGraph2 = {
          type: "vertical column",
          series: [
            {
              name: "Porcentaje evaluados",
              points: [
                { x: "Insatisfactorio", y: this.report[1].porcentajeeval },
                { x: "En proceso", y: this.report[2].porcentajeeval },
                { x: "Satisfactorio", y: this.report[3].porcentajeeval },
                { x: "Sobresaliente", y: this.report[4].porcentajeeval },
              ],
            },
          ],
        });
    },

    fillData() {
      this.datacollection = {
        labels: [
          "January",
          "February",
          "March",
          "April",
          "May",
          "June",
          "July",
          "August",
          "September",
          "October",
          "November",
          "December",
        ],
        datasets: [
          {
            label: "Data One",
            backgroundColor: "#f87979",
            data: [40, 20, 12, 39, 10, 40, 39, 80, 40, 20, 12, 11],
          },
        ],
      };
    },

    getRandomInt() {
      return Math.floor(Math.random() * (50 - 5 + 1)) + 5;
    },

    /**
     * @description Obtener los datos del curso activo con el método get
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}/`;

      axios.get(path).then((respuesta) => {
        this.course_active = respuesta.data;

        this.getCourse();

        // Obtener los nombres de los docentes
        for (const docenteId of this.course_active.users) {
          this.getDocente(docenteId)
        }
      });
    },

    /**
     * @description Obtener los datos del curso asociado al curso activo con el método get
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.course_active.id_course}/`;

      axios.get(path).then((respuesta) => {
        this.course_normal = respuesta.data;
      });
    },

    /**
     * @description Se obtiene el nombre completo de un docente en específico
     */
    getDocente(docenteId) {
      const path = url + `user/user/${docenteId}`;

      axios
        .get(path)
        .then((response) => {
          this.nameDocentes.push(response.data.first_name + " " + response.data.last_name)
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
     * @description Obtener los datos de los estudiantes de un curso activo con el método get
     * y los procesa para que esten en un formato tabla.
     */
    async getStudents() {
      const path =
        url +
        `process/portfolio/student/?id_course_active=${this.idCourseActive}`;
      await axios.get(path).then((response) => {
        this.students_course_active = response.data;
      });
    },

    /**
     * @description Actualiza los datos de un estudiante en la base de datos
     * @param {data} data son los datos del estudiante
     */
    async updateStudent(id, data) {
      const path = url + `process/portfolio/student/${id}/`;
      await axios.put(path, data).then(() => {});
    },

    /**
     * @description Obtener los datos del periodo académico, si no existe lo crea
     */
    async getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 1 && e.modality == this.selected,
          this.isLoading=true
        );

        this.periodAcademic = encontrado;
      });
      await this.getStudents();
    },

    /**
     * @description Crea un periodo académico, considerando el periodo y la modalidad
     */
    /*async createPeriodAcademic() {
            let data = {
                id_course_active: this.idCourseActive,
                period: 1, // primer periodo
                modality: this.selected, // Modalidad examen, continua o promedio
            }
            const path = url + `process/portfolio/period_academic/`
            await axios.post(path, data).then(response => {
                this.periodAcademic = response.data
            })
        },*/

    /**
     * @description Realiza las acciones cuando el select de tipo de evaluación cambia
     */
    async onChangeTipoEval() {
      this.file2 = null;

      //trae el periodo académico considerando periodo 1 y modalidad
      if (this.selected) {
        await this.getPeriodAcademic();

        // Tranformar las notas de los estudiantes al formato tabla
        this.arregloExcel = [];

        this.students_course_active.forEach((student) => {
          let nota = student.grades_period.find(
            (g) => g.id_period_academic == this.periodAcademic.id
          );

          let aux = {
            cui: student.cui,
            nota: null,
          };
          if (nota) {
            aux.nota = nota.grade;
          } else {
            aux.nota = "AB";
          }
          this.arregloExcel.push(aux);
        });

        //Si todos los AB es porque no se ha subido el archivo
        let prueba = this.arregloExcel.filter((e) => e.nota != "AB");
        if (prueba.length == 0) {
          this.arregloExcel = [];
        }

        let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel));

        // Se envia la data al método que procesará los datos a las tablas y gráficos
        this.chargeDataToTables(arregloExcelJSON);
      }
    },

    /**
     * @description Proporciona una plantilla en excel para colocar las notas de los estudiantes
     * @return {file} retorma el archivo ExamenEntrada.xlsx
     */
    handleDownload() {
      // Se crea un archivo excel
      var wb = XLSX.utils.book_new();

      wb.Props = {
        Title: "Plantilla de alumnos",
        Subject: "Alumnos",
      };
      // Se identifica el tipo de evaluación o modalidad
      let tipoEvaluación = this.options.find((e) => e.value == this.selected)
        .text;

      var ws_data = [
        [],
        ["", "FACULTAD DE INGENIERÍA D EPRODUCCIÓN Y SERVICIOS"],
        ["", "ESCUELA PROFESIONAL DE INGENIERÍA DE SISTEMAS"],
        [],
        ["", "CALCULO DEL DESEMPEÑO ACADÉMICO"],
        ["", "SEMESTRE 2020A"],
        ["", "", "", "Periodo:", "PRIMER PERIODO"],
        ["", "", "", "Tipo de Evaluación:", `${tipoEvaluación}`],
        [
          "CUI",
          "Notas del Periodo",
          "",
          "Nombre del Curso:",
          `${this.course_normal.name}`,
        ],
      ];

      // Carga de estudiantes al excel
      this.students_course_active.forEach((student) => {
        ws_data.push([student.cui]);
      });

      var ws = XLSX.utils.aoa_to_sheet(ws_data);

      XLSX.utils.book_append_sheet(wb, ws, "Cálculo");

      XLSX.writeFile(wb, "PlantillaNotasPeriodo1.xlsx");
    },

    /**
     * @description Obtener el archivo .xls cargado por el usuario
     * @param {e} e es el evento que se recibe cuand el usuario carga un archivo
     */
    handleClick(e) {
      const files = e.target.files;
      const rawFile = files[0];
      if (!rawFile) return;
      this.upload(rawFile);
    },

    /**
     * @description Obtiene el archivo que ha sido subido por el usuario y lo validad
     * @param {rawfile} rawfile es el archivo subido
     */
    upload(rawFile) {
      this.$refs["excel-upload-input"].value = null;
      /*if (!this.beforeUpload) {
                this.readerData(rawFile)
                return
            }
            const before = this.beforeUpload(rawFile)
            if (before) {
                this.readerData(rawFile)
            }*/
      this.readerData(rawFile);
    },

    /**
     * @description Obtener el archivo y lee los datos que serán procesados en las tablas
     * y luego serán enviados a la base de datos
     * @param {rawfile} rawfile es el archivo .xls
     */
    readerData(rawFile) {
      this.archivoSubido = true;
      this.isLoading=true

      return new Promise((resolve) => {
        const reader = new FileReader();
        reader.onload = (e) => {
          const data = e.target.result;
          const workbook = XLSX.read(data, { type: "array" });
          const firstSheetName = workbook.SheetNames[0];
          const worksheet = workbook.Sheets[firstSheetName];
          const results = XLSX.utils.sheet_to_json(worksheet, { header: 1 });

          //Conversión a arreglo
          this.arregloExcel = [];

          for (let index = 8; index < results.length; index++) {
            let auxCui = results[index][0]; // Cui del estudiante

            if (auxCui && auxCui != "") {
              // Comprueba la existencia del cui
              let aux = {
                cui: auxCui,
                nota: results[index][1] ? results[index][1] : 0, // nota del estudiante
              };
              this.arregloExcel.push(aux);
            }
          }

          let arregloExcelJSON = JSON.parse(JSON.stringify(this.arregloExcel));

          // Se envia la data al método que procesará los datos a las tablas y gráficos
          this.chargeDataToTables(arregloExcelJSON);

          // Cargar los datos a la bd
          this.chargeDataToBD(arregloExcelJSON);

          resolve();
        };
        reader.readAsArrayBuffer(rawFile);
      });
    },

    /**
     * @description Se carga los datos a las tablas y grpaficas
     * @param {data} data son los datos que van a las tablas
     */
    chargeDataToTables(data) {
      if (data.length > 0) {
        this.archivoSubido = true;

        // vaciar las tablas
        this.item = [{}];
        this.field = [];

        // Subida de datos a la tabla 1: notas de los alumnos
        let abandonos = 0;
        let notamax = 0;
        let notamin = 20;
        let entre1y7 = 0;
        let entre8y10 = 0;
        let entre11y14 = 0;
        let entre15y20 = 0;
        let noAbandonos = 0;
        let sumatoria = 0;

        for (let index = 1; index <= data.length; index++) {
          this.field.push({
            key: `nota${index}`,
            label: `${index}`,
          });
          let notaPeriodo = data[index - 1].nota;
          this.item[0][`nota${index}`] = notaPeriodo; // nota

          //conteo de abandonos
          if (notaPeriodo == "AB") {
            abandonos++;
          } else {
            //nota máxima
            if (notaPeriodo > notamax) {
              notamax = notaPeriodo;
            }
            //nota mínima
            if (notaPeriodo < notamin) {
              notamin = notaPeriodo;
            }

            //cálculos para la tabla 3
            if (notaPeriodo >= 15) {
              entre15y20++;
            } else if (notaPeriodo >= 11) {
              entre11y14++;
            } else if (notaPeriodo >= 8) {
              entre8y10++;
            } else {
              entre1y7++;
            }
            noAbandonos++;
            sumatoria += notaPeriodo;
          }
        }

        // Subida de datos a la tabla 2: matriculados, abandono, notas máxima y mínima
        this.items[0].matriculados = data.length;
        this.items[0].abandono = abandonos;
        this.items[0].notamax = notamax;
        this.items[0].notamin = notamin;
        this.items[0].error = 0;

        // subida de datos a la tabla 3: resumen estadístico de alumnos
        if (noAbandonos == 0) {
          noAbandonos = 1; // para evitar disión entre 0
        }
        let datosTabla3 = [entre1y7, entre8y10, entre11y14, entre15y20];
        for (let i = 0; i <= 3; i++) {
          this.regular[i].frecuencia = datosTabla3[i];
          this.regular[i].porcentaje = (
            (datosTabla3[i] / noAbandonos) *
            100
          ).toFixed(2);
        }
        this.regular[4].frecuencia = noAbandonos;

        // subida de datos a la tabla 4 y la gráfica 1: resumen estadístico global
        let datosTabla4 = [
          abandonos,
          entre1y7,
          entre8y10,
          entre11y14,
          entre15y20,
        ];
        for (let i = 0; i <= 4; i++) {
          this.stadistic[i].cantidad = datosTabla4[i];
          this.stadistic[i].porcentajeglobal = Math.round(
            (datosTabla4[i] / data.length) * 100
          );
        }
        this.stadistic[5].cantidad = abandonos + noAbandonos;

        // subida de datos a la tabla 5 y la gráfica 2: reporte
        this.report[0].cantidad = abandonos;
        this.report[0].porcentajeglobal = Math.round(
          (abandonos / data.length) * 100
        );

        let datosTabla5 = [entre1y7, entre8y10, entre11y14, entre15y20];
        for (let i = 1; i <= 4; i++) {
          this.report[i].cantidad = datosTabla5[i - 1];
          this.report[i].porcentajeglobal = Math.round(
            (datosTabla5[i - 1] / data.length) * 100
          );
          this.report[i].porcentajeeval = Math.round(
            (datosTabla5[i - 1] / noAbandonos) * 100
          );
        }
        this.report[5].cantidad = abandonos + noAbandonos;

        this.mounted();

        // Última tabla de nota máxima, mínima y promedio
        this.grade[0].maxima = notamax;
        this.grade[0].minima = notamin;
        this.grade[0].promedio = (sumatoria / noAbandonos).toFixed(2);
      } else {
        this.archivoSubido = false;
      }
      this.isLoading=false
    },

    /**
     * @description Carga los datos de las notas del excel en la base de datos
     * @param {data} data son los datos ordenados del excel
     */
    async chargeDataToBD(data) {
      this.isLoading=true
      await this.getPeriodAcademic();

      //cargar notas a la base de datos
      for (const student of data) {
        let auxStudent = this.students_course_active.find(
          (st) => st.cui == student.cui
        );

        let gradeFound = false; // buscar si hay nota del alumno en este periodo académico
        auxStudent.grades_period.forEach((g) => {
          if (g.id_period_academic == this.periodAcademic.id) {
            g.grade = student.nota;
            gradeFound = true;
          }
        });

        if (!gradeFound && student.nota != "AB") {
          //si no es abandono, se registra la nota
          auxStudent.grades_period.push({
            id_period_academic: this.periodAcademic.id,
            grade: student.nota,
          });
        } else if (student.nota == "AB") {
          //si es abandono, se elimina la nota
          auxStudent.grades_period = auxStudent.grades_period.filter(
            (e) => e.id_period_academic != this.periodAcademic.id
          );
        }

        await this.updateStudent(auxStudent.id, auxStudent);
      }
      this.isLoading=false
      swal("Los datos se han registrado con éxito.", "", "success", {
        button: "Aceptar",
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if ((PermissionService.findPermission(Permission.View, Module.Portafolio) )) {
          // validacion de responsable en caso hubiera
          return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if( this.$store.getters.isRespPortCurso ){return true;}
      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if (PermissionService.findPermission(Permission.Create, Module.Portafolio)){
        return true;
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;

    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if (PermissionService.findPermission(Permission.Edit, Module.Portafolio)){
        return true;
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }
      if( this.$store.getters.isRespPortCurso ){return true;}
      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      
      return false;
    },
  },

  /**
   * @description Método que se inicia cuando el componente se crea
  */
  created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
    this.mounted();
  },
};
</script>

<style lang="css" scoped>
#contenidoTabla {
  font-size: 12px;
}
.small {
  max-width: 600px;
  margin: 150px auto;
}
</style>
