<template lang="html">
<div>
  <div class="mx-auto" style="width: 200px;">
    <bounce-loader :loading="isLoading" :color="'#2F3D57'" :size="100" />
  </div>
  <b-container v-if="!isLoading">
    <b-row class="mb-4 text-left border p-3">
      <b-col cols="12">
        <p><strong>Curso: </strong>{{ curso.name }}</p>
      </b-col>
    </b-row>

    

    
<div class="accordion px-4" role="tablist">
  <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1 accordion " role="tab">
      <b-button
        block
        v-b-toggle.accordion-1
        variant="light"
        class="text-left color-header border-0"
      ><h4>1. ENUNCIADO</h4>
      </b-button>
            <!--Abet 1-->
    </b-card-header>
    <b-collapse
      id="accordion-1"
      visible
      accordion="my-accordion"
      role="tabpanel"
    >
      <b-card-body class="text-left">
        <b-row class="mb-4 text-left border p-3">
          <b-col cols="9" v-if="createPermission()">
            <b-form-file
              v-model="selectedFiles"
              :state="Boolean(selectedFiles)"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUpload"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
            >
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>
              <li v-for="lista of selectedFiles" :key="lista">
                {{ lista.name }}
              </li>
            </div>
          </b-col>
          <b-col class="2">
            <b-button
              variant="primary"
              v-on:click="submitFiles(1)"
              v-if="createPermission()"
            >Subir</b-button>
          </b-col>
      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document"
            :fields="labels"
          >
            <template v-slot:cell(name)="data">
              <a :href="`${data.item.url}`">
                {{ data.item.name }}
              </a>
            </template>
            <template v-slot:cell(acc)="document">
              <b-container>
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document.item.id, 1)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
              </b-container>
            </template>
          </b-table>
        </div>
      </div>
      <br />


      <template>
        <div>
          <b-table hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
              
            </b-card-body>
          </b-collapse>
        </b-card>
        <!--Abet 2-->
        <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1 accordion " role="tab">
      <b-button
        block
        v-b-toggle.accordion-2
        variant="light"
        class="text-left color-header border-0"
      ><h4>2. MEJOR NOTA</h4>
      </b-button>
            <!--Abet 1-->
    </b-card-header>
    <b-collapse
      id="accordion-2"
      visible
      accordion="my-accordion"
      role="tabpanel"
    >
      <b-card-body class="text-left">
        <b-row class="mb-4 text-left border p-3">
          <b-col cols="9" v-if="createPermission()">
            <b-form-file
              v-model="selectedFilesSecond"
              :state="Boolean(selectedFilesSecond)"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUploadSecond"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
            >
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>
              <li v-for="lista2 of selectedFilesSecond" :key="lista2">
                {{ lista2.name }}
              </li>
            </div>
          </b-col>
          <b-col class="2">
            <b-button
              variant="primary"
              v-on:click="submitFiles(2)"
              v-if="createPermission()"
            >Subir</b-button>
          </b-col>
      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document2"
            :fields="labels"
          >
            <template v-slot:cell(name)="data">
              <a :href="`${data.item.url}`">
                {{ data.item.name }}
              </a>
            </template>
            <template v-slot:cell(acc)="document2">
              <b-container>
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document2.item.id, 2)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
              </b-container>
            </template>
          </b-table>
        </div>
      </div>
      <br />


      <template>
        <div>
          <b-table hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
              
            </b-card-body>
          </b-collapse>
        </b-card>





        <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1 accordion " role="tab">
      <b-button
        block
        v-b-toggle.accordion-3
        variant="light"
        class="text-left color-header border-0"
      ><h4>3. MINIMA NOTA APROBATORIA</h4>
      </b-button>
            <!--Abet 1-->
    </b-card-header>
    <b-collapse
      id="accordion-3"
      visible
      accordion="my-accordion"
      role="tabpanel"
    >
      <b-card-body class="text-left">
        <b-row class="mb-4 text-left border p-3">
          <b-col cols="9" v-if="createPermission()">
            <b-form-file
              v-model="selectedFilesThird"
              :state="Boolean(selectedFilesThird)"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUploadThird"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
            >
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>
              <li v-for="lista3 of selectedFilesThird" :key="lista3">
                {{ lista3.name }}
              </li>
            </div>
          </b-col>
          <b-col class="2">
            <b-button
              variant="primary"
              v-on:click="submitFiles(3)"
              v-if="createPermission()"
            >Subir</b-button>
          </b-col>
      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document3"
            :fields="labels"
          >
            <template v-slot:cell(name)="data">
              <a :href="`${data.item.url}`">
                {{ data.item.name }}
              </a>
            </template>
            <template v-slot:cell(acc)="document3">
              <b-container>
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document3.item.id, 3)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
              </b-container>
            </template>
          </b-table>
        </div>
      </div>
      <br />


      <template>
        <div>
          <b-table hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
              
            </b-card-body>
          </b-collapse>
        </b-card>



        <b-card no-body class="mb-1">
    <b-card-header header-tag="header" class="p-1 accordion " role="tab">
      <b-button
        block
        v-b-toggle.accordion-4
        variant="light"
        class="text-left color-header border-0"
      ><h4>4. SOLUCION</h4>
      </b-button>
            <!--Abet 1-->
    </b-card-header>
    <b-collapse
      id="accordion-4"
      visible
      accordion="my-accordion"
      role="tabpanel"
    >
      <b-card-body class="text-left">
        <b-row class="mb-4 text-left border p-3">
          <b-col cols="9" v-if="createPermission()">
            <b-form-file
              v-model="selectedFilesForth"
              :state="Boolean(selectedFilesForth)"
              accept=".pdf, .doc, .docx"
              multiple
              @change="handleFilesUploadForth"
              placeholder="Seleccione un archivo or  arrastrelo aquí..."
              drop-placeholder="Arrastrelo aquí..."
            >
            </b-form-file>
            <div class="mt-3">
              <strong>Archivos Seleccionados:</strong>
              <li v-for="lista4 of selectedFilesForth" :key="lista4">
                {{ lista4.name }}
              </li>
            </div>
          </b-col>
          <b-col class="2">
            <b-button
              variant="primary"
              v-on:click="submitFiles(4)"
              v-if="createPermission()"
            >Subir</b-button>
          </b-col>
      <div class="mt-3 col-12">
        <strong>Archivos Cargados:</strong>
        <div class="mt-3">
          <b-table
            class="col-12"
            hover
            show-empty
            stacked="md"
            :items="document4"
            :fields="labels"
          >
            <template v-slot:cell(name)="data">
              <a :href="`${data.item.url}`">
                {{ data.item.name }}
              </a>
            </template>
            <template v-slot:cell(acc)="document4">
              <b-container>
                <b-button
                  variant="danger"
                  class="d-inline-block"
                  @click="eliminateFiles(document4.item.id, 4)"
                  v-if="deletePermission()"
                >
                  <b-icon icon="trash"></b-icon>
                  Eliminar
                </b-button>
              </b-container>
            </template>
          </b-table>
        </div>
      </div>
      <br />


      <template>
        <div>
          <b-table hover :items="items"></b-table>
        </div>
      </template>
    </b-row>
              
            </b-card-body>
          </b-collapse>
        </b-card>
        </div>

    
  </b-container>
  </div>
</template>

<script>
import axios from "axios";
//import swal from "sweetalert";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;

export default {
  components: {},
  data() {
    return {
      isLoading:true,
      idCourseActive: this.$route.params.courseId,
      cursoActive: null,
      curso: { name: "" },
      periodAcademic: null,
      periodAcademicSecond: null,
      periodAcademicThird: null,
      periodAcademicForth: null,
      document: [],
      documents: [],
      document2: [],
      documents2: [],
      document3: [],
      documents3: [],
      document4: [],
      documents4: [],
      labels: [
        {
          key: "name",
          label: "Nombre de documento",
          sortable: true,
        },
        {
          key: "acc",
          label: "Accion",
        },
      ],

      currentFile: undefined,
      progress: 0,
      message: "",
      fileInfos: [],
      items: [],
      selectedFiles: "",
      selectedFilesSecond: "",
      selectedFilesThird: "",
      selectedFilesForth: "",
      
      nombres: [],
    };
  },

  methods: {
    /**
     * @description esto es para seleccionar los archivos y tener la información
     */
    handleFilesUpload(event) {
      this.selectedFiles = event.target.files;

      for (var i = 0; i < this.selectedFiles.length; i++) {
        this.fileInfos.push(this.selectedFiles[i]);
      }

      console.log(this.fileInfos);
    },

    handleFilesUploadSecond(event) {
      this.selectedFilesSecond = event.target.files;

      for (var i = 0; i < this.selectedFilesSecond.length; i++) {
        this.fileInfos.push(this.selectedFilesSecond[i]);
      }

      console.log(this.fileInfos);
    },

    handleFilesUploadThird(event) {
      this.selectedFilesThird = event.target.files;

      for (var i = 0; i < this.selectedFilesThird.length; i++) {
        this.fileInfos.push(this.selectedFilesThird[i]);
      }

      console.log(this.fileInfos);
    },

    handleFilesUploadForth(event) {
      this.selectedFilesForth = event.target.files;

      for (var i = 0; i < this.selectedFilesForth.length; i++) {
        this.fileInfos.push(this.selectedFilesForth[i]);
      }

      console.log(this.fileInfos);
    },

    submitFiles(nota) {
      if(nota==1){
        for (var i = 0; i < this.selectedFiles.length; i++) {
          let formData = new FormData();
          formData.append("id_period_academic", this.periodAcademic.id);
          formData.append("doc_annexed", this.selectedFiles[i]);
        
          this.createdEvidenceDocument(formData,1);
        }
      }else if(nota==2){
        for (var j = 0; j < this.selectedFilesSecond.length; j++) {
          let formData2 = new FormData();
          formData2.append("id_period_academic", this.periodAcademicSecond.id);
          formData2.append("doc_annexed", this.selectedFilesSecond[j]);
        
          this.createdEvidenceDocument(formData2,2);
        }
      }else if(nota==3){
        for (var k = 0; k < this.selectedFilesThird.length; k++) {
          let formData3 = new FormData();
          formData3.append("id_period_academic", this.periodAcademicThird.id);
          formData3.append("doc_annexed", this.selectedFilesThird[k]);
        
          this.createdEvidenceDocument(formData3,3);
        }
      }else if(nota==4){
        for (var l = 0; l < this.selectedFilesForth.length; l++) {
          let formData4 = new FormData();
          formData4.append("id_period_academic", this.periodAcademicForth.id);
          formData4.append("doc_annexed", this.selectedFilesForth[l]);
        
          this.createdEvidenceDocument(formData4,4);
        }
      } 
      
    },
    eliminateFiles(id, note) {
      console.log(id);
      this.deleteCreatedEvidenceDocument(id, note);
    },

    /**
     * @description Obtener los datos del periodo académico, si no existe lo crea
     */
    async getPeriodAcademic() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 1 && e.modality == 1 && e.note == 1
        );

        this.periodAcademic = encontrado;
      });
      this.getCreatedEvidenceDocument(1);
    },

    /**
     * @description Obtener los datos del periodo académico de mejor nota, si no existe lo crea
     */
    async getPeriodAcademicSecond() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 1 && e.modality == 1 && e.note == 2
        );

        this.periodAcademicSecond = encontrado;
      });
      this.getCreatedEvidenceDocument(2);
    },

    /**
     * @description Obtener los datos del periodo académico de minima nota aprobatoria, si no existe lo crea
     */
    async getPeriodAcademicThird() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 1 && e.modality == 1 && e.note == 3
        );

        this.periodAcademicThird = encontrado;
      });
      this.getCreatedEvidenceDocument(3);
    },

    /**
     * @description Obtener los datos del periodo académico de solucion, si no existe lo crea
     */
    async getPeriodAcademicForth() {
      const path =
        url +
        `process/portfolio/period_academic/?id_course_active=${this.idCourseActive}`;

      await axios.get(path).then(async (response) => {
        let encontrado = response.data.find(
          (e) => e.period == 1 && e.modality == 1 && e.note == 4
        );

        this.periodAcademicForth = encontrado;
      });
      this.getCreatedEvidenceDocument(4);
    },

    /**
     * @description Agregar archivos cargados a la base de datos
     */
    createdEvidenceDocument(data, note) {
      const path = url + `process/portfolio/evidence_document/`;
      if(note==1){
        axios
        .post(path, data, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
          this.getCreatedEvidenceDocument(1);
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });
      }else if(note==2){
        axios
        .post(path, data, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
          this.getCreatedEvidenceDocument(2);
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });
      }else if(note==3){
        axios
        .post(path, data, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
          this.getCreatedEvidenceDocument(3);
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });
      }else if(note==4){
        axios
        .post(path, data, {
          header: {
            "Content-Type": "multipart/form-data",
            emulateJSON: true,
          },
        })
        .then((response) => {
          console.log(response);
          this.getCreatedEvidenceDocument(4);
        })
        .catch((error) => {
          console.log("error en la subida", error);
        });
      }
      
    },
    /**
     * @description Listando archivos cargados de la base de datos
     */
    getCreatedEvidenceDocument(note) {
      if(note==1){
        const path =
        url +
        `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademic.id}`;
      axios.get(path).then((response) => {
        console.log("hola");
        console.log(response.data);
        this.documents = response.data;
        this.document = [];

        //Mostrando los documentos ya cargados en una tabla 58
        for (var i = 0; i < this.documents.length; i++) {
          this.document.push({
            name: this.documents[i].doc_annexed_filename,
            id: this.documents[i].id,
            url: this.documents[i].doc_annexed,
          });
        }
        this.isLoading=false
      });
      }else if(note==2){
        const path =
        url +
        `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademicSecond.id}`;
      axios.get(path).then((response) => {
        console.log("hola");
        console.log(response.data);
        this.documents2 = response.data;
        this.document2 = [];

        //Mostrando los documentos ya cargados en una tabla 58
        for (var i = 0; i < this.documents2.length; i++) {
          this.document2.push({
            name: this.documents2[i].doc_annexed_filename,
            id: this.documents2[i].id,
            url: this.documents2[i].doc_annexed,
          });
        }
        this.isLoading=false
      });
      } else if(note==3){
        const path =
        url +
        `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademicThird.id}`;
      axios.get(path).then((response) => {
        console.log("hola");
        console.log(response.data);
        this.documents3 = response.data;
        this.document3 = [];

        //Mostrando los documentos ya cargados en una tabla 58
        for (var i = 0; i < this.documents3.length; i++) {
          this.document3.push({
            name: this.documents3[i].doc_annexed_filename,
            id: this.documents3[i].id,
            url: this.documents3[i].doc_annexed,
          });
        }
        this.isLoading=false
      });
      }else if(note==4){
        const path =
        url +
        `process/portfolio/evidence_document/?id_period_academic=${this.periodAcademicForth.id}`;
      axios.get(path).then((response) => {
        console.log("hola");
        console.log(response.data);
        this.documents4 = response.data;
        this.document4 = [];

        //Mostrando los documentos ya cargados en una tabla 58
        for (var i = 0; i < this.documents4.length; i++) {
          this.document4.push({
            name: this.documents4[i].doc_annexed_filename,
            id: this.documents4[i].id,
            url: this.documents4[i].doc_annexed,
          });
        }
        this.isLoading=false
      });
      }
      
    },

    /**
     * @description Eliminar archivo de la base de datos  por el id
     */
    deleteCreatedEvidenceDocument(id, note) {
      const path = url + `process/portfolio/evidence_document/${id}/`;
      axios.delete(path).then(() => {
        console.log("Se elimino");
        this.getCreatedEvidenceDocument(note);
        
      });
    },

    /**
     * @description Se obtiene el curso activo con el método get
     * @return {Object} cursoActive, el curso activo
     */
    getCourseActive() {
      const path =
        url + `process/portfolio/course_active/${this.idCourseActive}`;
      axios.get(path).then((response) => {
        this.cursoActive = response.data;
        this.getCourse();
      });
    },

    /**
     * @description Se obtiene el curso general con el método get
     * @return {Object} curso, el curso general
     */
    getCourse() {
      const path =
        url + `process/portfolio/course/${this.cursoActive.id_course}`;
      axios.get(path).then((response) => {
        this.curso = response.data;
      });
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }

      if (
        PermissionService.findPermission(Permission.View, Module.Portafolio)
      ) {
        // validacion de responsable en caso hubiera
        return true;
      }

      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }

      if (this.$store.getters.isColabPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Create, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      return false;

      //return (PermissionService.findPermission(Permission.Create, Module.Portafolio));
    },

    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (
        PermissionService.findPermission(Permission.Delete, Module.Portafolio)
      ) {
        return true;
      }
      if (this.$store.getters.isResProceso) {
        return true;
      }
      if (this.$store.getters.isRespPortCurso) {
        return true;
      }
      if (this.$store.getters.isRespCursoAct) {
        return true;
      }
      return false;
      //return (PermissionService.findPermission(Permission.Delete, Module.Portafolio));
    },
  },

  async created() {
    PermissionService.setUserActive();
    this.viewPermission();

    this.getCourseActive();
    await this.getPeriodAcademic();
    this.getPeriodAcademicSecond();
    this.getPeriodAcademicThird();
    this.getPeriodAcademicForth();

  },
};
</script>

<style lang="css" scoped></style>
