<template lang="html">
  <b-container>
    <b-modal
      id="delete-phase-modal"
      ref="modal"
      title="Eliminar Fase"
      @ok="ok"
      ok-title="Si"
      cancel-title="No"
    >
      ¿Está seguro que quiere eliminar la fase: {{ this.PhaseInfo.name }} ?
    </b-modal>
  </b-container>
</template>

<script>
import axios from "axios";
const url = process.env.VUE_APP_RUTA_API;
import swal from "sweetalert";

export default {
  props: ["PhaseInfo"],
  data() {
    return {};
  },
  methods: {
    ok(evt) {
      evt.preventDefault();
      this.deletePhase();
      this.$nextTick(() => {
        this.$bvModal.hide("delete-phase-modal");
      });
    },
    /**
     * @description Elimina de manera fisica una fase especifica
     */
    deletePhase() {
      const path = url + `process/phase/${this.PhaseInfo.id}`;
      axios.delete(path);
      swal("Fase Eliminado Exitosamente!", "", "success", {
        button: "Aceptar",
      }).then(() => {
        this.$router.push("/process/" + this.PhaseInfo.id_process + "/detail");
        location.reload();
      });
      
    },
  },
};
</script>

<style></style>
