<template lang="html">
  <div class="container" id="custom-css">
    <b-row class="py-4">
      <div class="col-12 text-left">
        <b-button
          :to="{
            name: 'DetailProcess',
            params: { processId: phase.id_process, userNormal: userNormal },
          }"
        >
          <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás</b-button
        >
      </div>
      <div class="col-12">
        <h3 class="text-center my-0 ">Detalles de la fase</h3>
      </div>
    </b-row>
    <b-card>
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-3">
            <b-col sm="3">Nombre:</b-col>
            <b-col sm="9">{{ phase.name }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Descripción:</b-col>
            <b-col sm="9">{{ phase.description }}</b-col>
          </b-row>
          <b-row class="text-left mb-3">
            <b-col sm="3">Estado:</b-col>
            <b-col sm="9">{{ this.formatterState() }}</b-col>
            </b-row>
          <!--
          <b-row class="text-left mb-3">
            <b-col sm="3">Criterios</b-col>
            <b-col sm="7">
              <b-button
                v-b-modal.create-criteria-modal
                variant="outline-primary"
              >
                <b-icon icon="plus"></b-icon>Crear Criterio
              </b-button>
              <NewCriteria :PhaseID="phase.id"></NewCriteria>
            </b-col>
          </b-row>-->
          <b-row class="text-left mb-3">
            <b-col>
              <b-card>
                <ListCriteria :PhaseID="phase.id"></ListCriteria>
              </b-card>
            </b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-row class="py-4">
      <div class="col-12">
        <div class="text-right float-right ml-3" v-if="editPermission()">
          <b-button
            variant="secondary"
            :to="{ name: 'EditPhase', params: { phaseId: phase.id } }"
          >
            <b-icon icon="pencil-square"></b-icon>
            Editar Fase
          </b-button>
        </div>
        <div class="text-center float-right ml-3">
          <b-button
            v-if="this.phase.status"
            v-b-modal.deactivate-phase-modal
            variant="warning"
          >
            <b-icon icon="x-circle"></b-icon>
            Desactivar
          </b-button>
          <DeactivatePhase :PhaseInfo="phase"></DeactivatePhase>
        </div>
        <div class="text-center float-right ml-3">
          <b-button
            v-if="!this.phase.status"
            v-b-modal.activate-phase-modal
            variant="success"
          >
            <b-icon icon="check-circle"></b-icon>
            Activar
          </b-button>
          <ActivatePhase :PhaseInfo="phase"></ActivatePhase>
        </div>

        <div class="text-center float-right ml-3" v-if="deletePermission()">
          <b-button v-b-modal.delete-phase-modal variant="danger">
            <b-icon icon="trash"></b-icon>
            Eliminar
          </b-button>
          <DeletePhase :PhaseInfo="phase"></DeletePhase>
        </div>
      </div>
    </b-row>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
//import NewCriteria from "@/components/Criteria/NewCriteria";
import ListCriteria from "@/components/Criteria/ListCriteria";
import DeletePhase from "@/components/Phase/DeletePhase";
import DeactivatePhase from "@/components/Phase/DeactivatePhase";
import ActivatePhase from "@/components/Phase/ActivatePhase";
import AuthService from "@/services/AuthService.js";

const url = process.env.VUE_APP_RUTA_API;
export default {
  components: {
    //NewCriteria,
    ListCriteria,
    DeletePhase,
    DeactivatePhase,
    ActivatePhase,
  },
  data() {
    return {
      phaseId: this.$route.params.phaseId,
      phase: [],
      isrespPro: false,

      userActive: [],
      userNormal: false,
    };
  },
  methods: {
    /**
     * @description Obtiene una fase especifica segun su id
     * @return {phase}
     */
    getPhase() {
      const path = url + `process/phase/${this.phaseId}`;
      axios
        .get(path)
        .then((response) => {
          this.phase = response.data;
        })
        .catch((error) => {
          console.log(error);
          //this.$router.push("/");
        });
    },
    /**
      * @description Vetodo que transforma un boleano a string
    */
    formatterState() {
      return this.phase.status ? "Activo" : "Inactivo";
    },

    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {
      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.View, Module.Fases)) {
        return true;
      }

      if (this.isrespPro) {
        return true;
      }

      this.$router.push("/");
    },

    /**
      * @description Verifica si el usuario tiene permitido modificar dentro de este modulo
      * @return {boolean}
    */
    editPermission() {
      //return (PermissionService.findPermission(Permission.Edit, Module.Fases))
      //Validacion de responsable en caso hubiera

      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.Edit, Module.Fases)) {
        return true;
      }

      if (this.isrespPro) {
        return true;
      }
      return false;
    },
	
    /**
      * @description Verifica si el usuario tiene permitido eliminar dentro de este modulo
      * @return {boolean}
    */
    deletePermission() {
      //return (PermissionService.findPermission(Permission.Delete, Module.Fases))

      if (this.$store.getters.isSuperadmin) {
        return true;
      }
      if (PermissionService.findPermission(Permission.Delete, Module.Fases)) {
        return true;
      }

      if (this.isrespPro) {
        return true;
      }
      return false;
    },
  },
  async created() {
    PermissionService.setUserActive();
    this.isrespPro = await PermissionService.isRespProcesos();
    this.viewPermission();

    this.userActive = AuthService.getUser();
    this.userNormal = this.userActive.superAdmin ? true : false;

    this.getPhase();
  },
};
</script>
<style lang="css" scoped></style>
