<template lang="html">
  <div class="text-left">
    <b-table
      v-if="disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="phases"
      :fields="fields"
      empty-text="No hay fases para mostrar"
      class="ltable"
    >
      <template v-slot:cell(percentage)="data">
        <b-progress
          :value="data.item.percentage"
          :max="100"
          show-progress
          animated
        ></b-progress>
      </template>
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{
              name: 'DetailPhase',
              params: { phaseId: data.item.id },
            }"
            >Ver Más</b-button
          >
        </b-container>
      </template>
    </b-table>
    <b-table
      v-if="!disabledPermission()"
      hover
      show-empty
      small
      stacked="md"
      :items="phases"
      :fields="fields2"
      empty-text="No hay fases para mostrar"
      class="ltable"
    >
      <template v-slot:cell(percentage)="data">
        <b-progress
          :value="data.item.percentage"
          :max="100"
          show-progress
          animated
        ></b-progress>
      </template>
    
      <template v-slot:cell(actions)="data">
        <b-container>
          <b-button
            size="sm"
            variant="dark "
            :to="{
              name: 'DetailPhase',
              params: { phaseId: data.item.id },
            }"
            >Ver Más</b-button>
        </b-container>
      </template>
    </b-table>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";

const url = process.env.VUE_APP_RUTA_API;
export default {
  props: ["ProcessID"],
  data() {
    return {
      phases: [],
      process: "",
      fields: [
        {
          key: "name",
          label: "Nombre",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "percentage",
          label: "Porcentaje",
          sortable: true,
        },
        {
          key: "status",
          label: "Estado",
          formatter: (value) => {
            return value ? "Activo" : "Inactivo";
          },
          class: "text-center",
          sortable: true,
          sortByFormatted: true,
          filterByFormatted: true,
        },

        {
          key: "actions",
          label: "Acción",
          class: "text-center",
        },
      ],
      fields2: [
        {
          key: "name",
          label: "Nombre",
          sortable: true,
          sortDirection: "desc",
        },
        {
          key: "percentage",
          label: "Porcentaje",
          sortable: true,
        },
        {
          key: "actions",
          label: "Acción",
          class: "text-center",
        },
      ],
      totalRows: 1,
      currentPage: 1,
      perPage: 5,
      pageOptions: [5, 10, 15],
      sortBy: "",
      sortDesc: false,
      sortDirection: "asc",

      userActive: [],
      userNormal: false,
    };
  },
  computed: {
    sortOptions() {
      // Create an options list from our fields
      return this.fields
        .filter((f) => f.sortable)
        .map((f) => {
          return { text: f.label, value: f.key };
        });
    },
  },
  created() {
    

    this.getPhases();
  },

  methods: {
    /**
     * @description Obtiene una fase especifica filtrando por el id del proceso seleccionado
     * @return {phases}
     */
    getPhases() {
      const path = url + `process/phase/?id_process=${this.ProcessID}`;
      axios
        .get(path)
        .then((response) => {
          this.phases = response.data;
        })
        .catch((error) => {
          console.log(error);
        });
    },

    /**
      * @description Verifica si el usuario tiene permitido desabilitar dentro de este modulo
      * @return {boolean}
    */
    disabledPermission() {
      return PermissionService.findPermission(
        Permission.Disabled,
        Module.Fases
      );
    },
  },
};
</script>

<style lang="css" scoped>
.forder {
  float: left;
  width: 55vh;
}
.ltable {
  min-height: 200px;
}
</style>
