<template>
  <b-container class="py-5">
    <b-row>
      <b-col cols="10">
        <h2 class="text-left" py-2>Fase</h2>
      </b-col>
    </b-row>

    <b-card title="Card Title" no-body>
      <b-card-body>
        <router-view></router-view>
      </b-card-body>
    </b-card>
  </b-container>
</template>

<script>
import { Module, Permission,PermissionService } from '@/services';

export default {
  data() {
    return {
      isrespPro: false,
    };
  },
  methods: {
    /**
      * @description Verifica si el usuario tiene acceso a esta vista preguntando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      
      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(Permission.View, Module.Fases) ){
        return true;
      }

      if ( this.isrespPro ){
         return true;
      }
       
      this.$router.push("/");
    },
  },
  async created(){
    PermissionService.setUserActive();
    this.isrespPro = await PermissionService.isRespProcesos();
    
    this.viewPermission();
  }
};
</script>

<style lang="css" scoped></style>
