<template lang="html">
<div>
  <b-container id='custom-css' class='p-4'>
    <b-row>
      <b-col cols="12">
        <h2 class="text-left py-3" >
          <b-button class="mr-4" :to="{
                  name: 'ListCriteria', params: { processId: this.$store.getters.idProceso } 
                }">
            <b-icon icon="arrow-left"></b-icon>&nbsp;Atrás </b-button
          >
        </h2>
      </b-col>
    </b-row>
    <b-row>
      <b-col cols="12">
        <h3 class="text-left py-2">Criterio 1</h3>
      </b-col>
    </b-row>

    <b-card class="">
      <b-row class="justify-content-md-center">
        <b-col>
          <b-row class="text-left mb-2">
            <b-col sm="3">Proceso:</b-col>
            <b-col sm="9">{{ process_name}}</b-col>
          </b-row>
          
           <b-row class="text-left  mb-2">
            <b-col sm="3">Responsable(s):</b-col>
            <b-col sm="9" class="text-capitalize">
              <div v-for="colab in form.collaborator" :key="colab" >{{ getUserName(colab) }}</div>
            </b-col>
          </b-row>
          <b-row class="text-left">
            <b-col sm="3">Descripcion:</b-col>
            <b-col sm="9">{{ form.description }}</b-col>
          </b-row>
        </b-col>
      </b-row>
    </b-card>

    <b-row  class="mt-4">
      <b-col cols="6" class="mb-3" v-for="component in components" :key="component.id">
        <b-card class="">
          <b-row class="mb-3">
            <b-col cols="auto" align-self="center">         
                <h5 class="float-left" >
                  {{component.text}}
                </h5>  
            </b-col>
            <b-col >
              <div class="float-right">
              <b-button
                :to="{
                  name: component.path,
                  params: { status: 0, criteriaId: criteriaId }
                }"
              >
                Ver
                <b-icon icon="arrow-right"></b-icon>
              </b-button>
              </div>
            </b-col>

          </b-row>
          

          <b-card class="mt-1">
            <b-card-text> 
              <b-row >
                <b-col >
                  <b-row class="text-left">
                    <b-col sm="8">Nº Documentos:</b-col>
                    <b-col sm="4">2</b-col>
                  </b-row>
                  <b-row class="text-left ">
                    <b-col sm="8">Años tomados en cuenta:</b-col>
                    <b-col sm="4">2021</b-col>
                    <b-col sm="8"></b-col>
                    <b-col sm="4">2020</b-col>
                  </b-row>
    
                </b-col>
              </b-row>
              
              
            </b-card-text>
            
          </b-card>
     
        </b-card>
      </b-col>
      
    </b-row>
    

    
  </b-container>
  </div>
</template>

<script>
import axios from "axios";
import { Module, Permission, PermissionService } from "@/services";
const url = process.env.VUE_APP_RUTA_API;

export default {
  data() {
    return {
      //agregado
      criteriaId: "",
      
      criteria: {
        procces: "Proceso de acrediatacion",
        description: "En este criterio se tratan los temas de ...",
        responsable: "Carlos Prada"
      },//solo de prueba

      //criteria: [] descomentar 
      components: [
        { value: 0, text: "Student Statistics", path: ""},
        { value: 1, text: "Student Evaluation", path: ""},
        { value: 2, text: "Student Monitoring", path: ""},
        { value: 3, text: "Studying tutoring and advising", path: ""},
        { value: 4, text: "Career matters advising", path: ""},
        { value: 5, text: "Graduated Verification Process", path: "listGraduatedVerificationProcess"},
        { value: 6, text: "Bachelor Degree Verification Process", path: "listBachellorDegree"},
        { value: 7, text: "Professional Engineer Verification Process", path: "listProfessionalEngineerVerificationProcess"},
        { value: 8, text: "Pre-professional Practices", path: "listPreProfessionalPractices"},
        { value: 9, text: "Transfer Student", path: "listTransferStudent"},
        { value: 10, text: "Student organized events", path: ""},
        { value: 11, text: "Student project fair", path: ""},
        { value: 12, text: "Student research activities", path: ""},
        { value: 13, text: "Student wellbeing report", path: ""},
        { value: 14, text: "Medical and psychological service", path: ""},
        { value: 15, text: "National and International Agreements", path: "listInternationalAgreements"},
        { value: 16, text: "Student Mobility", path: "listStudentMobility"},
        { value: 17, text: "Academic Fridays", path: "listAcademicFriday"},
        { value: 18, text: "Other Student Activities", path: ""},
        { value: 19, text: "Regulation", path: "listRegulation"},
        { value: 20, text: "Unsa Annual Memories", path: "listUnsaAnnualMemories"},
        

      ], 
      //
      process_name:"",
      users: [],
      form: {
        name: "",
        description: "",
        status: true,
        collaborator:[],
        id_process:""
      },
    };
  },
  methods: {

    /**
      * @description Verifica si el usuario tiene acceso a esta vista verificando si es 
      * superadministrador, permiso por rol, responsable de proceso,
      * responsable de portafolio, colaborador de portafolio o responsable de un curso activo
      * caso contrario te regresa a la vista principal
    */
    viewPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if (
        (
          PermissionService.findPermission(
            Permission.View,
            Module.Portafolio
          ) ||
          PermissionService.findPermission(Permission.Create, Module.Portafolio)
        )
      ) {
       
        return true
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      this.$router.push("/");
    },


    /**
      * @description Verifica si el usuario tiene permitido crear dentro de este modulo
      * @return {boolean}
    */
    createPermission() {
      if( this.$store.getters.isSuperadmin ){
        return true;
      }

      if (PermissionService.findPermission(
        Permission.Create,
        Module.Portafolio
      )){
        return true;
      }
      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}


      return false
    },

    /**
      * @description Verifica si el usuario tiene permitido listar dentro de este modulo
      * @return {boolean}
    */
    listPermission() {

      if( this.$store.getters.isSuperadmin ){
        return true;
      }
      if( PermissionService.findPermission(
        Permission.View,
        Module.Portafolio
      ) ){
        return true;
      }

      if ( this.$store.getters.isResProceso ){
         return true;
      }

      if( this.$store.getters.isRespPortCurso ){return true;}

      if ( this.$store.getters.isColabPortCurso ){
         return true;
      }

      if ( this.$store.getters.isRespCursoAct ){
         return true;
      }
      return false;

    },
    getProcess() {
      const path = url + `process/process/${this.form.id_process}/`;
      axios
        .get(path)
        .then((response) => {
          this.process_name = response.data.name;
    
        })
        .catch((error) => {
          console.log(error);
        });
    },
    async getCriterio() {
      const path = url + `process/criteria/${this.criteriaId}/`;
      await axios.get(path).then((response) => {
        this.form= response.data;
        console.log(this.form.collaborator);
      }).catch((error) => {
          console.log(error);
          this.$router.push("/criteria/list");
        });
      this.getProcess();
    },
     getUserName(idUserName) {
    for (var i = 0; i < this.users.length; i++) {
      if (this.users[i].id == idUserName) {
        ///this.counter++;
        return this.users[i].first_name + " " + this.users[i].last_name;
      }
    }
  },
  getUsers() {
      const path = url + `user/user/`;
      axios.get(path).then((response) => {
        this.users = response.data;
      });
      this.counter++
    },
  },
 
  
  async created() {
    this.criteriaId=this.$route.params.criteriaId;
    await this.getCriterio();
    
    await this.getUsers();

    PermissionService.setUserActive();
    this.viewPermission();
  },
};
</script>

<style lang="css" scoped></style>
